<% content_for :header do -%>
	<%= link_to 'Job types', job_types_path %>
<% end -%>

<div id="posting-section">
  <% form_for(@job_type, :html => {:id => "form"}) do |f| %>
    <fieldset>
      <legend><strong>New category</strong></legend>
      <ul>
        <li>
          <label>Name*:</label>
          <div class="user_ri"><%= f.text_field :name, :class => "required" %></div>
        </li>
        <li>
          <div class="post_cbt">
            <!-- post  button -->
            <a href="javascript:submit()" title="Post" class="link_bt">
              <span class="ltred_l"></span>
              <span class="ltred_c btf">Create</span>
              <span class="ltred_r"></span>
            </a>
            <!-- end post button -->
          </div>
        </li>
      </ul>
      <div id="elements_store"></div>
    </fieldset>
<% end %>
</div>

<script type="text/javascript">
  var valid = new Validation('form', {immediate : true, onSubmit:false});
  function submit(){
    var result = valid.validate();
    if (result) {
      Tips.hideAll();
      $$('.prototip').each(function(element){
        $('elements_store').insert(element, { position: content });
      });
      $('form').submit();
    }
  }
</script>
