<ul>Friends you invited to chat chit
	<% for friend_invite in friends_invite %>
	<li>
		<%= image_tag friend_invite.user_target.avatar.url(:thumb), :onclick => "mydow_open('My Window')" %>
	</li>
	<% end %>
<ul>