<%= juggernaut :debug => false, :client_id => current_user.login %>
<div id="div_friends_changed_their_message">
</div>
<div id="div_friends_want_you_chat">
</div>
<div id="div_friends_you_invited_to_chat">
</div>
<%= render :partial => 'friends_in_chatting', :locals => {:friends_in_chat => @friends_in_chat} %>
<script>
	function invite_chat(login) {
		new Ajax.Request('/student_louge/invite_chat', 
		{asynchronous:true, 
		 evalScripts:true, 
		 method:'get',
		 onComplete:function(request){
			//
		 }, 
		 parameters: { user: login } 
		}); 
	}
	
	function add_users_to_chat(chanel_name){
	  obj_form = document.forms['form_' + chanel_name];
		len = obj_form.elements.length;
		val = "";
		var i=0;
		for(i=0; i<len ; i++) 
		{
			if(obj_form.elements[i].type == "checkbox" && obj_form.elements[i].checked) 
			{
				val += obj_form.elements[i].value + ";";
			}
		}   
		
		new Ajax.Request('/student_louge/add_users_to_chat', 
		{asynchronous:true, 
		 evalScripts:true, 
		 method:'get',
		 onComplete:function(request){
			//
		 }, 
		 parameters: { chanel_name: chanel_name, users_id: val } 
		});
	}
	
	function send_data(id, chanel_name) {
		new Ajax.Request('/student_louge/send_data', 
		{asynchronous:true, 
		 evalScripts:true, 
		 method:'get',
		 onComplete:function(request){
			$('chat_input_'+id).value = '';
		 }, 
		 parameters: {chanel_name: chanel_name, chat_input: $('chat_input_'+id).value } 
		}); 
	}
	
	function stop_chat(chanel_name){
		new Ajax.Request('/student_louge/stop_chat', 
			{asynchronous:true, 
			 evalScripts:true, 
			 method:'get',
			 onComplete:function(request){
				kill_mydow(chanel_name);
			 }, 
			 parameters: {chanel_name: chanel_name} 
			});
	}
	
	function friends_changed_message(){
		new Ajax.Updater('div_friends_changed_their_message', '/student_louge/friends_changed_message', 
			{asynchronous:true, 
			 evalScripts:true, 
			 method:'get'}); 
	}
  
  function friends_you_invited_chat(){
		new Ajax.Updater('div_friends_you_invited_to_chat', '/student_louge/friends_you_invited_chat', 
			{asynchronous:true, 
			 evalScripts:true, 
			 method:'get'}); 
	}
	
	function friends_want_you_chat(){
		new Ajax.Updater('div_friends_want_you_chat', '/student_louge/friends_want_you_chat',
			{asynchronous:true, 
			 evalScripts:true, 
			 method:'get'}); 
	}
	
	function insert_text_to_chatcontent(chanel_name, text_chat){
		if($(chanel_name)){
			Element.insert(chanel_name, {bottom:text_chat});
			scroll_div('chat_content_' + chanel_name);
		}
	}
	
	function scroll_div(id){
		$(id).scrollTop = $(id).scrollHeight
	}
</script>			
<script>
	<% if @user_invite_chat %>
		window.onload(invite_chat('<%= @user_invite_chat.login %>'));
	<% end %>
	friends_changed_message();
	friends_you_invited_chat();
	friends_want_you_chat();
</script>