<div class="ass_down">
    <div>
        <%= link_to "Delete this post", "/user_walls/block_wall?user_wall_id=#{wall.id}", :remote => true %>
    </div>
		<div>
        <%= link_to "BLock this user", "/user_walls/block_user?user_wall_id=#{wall.id}", :remote => true %>
    </div>
</div>
