<div class="ass_down">
    <div class="making wall_page">
        <a title="Match making for " class="thickbox" href="#" id="myaclick">Match making</a>
    </div>
    <div class="like wall_page">
        <a title="I like you" class="thickbox" href="#" id="myaclick">I like you</a>
    </div>
    <div class="love wall_page">
        <a title="I love you" class="thickbox" href="#" id="myaclick">I love you</a>
    </div>
    <div class="hate wall_page">
        <a title="I hate you" class="thickbox" href="#" id="myaclick">I hate you</a>
    </div>
</div>
<style>
  .ass_down{ 
    background: #F6F6F6;
    border: 1px solid;
    color: #969696;
    display:none;
    float: right;
    font-size: 11px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    margin-left: -95px;
  }
</style>
<script>
  $(document).ready(function(){ 
    $("img#dell_wall_img").load(function(){
      var pos = $('#dell_wall_img').offset();
      $(".dell_wall").hover(function(){
        $(".ass_down", this).css({
          left:pos.left
        }).show();
      }, function(){
        $(".ass_down", this).hide();
      })
    });
  });
</script>
