<span>Attach:</span>
<span class="att1"><%= link_to "", {:controller => "user_walls", :action => "link_image"}, :remote => true %></span>
<span class="att2"><%= link_to "", {:controller => "user_walls", :action => "link_video"}, :remote => true %></span>
<span class="att3"><%= link_to "", {:controller => "user_walls", :action => "link_music"}, :remote => true %></span>
<span class="att4"><%= link_to "", {:controller => "user_walls", :action => "link_link"}, :remote => true %></span>