<div class="AfterImg"><div><img src="pictures/proB1.jpg"/></div></div>
<div class="AfterTitle"><a href="#">Suspendisse potenti. Etiam scelerisque, odio quis sodales pharetra, elit erat pharetra libero</a></div>
<div class="AfterDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit varius bibendum...</div>