<div class="proList" id="wall_comment_<%= obj.class.name %>_<%= obj.id %>" style="width:440px">
  <div class="writeCom"><div onclick="showCommentForm('<%= obj.class.name %>', '<%= obj.id %>');">Write a comment..</div></div>
</div>
