<% form_remote_tag :url => {:controller => "user_walls", :action => "create_wall"}, :update => "user_wall", :html => {:id => "wall_form"} do %>
  <%= hidden_field_tag "user_wall_id", @user.id %>
  <div class="proMind">
    <div class="proMindT">
      <div class="proques"><%= text_field_tag "your_mind", "What’s on your mind?", :onfocus => "this.value = '';", :onblur => "this.value = this.value || this.defaultValue;" %></div>
      <div class="proPlus"><a href="#"> </a></div>
    </div>
    <div class="proAtt">
      <div class="proAttItem">
        <div class="wrapItem" id="">
          <div class="suggesC"><a href="#"><img src="/images/suggesC.png"/></a></div>
          <div class="wapCont" id="">
            
            <input type="text" value="" width="300px" /><button type="button">Attach</button>
          </div>
        </div>
      </div>
      <div class="proAttL">
        <span>Attach:</span>
        <span class="att1"><a href="#" id="1" class="link" name="1"></a> </span>
        <span class="att2"><a href="#" id="2" class="link" name="2"></a> </span>
        <span class="att3"><a href="#" id="3" class="link" name="3"></a> </span>
        <span class="att4"><a href="#"> </a></span>
        <span class="att5"><a href="#"> </a></span>
      </div>
      <div class="proAttR"><%= submit_tag 'Share', :class => "button" %></div>
    </div>
  </div>
  <div class="footWall"></div>
<% end %>