<div style="min-height:80px">
  <div class="AfterImg"><div class="imgDiv"><%= image %></div></div>
  <div class="AfterTitle"><%= link_to title, link, :target => "_blank" %></div>
  <div class="AfterDes"><%= sub_content %></div>
  <div id="show_jplayer_<%= wall_id %>">
  </div>
</div>
