<div class="wrapTitle">Video link:</div>
<div style="float:left; margin-right:3px"><input type="text" value="" width="300px" name="link_video" id="link_video" /></div>
<div class="submit" style="float:left"><%= link_to "Attach", "javascript:;", :id => "link_video_attach" %></div>
<script>
  var path = '/user_walls/attach_video';
  $(document).ready(function() {
    $("#link_video_attach").click(function() {
      $.ajax({
        url: path,
        type: 'GET',
        cache: false,
        dataType: 'html',
        data: ({
          link : $("#link_video").val()
        }),
        success: function(data){
          $('#attach').html(data);
        }
      });
    });
  });
</script>