<div class="wrapTitle">Image link:</div>
<div style="float:left; margin-right:3px"><input type="text" value="http://" width="450px" name="link_image" id="link_image" class="focus_text_field" /></div>
<div class="submit" style="float:left"><%= link_to "Attach", "javascript:;", :id => "link_image_attach" %></div>
<script>
  var path = '/user_walls/attach_image';
  $(document).ready(function() {
    $("#link_image_attach").click(function() {
      $.ajax({
        url: path,
        type: 'GET',
        cache: false,
        dataType: 'html',
        data: ({
          link : $("#link_image").val()
        }),
        success: function(data){
          $('#attach').html(data);
        }
      });
    });
  });
</script>
