<div style="min-height:80px">
  <div class="AfterImg"><div><%= image_tag @user_wall_photo.link, :width => "92px", :height => "68px" %></div></div>
  <div class="AfterTitle"><%= link_to @domain, @user_wall_photo.link, :target => "_blank" %></div>
  <div class="AfterDes"><%= @user_wall_photo.link %></div>
</div>
<% fields_for @user_wall_photo do |p| %>
  <%= p.hidden_field :link %>
<% end %>