<%= render :partial => "wall_form" %>
<div class="col451in">
  <div class="proCenCont">
    <% @walls.each do |w| %>
      <%= render :partial => "wall_item", :locals => {:wall => w}  %>
    <% end %>
    <!--Pagination-->
    <div class="assPage">
      <span class="numPage"><%= page_entries_info @walls %></span>
      <%= will_paginate @walls %>
    </div>
    <!--Pagination-->
    <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
  </div>
</div>