<div id="player"></div>
<script type="text/javascript">
  jQuery(function ($) {
    $('#player').jwPlayer({
      //debug: 'console',
      swf: '/javascripts/player.swf',
      file: 'http://www8.nhac.vui.vn:8008/uploadmusic/b6568eb5d34d5fbcc0e5e4fb81986aef/4c124b2a/uploadmusic/id_chan/thanh/koloi/th6/Classics_In_The_Air_2/Zaide.mp3'
    });
  });
</script>