<div id="player"></div>
<script type="text/javascript">
  jQuery(function ($) {
    $('#player').jwPlayer({
      //debug: 'console',
      swf: '/javascripts/player.swf',
      file: 'http://www.youtube.com/watch?v=rcyzubFvBsA',
      image: 'http://i.ytimg.com/vi/rcyzubFvBsA/0.jpg',
      height: 240,
      width: 320
    });
  });
</script>