<form id="form_send_message">
  <div class="postItem">
    <div style="width: 80px;" class="postItem1">Subject*</div>
    <input type="text" value="<%= @subject %>" onblur="this.value = this.value || this.defaultValue;" onfocus="this.value = '';" size="30" class="required" name="subject" id="message_subject" style="width: 330px;"/></div>
  <div class="postItem">
    <div class="postInp">
    	<%=  @wall.content %>
    	<%= show_attach(@wall) if @wall.has_attach %>
    </div>
  </div>
  <div style="padding-left: 90px;" class="submit"><a onclick="submit_passion()" href="javascript:;">Share</a></div>
  <div style="padding: 10px;" class="error"></div>
</form>

<script language="javascript">
  /*
   */
  function submit_passion(){
    var messageSubject = $('#message_subject').attr('value');
    var content  = $('#message_body').attr('value');

    $.ajax({
      url: '/user_walls/submit_share?message_subject='+messageSubject+'&content='+content+'&wall_id=<%=  @wall.id %>',
      type: "GET",
      dataType: "html",
      failure: function(msg){
        alert('ajax fail:'+msg);
      },
      success: function(msg){
        alert(msg);
        $('#TB_closeWindowButton').click();
      }
    });
    
  }
</script>