<div class="advert">
  <div class="creAd"><a href="#">Create an Ad</a></div>
  <div class="advertTitle">Advertisement</div>
  <div class="Dani">DaniWeb - IT Discussion Community</div>
  <div class="advertImg"><img src="/images/pictures/pic6.png"/></div>
  <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
  <div class="advertInf">
    <div class="advertInfL">
      <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
    </div>
    <div class="advertInfR">
      <span class="pre"><a href="#"> </a></span>
      <span class="next"><a href="#"> </a></span></div>
  </div>
</div>