<div class="postdiv">
  <div class="menuRL">
    <div class="menuRItem menuRselect">
      <a href="javascript:;<%#= "#{user_messages_path(@user)}" %>">
        <span class="span1">
          <span class="span2"><%= @operation_ %></span>
        </span>
      </a>
    </div>
  </div>
  <span class="RmenuRbtm2"><%= link_to "Post", new_user_message_path(current_user) %></span>
</div>
