<div class="col300Cont" id="div_send_message">
  <form name="form_send_message">
    <div class="reqTi"><input id="message_subject" name="subject" size="30" type="text" value="Subject..." onfocus="this.value = '';" onblur="this.value = this.value || this.defaultValue;" /></div>
    <div class="reqEn"><textarea id="message_body" name="body" onfocus="this.value = '';" onblur="this.value = this.value || this.defaultValue;" >Message...</textarea></div>
    <br />
    <div class="submit"><a href="javascript:;" onclick="sendEmail(<%= @user_id %>)">Send</a></div>
  </form>
</div>