<div class="proInfItem">
  <div class="proInfTit">Basic Information</div>
  <div class="proInfLR">
    <div class="proInfLabel">Sex:</div>
    <div class="proInfCont"><%= get_gender(current_user.user_information.sex) %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Relationship Status:</div>
    <div class="proInfCont"><%= current_user.user_information.relationship_status %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Looking For:</div>
    <div class="proInfCont"><%= current_user.user_information.looking_for %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Political Views:</div>
    <div class="proInfCont"><%= current_user.user_information.polictical_view %></div>
  </div>
</div>
