<div class="proInfItem">
  <div class="proInfTit">Basic Information</div>
  <div class="proInfLR">
    <div class="proInfLabel">Sex:</div>
    <div class="proInfCont">Male</div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Relationship Status:</div>
    <div class="proInfCont">Married to <a href="#">Chau Nguyen</a></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Looking For:</div>
    <div class="proInfCont">Friendship
      <br/>Networking</div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Political Views:</div>
    <div class="proInfCont"><a href="#">Liberal</a></div>
  </div>
</div>