<div class="proInfItem">
  <div class="proInfTit">Contact Information</div>
  <div class="proInfLR">
    <div class="proInfLabel">Mobile Number:</div>
    <div class="proInfCont"><%= @user.user_information.mobile_number %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Current City:</div>
    <div class="proInfCont"><%= @user.user_information.current_city %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Website:</div>
    <div class="proInfCont"><a href='http://<%= @user.user_information.website %>'><%= @user.user_information.website %></a></div>
  </div>
</div>
