<div class="proInfItem">
  <div class="proInfTit">Contact Information</div>
  <div class="proInfLR">
    <div class="proInfLabel">Mobile Number:</div>
    <div class="proInfCont"></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Current City:</div>
    <div class="proInfCont"></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Website:</div>
    <div class="proInfCont"></div>
  </div>
</div>