<div class="proInfG">
  <div class="proInfGL">Education</div>
  <div class="proInfGR"><%= show_edu_infor() %></div>
</div>
<div class="proInfGItem">
  <div class="proInfLR">
    <div class="proInfLabel">Grad School:</div>
    <div class="proInfCont"><%= @user.user_education.grad_school %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">College:</div>
    <div class="proInfCont"><%= @user.user_education.college %></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">High Schools:</div>
    <div class="proInfCont"><%= @user.user_education.high_school %></div>
  </div>
</div>
