<div class="proInfG">
  <div class="proInfGL">Groups</div>
  <div class="proInfGR"><a href="#">Edit My Groups</a></div>
</div>
<div class="proInfGItem">
  <div class="proInfGLL">
    <div class="proInfGlabel">Active Groups:</div>
    <div class="proInfGlink"><a href="#">See All (37)</a></div>
  </div>
  <div class="proInfGRR"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>; <a href="#">Phasellus tempor rhoncus consectetur</a>; <a href="#">Nulla adipiscing viverra commodo</a>; <a href="#">Phasellus ullamcorper nibh nec neque faucibus eget interdum lorem commodo</a>; <a href="#">Phasellus sed feugiat odio</a>; <a href="#">Sed ante quam</a>; <a href="#">Luctus id pretium non</a>; <a href="#">Dignissim quis ligula</a>; <a href="#">Etiam tincidunt neque ut ligula varius ac aliquam sem bibendum.</a></div>
</div>
<div class="proInfGItem">
  <div class="proInfGLL">
    <div class="proInfGlabel">Inactive Groups:</div>
    <div class="proInfGlink"><a href="#">See All (20)</a></div>
  </div>
  <div class="proInfGRR"><a href="#">Enteger sed elit nec est luctus egestas</a>; <a href="#">Nam sit amet odio leo</a>; <a href="#">Nunc massa tortor, feugiat vitae tristique ultrices, pretium vel neque</a>; <a href="#">Ut sed arcu vel nunc ullamcorper bibendum nec vel</a>; <a href="#">Nullam egestas dolor nunc</a>; <a href="#">Aenean congue justo sed erat mollis at pellentesque nulla malesuada...</a></div>
</div>
<div class="proInfGItem">
  <div class="proInfGLL">
    <div class="proInfGlabel">Events in My Groups:</div>
    <div class="proInfGlink"><a href="#">See All (18)</a></div>
  </div>
  <div class="proInfGRR"><a href="#">Donec eu lorem laoreet lorem ultricies viverra vitae id urna</a>; <a href="#">Ut non arcu orci, eget tincidunt eros</a>; <a href="#">Praesent elit tortor, consectetur nec porttitor non, volutpat sit amet quam</a>; <a href="#">Nunc id aliquam ipsum</a>; <a href="#">Donec vel libero eros</a>; <a href="#">Morbi vitae tortor vitae tellus tristique imperdiet eu eget turpis...</a></div>
</div>
