<div class="col195 proInf">
  <div class="col195in">
    <div class="proTop">
      <h1 class="col195Title">Information</h1>
      <div class="proEdit"><a href="#"> </a></div>
    </div>
    <div class="learnUser">Relationship Status:</div>
    <div class="learnFri">Married to: <a href="#">Chau Nguyen</a></div>
    <div class="learnCa">Current City:</div>
    <div class="learnFri">San Jose, CA</div>
  </div>
</div>