<div class="col195 proInf">
  <div class="col195in">
    <div class="proTop">
      <h1 class="col195Title">Information</h1>
      <div class="proEdit"><a href="#"> </a></div>
    </div>
    <div class="learnUser">Relationship Status:</div>
    <div class="learnFri"><%= current_user.user_information.relationship_status %></div>
    <div class="learnCa">Current City:</div>
    <div class="learnFri"><%= current_user.user_information.current_city %></div>
  </div>
</div>