<div class="col195 Fans">
  <div class="col195in">
    <div class="proTop">
      <h1 class="col195Title">Links</h1>
      <div class="proEdit"><a href="#"> </a></div>
    </div>
    <div class="infoFans">
      <div class="infoFan">3 of <span>65 links</span></div>
      <div class="seeAll"><a href="#">see all</a></div>
    </div>
    <div class="proLink1"><a href="#">Stamatis Gonidis - Rokades Ft Master Tempo (New Song 2009) [HQ Sound]</a></div>
    <div class="proLinkInf">2 hours 10 minutes ago</div>
    <div class="proLink2"><a href="#">The Little Princess</a></div>
    <div class="proLinkInf">3 hours 12 minutes ago</div>
    <div class="proLink2"><a href="#">Night of the Living Dead with Vietnamese Subtitles</a></div>
    <div class="proLinkInf">3 hours 12 minutes ago</div>
  </div>
</div>