<div class="proInfG">
  <div class="proInfGL">My Fans</div>
  <div class="proInfGR"><a href="#">Edit My Fans</a></div>
</div>
<div class="proInfGItem">
  <div class="proInfGLL">
    <div class="proInfGlabel">Recently Update Fans:</div>
    <div class="proInfGlink"><a href="#">See All (37)</a></div>
  </div>
  <div class="proInfGRR">
    <div class="fanImg">
      <div class="fanImg1">
        <a href="#"><div><img src="pictures/pic10.png"/></div></a>
        <div class="fanName"><a href="#">Rita Uyên</a></div>
      </div>
      <div class="fanImg2">
        <a href="#"><div><img src="pictures/pic11.png"/></div></a>
        <div class="fanName"><a href="#">Tawny Joey Penuela</a></div>
      </div>
      <div class="fanImg3">
        <a href="#"><div><img src="pictures/pic12.png"/></div></a>
        <div class="fanName"><a href="#">Emily Huynh</a></div>
      </div>
    </div>
    <div class="fanImg">
      <div class="fanImg1">
        <a href="#"><div><img src="pictures/noimg.png"/></div></a>
        <div class="fanName"><a href="#">Rita Uyên</a></div>
      </div>
      <div class="fanImg2">
        <a href="#"><div><img src="pictures/pic12.png"/></div></a>
        <div class="fanName"><a href="#">DinhThanh</a></div>
      </div>
      <div class="fanImg3">
        <a href="#"><div><img src="pictures/pic10.png"/></div></a>
        <div class="fanName"><a href="#">Emily Huynh</a></div>
      </div>
    </div>
  </div>
</div>
<div class="proInfGItem">
  <div class="proInfGLL">
    <div class="proInfGlabel">Have not visited over 30 days:</div>
    <div class="proInfGlink"><a href="#">See All (17)</a></div>
  </div>
  <div class="proInfGRR">
    <div class="fanImg">
      <div class="fanImg1">
        <a href="#"><div><img src="pictures/pic1.png"/></div></a>
        <div class="fanName"><a href="#">Rita Uyên</a></div>
      </div>
      <div class="fanImg2">
        <a href="#"><div><img src="pictures/pic2.png"/></div></a>
        <div class="fanName"><a href="#">Tawny Joey Penuela</a></div>
      </div>
      <div class="fanImg3">
        <a href="#"><div><img src="pictures/pic3.png"/></div></a>
        <div class="fanName"><a href="#">Emily Huynh</a></div>
      </div>
    </div>
    <div class="fanImg">
      <div class="fanImg1">
        <a href="#"><div><img src="pictures/noimg.png"/></div></a>
        <div class="fanName"><a href="#">Rita Uyên</a></div>
      </div>
      <div class="fanImg2">
        <a href="#"><div><img src="pictures/pic5.png"/></div></a>
        <div class="fanName"><a href="#">DinhThanh</a></div>
      </div>
      <div class="fanImg3">
        <a href="#"><div><img src="pictures/noimg.png"/></div></a>
        <div class="fanName"><a href="#">Emily Huynh</a></div>
      </div>
    </div>
  </div>
</div>