<div class="topLearning">
  <div class="menuRL">
    <div class="menuRItem"><a href="#"><span class="span1"><span class="span2">My Lounge</span></span></a></div>
    <div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Info</span></span></a></div>
    <div class="menuRItem"><a href="#"><span class="span1"><span class="span2">My Favorite</span></span></a></div>
    <div class="menuRItemP"><a href="#"> </a></div>
  </div>
  <div class="postdiv">
    <span class="RmenuRbtm2"><a href="#">Post</a></span>
  </div>
</div>