<div class="proMind">
  <div class="proMindT">
    <div class="proques"><%= text_field_tag "your_mind", "What’s on your mind?", :onfocus => "this.value = '';", :onblur => "this.value = this.value || this.defaultValue;" %></div>
    <div class="proPlus"><a href="#"> </a></div>
  </div>
  <div class="proAtt">
    <div class="proAttL">
      <span>Attach:</span>
      <span class="att1"><a href="#"> </a></span>
      <span class="att2"><a href="#"> </a></span>
      <span class="att3"><a href="#"> </a></span>
      <span class="att4"><a href="#"> </a></span>
      <span class="att5"><a href="#"> </a></span>
    </div>
    <div class="proAttR"><a href="#">Share</a></div>
  </div>
</div>