<div class="AfterItem">
  <div class="assPic"><a href="#"><div><img src="pictures/pic1.png"/></div></a></div>
  <div class="AfterInfo">
    <div class="AfterCl"><a href="#">Huy Quach</a> - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    <div class="AfterTitle"><a href="#">Mauris neque lacus, elementum id pellentesque ultrices</a></div>
    <div class="AfterDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit varius bibendum...</div>
    <div class="assInfB">
      <div class="time">35 minutes ago</div>
      <div class="share"><a href="#">Share</a></div>
      <div class="qashdU"><a href="#">20</a></div>
      <div class="qashdD"><a href="#">4</a></div>
      <div class="com"><a href="#">Comments (10)</a></div>
    </div>
  </div>
</div>