<div class="proList">
  <div class="proListPic"><a href="#"><div><img src="pictures/pic7.png"/></div></a></div>
  <div class="proListR">
    <div class="AfterCl"><a href="#">Huy Quach</a> - 35 minutes ago</div>
    <div class="proListCont">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos
      <a href="#">Delete</a>
    </div>
  </div>
</div>