<div class="proInfG">
  <div class="proInfGL">Work</div>
  <div class="proInfGR"><a href="#">Edit My Work</a></div>
</div>
<div class="proInfGItem">
  <div class="proInfLR">
    <div class="proInfLabel">Employer:</div>
    <div class="proInfCont"></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Position:</div>
    <div class="proInfCont"></div>
  </div>
  <div class="proInfLR">
    <div class="proInfLabel">Time Period:</div>
    <div class="proInfCont"></div>
  </div>
  <div class="proInfLR proLocation">
    <div class="proInfLabel">Location:</div>
    <div class="proInfCont"><a href="#">Sunny Vale, CA</a></div>
  </div>
</div>