<form id="search_help_query" name="search" action="<%= search_forums_path %>" method="get">
  <div class="textSH"><input type="text"  name="search_txt" value="" /></div>
  <div class="btmSH"><a href="javascript:;" id="button_src"><img src="/images/iconSF.png"/></a></div>
</form>
<script type="text/javascript">
  $(document).ready(function() {
    $('#button_src').click(function(){
      $(this).parents().find('form').eq(0).submit();
    });
  });
</script>
