<%= form_tag save_edit_forums_path, :id => "" do -%>

   <%= hidden_field_tag "forum_id", @fr.id %>

  <div class="postHelp">
    <div class="reqLa"><label>Title *</label></div>
    <div class="reqTi" style="background-color: #FFFFFF; width: 688px;" >
      <input type="text" id="txt_help" class="{validate:{required:true}}" name="txt_help" size="22" style="width:688px" value="<%= @fr.title %>"/>



    </div>
    <div class="reqLa"><label>Description *</label></div>
    <div style="margin: 3px 0pt;background-color: #FFFFFF; width: 688px; height:250px;" class="reqEn">
      <textarea id="help_content" class="{validate:{required:true}}" name="help_content" style="width:688px; height: 250px;"><%= @fr.content %>
      </textarea>
    </div>

    <div style="margin-top: 5px;" class="submit">
      <input id="add_new_fr" type="submit" value="Submit" name="commit" class="buttonCom"/>
    </div>

  </div>
<% end -%>