<div class="proInfItem">
  <div class="proInfTit">Contact Information</div>
  <% if check_private_permission(@user, "mobile_number") %>
	<div class="proInfLR">
    <div class="proInfLabel">Mobile Number:</div>
    <div class="proInfCont"><%= @user.user_information.mobile_number %></div>
  </div>
	<% end %>
	<% if check_private_permission(@user, "current_city") %>
  <div class="proInfLR">
    <div class="proInfLabel">Current City:</div>
    <div class="proInfCont"><%= @user.user_information.current_city %></div>
  </div>
	<% end %>
  <div class="proInfLR">
    <div class="proInfLabel">Website:</div>
    <div class="proInfCont"><%= @user.user_information.website %></div>
  </div>
</div>
