<% if check_private_permission(@user, "my_friends") %>
<%
  friends = @user.user_friends.shuffle
  f_total = friends.size
%>
<div class="col195 Fans">
  <div class="col195in">
    <div class="proTop">
      <h1 class="col195Title"><%= @user.full_name %>'s Friends</h1>
    </div>
    <div class="infoFans">
      <div class="infoFan"><%= f_total %> friend(s)</div>
      <div class="seeAll"><%= link_to "see all", show_friends_user_path(@user) %></div>
    </div>
    <div class="fanImg">
      <%
        count = 8
        count = (f_total - 1) if f_total < 9
      %>
      <% (0..count).each do |i| %>
      <div class="fanImg1">
        <%= show_image_user_post(friends[i]) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>