<% if check_private_permission(@user, "relationship_status") and check_private_permission(@user, "current_city") %>
<div class="col195 proInf">
  <div class="col195in">
    <div class="proTop">
      <h1 class="col195Title">Information</h1>
      <div class="proEdit"><a href="#"> </a></div>
    </div>
	<% if check_private_permission(@user, "relationship_status") %>
    <div class="learnUser">Relationship Status:</div>
    <div class="learnFri"><%= @user.user_information.relationship_status if @user.user_information %></div>
	<% end %>
	<% if check_private_permission(@user, "current_city") %>
    <div class="learnCa">Current City:</div>
    <div class="learnFri"><%= @user.user_information.current_city if @user.user_information %></div>
	<% end %>
  </div>
</div>
<% end %>