<div class="musicL" style="padding-left: 22px;">
  <div class="photoImg"><%= link_to display_image_video(video), show_detail_video_user_url(video.user, :video_id => video.id), :class=>"iframe" %></div>
  <div class="mostMSR">
    <div class="mostMSA"><%= link_to "", show_detail_video_user_url(video.user, :video_id => video.id), :class => "mostMSPlay iframe" %></div>
  </div>
  <div class="musicB">
    <div class="musicN"><%= link_to truncate(video.title, :length => 30, :omission => '...'), show_detail_video_user_url(video.user, :video_id => video.id), :class => "iframe" %></div>
  </div>
</div>
