<div class="musicL">
  <div class="photoImg"><%= link_to display_image_video(video), show_detail_video_user_url(video.user, :video_id => video.id) %></div>
  <div class="mostMSR">
    <div class="mostMSA"><%= link_to "", show_detail_video_user_url(video.user, :video_id => video.id), :class => "mostMSPlay" %></div>
  </div>
  <div class="musicB">
    <div class="musicN"><%= link_to video.title, show_detail_video_user_url(video.user, :video_id => video.id) %></div>
  </div>
</div>