<div class="musicL">
  <div class="photoImg"><%= link_to raw("<div>#{image_tag music_album.music_album_attach.url(:thumb)}</div>"), show_music_album_user_url(music_album.user, :music_album_id => music_album) %></div>
  <div class="mostMSR">
    <div class="mostMSA"><%= link_to "", show_music_album_user_url(music_album.user, :music_album_id => music_album), :class => "mostMSPlay" %></div>
  </div>
  <div class="musicB">
    <div class="musicN"><%= link_to music_album.name, show_music_album_user_url(music_album.user, :music_album_id => music_album) %></div>
    <div class="musicS"><%= pluralize(music_album.musics.size, "song") %></div>
  </div>
</div>