<div class="photoItem" style="width:110px;">
  <div class="photoImg"><%= link_to raw("<div>#{image_tag photo.photo_attach.url(:thumb)}</div>"), "#{show_photo_detail_user_url(current_user, :photo_id => photo)}?&height=550&width=920", :class => "thickbox" %>
  </div>
</div>
