.DS\_Store
coverage/*
*.tmproj
.tmp*
nbproject/
Capfile
log/*.log
log/*.pid
tmp/**/*
doc/api
doc/app
db/sphinx/**/*
public/attaches/**/*
public/avatars/**/*
public/uploaded_files/**/*
public/uploads/**/*
public/music_album_attaches/**/*
public/photos/**/*
public/photo_attaches/**/*
public/music_attaches/**/*
public/resume_cvs/**/*
public/javascripts/cache/
public/stylesheets/cache/
vendor/gems/**/ext/**/*
vendor/**/.git/**/*
