.DS\_Store
coverage/*
*.tmproj
.tmp*
nbproject/
Capfile
log/*.log
tmp/**/*
doc/api
doc/app
public/avatars/**/*
public/uploaded_files/**/*
public/uploads/*
public/photos/*
public/images/captcha
public/javascripts/cache/
public/stylesheets/cache/
vendor/gems/**/ext/**/*
vendor/**/.git/**/*