.DS\_Store
coverage/*
*.tmproj
.tmp*
nbproject/
Capfile
log/*.log
log/**
tmp/**/*
config/database.yml
solr/**/*
doc/api
doc/app
public/assets/**/*
public/system/attaches/**/*
public/system/avatars/**/*
public/system/uploaded_files/**/*
public/system/uploads/**/*
public/system/music_album_attaches/**/*
public/system/photos/**/*
public/system/photo_attaches/**/*
public/system/music_attaches/**/*
public/system/video_attaches/**/*
public/system/resume_cvs/**/*
public/javascripts/cache/
public/stylesheets/cache/
public/system/tool_imgs/**/* 
vendor/gems/**/ext/**/*
vendor/**/.git/**/*
vendor/cache/**/*
solr/**/
.git/**/*
