<div class="col300 Request">
  <div class="col300in">
    <h1 class="col300Title">Requests Tests</h1>
    <div class="col300Cont">
      <div class="reqTi"><input type="text" value="Title..." name="Text1"/></div>
      <div class="reqEn"><textarea name="TextArea1">Enter your request...</textarea></div>
      <div class="reqKey">
      </div>
      <div class="submit"><a href="#">Submit</a></div>
    </div>
  </div>
</div>