<div class="col195 intPro">
  <div class="col195in">
    <h1 class="col195Title">Interesting Tests</h1>
    <div class="col195Cont">
      <%
      interesting_tests = PostTest.with_school(@school).interesting.with_limit
    %>
      <% if interesting_tests.size > 0 %>
        <% interesting_tests.each do |p| %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(p.post.title, 4), post_test_path(p.post) %></div>
            <div class="dueDTime"><%= p.post.created_at.strftime("%B %d, %Y")%></div>
          </div>
        <% end %>
        <div class="dueDbutton"><%= link_to "View more Interesting Tests", interesting_post_tests_path %></div>
      <% end %>
    </div>
  </div>
</div>
