<div class="AsDContBtm">
  <span class="btmComment"><a href="javascript:void();" onclick="$('form_comment').show();">Comment</a></span>
  <span class="btmMail"><a href="#"><span>Email</span></a></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmFav"><a href="#"><span>Favorite</span></a></span>
  <span class="btmMore"><%= link_to "<span>More like this</span>", :controller => "post_tests", :action => "index", :more_like_this_id => post %></span>
  <% if post.allow_download && post.attach_file_name %>
    <span class="btmDown"><a href="javascript:downloadFile('<%= post.attach.url %>')" class="downarrow"><span>Download</span></a></span>
  <% end %>
</div>