<div class="col195 dueDate">
  <div class="col195in">
    <div style="background: url(/images/icons_after/due_date.png) no-repeat scroll 0 0 transparent;line-height: 20px;height: 24px;border-bottom: 1px solid #DBDBDB;">
      <h1 class="col195Title" style="border-bottom:0 none;margin-left: 25px">Due date</h1>
    </div>
    <div class="col195Cont">
      <%
      projects_due_date = PostProject.due_date.with_school(@school).with_limit
    %>
      <% if projects_due_date.size > 0 %>
        <%
        projects_due_date.each do |pr|
        %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(pr.post.title, 4), post_project_path(pr) %></div>
            <div class="dueDTime"><%= pr.due_date.getutc.strftime("%B %d, %Y")%></div>
          </div>
        <%
        end
      %>
        <% if projects_due_date.size > LIMIT - 1 %>
          <div class="dueDbutton"><%= link_to "View more Due Date", due_date_post_projects_path %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
