<div class="col195 intPro">
  <div class="col195in">
    <h1 class="col195Title">Interesting Projects</h1>
    <div class="col195Cont">
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Lorem ipsum dolor sit amet...</a></div>
        <div class="dueDTime">November 25th 2009</div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Pellentesque et tincidunt...</a></div>
        <div class="dueDTime">November 27th 2009</div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Quisque odio mi...</a></div>
        <div class="dueDTime">November 30th 2009</div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Suspendisse orci erat...</a></div>
        <div class="dueDTime">November 25th 2009</div>
      </div>
      <div class="dueDbutton"><a href="#">View more Interesting Projects</a></div>
    </div>
  </div>
</div>
