<% cache "interesting_#{@class_name}_#{@school}" do %>
<div class="col195 intPro">
  <div class="col195in">
    <h1 class="col195Title">Interesting Projects</h1>
    <div class="col195Cont">
      <%# interesting_projects = PostProject.with_school(@school).interesting.with_limit %>
      <% interesting_projects = PostProject.recent_interesting(@school).first(LIMIT) %>
      <% if interesting_projects.size > 0 %>
        <% interesting_projects.each do |post| %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(post.title, 4), post_project_path(post.post_project) %></div>
            <div class="dueDTime"><%= post.created_at.strftime("%B %d, %Y")%></div>
          </div>
        <% end %>
        <% if interesting_projects.size > LIMIT - 1 %>
          <div class="dueDbutton"><%= link_to "View more Interesting Projects", interesting_post_projects_path %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>