<div class="col300 Recent">
  <div class="col300in">
    <h1 class="col300Title">Recent requested Projects</h1>
    <div class="col300Cont">
      <%
      projects_recent = PostProject.with_school(@school).recent.with_limit
    %>
      <% if projects_recent.size > 0 %>
        <%
        projects_recent.each do |pr|
        %>
          <div class="recentItem">
            <div class="recentImg"><div><%= link_to image_tag(pr.post.user.avatar.url(:thumb)), {:controller => "profile", :action => "show_profile", :id => pr.post.user.id} %></div></div>
            <div class="recentInf">
              <div class="recentName"><%= link_to pr.post.user.full_name, {:controller => "profile", :action => "show_profile", :id => pr.post.user.id} %></div>
              <div class="recentUni"><span>at</span><%= link_to pr.post.school.name, :controller => "post_projects", :action => "index", :from_school => pr.post.school %></div>
              <div class="recentDes"><%= link_to pr.post.title, post_project_path(pr.post) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="recentBottom">&nbsp;</div>
    </div>
  </div>
</div>