<div class="menuRItem"><a href="<%= post_assignments_path %>"><span class="span1"><span class="span2">Assignments</span></span></a></div>
<div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Projects</span></span></a></div>
<div class="menuRItem"><a href="<%= post_tests_path %>"><span class="span1"><span class="span2">Past Tests</span></span></a></div>
<div class="menuRItem"><a href="<%= post_exams_path %>"><span class="span1"><span class="span2">Past Exams</span></span></a></div>

<% if logged_in? %>
<div style="margin-left:20px" class="menuRItem">
    <a href="<%= "#{user_post_managements_url(current_user)}?category=#{@class_name}"  %>"><span class="span1"><span class="span2">Post management</span></span></a>
</div>
<% end %>