Hello <%= @user.name %>,<br/>
<p>
Your new password for your <%= @site_name %> account is:
<br/>
  <%= @user.password %>
<br/>
With this new password, you can log in to <%= @site_name %>. Please change your password under 'My Account' to something more secure and easy to remember. You may login at:
<br/>
  <%= @url %>
</p>
<p>
Yours sincerely,  
<br/>
Afterclassroom Support Team.
</p>
