Hello <%= @user.name %>,

Congratulation, your account has been created successfully at <%= @site_name %>. You login credentials are:

  Email: <%= @user.email %>
  Password: <%= @user.password %>

Before you can access your account, we require you to activate your account. You can activate your account now by copy and paste the following URL to any browsers OR simply click on following url:

  <%= @url %>

Yours sincerely, 

<%= @site_name %> Support Team.