<div class="menuRItem <%= "menuRselect" if @controller.action_name == "new" %>"><a href="<%= "#{new_user_share_path}" %>"><span class="span1"><span class="span2">Share file</span></span></a></div>
<div class="menuRItem <%= "menuRselect" if @controller.action_name == "index" %>"><a href="<%= "#{user_shares_path}" %>"><span class="span1"><span class="span2">My share</span></span></a></div>