<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => '/shared/submenu' %>
<% end -%>

<!--Content-->
<div class="contDetL">
  <div class="contDetLin post">
    <div class="slsShare">
          <div class="slsShareL">Share file</div>
          <div class="slsShareR">
            <%= link_to "My Share", user_shares_url(current_user), :class => "slsShareW" %>
          </div>
        </div>
    <div class="postCont">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="contMainR">
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
<!--Content-->