<div class="col195 jobBad">
  <div class="col195in">
    <h1 class="col195Title">Bad bosses</h1>
    <div class="col195Cont">
      <%
      bad_bosses = PostJob.with_limit.bad_bosses(@school)
    %>
      <% if bad_bosses.size > 0 %>
        <%
        bad_bosses.each do |tt|
        %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(tt.post.title, 4), post_job_path(tt) %></div>
          </div>
        <% end %>
		<% if bad_bosses.size > LIMIT - 1 %>
        <div class="dueDbutton"><%= link_to "View more Bad bosses", bad_bosses_post_jobs_path %></div>
		<% end %>
      <% end %>
    </div>
  </div>
</div>
