<div class="col195 jobBad">
  <div class="col195in">
    <h1 class="col195Title">Bad bosses</h1>
    <div class="col195Cont">
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Lorem ipsum dolor sit amet</a></div>
        <div class="dueDTime">Company Limited Name</div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Proin ultricies dignissim </a></div>
        <div class="dueDTime">Company Limited Name</div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Proin ultricies dignissim </a></div>
        <div class="dueDTime">Company Limited Name</div>
      </div>
      <div class="dueDbutton"><a href="#">View more Bad bosses</a></div>
    </div>
  </div>
</div>