<div class="col195 jobInfo">
  <div class="col195in">
    <h1 class="col195Title">Employment info</h1>
    <div class="col195Cont">
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Lorem ipsum dolor sit amet</a></div>
        <div class="dueDTime">Company Limited Name</div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Lorem ipsum dolor sit amet</a></div>
        <div class="dueDTime">Company Limited Name</div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Lorem ipsum dolor sit amet</a></div>
        <div class="dueDTime">Company Limited Name</div>
      </div>
      <div class="dueDbutton"><a href="#">View more Employment info</a></div>
    </div>
  </div>
</div>
