<div class="AsDContBtm">
  <span class="btmApp"><a href="#">Apply now</a></span>
  <span class="btmCom"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');"><span>Comment</span></a></span>
  <span class="btmMail"><%= show_email(post) %></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmJobList"><%= link_to("<span>My Job List</span>", "#{my_job_list_post_jobs_path}?&height=380&width=490", :class => "thickbox", :title => "My Job List") %></span>
</div>
