<div class="col300 Recent">
  <div class="col300in">
    <h1 class="col300Title">I need a job</h1>
    <div class="col300Cont">
      <%
      jobs_recent = PostJob.with_school(@school).recent.with_limit
    %>
      <% if jobs_recent.size > 0 %>
        <%
        jobs_recent.each do |job|
        %>
          <div class="recentItem">
            <div class="recentImg"><div><%= link_to image_tag(job.post.user.avatar.url(:thumb)), {:controller => "profile", :action => "show_profile", :id => job.post.user.id} %></div></div>
            <div class="recentInf">
              <div class="recentName"><%= link_to job.post.user.full_name, {:controller => "profile", :action => "show_profile", :id => job.post.user.id} %></div>
              <div class="recentUni"><span>at</span><%= link_to job.post.school.name, :controller => "post_assignments", :action => "index", :from_school => job.post.school %></div>
              <div class="recentDes"><%= link_to job.post.title, post_job_path(job) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="recentBottom">&nbsp;</div>
    </div>
  </div>
</div>
