<div style="display: inline; padding-top: 1px">
  <% form_for :apply_letter, :url => {:action => "save_letter"}, :html =>{:multipart => true, :id => "form_letter"} do |f| %>
    <a id="upload_letter" href="javascript:;">Cover Letter</a>
  <% end %>
</div>
<div style="display: inline; padding-top: 1px">

  <% form_for :apply_resume, :url => {:action => "save_resume"}, :html =>{:multipart => true, :id => "form_resume"} do |f| %>
    <a id="upload_resume" href="javascript:;">Resume</a>
  <% end %>
</div>
<div style="display: inline; padding-top: 1px">

  <% form_for :apply_script, :url => {:action => "save_script"}, :html =>{:multipart => true, :id => "form_script"} do |f| %>
    <a id="upload_script" href="javascript:;">Transcript</a>
  <% end %>
</div>

<button type="button" id="apply_all">Submit All</button>

<script type="text/javascript">


  $(document).ready(function(){


    var letterHandler, transHandler, resumeHandler;
    var letterFile, transFile, resumeFile;

    $("#apply_all").click(function(){
      if (letterFile!= undefined)
        letterHandler.submit();
      if (transFile!= undefined)
        transHandler.submit();
      if (resumeFile!= undefined)
        resumeHandler.submit();
    });
    /*HANDLE EVENT UPLOAD COVER LETTER============================================*/
    
    var $letter = $('#upload_letter');

    if($('#upload_letter').html()  != null){
      var interval;
      $form_url = $('form#form_letter').attr('action');
      $form_url = $form_url+'?job_id=<%= @post_job_id %>';

      letterHandler = new AjaxUpload($letter, {
        action: $form_url,
        autoSubmit: false,
        name: 'cover_letter',

        onChange: function(file, response){

          letterFile = file;
        },

        onSubmit : function(file, ext){

          // change button text, when user selects file
          $letter.text('Uploading');

          // If you want to allow uploading only 1 file at time,
          // you can disable upload button
          this.disable();

          // Uploding -> Uploading. -> Uploading...
          interval = window.setInterval(function(){
            var text = $letter.text();
            if (text.length < 13){
              $letter.text(text + '.');
            } else {
              $letter.text('Uploading');
            }
          }, 200);

        },
        onComplete: function(file, response){
          $letter.text('Uploaded Successfully');

          window.clearInterval(interval);

          // enable upload button
          //this.enable();

          // update GUI with return text

        }
      });
    }//end if($('#upload_letter')

    
    /*HANDLE EVENT UPLOAD TRANSCRIPT==============================================*/
    
    var $transcript = $('#upload_script');

    if ($('#upload_script').html() != null){
      var script_interval;
      $form_script_url = $('form#form_script').attr('action');
      $form_script_url = $form_script_url+'?job_id=<%= @post_job_id %>';

      transHandler = new AjaxUpload($transcript, {
        action: $form_script_url,
        autoSubmit: false,
        name: 'transcript',
        onChange: function(file, response){

          transFile = file;
        },

        onSubmit : function(file, ext){

          // change button text, when user selects file
          $transcript.text('Uploading');

          // If you want to allow uploading only 1 file at time,
          // you can disable upload button
          this.disable();

          // Uploding -> Uploading. -> Uploading...
          script_interval = window.setInterval(function(){
            var text = $transcript.text();
            if (text.length < 13){
              $transcript.text(text + '.');
            } else {
              $transcript.text('Uploading');
            }
          }, 200);

        },
        onComplete: function(file, response){
          $transcript.text('Uploaded Successfully');

          window.clearInterval(script_interval);

          // enable upload button
          //this.enable();

          // update GUI with return text

        }
      });
    }//end if ($('#upload_script')

    
    /*HANDLE EVENT UPLOAD RESUME==================================================*/
    
    var $resume = $('#upload_resume');

    if ($('#upload_resume').html() != null){
      var resume_interval;
      $form_resume_url = $('form#form_resume').attr('action');
      $form_resume_url = $form_resume_url+'?job_id=<%= @post_job_id %>';

      resumeHandler = new AjaxUpload($resume, {
        action: $form_resume_url,
        autoSubmit: false,
        name: 'resume',

        onChange: function(file, response){

          resumeFile = file;
        },



        onSubmit : function(file, ext){

          // change button text, when user selects file
          $resume.text('Uploading');

          // If you want to allow uploading only 1 file at time,
          // you can disable upload button
          this.disable();

          // Uploding -> Uploading. -> Uploading...
          resume_interval = window.setInterval(function(){
            var text = $resume.text();
            if (text.length < 13){
              $resume.text(text + '.');
            } else {
              $resume.text('Uploading');
            }
          }, 200);

        },
        onComplete: function(file, response){
          $resume.text('Uploaded Successfully');

          window.clearInterval(resume_interval);

          // enable upload button
          //this.enable();

          // update GUI with return text

        }
      });
    }//end if ($('#upload_resume')

    
    /*============================================================================*/

  });


</script>