<div id="detail_window" style="background: #f1f1f1;">
  <% @jobs_lists.each do |job| %>
    <%= render :partial => "my_job_item", :locals => {:post => job} %>
  <% end %>
</div>
<div class="assPageMJL">
  <span class="numPageMJL">Page 1 of 1</span>
</div >

