<div id="detail_window" style="background: #f1f1f1;">
  <div class="home477in">
    <div class="homeTop">
      <h1 class="titleH1">Job of the day</h1>
      <div class="homeAll"><a href="#">View all</a></div>
    </div>
    <div class="homeItem">
      <h2 class="titleH2"><a href="#">Senior Designer</a></h2>
      <div class="homePost">at<a href="#">Feature shop/ Hamilton</a></div>
      <div class="assInfB">
        <div><a href="#">9:00 AM EST</a></div>
        <div class="vie"><a href="#">View (20)</a></div>
        <div class="fav"><a href="#">Favorite (10)</a></div>
        <div class="com"><a href="#">Comments (100)</a></div>
      </div>
    </div>
    <div class="homeItem">
      <h2 class="titleH2"><a href="#">Junior Engineer (03 peoples)</a></h2>
      <div class="homePost">at<a href="#">Feature shop/ Hamilton</a></div>
      <div class="assInfB">
        <div><a href="#">9:00 AM EST</a></div>
        <div class="vie"><a href="#">View (20)</a></div>
        <div class="fav"><a href="#">Favorite (10)</a></div>
        <div class="com"><a href="#">Comments (100)</a></div>
      </div>
    </div>
    <div class="homeItem">
      <h2 class="titleH2"><a href="#">Rails developer / Part-time</a></h2>
      <div class="homePost">at<a href="#">Feature shop/ Hamilton</a></div>
      <div class="assInfB">
        <div><a href="#">9:00 AM EST</a></div>
        <div class="vie"><a href="#">View (20)</a></div>
        <div class="fav"><a href="#">Favorite (10)</a></div>
        <div class="com"><a href="#">Comments (100)</a></div>
      </div>
    </div>
    <div class="homeItem">
      <h2 class="titleH2"><a href="#">Graphic Designer (03 peoples)</a></h2>
      <div class="homePost">at<a href="#">Feature shop/ Hamilton</a></div>
      <div class="assInfB">
        <div><a href="#">9:00 AM EST</a></div>
        <div class="vie"><a href="#">View (20)</a></div>
        <div class="fav"><a href="#">Favorite (10)</a></div>
        <div class="com"><a href="#">Comments (100)</a></div>
      </div>
    </div>
    <div class="homeItem">
      <h2 class="titleH2"><a href="#">Senior Designer</a></h2>
      <div class="homePost">at<a href="#">Feature shop/ Hamilton</a></div>
      <div class="assInfB">
        <div><a href="#">9:00 AM EST</a></div>
        <div class="vie"><a href="#">View (20)</a></div>
        <div class="fav"><a href="#">Favorite (10)</a></div>
        <div class="com"><a href="#">Comments (100)</a></div>
      </div>
    </div>
    <div class="homeItem">
      <h2 class="titleH2"><a href="#">Junior Engineer (03 peoples)</a></h2>
      <div class="homePost">at<a href="#">Feature shop/ Hamilton</a></div>
      <div class="assInfB">
        <div><a href="#">9:00 AM EST</a></div>
        <div class="vie"><a href="#">View (20)</a></div>
        <div class="fav"><a href="#">Favorite (10)</a></div>
        <div class="com"><a href="#">Comments (100)</a></div>
      </div>
    </div>
    <div class="homeItem">
      <h2 class="titleH2"><a href="#">Rails developer / Part-time</a></h2>
      <div class="homePost">at<a href="#">Feature shop/ Hamilton</a></div>
      <div class="assInfB">
        <div><a href="#">9:00 AM EST</a></div>
        <div class="vie"><a href="#">View (20)</a></div>
        <div class="fav"><a href="#">Favorite (10)</a></div>
        <div class="com"><a href="#">Comments (100)</a></div>
      </div>
    </div>
    <div class="homeItem">
      <h2 class="titleH2"><a href="#">Graphic Designer (03 peoples)</a></h2>
      <div class="homePost">at<a href="#">Feature shop/ Hamilton</a></div>
      <div class="assInfB">
        <div><a href="#">9:00 AM EST</a></div>
        <div class="vie"><a href="#">View (20)</a></div>
        <div class="fav"><a href="#">Favorite (10)</a></div>
        <div class="com"><a href="#">Comments (100)</a></div>
      </div>

    </div>
    <div class="assPageMJL">
      <span class="numPageMJL">Page 1 of 1</span>
    </div > 
  </div>
</div>