<div>Search</div>
<div class="asslinkdownSt_User">
  <div class="making wall_page_<%= @page %>">
    <a class="thickbox" href="?&height=350&width=510" id="myaclick">Intro Friend</a>
  </div>
  <div class="like wall_page_<%= @page %>">
    <a title="I like you" class="thickbox" href="?&height=288&width=500" id="myaclick">I like you</a>
  </div>
  <div class="love wall_page_<%= @page %>">
    <a title="I love you" class="thickbox" href="?&height=288&width=500 id="myaclick">I love you</a>
  </div>
  <div class="hate wall_page_<%= @page %>">
    <a title="I hate you" class="thickbox" href="?&height=288&width=500 id="myaclick">I hate you</a>
  </div>
</div>
<style>
  .asslinkdownSt_User{
    background: none repeat scroll 0 0 white;
    border: 1px solid;
    color: #969696;
    display: none;
    float: right;
    font-size: 11px;
    margin-left: -122px;
    margin-top: 0px;
    padding: 10px;
    position: absolute;
    width: 100px;
    z-index: 1000;
  }
</style>

<%#*<div id="friend_list">%>
  <%#*<div class="flistItem">%>
    <%#*<div class="assPic"><a href="/users/145/show_lounge"><div><img title="Marry Lee" src="/images/icons/icon_defaut/icon_members.png?1316831565" class="vtip avatar_145" alt="Icon_members"></div></a></div>%>
    <%#*<div class="flistInf">%>
      <%#*<div class="flistN"><a href="/users/145">Marry <em>Lee</em></a></div>%>
      <%#*<div class="flistS"><span>at</span>McMaster University</div>%>
    <%#*</div>%>
    <%#*<span id="friend_status_145" class="support85" style="padding-left:20px"><a title="Be friend with Marry Lee" id="link_invite" class="thickbox" href="/users/3/friends/show_invite?user_invite=145&amp;height=300&amp;width=470"><span class="span1"><span id="friend_145" class="span2">Be friend</span></span></a></span>%>
  <%#*</div>%>
  <%#*<div class="flistItem">%>
    <%#*<div class="assPic"><a href="/users/140/show_lounge"><div><img title="David Lee" src="https://s3.amazonaws.com/afterclassroom_avatar/avatars/140/100509a31b2_thumb.jpg?1314668828" class="vtip avatar_140" alt="100509a31b2_thumb"></div></a></div>%>
    <%#*<div class="flistInf">%>
      <%#*<div class="flistN"><a href="/users/140">David <em>Lee</em></a></div>%>
      <%#*<div class="flistS"><span>at</span>McMaster University</div>%>
    <%#*</div>%>
    <%#*<span id="friend_status_140" class="support85" style="padding-left:20px"><a title="Be friend with David Lee" id="link_invite" class="thickbox" href="/users/3/friends/show_invite?user_invite=140&amp;height=300&amp;width=470"><span class="span1"><span id="friend_140" class="span2">Be friend</span></span></a></span>%>
  <%#*</div>%>
  <%#*<div class="flistItem">%>
    <%#*<div class="assPic"><a href="/users/75/show_lounge"><div><img title="Johnathan Lee" src="/images/icons/icon_defaut/icon_members.png?1316831565" class="vtip avatar_75" alt="Icon_members"></div></a></div>%>
    <%#*<div class="flistInf">%>
      <%#*<div class="flistN"><a href="/users/75">Johnathan <em>Lee</em></a></div>%>
      <%#*<div class="flistS"><span>at</span>Mount Royal University</div>%>
    <%#*</div>%>
    <%#*<span id="friend_status_75" class="support85" style="padding-left:20px"><div class="txtsignup1">Still waiting</div></span>%>
  <%#*</div>%>
  <%#*<!--Pagination-->%>
  <%#*<div class="assPage">%>
    <%#*<span class="numPage">Displaying <b>all 3</b> users</span>%>

  <%#*</div>%>
  <%#*<!--Pagination-->%>
<%#*</div>%>