<div class="asslinkdownSt_UserRa" id="search_friend_wrap">
  <span class="flistRclosea">
    <a title="Close" class="vtip" id="flistRclosea"></a>
  </span>
  <div class="contMainL" style="width: 278px">
    <div class="col451s">
      <div class="col451ins">
        <div class="col451Cont">
          <div id="search_friend_lista" style="min-height: 50px">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
