<div class="flistItem">
  <div class="assPic"><%= show_image_user_post(user) %></div>
  <div class="flistInf" style="width: 195px">
    <div class="flistN"><%= link_to name, user_path(user) %></div><br></br>
    <div class="flistS"><span>at</span><%= user.school.name %></div>
  </div>
</div>
