<div class="flistItem">
  <div class="assPic"><%= link_to "<div>#{image_tag(friend.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => friend.id} %></div>
  <div class="flistInf">
    <div class="flistN"><%= link_to friend.full_name, {:controller => "profile", :action => "show_profile", :id => friend.id} %></div>
    <div class="flistS"><span>at</span><%= friend.school.name %></div>
  </div>
  <div class="flistR">
    <div class="flistRAdd">
      <a href="#">Add to List</a>
      <ul class="flistRAdd1">
        <li><input id="Family members" type="checkbox" />Family members</li>
        <li><input id="Friends from school" type="checkbox" />Friends from school</li>
        <li><input id="Friends from work" type="checkbox" />Friends from work</li>
        <li><input id="General Friends" type="checkbox" />General Friends</li>
      </ul>
    </div>
    <div class="flistRdelete"><a href="javascript:;" onclick="DeleteFriend('<%= friend.id %>');"> </a></div>
  </div>
<<<<<<< HEAD

</div>
<div class="container">

    <div id="header">
    	 <div class="disclaimer"></div>
        <ul class="topnav">
           
            <li>
                <a href="#">Tutorials</a>

                <ul class="subnav">
                    <li><input id="Articles" type="checkbox" />Articles</li>
                    <li><input id="Tutorials" type="checkbox" />Tutorials</li>

                    <li><input id="Reviews" type="checkbox" />Reviews</li>
                    <li><input id="Resources" type="checkbox" />Resources</li>


                </ul>
            </li>
            
           
        </ul>
    </div>
=======
>>>>>>> 045eedf8d61ffc0bd9e41b601cc70b8c4756763e
</div>
<div id="middlebar">
<ul class="menu">
<li><a href="#" onclick="javascript:showlayer('sm_1')"> Profile</a></li>
<ul class="submenu" id="sm_1">
<li><a href="p1.html">Profile</a></li>
<li><a href="p2.hmtl">Inbox </a></li>
<li><a href="p3.hmtl">Log-out</a></li>
</ul>
</ul>
</div>
<script type="text/javascript">
<<<<<<< HEAD
$(document).ready(function(){

	$("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled - Adds empty span tag after ul.subnav

	$("ul.topnav li span").click(function() { //When trigger is clicked...

		//Following events are applied to the subnav itself (moving subnav up and down)
		$(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click

		$(this).parent().hover(function() {
		}, function(){
			$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
		});

		//Following events are applied to the trigger (Hover events for the trigger)
		}).hover(function() {
			$(this).addClass("subhover"); //On hover over, add class "subhover"
		}, function(){	//On Hover Out
			$(this).removeClass("subhover"); //On hover out, remove class "subhover"
	});

});
function showlayer(layer){
var myLayer = document.getElementById(layer);
if(myLayer.style.display=="none" || myLayer.style.display==""){
myLayer.style.display="block";
} else {
myLayer.style.display="none";
}
}
=======
    $(document).ready(function(){
        $("ul.flistRAdd1").parent().append("<span></span>");
        $(".flistRAdd span").click(function() {
            $(this).parent().find("ul.flistRAdd1").slideDown('fast').show();
            $(this).parent().hover(function() {
            }, function(){
                $(this).parent().find("ul.flistRAdd1").slideUp('slow');
            });
        }).hover(function() {
            $(this).addClass("subhover");
        }, function(){
            $(this).removeClass("subhover");
        });
        $("li.flistRAdd1").hoverIntent()
    });
>>>>>>> 045eedf8d61ffc0bd9e41b601cc70b8c4756763e
</script>
<style type="text/css">
<<<<<<< HEAD
  ul, li{margin:0; border:0; padding:0; list-style:none;}
#middlebar{
font-size:11px;
color:#3b5d14;
background:#90b557;
font-weight:bold;
padding:4px;
height:30px;
}
#middlebar .menu li {
background:url(lm.png) left top no-repeat;
height:30px;
float:left;
margin-right:10px;
}
#middlebar .menu li a{
color:#3b5d14;
text-decoration:none;
padding:0 10px;
height:30px;
line-height:30px;
display:block;
float:left;
padding:0 26px 0 10px;
background:url(rm.png) right top no-repeat;
}
#middlebar .menu li a:hover{
color:#666666;
}
#middlebar ul .submenu {
border:solid 1px #c9dea1;
border-top:none;
background:#FFFFFF;
position:relative;
top:4px;
width:150px;
padding:6px 0;
clear:both;
z-index:2;
display:none;
}
#middlebar ul .submenu li{
background:none;
display:block;
float:none;
margin:0 6px;
border:0;
height:auto;
line-height:normal;
border-top:solid 1px #DEDEDE;
}
#middlebar .submenu li a{
background:none;
display:block;
float:none;
padding:6px 6px;
margin:0;
border:0;
height:auto;
color:#105cbe;
line-height:normal;
}
#middlebar .submenu li a:hover{
background:#e3edef;
}
=======

>>>>>>> 045eedf8d61ffc0bd9e41b601cc70b8c4756763e
  /* Child lists and links */
  .flistRAdd ul { display: none; border-top: 1px black solid; text-align: left; }
  .flistRAdd:hover ul {  }
  .flistRAdd ul li a { padding: 5px; height: 17px; }
  .flistRAdd ul li a:hover { background-color: #333; }
  .flistRAdd ul.flistRAdd1 {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    background:#F6F6F6;
    border:1px solid #E3E3E3;
    display:none;
    float:left;
    left:0;
    list-style:none outside none;
    margin-top:-5px;
    padding:0;
    position:absolute;
    top:35px;
    width:170px;
  }
  .flistRAdd ul.flistRAdd1 li {
    border-bottom:1px solid #E3E3E3;
    border-top:1px solid #E3E3E3;
    clear:both;
    margin:0;
    padding:0;
    width:170px;
</style>

<<<<<<< HEAD
</div>

=======
>>>>>>> 045eedf8d61ffc0bd9e41b601cc70b8c4756763e
