<div class="flistItem">
  <div class="assPic">
    <%= show_image_user_post(friend) %>
  </div>
  <div class="flistInf" style="width:195px">
    <div class="flistN">
      <%= show_user_post(friend) %>
    </div><br></br>
		<% if friend.school %>
    <div class="flistS">
      <span>at</span>
      <%= friend.school.name %>
    </div>
		<% end %>
  </div>
</div>
