<div class="col195 friLeft">
  <div class="col195in">
    <div class="search">
      <div class="textS"><input type="text" name="Text1"/></div>
      <div class="btmS"><a href=""><img src="/images/iconSF.png"/></a></div>
    </div>
    <div class="friConnect">
      <div class="friConnect1"><a href="#">All connection</a></div>
      <div class="friConnect2 friSelect"><a href="#">Find friends</a></div>
      <div class="friConnect3"><a href="#">Browse</a></div>
      <div class="friConnect4"><a href="#">Recently Added</a></div>
      <div class="friConnect5"><a href="#">Recently Updated</a></div>
    </div>
    <div class="friendL">List</div>
    <div class="friConnect">
      <div class="friConnect6"><a href="#">Family members</a></div>
      <div class="friConnect7"><a href="#">Friends from school</a></div>
      <div class="friConnect8"><a href="#">Friends from work</a></div>
      <div class="friConnect9"><a href="#">General Friends</a></div>
      <div class="friConnect10"><a href="#">Limited Profile</a></div>
      <div class="friConnect11"><a href="#">Invite Friends to join AfterClassroom</a></div>
    </div>
  </div>
</div>