<div class="importLogo">
  <table cellspacing="0" cellpadding="0" style="width: 100%;">
    <tbody><tr>
        <td><%= link_to(image_tag('/images/logoW.jpg'), display_email_user_friends_path(current_user, :mailbox => MailAccount::HOTMAIL), :remote => true) %></td>
        <td><%= link_to(image_tag('/images/logoAOL.jpg'), display_email_user_friends_path(current_user, :mailbox => MailAccount::AOL), :remote => true) %></td>
        <td><%= link_to(image_tag('/images/logoGmail.jpg'), display_email_user_friends_path(current_user, :mailbox => MailAccount::GMAIL), :remote => true) %></td>
        <td><%= link_to(image_tag('/images/logoYah.jpg'), display_email_user_friends_path(current_user, :mailbox => MailAccount::YAHOOMAIL), :remote => true) %></td>
      </tr>
    </tbody></table>
</div>
