<%= form_for :mail_account, @mail_account, :url => find_email_user_friends_path(current_user), :html => {:id => "form_account_email"} do |f| %>
  <div class="error" style="padding: 10px; display:none;"></div>
  <div class="findItem">
    <div class="findText">Your Email*</div>
    <div class="findIn"><%= f.text_field :login, :style => "width:150px", :class => 'required true' %><span id="mail_type_span"><%= render :partial => "mail_type" %></span></div>
  </div>
  <div class="findItem">
    <div class="findText">Email Password*</div>
    <div class="findIn"><%= f.password_field :password, :style => "width:150px", :class => "required password" %></div>
  </div>
  <div class="btmFind"><a href="javascript:;" onclick="$('#form_account_email').submit();">Find Friends</a></div>
<% end %>
  
<script language="javascript">
  $(function () {
    $("#form_account_email").validate({
    });
  });
</script>
<style>
  .findIn label.error{
    margin-left: 95px;
  }
</style>
