<div class="asslinkdownSt_User" id="search_people_wrap">
  <div class="flistRclose">
    <a title="Close" class="vtip" id="flistRclose"></a>
  </div>
  <div class="contMainL" style="width: 325px">
    <div class="col451s">
      <div class="col451ins">
        <div class="col451Cont">
          <div id="search_people_list">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

