<div class="asslinkdownSt_User" id="search_people_wrap">
  <div class="contMainL">
    <div class="col451s">
      <div class="col451ins">
        <div class="col451Cont">
          <div id="search_people_list">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .asslinkdownSt_User{
    background: #F6F6F6;
    border: 1px solid;
    color: #969696;
    display:none;
    float: right;
    font-size: 11px;
    margin-left: -188px;
    margin-top: 24px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
  }
</style>

