<%= form_tag search_user_friends_path(current_user), {:id => "friend_search", :method => "GET"} do %>
        <div class="textS"><%= text_field_tag "search[name]", "#{@search_name || "Search friends"}", :class => "focus_text_field", :id => "search_friend_txt" %></div>
        <div class="btmS"><a href="javascript:;" onclick="$('#friend_search').submit();"><img src="/images/iconSF.png"/></a></div>
      <% end %>
      <div>
        <%= render :partial => "friend_search" %>
      </div>
<script>
    var path_friend = "<%= search_suggestion_user_friends_path(current_user) %>";
    $().ready(function(){
				$('#search_friend_txt').autocomplete({
                        source: function(request, response) {
                            $.ajax({
                                type: 'GET',
                                url: path_friend,
																data: {search_name: $('#search_friend_txt').val()},
                                success: function(data) {
                                   $('#search_friend_list').html(data);
																		$('#search_friend_wrap').show();
                                }
                            });
                        }
                    });
    });
</script>
