<% cache "interesting_#{@class_name}_#{@school}" do %>
<div class="col195 QAsIntQue">
    <div class="col195in">
        <h1 class="col195Title">Interesting questions</h1>
        <%# interestings = PostQa.with_school(@school).interesting.with_limit %>
        <% interestings = PostQa.paginated_post_conditions_with_interesting(params,@school).first(LIMIT) #this is to fix bug 1097 %>
        <% if interestings.size > 0 %>
        <div class="col195Cont">
            <% interestings.each do |qa| %>
            <div class="dueDItem">
                <div class="dueDTitle">
                    <%= link_to truncate_words(qa.title, 4), post_qa_path(qa.post_qa) %>
                </div>
            </div>
            <% end %>
            <% if interestings.size > LIMIT - 1 %>
            <div class="dueDbutton">
                <%= link_to "View more Interesting questions", interesting_post_qas_path %>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>
</div>
<% end %>