<div class="col195 QAsIntQue">
  <div class="col195in">
    <h1 class="col195Title">Interesting questions</h1>
    <div class="col195Cont">
      <%
      interestings = PostQa.with_school(@school).interesting.with_limit
    %>
      <% interestings.each do |qa| %>
        <div class="dueDItem">
          <div class="dueDTitle"><%= link_to truncate_words(qa.post.title, 4), post_qa_path(qa) %></div>
        </div>
      <% end %>
      <div class="dueDbutton"><%= link_to "View more Interesting questions", interesting_post_qas_path %></div>
    </div>
  </div>
</div>