<div class="col195 QAsPoll">
  <div class="col195in">
    <h1 class="col195Title">Poll Q.As</h1>
    <div class="col195Cont">
      <div class="QAsPCont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum neque non nisl commodo quis luctus nulla auctor.</div>
      <div class="QAsDet"><input type="radio" name="Radio1"/>Best of the best</div>
      <div class="QAsDet"><input type="radio" name="Radio1"/>Good</div>
      <div class="QAsDet"><input type="radio" name="Radio1"/>Not bad</div>
      <div class="QAsDet"><input type="radio" name="Radio1"/>Bad</div>
      <div class="submit"><a href="#">Submit</a></div>
      <div class="PollView">[<a href="">View results</a>]</div>
    </div>
  </div>
</div>