<div class="col300 Recent">
  <div class="col300in">
    <h1 class="col300Title">Recent asked Questions</h1>
    <%
    qas_recent = PostQa.with_school(@school).recent.with_limit
  %>
    <% if qas_recent.size > 0 %>
      <%
      qas_recent.each do |qa|
      %>
        <div class="recentItem">
          <div class="recentImg"><%= show_image_user_post(qa.post.user) %></div>
          <div class="recentInf">
            <div class="recentName"><%= link_to qa.post.user.full_name, {:controller => "profile", :action => "show_profile", :id => qa.post.user.id} %></div>
            <div class="recentUni"><span>at</span><%= link_to qa.post.school.name, :controller => "post_qas", :action => "index", :from_school => qa.post.school, :type => @type %></div>
            <div class="recentDes"><%= link_to qa.post.title, post_project_path(qa) %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
