<div class="col195 QAsTopic">
  <div class="col195in">
    <h1 class="col195Title">Top answered topics</h1>
    <div class="col195Cont">
      <%
      top_answers = PostQa.interesting
    %>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis...</a></div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Proin ultricies dignissim ante vitae euismod...</a></div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Aliquam vitae sem vel nisi posuere molestie eu venenatis urna...</a></div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Fusce sed sem ipsum, ac dictum dolor...</a></div>
      </div>
      <div class="dueDbutton"><a href="#">View more Top answered topics</a></div>
    </div>
  </div>
</div>