<div class="postCont" id="div_send_report">
  <form id="form_send_report" >
    <div class="postItem">
      <div class="postItem1" style="width: 100px">>>>>>>>>Email*</div>
      <div class="postInp"><input type="text" style="width:330px;" value="" id="changedValue" name="changedValue" class="required email"/></div>
    </div>
    <div class="postItem">
      <div class="postItem1" style="width: 100px">Content*</div>
      <div class="postInp"><textarea style="width:330px; height:200px" id="abuse_content" name="content" class="required" onfocus="this.value = '';" onblur="this.value = this.value || this.defaultValue;" > </textarea></div>
    </div>
    <div class="submit" style="padding-left: 110px"><a href="javascript:;" onclick="sendPrefer()">Send</a></div>
    <div class="error" style="padding: 10px;"></div>
  </form>
</div>
<script language="javascript">
  function sendPrefer(){
    var url = '/post_qas/sendmail';
    /*$("#form_send_report").submit();*/


    var emailAddr = $('#changedValue').val();
    var strContent = $('#abuse_content').val();

    var dataString = '?emailAddr='+ emailAddr + '&strContent=' + strContent;
    url = url + dataString;
    //alert (dataString);return false;
    $.ajax({
      type: "POST",
      url: url,
      success: function(content) {
        $('#TB_closeWindowButton').click();
        alert('Mail sent to '+emailAddr);
      },
      error: function(xhr, textStatus, errorThrown){
        alert('request failed');
      }

    });
    return false;
  
  }
  $().ready(function() {
    $("#form_send_report").validate({
      errorLabelContainer: $("#form_send_report div.error")
    });
  });
</script>
