html{
	background:#dfe2e4;
}
/*main layout*/
#main-layout{
	background:#dfe2e4;
}
#main-layout a{
	text-decoration: none;
}
/*header*/
#header{
	background:#FFF;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
}
/*logo*/
#logo {
	background: url('../images/logo.png') no-repeat;
}

#logo a {
	display: block;
	width: 215px;
	height: 0;
	font-size: 1em;
	padding-top: 75px;
	text-indent: -2000px;
	overflow: hidden;
	background: url('../images/logo.png') no-repeat;
}

/*top nav*/
#header ul#top-nav li a{
	color:#5c5c5c;
	display:block;
	padding:8px 2px;
}
#header ul#top-nav li a:hover{
	background:#f37060;
	color:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
/*user login*/
#header #user-login{
	float:right;
	width:470px;
padding-top:20px;
}
#header #user-login .userlogin-un{
	width: 165px;
	padding-left:30px;
	height: 0;
	font-size: 1em;
	padding-top: 35px;
	overflow: hidden;
	background: transparent url('../images/tb_username.png') no-repeat top left;
	border:none;
	color:#d9d9d9;
}
#header #user-login .userlogin-pw{
	width: 165px;
	padding-left:30px;
	height: 0;
	font-size: 1em;
	padding-top: 35px;
	overflow: hidden;
	background:transparent url('../images/tb_password.png')no-repeat top left;
	border:none;
	color:#d9d9d9;
}
#header #user-login .userlogin-sib{
	border:none;
	background:transparent;
	color:#5c5c5c;
	float:right;
	padding:5px;
}
#header #search-box #search-text .search-button{
	display: block;
	width: 110px;
	height: 0;
	font-size: 1em;
	padding-top: 34px;
	text-indent: -2000px;
	overflow: hidden;
	background:transparent url('../images/search-button.png') no-repeat;
	border:none;
	float:right;
	padding-left:10px;
}
#header #search-box .sep-search{
	background:url(../images/sep-search.png);
	width:1px;
	height:68px;
	float:left;
	margin:0 25px;
	}
#header #search-box #simple-signup{
	width:239px;
	height:48px;
	float:left;
	padding-top:10px;
	}	
#header #search-box #simple-signup a{
	width:239px;
	height:0;
	padding-top:48px;
	background:transparent url(../images/simple-signup.png) no-repeat top left;
	overflow:hidden;
	float:left;
	text-indent:-2000px;
	}	

#header #sub-header .student-lounges a{
	width:178px;
	height:0;
	padding-top:34px;
	background:url(../images/button-student-lounges.png) no-repeat top left;
	overflow:hidden;
	text-indent:-2000px;
	float:left;
	}	
#header #sub-header .post-button a{
	width:108px;
	height:0;
	padding-top:34px;
	background:url(../images/button-post.png) no-repeat top left;
	overflow:hidden;
	text-indent:-2000px;
	float:right;
	}		

#header #sub-header .header-notify a{
	color:#459ac8;
	}	

.front-box{
	background:#FFF;
	padding-bottom:15px;
	margin-bottom:5px;
	margin-left:5px;
}
.front-box-header{
	background:url(../images/blue-bar.png) repeat-x top left;
	height:26px;
	padding-top:6px;
	}
.front-box-header .white-text-header{
	padding:8px;
	}
.front-box-header .view-all-text{
	float:right;
	padding:3px 5px;
	}
.front-box-content{
	padding:5px;
	padding-top:15px;
	}
.front-box-content .avatar-image{
	float:left;
	width:34px;
	height:34px;
	}
.front-box-content .front-headline .front-title{
	padding-left:10px;
	float:left;
	color:#f36b3a;
	font-weight:bold;
	font-size:13px;
	width:370px;
	}
.front-box-content .front-headline .headline-info{
	float:left;
	padding-left:10px;
	clear:both;
	font-size:12px;
	color:#313131;
	}
.front-box-content .front-headline .headline-info a{
	color:#459ac8;
	}	
.front-datetime{
	font-size:10px;
	color:#7d7d7d;
	}	
/*sub footer*/	
#sub-footer .your-account, #sub-footer .help-information, #sub-footer .afterclassroom{
	background:#FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	}
#sub-footer .your-account h3, #sub-footer .help-information h3, #sub-footer .afterclassroom h3{
	color:#005099;
	border-bottom:1px solid #dfe2e4;
	padding-bottom:5px;
	margin-bottom:15px;
}
#sub-footer .your-account li, #sub-footer .help-information li, #sub-footer .afterclassroom li{
	color:#4f4f4f;
	}
#sub-footer .your-account li a, #sub-footer .help-information li a, #sub-footer .afterclassroom li a{
	color:#4f4f4f;
	}	
/*footer*/	
#footer{
	background:#FFF;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#004181;
	}
	