<div class="postItem">
  <div class="postTit">Description*</div>
  <div class="postInput">
    <div class="postDesInf" id="post_description_counter"><span>0</span> characters (900 max)</div>
    <div class="postInp"><%= post.text_area :description, :class => 'required' %></div>
  </div>
</div>
<script type="text/javascript">
  $("#post_description").counter({
    count: 'up',
    goal: 900
  });
</script>
