<div class="postItem">
  <div class="postTit">Email</div>
  <div class="postRad">
    <div><%= radio_button "post", "use_this_email", true, :checked => @post.use_this_email %><span>Use my login email instead</span></div>
    <div><%= radio_button "post", "use_this_email", false, :checked => !@post.use_this_email %><span>Reply to [post category] - xxxxxx@afterclassroom.com (AC anonymizes your ..)</span></div>
  </div>
</div>