<div class="postItem">
  <div class="postTit">Add/Edit File</div>
  <div id="divinputfile" style="margin-top:-2px">
    <%= post.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc", :style => "margin-left:-130px" %>
    <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" style="margin-top:0px" /></div>
  </div>
</div>
