<div class="postItem">
  <div class="postTit">Add/Edit File</div>
  <div id="divinputfile" style="margin-top:0px" >
    <%= post.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc", :style => "margin-left:-130px" %>
    <div class="ccc">
<div id="fakeinputfile" style="margin-top:-23px" ><input name="fakefilepc" type="text" id="fakefilepc" ></div>
  </div>
  </div>
</div>
