<div class="postTitt">Add/Edit File</div>
<div class="postItemA">
  <div id="divinputfile" style="margin-left:120px">
    <div class="postItemC">
    <%= post.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc" %>
  </div>
  <div class="postUpfile">
    <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc"></div>
  </div>
  </div>
</div>
