<div class="postItem">
<div class="postTit">Add/Edit File</div>

  <div id="divinputfile">
    <%= post.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc" %>
  
      <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc"></div>
    
  </div>
</div>
