<div class="postTitt">
    Add/Edit File
</div>
<div class="postItemA" style="margin:0px">
    <div id="divinputfile" style="margin-left:120px">
      <div class="postItemC">
            <%= file_field_tag "post[attach]", :onchange => "$('#fakefilepc').val(this.value);", :class => "#{'{validate:{accept:true}}' if only_img } filepc", :size=> "39", :style => "width: 300px", :id => "file_attach" %>
      </div>
        <div class="postUpfile">
            <div id="fakeinputfile">
              <input name="fakefilepc" type="text" id="fakefilepc" style="margin-top:-3px"></input>
            </div>
        </div>
    </div>
</div><% if only_img %>
<div class="postItem" id="only_img">
  <div class="postTit">&nbsp;</div>
  <div class="postInp">
    Only support these photo formats: JPG, GIF, PNG.
  </div>
</div>
<% end %>
