<div class="postItemDep">
    <div class="postTit">
        School year
    </div>
    <div class="postDep">
        <%= post.text_field :school_year, :id => "school_year" %>
    </div>
</div>
<ul id="year_menu" class="mcdropdown_menu">
    <% LEVEL.each do |year| %>
    <li rel_year="<%= year[1] %>">
        <%= year[0] %>
    </li>
    <% end %>
</ul>
<script type="text/javascript">
    $(document).ready(function(){
        $("#school_year").mcDropdown("#year_menu", {
            width: 350,
            valueAttr: "rel_year"
        });
    });
</script>
