<div class="postItem">
  <div class="postTit">School</div>
  <% if controller.action_name == "edit" %>
    <div class="postInp" style="margin-top:3px;"><strong><%= show_school_address(@post.school) %></strong></div>
  <% else %>
    <div class="postInp" style="margin-top:3px;"><strong><%= School.find(@school).name %></strong> - <%= link_to("Click here", "/users_select_school/show?height=200", :rel=>"facebox") %> to choose another school.</div>
  <% end %>
</div>
<script>
  $(document).ready(function(){
    $("a#facebox").click(function(){
      $('#department_menu,#year_menu').hide();
    });
  });
  $(document).ready(function(){
//    var top = 70;
//    $(window).scroll(function() {
//      $('#facebox').stop().animate({ top: $(window).scrollTop() + top}, 1);
//    });
    $("body").append("<div id='opaque' style='display: none;'></div>");

    $(document).bind('loading.facebox', function() {
      $("#opaque").show();
    });
    $(document).bind('close.facebox', function() {
      $("#opaque").hide();
    });
    $(document).bind('afterReveal.facebox', function() {
      // this is a fix for IE6 which resets the height to 100% of the window height
      $("#opaque").height($(document).height());
    });
  });
</script>