<div class="postItem">
    <div class="postTit">Tag</div>
    <div class="postInp"><%= text_field_tag "tag", "", :style => "width:360px" %></div>
  </div>
<script type="text/javascript">
 var tags = <%= array_or_string_for_javascript(@tags) %>;
  $(function () {
    $('#tag').tagSuggest ( {
      tagContainer : 'div',
      tagWrap : 'div',
      tags: tags,
      separator: ', '
    });
  }) ;
</script>
