<html>
  <body>
    <div id="detail_window">
       Hello <%= @creator.name %>, <br/>

The tag you created of you at <a href="<%= user_video_url(@video.user, @video) %>"><%= @video.title %></a> has been added.<br/>

       
     
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
