<html>
  <body>
    <div id="detail_window">
       Hello <%= @tag_creator.name %>, <br/>

Tag of yourself at <a href="<%= user_video_url(@video.user, @video) %>"><%= @video.title %></a> has been authorized.<br/>

      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
