<%
goodProf = PostMyx.find(:all,:conditions=>['prof_status LIKE ?',"Good"], :limit => 5, :order => "prof_status DESC")
%>

<% if goodProf.size > 0 %>
  <%
  goodProf.each do |gp|
  %>
    <div class="teacherItem">
      <div class="recentImg"><a href="#"><div><img src="pictures/pic2.png"/></div></a></div>
      <div class="teacherInf">
        <div class="recentName"><a href="#"><%= gp.professor   %></a></div>
        <div class="recentDes"><%= gp.post.school.name %></div>
      </div>
    </div>
  <%
  end
%>
<%
end
%>
