<div class="AsDContBtm">
  <span class="btmComment"><a href="javascript:void();" onclick="$('form_comment').show();">Reply</a></span>
  <span class="btmMail"><a href="#"><span>Email</span></a></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmFav"><a href="#"><span>Favorite</span></a></span>
</div>