<div class="col300 QAsRecent">
  <div class="col300in">
    <h1 class="col300Title">Recent requested to rate</h1>
    <div class="col300Cont">
      <%
      myxes_recent = PostMyx.with_school(@school).recent.with_limit
    %>
      <% if myxes_recent.size > 0 %>
        <%
        myxes_recent.each do |myx|
        %>
          <div class="recentItem">
            <div class="recentImg"><%= show_image_user_post(myx.post.user) %></div>
            <div class="recentInf">
              <div class="recentName"><%= show_user_post(myx.post.user) %></div>
              <div class="recentUni"><span>at</span><%= link_to myx.post.school.name, :controller => "post_myxes", :action => "index", :from_school => myx.post.school %></div>
              <div class="recentDes"><%= link_to myx.post.title, post_myx_path(myx) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="recentBottom"> </div>
    </div>
  </div>
</div>
