<%
  arr_rating_status = [["", "Just Posted"], ["Good", "Best Classroom"], ["Bored", "Bored Classroom"], ["Bad", "Bad Classroom"]]
  arr_rating_status.each do |elm|
%>
<div class="menuRItem <%= "menuRselect" if @rating_status == elm.first %>"><a href="<%= "#{post_myxes_path}?rating_status=#{elm.first}" %>"><span class="span1"><span class="span2"><%= elm.last %></span></span></a></div>
<% end %>

<% if logged_in? %>
<div style="margin-left:20px" class="menuRItem">
    <a href="<%= "#{user_post_managements_url(current_user)}?category=#{@class_name}"  %>"><span class="span1"><span class="span2">Post management</span></span></a>
</div>
<% end %>