      <%
      
      worseProf = PostMyx.find(:all,:conditions=>['prof_status LIKE ?',"Worse"], :limit => 5, :order => "prof_status DESC")
    %>

      <% if worseProf.size > 0 %>
        <%
        worseProf.each do |wp|
        %>
        <div class="teacherItem">
          <div class="recentImg"><a href="#"><div><img src="pictures/pic2.png"/></div></a></div>
          <div class="teacherInf">
            <div class="recentName"><a href="#"><%= wp.professor   %></a></div>
            <div class="recentDes"><%= wp.post.school.name %></div>
          </div>
        </div>



        <%
        end
      %>
      <%
      end
    %>




