			<div class="teacherItem">
				<div class="recentImg"><a href="#"><div><img src="pictures/pic2.png"/></div></a></div>
				<div class="teacherInf">
					<div class="recentName"><a href="#">Vu Nguyen</a></div>
					<div class="recentDes">McMaster University</div>
				</div>
			</div>
			<div class="teacherItem">
				<div class="recentImg"><a href="#"><div><img src="pictures/pic4.png"/></div></a></div>
				<div class="teacherInf">
					<div class="recentName"><a href="#">Bich Van</a></div>
					<div class="recentDes">McMaster University</div>
				</div>
			</div>
			<div class="teacherItem">
				<div class="recentImg"><a href="#"><div><img src="pictures/pic1.png"/></div></a></div>
				<div class="teacherInf">
					<div class="recentName"><a href="#">Vu Nguyen</a></div>
					<div class="recentDes">McMaster University</div>
				</div>
			</div>