<!--
T?o ra name scope ? ?ây
T?o ra 2 name scope:
1. là limit, ?? gi?i h?n k?t qu? tr? v?
2. là ?i?u ki?n ?? search

-->

<%
      worseProf = PostMyx.find(:all,:conditions=>['prof_status LIKE ?',"Worse"], :limit => 5, :order => "prof_status DESC")
    %>
      <% if worseProf.size > 0 %>
        <%
        worseProf.each do |wp|
        %>
        <div class="teacherItem">
          <div class="recentImg"><a href="#"><div><img src="pictures/pic2.png"/></div></a></div>
          <div class="teacherInf">
            <div class="recentName"><a href="#"><%= wp.professor   %></a></div>
            <div class="recentDes"><%= wp.post.school.name %></div>
          </div>
        </div>
        <%
        end
      %>
        <div class="dueDbutton"><%= link_to "View more Worse Teacher/Prof", more_worse_post_myxes_path %></div>
      <%
      end
    %>




