<div class='QAsDet'>Good <strong>(<%= @post_p.total_good %>)</strong></div>
<div class='QAsDet'>Bored <strong>(<%= @post_p.total_bored %>)</strong></div>
<div class='QAsDet'>Bad <strong>(<%= @post_p.total_bad %>)</strong></div>