<div class='QAsDet'>Good <strong style="margin-left: 26px;margin-top: 0px">(<%= @post_p.total_good %>)</strong></div>
<div class='QAsDet'>Bored <strong style="margin-left: 23px;margin-top: 0px">(<%= @post_p.total_bored %>)</strong></div>
<div class='QAsDet'>Bad <strong style="margin-top: 0px">(<%= @post_p.total_bad %>)</strong></div>