<html>
  <body>
    <div>
       Hello <%= @friend.name %>, <br/>
       
      <a href="<%= user_url(@ufo_author) %>"><%= @ufo_author.name %></a>  invite you to join a 
      <%= link_to "topic", user_u_forum_url(@ufo_author, @ufo) %>.<br/>
       
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
