<html>
  <body>
    <div>
       Hello <%= @friend.name %>, <br/>
       
      <%= @ufo_author.name %> invite you to join a 
      <%= link_to "topic", user_u_forum_url(@ufo_author, @ufo) %>.
       
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
