<html>
  <body>
    <div id="detail_window">
       Hello , <br/>
       
       This email send to your from ufo of afterclassroom
       
       list of bcc = <%= @listbcc %>
      
      Yours sincerely, <br/>
      Afterclassroom Support Team.
      
    </div>  
  </body>
</html>
