<html>
  <body>
    <div id="detail_window">
      Hello User, <br/>

      This email send to your from ufo of afterclassroom


      Yours sincerely, <br/>
      Afterclassroom Support Team.

    </div>  
  </body>
</html>
