#container{
	width:980px;
	margin:0 auto;
	overflow:hidden;
}
#container #header{
	width:980px;
	height:120px;
}
#container #header #site-title{
	float:left;
	width:300px;
	padding-left:8px;
}
#container #header #profile-nav{
	float:right;
	height:13px;
	width:260px;
	padding:5px;
	text-align: right;
}

#container #main-administration-menu{
	margin-top:15px;
	margin-right:10px;
	clear:both;
	float:right;
}
#container  #main-administration-menu .admin-menu{
	width:300px;
}
#container #main-administration-menu .admin-menu ul li{
	float:left;
	padding-left:2px;
	width:135px;
	padding-bottom:10px;
}
#container #main-administration-menu .admin-menu fieldset{
	padding:10px;
	margin-bottom:20px;
}
/*admin content*/
#admin-content{
	float:left;
	width:630px;
	overflow:hidden;
	padding:10px;
}
#admin-content .admin-title{
	float:left;
	width:620px;
	padding:5px;
}