html>body{
	background:#052226;
	font: 80% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
a{
	text-decoration: none;
	color:#353b40;
}
a:hover{
	color:#355e81;
	border-bottom: 1px dotted #fb004d;
}
#container{
	background: #FFF;
}
#header{
	background:#950000 url('../images/main_header_body.gif') no-repeat 0px 28px;
}
#profile-nav a{
	color:#FFF;
}
#profile-nav a:hover{
	color:#E1DEB6;
	font-weight: bold;
}
#container #main-administration-menu .admin-menu fieldset legend{
	font-weight: bold;
	color:#fb004d;
	text-transform: uppercase;
}
#container #main-administration-menu .admin-menu fieldset{
	border:1px solid #333;
	background:#fefff5;	
}
#container #header #site-title span{
	font-size: 1.5em;
}
#container #header #site-title a{
	color:#FFF;
}
#admin-content .admin-title{
	text-transform: uppercase;
	color:#fb004d;
	border-bottom: 4px solid #00395d;
	margin-bottom:0px;
	font-size: 1.3em;
}
/*table*/
	table.table_admin{
		width:640px;
		padding:5px;
        border:1px solid #e4e4e4;
	}
	table.table_admin tbody tr td{
            padding:2px 0px;
            font-size:14px;
	}
/*end table*/	
