<div class="col300 QAsRecent">
  <div class="col300in">
    <h1 class="col300Title">Recent Comments</h1>
    <div class="col300Cont">
      <% comments = PostAwareness.recent_comments %>
      <% comments.each do |c| %>
      <div class="recentItem">
        <div class="recentImg"><%= show_image_user_post(c.user) %></div>
        <div class="recentInf">
          <div class="recentName"><%= show_user_post(c.user) %></div>
          <div class="recentUni"><span>at </span><%= link_to truncate_words(c.post.title, 4), post_awareness_path(c.post) %></div>
          <div class="recentDes"><%= c.comment %></div>
        </div>
      </div>
      <% end %>
      <div class="recentBottom">&nbsp;</div>
    </div>
  </div>
</div>

