<div class="col300 QAsRecent">
  <div class="col300in">
    <h1 class="col300Title">Recent Comments</h1>
    <div class="col300Cont">
      <% comments = PostAwareness.recent_comments(@school) %>
      <% comments.each do |c| %>
      <div class="recentItem">
        <div class="recentImg"><%= show_image_user_post(c.user) %></div>
        <div class="recentInf">
          <div class="recentName"><%= show_user_post(c.user) %></div>
          <div class="recentUni"><span>at </span><%= link_to truncate(c.commentable.title, :length => 60, :omission => '...'), post_awareness_path(c.commentable.post_awareness) %></div>
          <div class="recentDes"><%= truncate(c.comment, :length => 150, :omission => '...') %></div>
        </div>
      </div>
      <% end %>
      <div class="recentBottom">&nbsp;</div>
    </div>
  </div>
</div>

