<% AwarenessType.find(:all).each do |tt| %>
<div class="menuRItem <%= "menuRselect" if @awareness_type_id && @awareness_type_id.to_i == tt.id %>"><a href="<%= "#{post_awarenesses_path}?awareness_type_id=#{tt.id}" %>"><span class="span1"><span class="span2"><%= tt.name %></span></span></a></div>
<% end %>
