.u_avatar{
	/*margin-left:-5px;*/
	width:100px;
	float:left;
	text-align: center;
	margin-right:5px;
}
.u_avatar a{
	text-decoration:none;
	font: 0.8em/1em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	color:#03A2BF;
	font-weight:bold;
}
.u_avatar img{
	width:90px;
	height:90px;
	border:none;
	border:1px solid #E5E5E5;
	padding:5px;
}
.u_blas_update{
	width:750px;
	height:100px;
	float:left;
	
}
.status_update_bt{
		float:right;
}
	.u_blas_update .left_arrow{
		float:left;
		background:transparent url('../images/left-arrow.png') no-repeat top left;
		width:25px;
		height:60px;
		margin-top:10px;
	}
	.u_blas_update .u_blas_content{
		min-width:520px;
		min-height:50px;
		float:left;
		background:#aeaeae;
		overflow:hidden;
	}
	.u_blas_update .u_blas_content input[type="text"]{
		border:1 solid #999;
		font: 1.45em/1em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
		margin:8px;
		padding-left:5px;
		width:425px;
		color:#AEAEAE;
	}	
	.user_status_input{
		background:#FFF;
		border:1px solid #F1F1F1;
		float:left;
		padding:5px;
		width:400px;
		margin:10px;
		min-height:20px;
		font: 1em/1em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	}
	.small_thumb_ava{
		float:left;
		text-align:left;
		padding-bottom:10px;
		overflow:hidden;
		width:70px;
		height:50px;
		display:block;
		margin-right:20px;
	}
	.small_thumb_ava img{
		width:46px;
		height:46px;
		padding:3px;
		border:1px solid #F1f1f1;
		margin-right:10px;
	}
	.user-entry{
		margin-left:60px;
	}
.user_menu{
	margin-top:15px;
	border-bottom: 3px solid #999;
	padding-bottom:15px;
	font: 1.1em/1.5em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	float:left;
	width:970px;
	clear:both;
}
.user_menu ul li{
	float:left;
	margin-right:10px;
}
.user_menu ul li a{
	padding:4px;
	border:1px solid #d4d4d4;
	background:#E5E5E5;
	color:#6c6c6c;
}

#user_front_content{
	float:left;
	font: 0.9em/1.5em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	padding-top:10px;
	clear:both;
}

.user_status_listing{
	float:left;
	width:690px;
	text-align:left;
}
.user_status_listing{
	font-size:14px;
}
.user_status_listing ul li{
	border-bottom:1px dashed #E5E5E5;
	padding:10px;
	color:#3d3d3d;
	position:relative;
	height:45px;
	width:690px;
}
	.user-entry{
		float:left;
		text-align:left;
	}
.user_status_listing ul{
	float:left;
}
.last_update_status{
	font-size:12px;
	clear:left;
}
.last_update_status a{
	color:#1E4F6A;
}
.status-time{
	font-style:italic;
	color:#999;
}
.status-time-comment{
	font-style:italic;
	color:#999;
	margin-bottom:5px;
}
.comment-author {
	font-size: 15px;
}
.comment-author a{
	text-decoration: none;
}
.comment-info{
	background:#D5F2ED;
	padding:2px 10px;

}
/*inbox message*/
.message_bt_con{
	margin-left:-5px;
	background:#E5E5E5;
	float:left;
	width:970px;
}
.message_bt_con ul li{
	float:left;
	padding-left:10px;
	padding-right:5px;
}

#inbox-2cols{
	float:left;
}
	#inbox_lc{
		float:left;
		width:200px;
		margin-left:-5px;
		margin-top:10px;
	}
		#inbox_lc ul{
			background:#AEAEAE;
			min-height:300px;
		}
		#inbox_lc ul li{
			padding:10px 10px;
		}	
		#inbox_lc ul li h3{
			font-size:16px;
			font-weight:400;
		}
		#inbox_lc ul li ul{
			background:#FFF;
		}
		#inbox_lc ul li ul li{
			padding:5px 0px 5px 10px
		}
		#inbox_lc ul li ul li a{
			color:#5CC4E6;
		}
		#inbox_lc ul li ul li a:hover{
			color:#007BA3;
		}	
			.newmess{
				font-weight:bold;
			}
	#inbox_rc{
		margin-top:10px;
		float:left;

	}
	#inbox_rc table{
		table-layout:fixed;
		border-bottom:1px solid #d4d4d4;
	}
	#inbox_rc table th{
		background:#E5E5E5;
		padding:5px;
		text-align:left;
		border-left:1px solid #d4d4d4;
	}
	#inbox_rc table tr td{
	   	border-left:1px solid #d4d4d4;
	}
	
/*account profile*/	
#profile_wrapper{
	width:755px;
	
}
#profile_cp {
	margin-left:-5px;
	width:180px;
	float:left;
}
#profile_cp ul {

}
#profile_cp ul li{
	border:1px solid #E5E5E5;
	margin-bottom:2px;

}
#profile_cp .pr_theader{
	width:179px;
	float:left;
	background:#06A4C1;
	color:#FFF;
}
.pr_edt_l{
	font-size:11px;
	padding:0px 10px;
}
#profile_cp ul li ul li{
	padding-left:10px;
	border:none;
	font-size:13px;
}		
#profile_cp ul li ul li a{
	color:#5CC4E6;
	
}
#profile_cp ul li ul li a:hover{
	color:#007BA3;
}
#profile_update_zone{
	float:left;
	margin-left:5px;
}
#profile_wrapper #profile_update_zone{
	float:left;
	width:500px;
	border:1px solid #E5E5E5;
}
#ads_area{
	float:right;
}

#sent_comment{
	padding:5px;	
}
#sent_comment input[type="text"]{
	padding:5px;
	with:90%;
}

/*member profile details*/
.member-profile-box a{
	text-decoration:none;
}
.member-profile-box{
	width:670px;
	min-height:185px;
	float:left;
	overflow:hidden;
	border:1px solid #999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding:10px;
}
.is-flirt-ready{
	float:left;
	text-align:left;
	padding:5px 10px;
	width:660px;
	margin-bottom:5px;
}
.member-profile-avatar{
	float:left
}
.member-profile-avatar img{
	width:110px;
	height:110px;	
}
ul.member-profile-details{
	float:left;
	width:300px;
	padding:0px 10px;
}
ul.member-profile-details li{
	margin-bottom:5px;
	color:#666;
	font: 1em/1em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
}
ul.member-profile-details li label{
	float:left;
	text-align:left;
	padding-right:15px;
	width:130px;
	margin-bottom:2px;
	color:#333;
}
.member-profile-tools{
	float:right;
}
.member-profile-tools ul li{
	margin-bottom:5px;
}
.member-profile-tools span{
	cursor:pointer;
	border-bottom:1px dashed #CCCCCC;
}
/*end member profile details*/

/* share a story */
#user-post-story{
	float:left;
	margin:5px 10px;padding-bottom:10px;
	width:690px;
	border-bottom:1px dashed #CCCCCC;
}
#user-post-story h3{
	font-size: 16px;
	color:#3F3C3E;
}
#user-post-story #share-story-text textarea{
	width:580px;
	border:1px solid #b4b4b4;
	font: 14px/1.5em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	padding:10px;
}
.grayround-bt{
	background:transparent url('../images/button.png') no-repeat top left;
	width:102px;
	height:32px;
	border:none;
	font-size: 1em;
}
.grayround-bt:hover{
	background:transparent url('../images/button-hover.png') no-repeat top left;
}
.grayround-bt:focus{
	background:transparent url('../images/button-focus.png') no-repeat top left;
}
#pss-bt{
	margin-top:5px;
	float:left;
	width:600px;
}
.cancel{
	color:#666;
	float:left;
}
.update{
	color:#002F5A;
	float:right;
	font-weight: bold;
}
.post-story-bt{
	border:none;
	border-bottom:1px solid #004B8D;
	border-right:1px solid #4192D9;
	background:#79B9F2;
	font-size: 16px;
	padding:5px;
	color:#004B8D;
}
.post-story-bt:hover{
	background:#ABC8E2;
	border-bottom:1px solid #183152;
	border-right:1px solid #4192D9;
}
.post-story-bt:focus{
	background:#E1E6FA;
}
.user-story{
	float:left;
	min-height: 90px;
	clear:both;
	margin:5px 10px;
	border-bottom:1px dotted;
	border-bottom:1px dashed #E5E5E5;
	width:690px;
}
.user-story:hover .editable-box{
	display:inline;
}
.user-story:hover{
	background:#F1F5F3;
	border-bottom:1px solid #f1f1f1;
	border-right:1px solid #ececec;
}
.editable-box{
	float:right;
	font-size:10px;
	width:50px;
	display:none;
	margin-top:30px;
}
.editable-box .delete a{
	background:#C33A1A;
	color:#FFF;
	padding:1px 5px;

}
.editable-box .edit a{
	background:#2B430D;
	color:#FFF;
	padding:1px 5px;	
}
.user-story-content{
	float:left;
	width:530px;
	margin-right:10px;
}
.user-story-content a{
	color:#00448D;
}

.pm-header{
	color:#262526;
}
#comment-bt-box{
	float:left;
	margin-left:95px;
	margin-top:5px;
}
#comment-bt-box input[type="button"]{
	width:552px;
	border-right:1px solid #999;
	border-bottom: 1px solid #999;
}
#comment-bt-box input[type="button"]:hover{
	background:#B3E0F2;
	color:;
}
#add-comments{
	float:left;
}
#add-comments textarea{
	border:1px solid #CCC;
	width:540px;
	margin-left:100px;	
	font: 1em/1.5em helvetica, verdana, arial, sans-serif;
	padding:5px;
	color:#333;
}
#list-other-comment {
	margin-top:20px;
	float:left;
	border-top:1px dotted #CCC;
}
#add-comments h3, #list-other-comment h3{
	font-size: 18px;
	margin:10px;
}
/* music */
ul#posting-music{
	float:left;
	font: .9em/1.5em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
}
ul#posting-music li{
	margin-top:5px;
	border-bottom: 1px solid #D1CFC8;
	width:700px;
	padding-bottom:5px;
	min-height:30px;
}
ul#posting-music li textarea, input{
	border:1px solid #C3C6C5;
	width:350px;
	color:#333;
	padding:5px;
	font: 1em/1.2em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	margin-left:5px;
}
ul#posting-music li input[type="text"]{
	height:20px;
}
ul#posting-music li label{
	width:180px;
	float:left;
	text-align: right;
	color:#4E4B37;
	padding:5px;
}
ul#posting-music li #expand_wcs, ul#posting-music li #expand_addmusic{
		border:1px solid #C3C6C5;
		width:200px;
		padding:4px;
		margin-left: 5px;
		clear:both;
		float:left;
		position:absolute;
		text-decoration: none;
		color:#03013A;
}
/* profile */
#user-main-profile{
	float:left;
	width:690px;
	color:#333;
}
#user-main-profile a{
	text-decoration: none;
	color:#0059B2;
}
#user-profile-avatar{
	width:120px;
	min-height:120px;	
	border:1px solid #CCC;
	text-align: center;
	padding:10px;
	float:left;
	
}
#user-profile-avatar img{
	height:110px;
	width:110px;	
}
#user-profile-info,#recently-activities, #user-friends, #user-favorites{
	float:right;
	padding-left:10px;
}
#user-profile-info fieldset, #recently-activities fieldset, #user-friends fieldset, #user-favorites fieldset{
	border:1px solid #ccc;
	padding:10px;
	margin-top:10px;
	width:515px;
}
#user-profile-info fieldset legend,  #recently-activities fieldset legend, #user-friends fieldset legend, #user-favorites fieldset legend{
	font-size: 1.1em;
	color:#00213C;
	display:block;
	padding:5px;
	width:400px;
}
#user-profile-info fieldset  ul li label{
	width:100px;
	float:left;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	color:#999;
}
#recently-activities fieldset ul li,#user-favorites fieldset ul li{
	display:block;
	border-bottom: 1px dotted #CCC;
	padding:2px 5px;
}
#recently-activities fieldset ul li:hover, #user-friends ul.list-user-friends li:hover, ul#profile-mn li:hover, #user-favorites fieldset ul li:hover{
		background:#E1F3F8;
}
.daycounter{
	font-size: .8em;
	color:#999;
	font-style: italic;
}
#user-profile-info #usrprf-title{
	background:#E1F3F8;
	padding:5px;
	border: 1px solid #ccc;
	overflow:hidden;
}
#user-profile-info #usrprf-title .usrname{
	font-size: 1.4em;
	float:left;
}
#user-profile-info #usrprf-title .add-as-friend{
	float:right;
	padding-right:5px;
}
#user-friends ul.list-user-friends li{
	width:95px;
	min-height:140px;
	float:left;
	text-align: center;
	border: 1px solid #CCC;
	padding-top:2px;
	margin-bottom:5px;margin-left:5px;
}
#user-friends ul.list-user-friends li span{
	font-size: .8em;
}
#user-friends ul.list-user-friends li img{
	border:1px solid #CCC;
	width:90px;height:90px;
}
ul#profile-mn{
	margin-top:20px;
	float:right;
	text-align:right;
	padding-right:0px;
}
ul#profile-mn li a{
	display:block;
}
ul#profile-mn li a:hover{
	text-decoration: underline;
}
ul#profile-mn li{
	display:block;
	border:1px solid #CCC;
	border-bottom:1px solid #89B3D9;
	border-right:1px solid #89B3D9;
	padding:5px;
	margin-bottom:2px;
	width:110px;
}