/* buttons */
.bt-wrapper{
}

.btf{
	font: 90% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	text-decoration: none;
	padding:0px 5px 0px 5px;
}	
.ltblue_l,.ltblue_r,.ltgray_l,.ltgray_r,.ltred_l,.ltred_r{
	width:5px;
	height:32px;
}
	.link_bt{
		text-align: justify;
		text-decoration: none;
		color:#FFF;
	}
	.link_bt_g{
		text-align: justify;
		text-decoration: none;
		color:#454545;
	}
/* light blue button */
.ltblue_bt{
	background-color: #28D5DD;
}

	.ltblue_l{
		float:left;
		background:transparent url('../images/lbl_bt.png') no-repeat scroll top left;	
		margin-top:5px;
	}
	.ltblue_r{
		background:transparent url('../images/lbr_bt.png') no-repeat scroll top left;
		float:left;
		margin-top:5px;
	}	
	.ltblue_c{
		background:transparent url('../images/lbc_bt.png') repeat-x left center;
		float:left;
		height:32px;
		padding-top:10px;
		padding-right:10px;
		padding-left:10px;		
	}
/* end light blue button */	
.ltgray_bt{
	background-color:#D9D9D9;
}
	.ltgray_l{
		background:transparent url('../images/lgl_bt.png') no-repeat top left;
		float:left;
		margin-top:5px;
	}
	.ltgray_r{
		background:transparent url('../images/lgr_bt.png') no-repeat top left;
		float:left;
		margin-top:5px;
	}
	.ltgray_c{
		background:transparent url('../images/lgc_bt.png') repeat-x left center;
		float:left;
		height:32px;
		padding-top:9px;
		padding-left:10px;
		padding-right:10px;
	}
	.btfr{
		float:right;
		margin-left:20px;
	}
.ltred_bt{
		background-color:#AA1313;
}
	.ltred_l{
		background:transparent url('../images/drl_bt.png') no-repeat top left;
		float:left;
		margin-top:5px;
	}
	.ltred_r{
		background:transparent url('../images/drr_bt.png') no-repeat top left;
		float:left;
		margin-top:5px;	
	}
	.ltred_c{
		background: transparent url('../images/drc_bt.png') repeat-x left center;
		float:left;
			height:32px;
			padding-top:10px;
			padding-left:10px;
			padding-right:10px;
	}
	.s-pos{
		margin-left: 0px; 

		margin-right:30px;
	}	