/* 
    Document   : checkboxmenu
    Created on : Feb 27, 2011, 2:04:21 AM
    Author     : baoviet
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.actionsBox{
    font-size:13px;
    font-family:Helvetica,Arial,Verdana;
    font-style:normal;
    left:50%;
    position:absolute;
    top:-50px;
    opacity:0;
    cursor:move;
}
.actionsBox .menu{
    width:225px;
    color:#47708F;
    line-height:30px;
    text-shadow:1px 1px 0px #fff;
    padding:7px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    font-weight:bold;
    border:1px solid #D9EAF2;
    background:#e8f4fa;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.58, rgb(217,234,242)),
        color-stop(0.93, rgb(232,244,250))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(217,234,242) 58%,
        rgb(232,244,250) 93%
        );
    -moz-box-shadow:1px 1px 3px #999;
    -webkit-box-shadow:1px 1px 3px #999;
    box-shadow:1px 1px 3px #999;

}
.actionsBox .menu .button{
    color:#47708F;
    padding:4px 7px;
    border:1px solid #D9EAF2;
    background:#e8f4fa;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.38, rgb(230,243,249)),
        color-stop(0.88, rgb(245,249,250))
        )
        ;
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(230,243,249) 38%,
        rgb(245,249,250) 88%
        )
        ;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 1px 0px #f9f9f9;
    -webkit-box-shadow:0px 1px 0px #f9f9f9;
    box-shadow:0px 1px 0px #f9f9f9;
    cursor:pointer;
}
.actionsBox .menu .button:hover{
    background:#fff;
    color:#47708F;
}
.actionsBox .menu span{
    padding:0px 10px;
}
.actionsBox .submenu{
    display:none;
    width:160px;
    margin-left:60px;
    top:46px;
    right:10px;
    background:#fff;
    border:1px solid #D9EAF2;
    border-top:none;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-box-shadow:0px 1px 4px #ddd;
    -webkit-box-shadow:0px 1px 4px #ddd;
    box-shadow:0px 1px 4px #ddd;
}
.actionsBox .submenu a{
    display:block;
    cursor:pointer;
    padding:10px 15px;
    border-top:1px solid #D9EAF2;
}
.actionsBox .submenu a.last{
    -moz-border-radius:0px 0px 10px 10px;
}
.actionsBox .submenu a.first{
    border-top:none;
}
.actionsBox .submenu a:hover{
    background-color:#f9f9f9;
}
.actionsBox .menu a.open,
.actionsBox .menu a.closed{
    border:1px solid #D9EAF2;
    padding:4px 17px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0px 1px 0px #f9f9f9;
    -webkit-box-shadow:0px 1px 0px #f9f9f9;
    box-shadow:0px 1px 0px #f9f9f9;
    cursor:pointer;
    opacity:0.6;
    margin-right:5px;
}
.actionsBox .menu a.open{
    background:#fff url(/images/open.png) no-repeat center center;

}
.actionsBox .menu a.closed{
    background:#fff url(/images/closed.png) no-repeat center center;
}
.actionsBox .menu a.open:hover,
.actionsBox .menu a.closed:hover{
    opacity:1.0;
}

/************* CUSTOM TAG FOR SELECT *************************/

.hideitem,.elmValue{
    display: none;
}
.selectbox{
    background: url("/images/selectBox/iconPass.png") no-repeat 10px center;
    padding:0px 0px 0px 35px;
    float:right;
    margin-right: 60px;
    background-color: #F6F6F6;
    border: 1px solid #E3E3E3;
    float: right;
    width: 120px;

}
.selectbox ul{
    /* background: url("/images/selectBox/dropdown.png") no-repeat top right;*/
    padding:8px 22px 6px 0px;
    margin:0;
    vertical-align:top; /*causes ie to align text correctly*/
    list-style: none;
    background-color: #F6F6F6;
    background: url("/images/flistA.gif") no-repeat scroll 90px center transparent;
}
.select_wrap{
    clear:both;
    margin:-20px 5px 0px 0px;
    /* border:1px solid #fff;*/
    float: right;

}
.selectboxopen{
    clear:both;
    background: url("/images/selectBox/dropdownopen..png") no-repeat 0 0;
    padding:0px 0px 0px 35px;
    float:right;
    margin:0;
    border: 1px solid #E3E3E3;
    width: 120px;
    margin-right: 60px;
    background: url("/images/selectBox/iconPass.png") no-repeat 10px center;
}
.selectboxopen ul{
    background: url("/images/selectBox/dropdownopen..png") no-repeat top right;
    padding:8px 22px 6px 0px;
    margin:0;
    vertical-align:top; /*causes ie to align text correctly*/
    list-style: none;
    background-color: #F6F6F6;
    width: 120px;
    background: url("/images/flistA.gif") no-repeat scroll 90px center transparent;
}
.selectbox ul li,.selectboxopen ul li{
    list-style: none;
    padding:0;
    margin:0;
    font-family: arial,helvetica,san-serif;
    color:#333;
    font-size: 12px;
    cursor: pointer;

}
.selectboxoptions_wrap{
    display:none;
    clear:both;
}
.selectboxoptions_radio,.selectboxoptions_check{
    clear:both;
    list-style: none;
    padding:0;
    margin:-2px 1px;
    background:#e6e9ed;
    position: absolute;
    margin-left:0px;
    width:157px;
}
.selectboxoptions_radio li, .selectboxoptions_check li{
    list-style: none;
    padding:3px 0 2px 20px;
    margin:2px 0 0 2px;
    font-family: arial,helvetica,san-serif;
    color:#333;
    font-size: 12px;
    cursor: pointer;
}
.selectboxoptions_radio li{
    background:#EBEBEB;
    height:20px;
    padding-top:5px;
}
.selectboxoptions_radio li.selected{
    background:#f2f2f2 url(/images/selectBox/acc.gif) no-repeat 5px 6px;
    /*display:block !important;*/
}

/************* drplayer muscic *************************/

.fl
{
    float:left;
}

.fr
{
    float: right;
}

.duration
{
    font-size:10px;
    color:#777;
}

.btn.play
{
    width:16px;
    height:17px;
    background-image: url(/images/Photo/play.gif);
    display: inline-block;
}

.btn.pause
{
    width:16px;
    height:17px;
    background-image: url(/images/Photo/pause.gif?2);
}

.btn.paused
{
    width:16px;
    height:17px;
    background-image: url(/images/Photo/play.gif?3);
    display: inline-block;
}


div.player
{
    width:380px;
    height:14px;
    margin-top:5px;
    padding-left:20px;
}

div.player.inactive
{
    margin-top:5px;
    margin-bottom:0px;
    border-top: dashed 1px #555555;
}

.item .title
{
    -vertical-align:middle;
}

.item .btn
{
    display:inline;
    float:left;
    margin-right:5px;
    cursor:pointer;
}
.musicVideo div div.item{
    margin-left: 120px;
}
.showMusicVideo div div.item{
    margin-left: 20px;
}
#playlist_list img{
    margin-top: 3px;
}
#playlist_list .photoImg {
    background: url("/images/bgphoto.png") no-repeat scroll center center transparent;
    margin-bottom: 20px;
    text-align: center;
}
#playlists .player embed{
    width: 310px;
    margin-left: -20px;
}
#player_border{
    margin-top: 20px;
    position: absolute;
    width: 300px;
}
#player_border embed{
    width: 310px;
    position: absolute;
    margin-left: -20px;
}

/*---------TextboxList.Autocomplete Style guidelines-------------*/

.form_tags { margin-bottom: 10px; }

/* Setting widget width example */
.textboxlist { width: 544px; }

/* Preloader for autocomplete */
.textboxlist-loading { background: url('images/spinner.gif') no-repeat 380px center; }

/* Autocomplete results styling */
.form_friends .textboxlist-autocomplete-result { overflow: hidden; zoom: 1; }
.form_friends .textboxlist-autocomplete-result img { float: left; padding-right: 10px; }

.note { color: #666; font-size: 90%; }

.textboxlist {
    cursor: text;
    font: 11px "Lucida Grande",Verdana;
}
.textboxlist-bits {
    border: 1px solid #CECECE;
    margin: 0;
    overflow: hidden;
    padding: 3px 4px 0;
    background: #FFFFFF;
}
.textboxlist-bit {
    cursor: default;
    display: block;
    float: left;
    list-style-type: none;
    margin: 0 5px 3px 0;
    padding: 0;
}
.textboxlist-bit-editable {
    border: 1px solid #FFFFFF;
}
.textboxlist-bit-editable-input {
    border: 0 none;
    font: 11px "Lucida Grande",Verdana;
    height: 14px;
    padding: 2px 0;
}
.textboxlist-bit-editable-input:focus {
    outline: 0 none;
}
.textboxlist-bit-box {
    -moz-border-radius: 9px 9px 9px 9px;
    background: none repeat scroll 0 0 #DEE7F8;
    border: 1px solid #CAD8F3;
    cursor: default;
    line-height: 18px;
    padding: 0 5px;
    position: relative;
}
.textboxlist-bit-box-deletable {
    padding-right: 15px;
}
.textboxlist-bit-box-deletebutton {
    background: url("/images/close.gif") repeat scroll 0 0 transparent;
    display: block;
    font-size: 1px;
    height: 7px;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 7px;
}
.textboxlist-bit-box-deletebutton:hover {
    background-position: 7px 50%;
    border: medium none;
    text-decoration: none;
}
.textboxlist-bit-box-hover {
    background: none repeat scroll 0 0 #BBCEF1;
    border: 1px solid #6D95E0;
}
.textboxlist-bit-box-focus {
    background: none repeat scroll 0 0 #598BEC;
    border-color: #598BEC;
    color: #FFFFFF;
}
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton {
    background-position: center bottom;
}

.textboxlist input{
    border: 0 none;
}

.textboxlist-autocomplete {
    position: absolute;
    z-index: 50000;
}

.textboxlist-autocomplete-placeholder, .textboxlist-autocomplete-results {
    opacity: 70.9;
    filter: alpha(opacity = 190);
    background: #eee;
    -webkit-box-shadow: 0 3px 3px #ccc;
    -moz-box-shadow: 0 3px 3px #ccc;
    box-shadow: 0 3px 3px #ccc;
    border: 1px solid #999;
    border-top: none;
    display: none;
}

.textboxlist-autocomplete-placeholder {
    padding: 5px 7px;
}

.textboxlist-autocomplete-results {
    margin: 0;
    padding: 0;
}

.textboxlist-autocomplete-result {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    background: #eee;
}

.textboxlist-autocomplete-result-focus {
    background: #C6D9E4;
}

.textboxlist-autocomplete-highlight {
    background: #EEF0C4;
    font-weight: bold;
}

.textboxlist-bit-editable {
    height: 18px;
    position: relative;
}

.textboxlist-bit-editable-input {
    background-color: transparent;
    position: absolute;
    z-index: 3;
}

.textboxlist-autocomplete-suggest {
    color: silver;
    z-index: 1;
}

/*  TextboxList.Autocomplete Style guidelines
 Try to keep .textboxlist-autocomplete {} as it is now
 If you apply custom styles to placeholder, also apply them to results, like it is now.
 .textboxlist-autocomplete-result {} needs a background for IE.
*/
/* Preloader for autocomplete */
.textboxlist-loading {
    background: url('/images/spinner.gif') no-repeat 380px center;
}

/* Autocomplete results styling */
.form_friends .textboxlist-autocomplete-result {
    overflow: hidden;
    zoom: 1;
}

.form_friends .textboxlist-autocomplete-result img {
    float: left;
    padding-right: 10px;
}