/* 
    Document   : cust_select_plugin
    Created on : Mar 5, 2011, 8:52:27 AM
    Author     : baoviet
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

