#footpanel {
  position: fixed;
  bottom: 0; left: 0;
  z-index: 9999; 
  background: #e3e2e2;
  border: 1px solid #c3c3c3;
  border-bottom: none;
  width: 94%;
  margin: 0 3%;
}
#footpanel ul {
  padding: 0; margin: 0;
  float: left;
  width: 100%;
  list-style: none;
  border-top: 1px solid #fff;
}
#footpanel ul li{
  padding: 0; margin: 0;
  float: left;
  position: relative;
}
#footpanel ul li a{
  padding: 5px;
  float: left;
  text-indent: -9999px;
  height: 16px; width: 16px;
  text-decoration: none;
  color: #333;
  position: relative;
}
html #footpanel ul li a:hover{	
  background-color: #fff;
}
html #footpanel ul li a.active {
  background-color: #fff;
  height: 17px;
  margin-top: -2px;
  border: 1px solid #555;
  border-top: none;
  z-index: 200;
  position: relative;
}
#footpanel a.home{
  background: url(/images/icons/home.png) no-repeat 15px center;
  width: 143px;
  padding-left: 50px;
  border-right: 1px solid #bbb;
  text-indent: 0;
}
a.profile{
  background: url(/images/icons/user.png) no-repeat center center;
}
a.editprofile{ 
  background: url(/images/icons/wrench-screwdriver.png) no-repeat center center;
}
a.contacts{
  background: url(/images/icons/address-book.png) no-repeat center center;
}
a.messages{
  background: url(/images/icons/mail.png) no-repeat center center;
}
a.playlist{
  background: url(/images/icons/document-music-playlist.png) no-repeat center center;
}
a.videos{ 
  background: url(/images/icons/film.png) no-repeat center center;
}
a.alerts{ 
  background: url(/images/icons/newspaper.png) no-repeat center center;
}
#footpanel a.chat{
  background: url(/images/icons/balloon.png) no-repeat 15px center;
  width: 126px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  padding-left: 40px;
  text-indent: 0;
}
a.alerts{	
  background: url(/images/icons/newspaper.png) no-repeat center center;
}

#footpanel li#chatpanel  {
  float: right;
} 
#footpanel li#alertpanel { 
  float:right;
}
#footpanel a small {
  text-align: center;
  width: 70px;
  background: url(/images/icons/pop_arrow.gif) no-repeat center bottom;
  padding: 5px 5px 11px;
  display: none;
  color: #fff;
  text-indent: 0;
}
#footpanel a:hover small{
  display: block;
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -40px;
  z-index: 9999;
}





#footpanel ul li div a { /*--Reset link style for subpanel links--*/
  text-indent: 0;
  width: auto;
  height: auto;
  padding: 0;
  float: none;
  color: #00629a;
  position: static;
}
#footpanel ul li div a:hover {	text-decoration: underline; } /*--Reset link style for subpanel links--*/

#footpanel .subpanel {
  position: absolute;
  left: 0; bottom: 27px;
  display: none;	/*--Hide by default--*/
  width: 198px;
  border: 1px solid #555;
  background: #fff;
  overflow: hidden;
  padding-bottom: 2px;
}

#footpanel h3 {
  background: #526ea6;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
}
#footpanel h3 span {
  float: right;
  line-height: 0.6em;
}
#footpanel .subpanel ul{
  padding: 0; margin: 0;
  background: #fff;
  width: 100%;
  overflow: auto;
}
#footpanel .subpanel li{
  float: none; /*--Reset float--*/
  display: block;
  padding: 0; margin: 0;
  overflow: hidden;
  clear: both;
  background: #fff;
  position: static;  /*--Reset relative positioning--*/
}

#chatpanel .subpanel li { background: url(/images/icons/dash.jpg) repeat-x left center; }
#chatpanel .subpanel li span {
  padding: 5px;
  background: #fff;
  color: #777;
  float: left;
}
#chatpanel .subpanel li a img {
  float: left;
  margin: 0 5px;
}
#chatpanel .subpanel li a{
  padding: 3px 0;	margin: 0;
  line-height: 22px;
  height: 22px;
  background: #fff;
  display: block;
}
#chatpanel .subpanel li a:hover {
  background: #3b5998;
  color: #fff;
  text-decoration: none;
}
/*-------*/

#chatpanel-1 .subpanel li { background: url(/images/icons/dash.jpg) repeat-x left center; }
#chatpanel-1 .subpanel li span {
  padding: 5px;
  background: #fff;
  color: #777;
  float: left;
}
#chatpanel-1 .subpanel li a img {
  float: left;
  margin: 0 5px;
}
#chatpanel-1 .subpanel li a{
  padding: 3px 0;	margin: 0;
  line-height: 22px;
  height: 22px;
  background: #fff;
  display: block;
}
#chatpanel-1 .subpanel li a:hover {
  background: #3b5998;
  color: #fff;
  text-decoration: none;
}


#alertpanel .subpanel { right: 0; left: auto; /*--Reset left positioning and make it right positioned--*/ }
#alertpanel .subpanel li {
  border-top: 1px solid #f0f0f0;
  display: block;
}
#alertpanel .subpanel li p {padding: 5px 10px;}
#alertpanel .subpanel li a.delete{
  background: url(/images/icons/delete_x.gif) no-repeat;
  float: right;
  width: 13px; height: 14px;
  margin: 5px;
  text-indent: -9999px;
  visibility: hidden; /*--Hides by default but still takes up space (not completely gone like display:none;)--*/
}
#alertpanel .subpanel li a.delete:hover { background-position: left bottom; }
#footpanel #alertpanel li.view {
  text-align: right;
  padding: 5px 10px 5px 0;
}