ol,ul {
    list-style:none;
}
a {
    text-decoration: none;
}
a:focus {
    outline: 0;
}
#header {
    background: url(/images/footer_menu/backhead.png) no-repeat left top;
    min-width: 800px;
    height: 125px;
    padding-top: 25px;
    text-align: center;
}
#header h1 a {
    font-size: 44px;
    color: #eee;
    text-shadow: 2px 2px 2px #000;
}
#header h1 a:hover{
    color: #ccc;
}
#downhead {
    min-width: 800px;
    margin-top: 30px;
    text-align: center;
}
#downhead h2 {
    font-size: 30px;
    color: #555;
    text-shadow: 2px 2px 2px #999;
}
#downhead p {
    font-size: 20px;
    color: #777;
    padding: 0 50px 30px 50px;
}
#downhead img {
    border: 5px solid #ccc;
}

/*-- Bottom Toolbar --*/

div#toolbar, div#toolbarbut {
    position: fixed; /* set fixed position for the bar */
    bottom: 0px;
    right: 0px;
    z-index: 99; /* keep the bar on top  */
    height: 36px;
    background: url(/images/footer_menu/bcktool.png);
    /* CSS3 */
    -moz-border-radius-topleft: 8px;
    -khtml-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -khtml-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-box-shadow: 0px 1px 10px #666, inset 1px 1px 0px #a4a4a4; /* inset creates a inner-shadow */
    -khtml-box-shadow: 0px 1px 10px #666;
    -webkit-box-shadow: 0px 1px 10px #666;
    /* CSS3 end */
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
div#toolbar {
    width: 85%;
    min-width: 700px; /* to limit the width when an excessive window resize */
    margin: 0px auto; /* centered toolbar */
    left: 0px;

}
div#toolbarbut { /* div for the 'hide status' */
    width: 60px;
    height: 15px;
    margin-right: 3%;
    display: none;
}
span.showbar a { /* show button */
    padding: 5px;
    font-size: 10px;
    color: #989898;
}
.leftside {
    float: left;
    margin-left:-30px;
    margin-top:-11px;
}
.rightside {
    float: right;
    margin-top:8px;
}

/*-- Left Side --*/

ul#social li {
    display: inline;
}
a.rss {
    display: inline-block;
    width: 104px;
    height: 30px;
    margin-left: 5px;
    background: url(/images/footer_menu/rss.png) no-repeat;
}
a.chatt, a.share_story, a.musics, a.photos, a.videos, a.inbox, a.friends, a.profile, a.setting, a.phone_app,
a.play_games, a.shopping, a.assignments, a.lecture_notes, a.projects, a.past_tests, a.past_exams, a.events, a.qas, a.tutors, a.books,
a.jobs, a.foods, a.party, a.myx, a.student_awareness, a.housing, a.teamUp, a.share {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin-top: 3px;
    border-right:1px solid #EBEBEB;
    margin-left:5px;
}

a.rss:hover, a.chatt:hover, a.share_story:hover, a.musics:hover, a.photos:hover, a.videos:hover, a.inbox:hover,
a.friends:hover, a.profile:hover, a.setting:hover, a.phone_app:hover, a.play_games:hover, a.shopping:hover,
a.assignments:hover, a.lecture_notes:hover, a.projects:hover, a.past_tests:hover, a.past_exams:hover, a.events:hover, a.qas:hover, a.tutors:hover,
a.books:hover, a.jobs:hover, a.foods:hover, a.party:hover, a.myx:hover, a.student_awareness:hover,
a.housing:hover, a.teamUp:hover, a.share:hover {
    background-position: 1px 1px; /* simple css hover effect */
}
a.chatt {
    background: url(/images/footer_menu/chatt-1.png) no-repeat;
}
a.share_story {
    background: url(/images/footer_menu/projects-1.png) no-repeat;
}
a.photos {
    background: url(/images/footer_menu/photos-1.png) no-repeat;
}
a.musics {
    background: url(/images/footer_menu/musics-1.png) no-repeat;
}
a.videos {
    background: url(/images/footer_menu/videos-1.png) no-repeat;
}
a.inbox {
    background: url(/images/footer_menu/inbox-1.png) no-repeat;
}
a.friends {
    background: url(/images/footer_menu/friends-1.png) no-repeat;
}
a.profile {
    background: url(/images/footer_menu/profile-1.png) no-repeat;
}
a.setting {
    background: url(/images/footer_menu/setting-1.png) no-repeat;
}
a.phone_app {
    background: url(/images/footer_menu/phone_app-1.png) no-repeat;
}
a.play_games {
    background: url(/images/footer_menu/play_games-1.png) no-repeat;
}
a.shopping {
    background: url(/images/footer_menu/shopping-1.png) no-repeat;
}
a.assignments {
    background: url(/images/footer_menu/assignments-1.png) no-repeat;
}
a.lecture_notes {
    background: url(/images/footer_menu/lecture_note04.png) no-repeat;
    height: 28px;
}
a.projects {
    background: url(/images/footer_menu/projects-1.png) no-repeat;
    border-bottom: none;
}
a.past_tests {
    background: url(/images/footer_menu/past_tests-1.png) no-repeat;
}
a.past_exams {
    background: url(/images/footer_menu/past_exams-1.png) no-repeat;
}
a.events {
    background: url("/images/footer_menu/event-1.png") no-repeat;
    border-bottom: none;
    height: 28px;
}
a.qas {
    background: url(/images/footer_menu/qas-1.png) no-repeat;
}
a.tutors {
    background: url(/images/footer_menu/tutors-1.png) no-repeat;
}
a.books {
    background: url(/images/footer_menu/books-1.png) no-repeat;
}
a.jobs {
    background: url(/images/footer_menu/jobs-1.png) no-repeat;
}
a.foods {
    background: url(/images/footer_menu/foods-1.png) no-repeat;
}
a.party {
    background: url(/images/footer_menu/party-1.png) no-repeat;
}
a.myx {
    background: url(/images/footer_menu/myx-1.png) no-repeat;
}
a.student_awareness {
    background: url(/images/footer_menu/student_awareness-1.png) no-repeat;
}
a.housing {
    background: url(/images/footer_menu/housing-1.png) no-repeat;
}
a.teamUp {
    background: url(/images/footer_menu/teamUp-1.png) no-repeat;
}
a.share {
    background: url(/images/footer_menu/share_story-1.png) no-repeat;
}
.tip {
    position: absolute; /* important */
    top: -65px;
    width: 250px;
    height: 78px;
    background: url(/images/footer_menu/tip.png) no-repeat;
    float: left;
    display: none;
}

/* custom distances for the icons */

#tipassignments {
    left: -20px;
}
#tipchatt {
    left: -20px;
}
#tipshare_story {
    left: 30px;
}
#tipprojects {
    left: 30px;
}
#tipphotos {
    left: 77px;
}
#tippast_tests {
    left: 80px;
}
#tipmusics {
    left: 129px;
}
#tippast_exams {
    left: 126px;
}
#tiplecture_notes {
    left: 176px;
}
#tipvideos {
    left: 175px;
}
#tipevents {
    left: 224px;
}
#tipqas {
    left: 273px;
}
#tipinbox {
    left: 225px;
}
#tiptutors {
    left: 324px;
}
#tipfriends {
    left: 274px;
}
#tipbooks {
    left: 372px;
}
#tipprofile {
    left: 322px;
}
#tipjobs {
    left: 422px;
}
#tipsetting {
    left: 372px;
}
#tipfoods {
    left: 470px;
}
#tipphone_app {
    left: 421px;
}
#tipparty {
    left: 518px;
}
#tipplay_games {
    left: 470px;
}
#tipmyx {
    left: 569px;
}
#tipshopping {
    /*--left: 517px; --*/
    left: 470px;
}
#tipstudent_awareness {
    left: 617px;
}
#tiphousing {
    left: 665px;
}
#tipteamUp {
    left: 715px;
}
#tipshare {
    /*-- left: 570px; --*/
    left: 422px;
}
.tip ul {
    padding: 22px 0 0 25px;
}
.tip ul li {
    display: inline;
    padding-left: 3px;
}
.tip ul li a {
    font-size: 15px;
    color: #989898;
}
.tip ul li a:hover {
    color: #666;
}
.tip ul li small {
    font-size: 10px;
}

/*-- Right Side --*/

span.downarr { /* hide button */
    float: right;
    /* border-left: 1px solid #a4a4a4;*/
}
span.downarr a {
    display: block;
    width: 36px;
    height: 22px;
    padding: 10px 0 0 15px;
    background: url(/images/footer_menu/downarrow.png) no-repeat 6px 4px;
    margin:-5px;
}
.menu_title {
    background: #e4e4e4;
    border-right: 1px solid #a4a4a4;
    padding:10px;
}
.leftside .menu_title a {
    font-size: 12px;
    color: #9a9a9a;
    font-weight:bold;
}
.quickmenu {
    position: absolute; /* important */
    top: -181px;
    height: 180px;
    background: #e4e4e4;
    border-top: 1px solid #a4a4a4;
    border-left: 1px solid #a4a4a4;
    border-right: 1px solid #a4a4a4;
    border-bottom: 1px solid #e4e4e4;
    /* CSS3 */
    -moz-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
    -khtml-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
    -webkit-box-shadow: 2px -3px 5px #c5c5c5, -3px 0px 5px #cdcdcd;
    /* CSS3 end */
    display: none; /* important */
}
.quickmenu ul {
    padding-top: 0;
}
.quickmenu ul li {
    /* border-bottom: 1px solid #989898;*/
    padding: 5px 10px;
    margin: 0 10px 0 10px;
}
.quickmenu ul li a {
    border-bottom:1px solid #989898;
    color:#989898;
    display:block;
    font-size:15px;
    margin-left:-35px;
}
.quickmenu ul li a:hover {
    color: #666;
}
.left {
    float:left;
    margin:11px;
}
.AsDTopA{
    border-bottom:1px solid #E4E4E4;
    clear:both;
    overflow:hidden;
    padding:9px 0;
}
/*------ search for people--*/
.feedback-panel {
    width: 330px;
    position:fixed;
    top:32%;
    right:-30px;
    z-index: 9;
}

a.feedback-tab {
    background:transparent url('/images/search_for_friends1.png') no-repeat scroll 0 0;
    display:block;
    height:192px;
    left:-28px;
    position:absolute;
    float:left;
    text-indent:-9999px;
    width:29px;
    outline:none;
    margin-top: -20px;
    cursor: pointer;
    margin-top: 5px;
		z-index: 999;
}
.feed_close{
    margin-right: -11px;
    margin-top: -8px;
    float: right;
    cursor: pointer;
}
.suggesRow{
    overflow: hidden;
    padding: 5px 0;
}
.suggesItem{
    float: left;
}
.AsDContImg{
    float: left;
    width: 56px;
}
.suggesName{
    color: #0A81C4;
    font-weight: bold;
    padding-right: 5px;
    padding-top: 10px;
}
.sugges{
    background: url("/images/iconsugges.png") no-repeat scroll left 2px transparent;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 26px;
}
.suggesAdd a{
    background: url("/images/suggesAdd.png") no-repeat scroll left 3px transparent;
    padding-left: 10px;
    color: #6F6F63;
    font-size: 10px;
    text-decoration: none;
}
.searchFri{
    background: url("/images/AsD-bgS.png") no-repeat scroll left top transparent;
    padding-right: 0px;
}
#feedback_close_fr{
    background-image: url("/images/feedback/pop500CH.gif");
    height: 15px;
    position: absolute;
    right: 0;
    top: -12.5pt;
    width: 15px;
    z-index: 9999;
    cursor: pointer;
    margin-right: 30px;
}
#feedback_close_fr:hover{
    background-image: url("/images/feedback/pop500C.gif");

}
/*------------------- friend search -------------*/
.view_userLogin{
    float: left;
    margin-right: 2px;
}
.selectView{
    background: url("/images/signinR.png") no-repeat scroll right top transparent;
    height: 23px;
}
.selectView span span{
    background: url("/images/signinL.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
}
.view_user{
    background: #FFFFFF;
    border: 1px solid;
    color: #969696;
    display:none;
    float: right;
    font-size: 11px;
    margin-top: 2px;
    position: absolute;
    z-index: 1000;
}
.asslinkdownSt_UserR{
    background: #F6F6F6;
    border: 1px solid;
    color: #969696;
    display:none;
    float: right;
    font-size: 11px;
    margin-left: -188px;
    margin-top: 24px;
    position: absolute;
    z-index: 1000;
}
.asslinkdownSt_UserL{
    background: #F6F6F6;
    border: 1px solid;
    color: #969696;
    display:none;
    float: right;
    font-size: 11px;
    margin-left: -33px;
    position: absolute;
    z-index: 1000;
    margin-top: 24px;
}
.flistRclose a{
    background: url("/images/flistDelete.png") no-repeat scroll center center transparent;
    display: block;
    height: 8px;
    text-decoration: none;
    width: 8px;
    margin-left: 268px;
    margin-top: 2px;
    position: absolute;
    cursor: pointer;
}
.flistRclose a:hover{
    background: url("/images/flistDeleteH.png") no-repeat scroll center center transparent;
}
.flistItem{
    padding:10px 0px;
    margin:0px 10px;
    overflow:hidden;
    border-bottom:1px #e4e4e4 solid;
    _height:100%;
}
.flistInf{
    width:245px;
    float:left;
    padding-top:5px;
}
.flistN a, .flistN a:link, .flistN a:visited{
    font-weight:bold;
    text-decoration:none;
    color:#0a81c4;
}
.flistS{
    color:#0a81c4;
}
.flistN a:hover{
    color:#d00;
    text-decoration:none;
}
.flistN em{
    color:#F6A828;
}
.flistS span{
    color:#6f6f63;
    padding-right:4px;
}
.ass_down{
    background: #F6F6F6;
    border: 1px solid;
    color: #969696;
    display:none;
    float: right;
    font-size: 11px;
    margin-left: -90px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
}
.ass_down a{
    color: #969696;
    text-decoration: none;
    line-height: 17px;
}
.ass_down a:hover{
    color: #DD0000;
}
.friConnect11 a{
    color: #6F6F63;
    text-decoration: none;
}
.friConnect11 a:hover{
    color: #DD0000;
    text-decoration: none;
}

/*-------*/
.truncate_more_link{
    float: right;
    color: #969696;
}
.truncate_more_link:hover{
    color: #DD0000;
}
.asslinkdownSt_User{
    background: none repeat scroll 0 0 white;
    border: 1px solid;
    color: #969696;
    display: none;
    float: right;
    font-size: 11px;
    margin-left: -122px;
    margin-top: 0px;
    padding: 10px;
    position: absolute;
    width: 100px;
    z-index: 1000;
  }
