/*Form*/
.user-form{
	float:left;
	clear:both;
	width:100%;
	margin:5px 0px;
	padding-top:20px;
}
.user-form .block {
	min-height: 35px;
	padding:5px 0;
	display:block;
}
.user-form .block:hover{
background-color: #f8f8f8;
}
.user-form .block label{
	color:#767676;
	float:left;
	min-width:150px;
	padding:5px 5px 0px 5px;
}
.user-form .block .error{
	float:right;
	padding-right:10px;
	color:#d38776;
	background:#FFF url('/images/error-arrow.png') no-repeat top left;
	padding-left:20px;
	font-size:13px;
}
.user-form .block input[type="text"]{
	border:none;
	background:transparent url('/images/text-input-bg.png') no-repeat top left;
	line-height: 25px;
	padding:5px;
	height:30px;
	width:240px;
	color:#afafaf;
}
.status-box input[type="text"]{
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	width:340px;
	line-height: 25px;
	padding:2px;
	width:400px;
	color:#afafaf;
	float:left;
	margin-right:5px;
}
.logmeinbt {
	margin-top:5px;
	border:none;
	width: 99px;
	height: 0;
	font-size: 1em;
	padding-top: 34px;
	text-indent: -2000px;
	overflow: hidden;
	background: url('/images/logmein-bt.png') no-repeat;
}
.logmeinbt:hover{
	background-position:0 -34px;
}
.logmeinbt:focus{
	background-position:0 -68px;
}
.createnow-bt {
	margin-top:5px;
	border:none;
	width: 99px;
	height: 0;
	font-size: 1em;
	padding-top: 34px;
	text-indent: -2000px;
	overflow: hidden;
	background: url('/images/create-now-bt.png') no-repeat;
}
.createnow-bt:hover{
	background-position:0 -34px;
}
.createnow-bt:focus{
	background-position:0 -68px;
}
.update-bt {
	width: 99px;
	height: 0;
	font-size: 1em;
	padding-top: 34px;
	text-indent: -2000px;
	overflow: hidden;
	background: url('/images/update-bt.png') no-repeat;
	border:none;
}
.update-bt:hover{
	background-position:0 -34px;
}
.update-bt:focus{
	background-position:0 -68px;
}
.view-all-updates-bt{
	margin-top:10px;
	float:left;
	width: 195px;
	height: 25px;
	background: url('/images/view-all-update-bt.png') no-repeat;
}

.view-all-updates-bt a{
	display: block;
	width: 195px;
	height: 0;
	font-size: 1em;
	padding-top: 25px;
	text-indent: -2000px;
	overflow: hidden;
	background: url('/images/view-all-update-bt.png') no-repeat;
	border:none;
}

.view-all-updates-bt a:hover{
	background-position:0 -25px;
}
.view-all-updates-bt a:focus{
	background-position:0 -50px;
}
.delete-bt {
	width: 60px;
	height: 0;
	font-size: 1em;
	padding-top: 25px;
	text-indent: -2000px;
	overflow: hidden;
	background: url('/images/delete-bt.png') no-repeat;
}
.delete-bt:hover{
	background-position:0 -26px;
}
.delete-bt:focus{
	background-position:0 -51px;
}

.reply-bt {
	width: 60px;
	height: 0;
	font-size: 1em;
	padding-top: 25px;
	text-indent: -2000px;
	overflow: hidden;
	background: url('/images/reply-bt.png') no-repeat;
}
.reply-bt:hover{
	background-position:0 -26px;
}
.reply-bt:focus{
	background-position:0 -51px;
}

.reqMark {
  color:red;
  margin:0 3px;
}