#yourfav{
	float:left;
	background:#F5FFFF;
	border:1px solid #CCCECE;s
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	margin-bottom:10px;
	font: 80% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding-bottom:5px;	
	color:#221E1F;
}
#yourfav h3{
	padding:9px;
	border-bottom:1px solid #15696B;
	margin-bottom:5px;
	font-weight: bold;
}
#yourfav ul{
	width:150px;
	
}
#yourfav ul li{
	padding-left:5px;
	border-bottom:1px dotted #adadad;	
}
#yourfav ul li:hover{
	background:#C4DCFF;
}


#yourfav ul li a{
	color:#003366;
	text-decoration: none;
}
#yourfav ul li a:hover{
	color:#15696B;
}
#main-listing{
	float:left;
	width:570px;
	border:1px solid #CAC9CF;
	margin-left:5px;
	min-height:300px;
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#main-listing #top-sub-nav{
	float:left;
	height:25px;
	width:560px;
	padding:5px;
	margin-bottom:10px;
		background:#C7CDCE;
}

/*dropdown menu*/
ul#droplistsubnav{
	padding-left:5px;

}
ul#droplistsubnav li{
	float:left;
	width:150px;
}
#expand_faculty,#expand_years, #expand_dayfilter{
	display: block;
	border:1px solid #434B58;
	font: 90% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #252525;
	background: #FFF url('../images/dropdown-arrow.png') no-repeat center right;
	width:140px;
	padding:3px;
	text-decoration: none;
}
/*sub main listing*/

#main-listing .expandable-box .exp-box-wrap{
	min-height:100px;
	width:570px;
	float:left;
	font: 95% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;	
	border-bottom:1px solid #8B93A0;
	color:#36393F;
	background:#FFF	;
}
#main-listing .expandable-box .exp-box-wrap .exp-box1, #main-listing .expandable-box .exp-box-wrap .exp-box2, #main-listing .expandable-box .exp-box-wrap .exp-box3{
	float:left;
	padding:5px;
}
#main-listing .expandable-box .odd1{
/* 	background:#CDDEFF; */
}

#main-listing .expandable-box .exp-box-wrap .exp-box1, #detail_window .dw_title{
	font-weight: bold;
	width:180px;
	background:#6A98C8;
	color:#FFF;
	border-right:1px solid #FFF;
	font-size: .9em;
}
#main-listing .expandable-box .exp-box-wrap .exp-box2, #detail_window .dw_location{
	color:#66685C;
	width:244px;
/* 	background:#C7CDCE; */
		border-right:1px solid #FFF;
}
#main-listing .expandable-box .exp-box-wrap .exp-box3, #detail_window .dw_datetime{
	padding-top:8px;
	font-size: .8em;
	font-style: italic;
	text-align: right;
	background:#F5FFFF;
	float:right;
}
.info-link-box{float:left;width:560px;padding:5px;height:16px;background:#F2F2F2;;margin-top:40px;}
.details-link{height: 16px;float:left;width:200px;background:transparent url('../images/document_letter.png') no-repeat center left;padding-left:20px}
.download-rel-link{float:right;}
.details-link a,.download-rel-link a{text-decoration: none;	color:#505466}
.download-rel-link a.downarrow{
	background: transparent url('../images/arrow_medium_down.png') no-repeat center left;
	padding-left:16px;
}
.details-link a:hover,.download-rel-link a:hover{border-bottom:1px dashed #0089d7;}
.details-descriptions-box{
	float:left;
	font-size: 13px;
	color:#FFF;
}
.details-descriptions-box ul{
	padding-left:10px;
}	
.details-descriptions-box ul li{
	padding-bottom:10px;
}
.details-descriptions-box ul li a{
	color:#204a87;
	text-decoration: none;
}
.details-descriptions-box ul li label{
	font-weight: bold;
	float:left;
	text-align:left;
	width:100px;
}
.pink_light{
	background:#ff9898;
}
.pink_lighter{
	background: #ffc9c9;
	
}
.submenu{
	overflow:hidden;
	padding-left:15px;
}
/* detail window*/
#detail_window{
	width:580px;
	padding:5px;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	overflow:hidden;
	background:#555753;
	float:left;
	margin-left:5px;
	border:1px solid #8B93A0;
}
#detail_window .dw_title{
	width:280px;
	float:left;
	padding:5px;
	
}
#detail_window .dw_location{
	width:170px;
	float:left;
	padding:5px;		
}
#detail_window .dw_datetime{
	float:right;
		padding:5px;background:none;width:85px;
}
.detail-info{
	
}	
.detail-info ul{
		float:left;
		margin-top:10px;
	}	
	.detail-info ul li{
		padding-bottom:10px;
	}
	.detail-info ul li a{
		color:#204a87;
		text-decoration: none;
	}
	.detail-info ul li label{
		float:left;
		text-align:right;
		width:100px;
		padding-right:10px;
	}
	.download-link{
		float:right;
	}
	.download-link a{
		color:#204a87;
		text-decoration: none;
	}
	.detail-l{
		float:left;width:200px;
		cursor: pointer;
		<!--[if gte IE 7]>cursor:hand;<![endif]-->
	}
/*end detail*/
#dw_title{
	float:left;
	width:200px;
	font-weight:bold;
	}
#comment_wraper {
	float:left;
	}
#comment_wraper #send_comment_wraper form ul{
	float:left;
	}
#comment_wraper #send_comment_wraper form ul li textarea{
		width:500px;
		margin-left:20px;
		margin-top:5px;
		height:170px;
	}
#list_comment_wraper{
	
	float:left;
	margin-left: 20px; margin-top: 50px;
	}	
.comment-item{
	border: 1px solid rgb(153, 153, 153); padding: 10px; overflow: hidden; margin-bottom: 15px;width:510px;
	}
.comment-item img{
	border: 1px solid rgb(170, 170, 170); float: left;margin-right:10px;
	}	
.comment-item a{
	float: left;text-decoration:none;color:#6A98C8;font-weight:bold;clear:left
	}	
.comment-person{
	width: 440px; float: left; margin-bottom: 10px;
	}
.comment-time{
	font-size: 11px; color: rgb(137, 137, 137); float: right;
	}
.comment-content{
	width: 440px; float: left;
	color:#333;
	min-height:50px;
	}	