body{
    font-family:Arial;font-size:11px;background-color:#ebebeb;margin:0px;
}
body input, body textarea, body select{
    font-family:Arial;font-size:11px;color:#646464;
}
.sponsor{
    width:962px;margin:0px auto;padding-bottom:7px;overflow:hidden;
}
.contMain{
    overflow:hidden;
    _height:100%;
    width:962px;
    margin:0px auto;
    padding-bottom:10px;
}
.contMainL{
    width:459px;float:left;
}
.contMainC{
    width:203px;float:left;
}
.contMainR{
    width:300px;float:right;
    overflow:hidden;
}
.contDetL{
    width:662px;float:left;overflow:hidden;padding-bottom:5px;
    background:url('/images/bot654.png') no-repeat left bottom;
    _height:100%;
}
.contDetLin{
    background:white url('/images/top654.png') no-repeat left top;
    width:654px;
    overflow:hidden;
}
.top{
    background-color:white;
}
.banner{
    width:962px;overflow:hidden;margin:0px auto;padding-top:5px;padding-bottom:10px;
    _height:100%;
}
.logo{
    float:left;
}
.logo img{
    border:0px;padding-top:10px;
}
.login{
    float:right;width:500px;
}
.signin a{
    background:url('/images/help.png') no-repeat left 4px;
    cursor:pointer;
}
.signin a.signinFrist{
    background-image:none;
}
.signin, .log{
    float:right;
}
.signin .signinLogin div input{
    cursor: pointer;
}
.signin .signinLogin div input:hover{
    color: #DD0000;
}
.signin .signinSignup div input{
    cursor: pointer;
    margin-left: 5px;
}
.signin .signinSignup div input:hover{
    color: #DD0000;
}
.signin ul,.signin ul li{
    list-style:none;display:inline-block;float:left;padding:0px;margin:0px;
}
.signin a span{
    height:23px;line-height:23px;display:block;float:left;color:#1fa6f3;font-size:12px;padding-left:7px;
}
.signin a{
    text-decoration:none;float:left;padding-right:7px;cursor:pointer;
}
.signin a:hover, .signin ul li.signinSelect a{
    background:url('/images/signinR.png') no-repeat right top;
}
.signin a:hover span, .signin ul li.signinSelect a span{
    background:url('/images/signinL.png') no-repeat left top;
    color:#fff;
}
div.signin ul li.select a:hover{
    color:#1fa6f3;
}
.forget a, .forget a:link, .forget a:visited{
    color:#1fa6f3;
    padding-left:5px;
    text-decoration:underline;
}
.forget a:hover{
    color:#d00;
}
.log{
    padding-top:10px;
}
.log-user, .log-pass{
    width:165px;
    height:24px;
    display:inline-block;
    float:left;
    padding-right:4px;
}
.log-user input, .log-pass input{
    border:1px #dbdbdb solid;
    color:#bababa;
    font-size:10px;
    width:152px;
    padding:2px;
}
.log-btm{
    line-height:25px;
    float:left;
}
.log-btm a{
    width:45px;
    height:20px;
    display:block;
    background:url('/images/btm-signin.png') no-repeat;
}
.log-btm2{
    line-height:25px;
    float:left;
}
.log-btm2 a input{
    background:url("/images/btm-signin.png") no-repeat scroll 0 0 transparent;
    height:20px;
    width: 45px;
    display:block;
    text-align:center;
    cursor: pointer;
    border: none;
}
.log-btm2 a, .log-btm2 a:link, .log-btm2 a:visited{
    color:#6e6e62;
    text-decoration:none;
    text-align:center;
    line-height:20px;
}
.log-btm2 a input:hover{
    color:#d00;
}
.menu{
    height:31px;
    background:url('/images/menu-ver.png') repeat-x;
}
.menusearch{
    width:962px;
    height:31px;
    margin:0px auto;
    overflow:hidden;
    background:url('/images/bgmenu.png') no-repeat;
}
.menuMain{
    float:left;
}
.search{
    float:right;
    padding-right:7px;
}
.search div{
    float:left;
}
.selectS{
    padding-top:7px;
    /*padding-top:6px;*/
    padding-left:3px;
}
.selectS select{
    color:#929383;
    font-size:10px;
    width:95px;
    line-height:16px;
}
.textS{
    padding-top:2px;
    background:url('/images/bor-ad.png') no-repeat right center;
    padding-right:2px;
}
.textS input{
    border:0px;
    color:#929383;
    width:163px;
    height:21px;
    padding-top:6px;
    text-indent:3px;
    background-color:transparent;
}
.btmS{
    padding-left:5px;
    padding-top:9px;
}
.btmS img{
    border:0px;
}
.menuMain ul,.menuMain ul li{
    list-style:none;
    display:inline-block;
    float:left;
    padding:0px;
    margin:0px;
}
.menuMain a span{
    height:31px;
    line-height:31px;
    display:block;
    float:left;
    color:#6f6f63;
    font-size:12px;
    padding-left:7px;
}
.menuMain a{
    text-decoration:none;
    float:left;
    padding-right:7px;
    cursor:pointer;
}
div.menuMain ul li.select, .menuMain a:hover{
    background:url('/images/menuOnR.png') no-repeat right top;
}
div.menuMain ul li.select a, .menuMain a:hover span{
    background:url('/images/menuOnL.png') no-repeat left top;
}
div.menuMain ul li.select a:hover{
    color:#6f6f63;
}
div.menuMain ul li.select a.menuFirst, div.menuMain ul li a.menuFirst:hover span{
    background:url('/images/menuOnLf.png') no-repeat left top;
}
/*** abLinkL ****/
.abLink{
    width:962px;
    margin:0px auto;
    overflow:hidden;
    padding-top:8px;
    padding-bottom:7px;
    _height:100%;
}
.abLinkL{
    line-height:25px;
    float:left;
}
.abLinkL a, .abLinkL a:link, .abLinkL a:visited{
    color:#1988c7;
    text-decoration:underline;
    padding-right:5px;
}
.abLinkL a:hover{
    color:#d00;
}
.abLinkL a.abLink-detail{
    background:url('/images/icon-ablink.png') no-repeat left 5px;
    padding-left:10px;
}
/*** advertisement***/
.advert{
    width:300px;
    margin-bottom:10px;
    overflow:hidden;
}
.creAd{
    float:left;
    font-size:10px;
}
.creAd a, .creAd a:link, .creAd a:visited{
    color:#c8c8c8;
    text-decoration:none;
}
.creAd a:hover{
    color:#d00;
    text-decoration:none;
}
.advertTitle{
    text-align:right;
    font-size:10px;
    color:#c8c8c8;
    padding-right:25px;
}
.Dani{
    font-weight:bold;
    padding:5px 0px;
}
.Dani a, .Dani a:link, .Dani a:visited{
    color:#1e1e1e;
    text-decoration:none;
}
.Dani a:hover{
    color:#d00;text-decoration:none;
}
.advertImg img{
    border:0px;
}
.advertDes{
    font-size:11px;
    padding:5px 0px;
    color:#6f6f63;
}
.advertInfL{
    float:left;
}
.advertInfL a, .advertInfL a:link, .advertInfL a:visited{
    color:#6f6f63;
    font-size:10px;
    text-decoration:none;
}
.advertInfL a:hover{
    color:#d00;
}
.adverta{
    margin-right:8px;
    padding-right:20px;
    background:url('/images/icon-hdup.gif') no-repeat right top;
}
.adverta:hover{
    background:url('/images/icon-hdupH.gif') no-repeat right top;
    cursor:pointer;
}
.advertb{
    padding:0px 10px 0px 25px;
    background:url('/images/icon-hdd.gif') no-repeat 10px top;
    border-left:1px #d4d5d0 solid;
    border-right:1px #d4d5d0 solid;
}
.advertb:hover{
    background:url('/images/icon-hddH.gif') no-repeat 10px top;
    cursor:pointer;
}
.advertc{
    padding-left:10px;
    background:url('/images/commentAd.gif') no-repeat right 2px;
    padding-right:19px;
}
.advertInfR{
    float:right;
    padding-right:10px;
}
.advertInfR a{
    padding:0px 3px;
}
.advertInfR a, .advertInfR a:link, .advertInfR a:visited, .advertInfR a:hover{
    text-decoration:none;
}
.advertInfR .pre a{
    background:url('/images/icon-pre.gif') no-repeat center top;
    margin-right:10px;
}
.advertInfR .next a{
    background:url('/images/icon-next.gif') no-repeat center top;
}
.advertInfR .pre a:hover{
    background:url('/images/icon-preH.gif') no-repeat center top;
    margin-right:10px;
}
.advertInfR .next a:hover{
    background:url('/images/icon-nextH.gif') no-repeat center top;
}
.comPage a{
    padding:0px 4px;
    margin-left:10px;
}
.comPage img{
    border:0px;
}

/*** Menu Assignment ****/
.menuR{
    overflow:hidden;
}
.menuRL{
    float:left;
    padding-right:15px;
}
.menuRItem{
    float:left;
    margin-right:5px;
    height:30px;
}
.menuRItem a{
    height:30px;
    line-height:25px;
    display:block;
    display:inline-block;

}
.menuRItem a .span1{
    height:30px;
    line-height:25px;
    display:block;
    display:inline-block;
    background:url('/images/menuRoffR.png') right top no-repeat;
    padding-right:8px;
}
.menuRItem .span2{
    height:30px;
    line-height:25px;
    display:block;
    display:inline-block;
    background:url('/images/menuRoffL.png') left top no-repeat;
    padding-left:8px;
}
.menuRItem a:hover{
    background:url('/images/menuRonC.png') 50% top no-repeat;
    color:#fff;
    padding:0px;
}
.menuRItem a:hover .span1{
    background:url('/images/menuRonL.png') left top no-repeat;
    color:#fff;
    padding:0px;
}

.menuRItem a:hover .span2{
    background:url('/images/menuRonR.png') right top no-repeat;
    color:#fff;
    padding:0px 8px;
}

.menuRItem a, .menuRItem a:link, .menuRItem a:visited, .menuRItem a:hover{
    color:#969696;
    text-decoration:none;
    cursor:pointer;
}
.menuRselect{
    background:url('/images/menuRonC.png') 50% top no-repeat;
}
.menuRselect a .span1, .menuRselect a:hover .span1{
    background:url('/images/menuRonL.png') left top no-repeat;
    padding:0px;
}
.menuRselect a .span2, .menuRselect a:hover .span2{
    background:url('/images/menuRonR.png') right top no-repeat;
    color:#fff!important;
    padding:0px 7px;
}
.menuRselect a:hover{
    cursor:text;
}
.menuRR{
    line-height:25px;
    overflow:hidden;
    _height:100%;
}
.abLink .menuRR{
    float:right;
}
.RmenuRtext{
    padding-right:5px;
    float:left;
    color:#969696;
}
.RmenuRtext a{
    font-style:italic;
    padding-right:5px;
}
.RmenuRtext a, .RmenuRtext a:link, .RmenuRtext a:visited{
    color:#1ea6f2;
}
.RmenuRtext a:hover{
    color:#d00;
}
.RmenuRbtm1, .RmenuRbtm2{
    float:left;
    padding-left:3px;
}
.RmenuRbtm1 a{
    background:url('/images/btm98.png') right top no-repeat;
    width:98px;
    height:25px;
    display:block;
    text-align:center;
}
.RmenuRbtm1 a:hover{
    background:url('/images/btm98Red.png') right top no-repeat;
    text-decoration:none;
}
.RmenuRbtm2 a{
    background:url('/images/btm38.png') right top no-repeat;
    width:38px;
    height:25px;
    display:block;
    text-align:center;
}
.RmenuRbtm2 a:hover{
    background:url('/images/btm38Red.png') right top no-repeat;
    text-decoration:none;
}
.RmenuRbtm2 div{
    width:40px;
    height:25px;
}
.RmenuRbtm2 div input{
    background:url('/images/btm38.png') no-repeat;
    height:25px;
    display:block;
    text-align:center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
.RmenuRbtm2 div input:hover{
    background:url('/images/btm38Red.png') no-repeat;
    text-decoration:none;
}
.RmenuRbtm1 a:link, .RmenuRbtm1 a:visited, .RmenuRbtm2 a:link, .RmenuRbtm2 a:visited, .RmenuRbtm1 a:hover, .RmenuRbtm2 a:hover, .RmenuRbtm2 div input:link, .RmenuRbtm2 div input:visited, .RmenuRbtm2 div input:hover{
    color:#fff;
    text-decoration:none;
}
/*** Footer ****/
.footer{
    border-top:1px #dbdbdb solid;
    padding-top:14px;
    background-color:white;
    overflow:hidden;
}
.footer1{
    margin:0px auto;
    width:962px;
    padding-bottom:20px;
    overflow:hidden;
}
.footer table{
    margin-left:20px;
    margin-top:10px;
}
h2.footTitle{
    font-weight:bold;
    margin:0px;
    padding:0px 0px 8px 0px;
    font-size:12px;
}
.footItem{
    font-size:11px;
}
.footItem a, .footItem a:link{
    color:#2eacf4;
    text-decoration:none;
}
.footItem a:visited{
    color:#77cbfc;
}
.footItem a:hover{
    color:#d00;
    text-decoration:none;
}
.footer table{
    width:auto;
    float:left;
    margin-right:30px;
}
.footer table td{
    vertical-align:top;
    padding:0px 30px 20px 10px;
    background:url('/images/footBar.png') no-repeat left 25px;
}
.footer table td.account{
    background-image:none;
}
.footlogo{

}
.flogoinf{
    color:#b4b4b4;
    font-size:10px;
    padding-top:10px;
}
/*** column 300 public ***/
.col300{
    background:white url('/images/top300.png') no-repeat;
    width:300px;
    margin-bottom:8px;
}
.col300in{
    background:url('/images/bot300.png') no-repeat left bottom;
    overflow:hidden;
    padding:8px 10px;
    _height:100%;
}
h1.col300Title, h1.col195Title, h1.titleH1{
    margin:0px 0px 5px 0px;
    padding:0px 0px 5px 0px;
    font-size:12px;
    color:#0a81c4;
    font-weight:bold;
    border-bottom:1px #dbdbdb solid;
}
h1.titleH1 a, h1.titleH1 a:link, h1.titleH1 a:visited{
    color:#0a81c4;
    text-decoration:none;
}
h1.titleH1 a:hover{
    color:#d00;
}
h2.titleH2{
    margin:0px 0px 3px 0px;
    font-size:12px;
    font-weight:bold;
}
h2.titleH2 a, h2.titleH2 a:link, h2.titleH2 a:visited{
    color:#000;
    text-decoration:none;
}
h2.titleH2 a:hover{
    color:#d00;
}
/*** column 195 public ***/
.col195{
    background:white url('/images/top195.png') no-repeat;
    width:195px;
    margin-bottom:8px;
}
.col195in{
    background:url('/images/bot195.png') no-repeat left bottom;
    overflow:hidden;
    padding:10px;
    _height:100%;
}
/*** column 451 public ***/
.col451{
    background:white url('/images/top451.png') no-repeat;
    width:451px;
    margin-bottom:8px;
}
.col451in{
    background:url('/images/bot451.png') no-repeat left bottom;
    overflow:hidden;
    padding:10px;
    _height:100%;
    /* margin-top:50px;*/
}
/*** column 654 public ***/
.col654{
    background:white url('/images/top654.png') no-repeat;
    width:654px;
    margin-bottom:8px;
}
.col654in{
    background:url('/images/bot654.png') no-repeat left bottom;
    overflow:hidden;
    padding:10px;
    _height:100%;
    /* margin-top:50px;*/
}
.mainSignUpS{
   
}
.sponsorS{
    float: left;
    width: 850px;
}
.sponsorS div{
    margin-top: 3px;
}
.txtsignup1{
    color: #6F6F63;
    font-weight: bold;
    padding-bottom: 2px;
}
/**** Home postManagement  *****/
.postMTop{
    width:962px;
    margin:0px auto;
    padding:10px 0px;
    overflow:hidden;
}
.postMTLeft{
    float:left;
    padding-top:4px;
    font-weight:bold;
}
.postMTRight{
    float:right;
}
.btm-Credit{
    float:left;
    padding-right:5px;
}
.btm-Credit a{
    background-image:url('images/btmCredit.jpg');
    width:148px;
    height:25px;
    display:block;
    line-height:25px;
    color:#969696;
    text-decoration:none;
}
.btm-Credit a:hover{
    background-image:url('images/btmCreditH.jpg');
}
.btm-Credit a span{
    padding-left:28px;
}
.btm-Pricing a{
    background-image:url('images/btmPricing.jpg');
    width:50px;
    height:25px;
    line-height:25px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    display:block;
}
.btm-Pricing a:hover{
    background-image:url('images/btmPricingH.jpg');
}
.shopPost{
    clear:both;
    width:962px;
    margin:0px auto 20px auto;
    background:url('images/bg963R.jpg') repeat-y;
}
.shopP1{
    background:url('images/bg963B.jpg') no-repeat left bottom;
    overflow:hidden;
}
.shopP2{
    background:url('images/bg963T.jpg') no-repeat left top;
    padding:7px;
}
.shopPost .assPage{
    border:0px;
}
.shopPost .numPage{
    width:auto;
    padding-right:20px;
}
.tablePost table{
    border-collapse:collapse;
}
.tablePost table td{
    border:1px #cbcbc4 solid;
    padding:5px 7px;
    vertical-align:top;
    color:#68685e;
    font-size:11px;
}
.tablePost table .postHead th{
    border:1px #474640 solid;
    color:#fff;
    font-size:11px;
    text-align:left;
    vertical-align:top;
    padding:8px 0px;
    background:#65645a url('images/bgHead.png') repeat-x;
}
.tablePost table .postHead th div{
    padding:0px 7px;
}
.post1{
    width:75px;
}
.post2{
    width:80px;
}
.post3{
    width:116px;
}
.post4{
    width:147px;
}
.post5{
    width:48px;
}
.post6{
    width:126px;
}
.post7{
    width:80px;
}
.post8{
    width:70px;
}
.post9{
    width:124px;
}
.post10{
    width:80px;
}
.post3 select{
    width:100px;
}
.postCate a{
    text-decoration:none;
    color:#1fa6f3;
}
.postCate a:hover{
    color:#d00;
}
.postTitle{
    color:#2c2c27;
}
.postTitle a{
    color:#7c7c73;
}
.postTitle div{
    padding-top:5px;
}
.postTitle a:hover{
    color:#d00 ;
}
.postPro div, .addCre{
    padding-top:5px;
}
.postPro a, .addCre a{
    color:#2c2c27;
    text-decoration:none;
}
.addCre a{
    background:url('/images/icon-add.gif') no-repeat left 3px;
    padding-left:12px;
}
.postPro a:hover, .addCre a:hover{
    color:#d00;
}
.date a, .location a{
    text-decoration:none;
    color:#fff;
    background:url('/images/icon-Date.gif') no-repeat right 2px;
    padding-right:15px;
}
.date a:hover, .location a:hover{
    color:#1fa6f3;
    background:url('/images/icon-DateH.gif') no-repeat right 2px;
}
.expired{
    color:#b62626;
}
.renew a{
    color:#68685e;
    text-decoration:none;
}
.renew a:hover{
    color:#d00;
}
.tablePost table td.postPromoted{
    color:#5a923c;
    font-weight:bold;
}
.postTR td{
    background-color:#f2f2f2;
}
/**** END Home postManagement  *****/