.assPage
{
    float:left;
    padding:10px 0px 10px 10px;
    color:#6f6f63;
    font-size:11px;
		width:100%;
 }
.assPage span.disabled
{
    margin-right: 4px;
}
.assPage em
{
    margin-right: 4px;
    margin-left: 2px;
    color:#fff!important;
    cursor:pointer;
    -moz-border-radius: 2px;
    background: none repeat scroll 0 0 #2E6AB1;
    padding: 1px 4px;
}
.assPage span.current
{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width:14px;
    height:14px;
    background: #2E6AB1;
    color:#fff!important;
    cursor:default;
    padding:0 4px;
}
.assPage a
{
    color:#6f6f63;
    padding:1px 4px;
    text-decoration: none;
}
.assPage a:hover
{
    height:14px;
    /*background:url('/images/bgdivpageLR.png') no-repeat left top;*/
    color:#fff!important;
    cursor:pointer;
    -moz-border-radius: 2px;
    background: none repeat scroll 0 0 #2E6AB1;
}
.assPage a:hover page
{
    height:14px;
    background:url('/images/bgdivpageR.png') no-repeat right top;
    color:#fff!important;
    cursor:pointer;
}
.assPage a.current:hover
{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width:14px;
    height:14px;
    background: #2E6AB1;
    color:#fff!important;
    text-decoration: none;
}
.numPage
{
    margin-top:20px;
    /*padding-right:20px;*/
}
.next_page
{
    /*margin-left:8px;*/
}
.click_here
{
    margin-left:10px;
}
