#post_guide_r{
	float:right;
	width:250px;
	font: 0.9em/1.5em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
	border:1px solid #111A31;
	background:#EFF3E8;
}
#post_guide_r h3{
	font-size: 1.4em;
	color:#333;
	padding:6px;
	background:#A0D3D9;
	color:#111A31;
}
#post_guide_r p{
	padding:5px;
	font-size: .9em;
	line-height: 1.35em;
}
#posting-section {
float: left;
width: 710px;
font: 0.9em/1em "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
border:1px solid #CCCECE;
background:#FFFDF4;
border-bottom:0;
}
#posting-section label{
	float:left;
	width:180px;
	text-align:right;
	padding:2px;
	padding-top:0px;
	padding-right:10px;
	color:#4E4B37;
}	
#posting-section .user_ri{
	float:right;
	width:500px;
	text-align:left;
}
#posting-section .user_ri a{
	text-decoration: none;
}
#posting-section .user_ri input[type="text"], #posting-section .user_ri textarea, input[type="file"]{
	font: 100% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:#333;
	margin-bottom:10px;
	padding:5px;
	border: 1px solid #0A6592;
}
.radio{
	margin-left:30px;
	margin-bottom:10px;
}
#posting-section .user_ri input[type="text"]:hover, #posting-section .user_ri textarea:hover,input[type="file"]{
	border:1px solid #658FA0;
	margin-top:0px;
	background:#e8f0ff;
}
#posting-section .user_ri input[type="text"]{
	width:250px;
	height:15px;
}
#posting-section .user_ri input[type="file"]{
	width:250px;
}
#posting-section .user_ri .tb_arrow{
	background:#FFF url('../images/dropdown-arrow.png') no-repeat center right;
	
}
#posting-section select{
	height:27px;
	border:1px solid #999;
	padding:4px;
	margin:7px 2px;
	font-size: 1em;
}
#posting-section select option{
	padding-left:10px;
}
#posting-section ul li{
margin-top:1px;
padding:5px 0px;
	float:left;
	width:710px;
		border-bottom: 1px solid #D1CFC8;
		background:#FFFDF4;
}
#posting-section ul li:hover{
	background:#FEFEFE url('../images/gradient.png') repeat-x top left;
}

.post_header{
	padding:10px;
	font-size:20px; 
	text-align:left;
/* 	background:#FEFEF1; */
background:#A0D3D9;
	color:#333;
	margin-bottom:15px;
	color:#111A31;
}

#expand_post_category, #expand_school,#expand_department{
	display: block;
	border:1px solid #D1D0D0;
	font: 110% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #252525;
	background: #FFF url('../images/dropdown-arrow.png') no-repeat center right;
	width:160px;
	padding:5px;
	margin-bottom:10px;
}
ul#select_post_category, ul#select_school, #select_department{
	border:1px solid #999;
	overflow:hidden;
	width:400px;
	padding:5px;
	display:block;
}
ul#select_post_category li, ul#select_school li, ul#select_department li{
	float:left;
	padding:2px;
	width:150px;
	height:20px;
}	
ul#select_post_category li a, ul#select_school li a, ul#select_department li a {
	text-decoration: none;
	color:#444;	
	display:block;
	background:#FFF;
	border:none;
}
ul#select_post_category li a:hover, ul#select_school li a:hover, ul#select_department li a:hover{
	font-weight: bold;
}
.menu_select{width:400px;}
.menu_select ul li{
       float:left;
       margin-bottom:5px;
       padding-right:5px;
       width:180px;
}
.menu_select_long{
    width:670px;
    overflow-y:auto;
    height:300px;
}
.menu_select_long fieldset{
    border:1px solid #999;
    margin-bottom:10px;
}
.menu_select_long fieldset legend{
    font-weight:bold;
    padding-left:10px;
}
.menu_select_long ul{
    float:left;
    clear:both;
    width:650px;
    margin-bottom:10px;
}
.menu_select_long ul li{
    float:left;
    width:320px;
    margin-bottom:5px;
    padding-right:5px;
}
.sharing_options{
	font-size: 0.9em;
	padding:20px;
	text-align: center;
}
.sharing_options a{
	text-decoration: none;
	color:#CC342F;
	font-weight: bold;
}
.sharing_options a:hover{
	color:#A13A31;
}
.post_cbt{
	text-align: center;
	margin:0 auto;
	width:300px;
}
span.instr{
	display:block;
	color:#325E72;
	font-size: .9em;
	padding:2px 0px;
}
span.header-instr{
	display:block;
	font-size: .7em;
	padding:3px 0px;
	border-top:1px dashed #BDF2DF;
	margin-top:10px;
	color:#386273;
}
.cal-input label{
    width:100px;
    float:left;
    text-align:right;
    padding-right:10px;
}
.cal-input input{
    width:250px;
	height:20px;
    margin-left:20px;
}
.cal-input input:hover{
    border:1px solid #658FA0;
	background:#e8f0ff;
}