.error{
    color: red;
    font-weight: bold;
}

label.error{
    color: red;
    font-weight: bold;
	 -moz-border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 6px #000000;
	position: absolute;
    background: none repeat scroll 0 0 #EE0101;
    border: 2px solid #DDDDDD;
    color: #FFFFFF;
    font-family: tahoma;
    font-size: 11px;
    padding: 4px 10px;
    width: 140px;
    z-index: 5001;
}