p#vtip { display: none; position: absolute; padding: 10px; margin-top:20px; left: 5px; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }
p#vvtip { 
    max-width:500px; 
    display: none; 
    position: absolute; 
    padding: 5px; 
    left: 5px; font-size: 12px; 
    background-color: white; 
    border: 1px solid #a6c9e2; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    z-index: 999; 
    min-width:35px; 
}
p#vvtip #vvtipArrow { 
    position: absolute; 
    top: -10px; 
    left: 20px
}