<div class="col300 Recent">
  <div class="col300in">
    <h1 class="col300Title">Recent requested Assignments</h1>
    <div class="col300Cont">
      <div class="recentItem">
        <div class="recentImg"><div><a href="#"><img src="pictures/pic1.png" /></a></div></div>
        <div class="recentInf">
          <div class="recentName"><a href="#">Vu Nguyen</a></div>
          <div class="recentUni"><span>at</span><a href="#">University of California</a></div>
          <div class="recentDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </div>
      </div>
      <div class="recentItem">
        <div class="recentImg"><div><a href="#"><img src="pictures/noimg.png" /></a></div></div>
        <div class="recentInf">
          <div class="recentName"><a href="#">Dang Nguyen</a></div>
          <div class="recentUni"><span>at</span><a href="#">University of San Francisco</a></div>
          <div class="recentDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin turpis velit, bibendum at varius non...</div>
        </div>
      </div>
      <div class="recentBottom">&nbsp;</div>
    </div>
  </div>
</div>