#search-form{
	margin-top:7px;
}
#droplistsearch{
	float:left;
	margin-left:20px;
	margin-top:2px;
}
#select a{
	text-decoration: none;
}
#expand_list{
	display: block;
	border:1px solid #D1D0D0;
	font: 110% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color: #252525;
	background: #FFF url('../images/dropdown-arrow.png') no-repeat center right;
	width:155px;
	padding:5px;
}

#select_list{
	border:1px solid #D1D0D0;	
	background:#FFF;
	height:255px;
	width:160px;
	padding:2px 5px 0px 5px;
	margin-top:-2px;
	float:left;
	clear:both;
	display:block;
}
#select_list li {
	padding: 5px 5px 5px 5px;
	font: 85% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
#select_list li a{
	color: #252525;
	display: block;
}
#select_list li a:hover{
	margin-top:-2px;
	border-bottom:1px solid #D1D0D0;
	font-weight: bold;
	background:#DDD;
	padding:2px 2px 0px 2px;
}
	.submenu {
		border:solid 1px #c9dea1;
		border-top:none;
		background:#FFFFFF;
		position: relative;
		top: 4px;
		width:150px;
		padding:6px 0;
		clear:both;
		z-index:2;
		display:none;
	}
.toggle-search{
	width:970px;
	margin:0 auto;
	clear:both;
	text-align:center;
	background:#E5E5E5;
	font: 80% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:#454545;
	padding-top:5px;
	padding-bottom:5px;	
}	
.toggle-search a{
	text-decoration: none;
	font-weight: bold;
	color:#454545;	
}
.toggle-search a:hover{
	color:#19B7D4;
}