<% if only_img == true %>
<div class="reqLa" id="only_img">
    <label>
        Only support these photo formats: JPG, GIF, PNG.
    </label>
</div>
<% end %>
<div class="postItemB">
    <div id="divinputfile">
        <div class="postItemC">
            <%= p.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :class => "#{'{validate:{accept:true}}' if only_img } filepc", :size=>"27", :style => "margin-left:50px", :id => "file_attach" %>
        </div>
        <div id="fakeinputfile" style="margin-top:-23px">
            <input name="fakefilepc" type="text" id="fakefilepc">
        </div>
    </div>
</div>