<div id="divinputfile">
  <%= p.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc" %>
  <div id="fakeinputfile"><input name="fakefilepc" type="text" id="fakefilepc" /></div>
</div>