<% if only_img == true %>
<div class="reqLa" id="only_img">
    <label>
        Only support these photo formats: JPG, GIF, PNG.
    </label>
</div>
<% end %>
<div class="postItemB">
    <div id="divinputfile">
        <div class="postItemC"> 
            <%= file_field_tag "post[attach]", :onchange => "$('#fakefilepc').val(this.value);", :class => "#{'{validate:{accept:true}}' if only_img } filepc", :size=>"11", :style => "width:280px;height:24px;margin-top:2px;", :id => "file_attach" %>
        </div>
        <div id="fakeinputfile" style="margin-top: -26px">
            <input name="fakefilepc" type="text" id="fakefilepc"/>
        </div>
    </div>
</div>

