<div class="postItemB">
  <div id="divinputfile">
    <div class="postItemC" style="margin-left:130px">
      <%= p.file_field :attach, :onchange => "$('#fakefilepc').val(this.value);", :size => "39", :class => "filepc" %>
    </div>
    <div id="fakeinputfile" style="margin-top:-23px"><input name="fakefilepc" type="text" id="fakefilepc" ></div>
  </div>
</div>