<div class="reqLa">
    <label>
        School year
    </label>
</div>
<div class="reqTi">
    <%= p.text_field :school_year, :id => "school_year" %>
</div>
<ul id="year_menu" class="mcdropdown_menu">
    <% get_level_list(session[:your_school_type]).each do |year| %>
    <li rel_year="<%= year[1] %>">
        <%= year[0] %>
    </li>
    <% end %>
</ul>
<script type="text/javascript">
    $(document).ready(function(){
        $("#school_year").mcDropdown("#year_menu", {
            width: 275,
            valueAttr: "rel_year"
        });
    });
</script>
