<% @tag_names = @tags.collect{|t| t.name} %>
<div class="reqItem">
  <div class="reqLa"><label>Tags</label></div>
  <div class="reqTi"><%= text_field_tag "tag", "", :style => "width:280px" %></div>
</div>
<script type="text/javascript">
    var tags = <%= array_or_string_for_javascript(@tag_names) %>;
    $(function () {
        $('#tag').tagSuggest ( {
            tagContainer : 'div',
            tagWrap : 'div',
            tags: tags,
            separator: ', '
        });
    }) ;
</script>
