<link rel="stylesheet" type="text/css" href="/stylesheets/slidernav.css" media="screen, projection" />
<script type="text/javascript" src="/javascripts/slidernav.js"></script>
<div class="reqLa">
  <label>
    Program Slider
  </label>
</div>
<div class="reqTi">
  <div style="position: relative; height: 22px;">
    <div class="mcdropdown_slider">
      <input type="text" onfocus="this.value = '';" onblur="this.value = this.value || this.defaultValue;" value="Select a category" name="" id="" style="width: 275px;" autocomplete="">
      <span></span>
    </div>
  </div>
</div>

  <div id="slider" style="display:none">
    <div class="slider-content">
      <ul>
        <li id="a"><a name="a" class="title">A</a>
          <ul>
            <li><a href="/">Adam</a></li>
            <li><a href="/">Alex</a></li>
            <li><a href="/">Ali</a></li>
            <li><a href="/">Apple</a></li>
            <li><a href="/">Arthur</a></li>
            <li><a href="/">Ashley</a></li>
          </ul>
        </li>
        <li id="b"><a name="b" class="title">B</a>
          <ul>
            <li><a href="/">Barry</a></li>
            <li><a href="/">Becky</a></li>
            <li><a href="/">Biff</a></li>
            <li><a href="/">Billy</a></li>
            <li><a href="/">Bozarking</a></li>
            <li><a href="/">Bryan</a></li>
          </ul>
        </li>
        <li id="c"><a name="c" class="title">c</a>
          <ul>
            <li><a href="/">Calista</a></li>
            <li><a href="/">Cathy</a></li>
            <li><a href="/">Chris</a></li>
            <li><a href="/">Cinderella</a></li>
            <li><a href="/">Corky</a></li>
            <li><a href="/">Cypher</a></li>
          </ul>
        </li>
        <li id="d"><a name="d" class="title">d</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="e"><a name="e" class="title">E</a>
          <ul>
            <li><a href="/">Barry</a></li>
            <li><a href="/">Becky</a></li>
            <li><a href="/">Biff</a></li>
            <li><a href="/">Billy</a></li>
            <li><a href="/">Bozarking</a></li>
            <li><a href="/">Bryan</a></li>
          </ul>
        </li>
        <li id="f"><a name="f" class="title">f</a>
          <ul>
            <li><a href="/">Calista</a></li>
            <li><a href="/">Cathy</a></li>
            <li><a href="/">Chris</a></li>
            <li><a href="/">Cinderella</a></li>
            <li><a href="/">Corky</a></li>
            <li><a href="/">Cypher</a></li>
          </ul>
        </li>
        <li id="g"><a name="g" class="title">g</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="h"><a name="h" class="title">h</a>
          <ul>
            <li><a href="/">Barry</a></li>
            <li><a href="/">Becky</a></li>
            <li><a href="/">Biff</a></li>
            <li><a href="/">Billy</a></li>
            <li><a href="/">Bozarking</a></li>
            <li><a href="/">Bryan</a></li>
          </ul>
        </li>
        <li id="i"><a name="i" class="title">i</a>
          <ul>
            <li><a href="/">Calista</a></li>
            <li><a href="/">Cathy</a></li>
            <li><a href="/">Chris</a></li>
            <li><a href="/">Cinderella</a></li>
            <li><a href="/">Corky</a></li>
            <li><a href="/">Cypher</a></li>
          </ul>
        </li>
        <li id="j"><a name="j" class="title">j</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="k"><a name="k" class="title">k</a>
          <ul>
            <li><a href="/">Barry</a></li>
            <li><a href="/">Becky</a></li>
            <li><a href="/">Biff</a></li>
            <li><a href="/">Billy</a></li>
            <li><a href="/">Bozarking</a></li>
            <li><a href="/">Bryan</a></li>
          </ul>
        </li>
        <li id="l"><a name="l" class="title">l</a>
          <ul>
            <li><a href="/">Calista</a></li>
            <li><a href="/">Cathy</a></li>
            <li><a href="/">Chris</a></li>
            <li><a href="/">Cinderella</a></li>
            <li><a href="/">Corky</a></li>
            <li><a href="/">Cypher</a></li>
          </ul>
        </li>
        <li id="m"><a name="m" class="title">m</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="n"><a name="n" class="title">n</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="o"><a name="o" class="title">o</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="p"><a name="p" class="title">p</a>
          <ul>
            <li><a href="/">Barry</a></li>
            <li><a href="/">Becky</a></li>
            <li><a href="/">Biff</a></li>
            <li><a href="/">Billy</a></li>
            <li><a href="/">Bozarking</a></li>
            <li><a href="/">Bryan</a></li>
          </ul>
        </li>
        <li id="q"><a name="q" class="title">q</a>
          <ul>
            <li><a href="/">Calista</a></li>
            <li><a href="/">Cathy</a></li>
            <li><a href="/">Chris</a></li>
            <li><a href="/">Cinderella</a></li>
            <li><a href="/">Corky</a></li>
            <li><a href="/">Cypher</a></li>
          </ul>
        </li>
        <li id="r"><a name="r" class="title">r</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="s"><a name="s" class="title">s</a>
          <ul>
            <li><a href="/">Barry</a></li>
            <li><a href="/">Becky</a></li>
            <li><a href="/">Biff</a></li>
            <li><a href="/">Billy</a></li>
            <li><a href="/">Bozarking</a></li>
            <li><a href="/">Bryan</a></li>
          </ul>
        </li>
        <li id="t"><a name="t" class="title">t</a>
          <ul>
            <li><a href="/">Calista</a></li>
            <li><a href="/">Cathy</a></li>
            <li><a href="/">Chris</a></li>
            <li><a href="/">Cinderella</a></li>
            <li><a href="/">Corky</a></li>
            <li><a href="/">Cypher</a></li>
          </ul>
        </li>
        <li id="u"><a name="u" class="title">u</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="v"><a name="v" class="title">v</a>
          <ul>
            <li><a href="/">Barry</a></li>
            <li><a href="/">Becky</a></li>
            <li><a href="/">Biff</a></li>
            <li><a href="/">Billy</a></li>
            <li><a href="/">Bozarking</a></li>
            <li><a href="/">Bryan</a></li>
          </ul>
        </li>
        <li id="w"><a name="w" class="title">w</a>
          <ul>
            <li><a href="/">Calista</a></li>
            <li><a href="/">Cathy</a></li>
            <li><a href="/">Chris</a></li>
            <li><a href="/">Cinderella</a></li>
            <li><a href="/">Corky</a></li>
            <li><a href="/">Cypher</a></li>
          </ul>
        </li>
        <li id="x"><a name="x" class="title">x</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="y"><a name="y" class="title">y</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
        <li id="z"><a name="z" class="title">z</a>
          <ul>
            <li><a href="/">damien</a></li>
            <li><a href="/">danny</a></li>
            <li><a href="/">denver</a></li>
            <li><a href="/">devon</a></li>
            <li><a href="/">doug</a></li>
            <li><a href="/">dustin</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#slider').sliderNav();
    $('.mcdropdown_slider').click(function(){
      $('.slider').show();
      $('.slider-content').css({'height':'520px'});
      $('.slider-nav').css({'height':'520px'});
    });
  });
  $(document).ready(function(){
    $('#slider').hover(function() {
      $(this).stop().show();
    }, function() {
      $(this).stop().hide();
    });
  });
</script>
<style>
  div.mcdropdown_slider {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    display: inline-block;
    height: 16px;
    padding: 2px;
    position: absolute;
    width: 98%;
  }
  div.mcdropdown_slider span {
    background: url("/images/mcdropdown/mcdd_select_button_sprite.gif") no-repeat scroll left top transparent;
    display: inline-block;
    font-size: 0;
    height: 16px;
    outline: 0 none;
    position: absolute;
    right: 1px;
    text-decoration: none;
    top: 1px;
    width: 15px;
    z-index: 1;
    cursor: pointer;
  }
  div.mcdropdown_slider input, div.mcdropdown_slider div {
    background-color: #FFFFFF;
    border: 0 none;
    font: 11px Arial,Helvetica,sans-serif;
    left: 0;
    padding: 2px 0 0 3px;
    position: absolute;
    top: 0;
    width: 98%;
  }
  div.mcdropdown_slider span:hover, div.mcdropdown_slider span:focus {
    background-position: 0 -16px;
  }
</style>