<% form_tag url_for(:controller => "users", :action => "add_tag"), :id => "form_tag_user", :style => "display: none;", :method => :post, :remote => false do %>
  <%= hidden_field_tag "video_id", @video.id %>
  <%= hidden_field_tag "id", @user.id %>

  <div class="form_friends" style="margin-top: 10px; width: 440px;">
    <%= text_field_tag "share_to", "", :style => "width:360px;height:23px" %>
  </div>
  <div class="submit" style="float: right; margin-top: -25px;" id="send_btn">
    <a onmouseover="this.style.cursor='pointer';">Send</a>
  </div>
<% end %>
