<div class="asslinkdownSt_User">
  <div class="making wall_page_<%= @page %>">
    <a class="thickbox" href="?&height=350&width=510" id="myaclick">Intro Friend</a>
  </div>
  <div class="like wall_page_<%= @page %>">
    <a title="I like you" class="thickbox" href="?&height=288&width=500" id="myaclick">I like you</a>
  </div>
  <div class="love wall_page_<%= @page %>">
    <a title="I love you" class="thickbox" href="?&height=288&width=500 id="myaclick">I love you</a>
  </div>
  <div class="hate wall_page_<%= @page %>">
    <a title="I hate you" class="thickbox" href="?&height=288&width=500 id="myaclick">I hate you</a>
  </div>
</div>
<style>
  .asslinkdownSt_User{
    background: none repeat scroll 0 0 white;
    border: 1px solid;
    color: #969696;
    display: none;
    float: right;
    font-size: 11px;
    margin-left: -122px;
    margin-top: 0px;
    padding: 10px;
    position: absolute;
    width: 100px;
    z-index: 1000;
  }
</style>
