<div class="col300 welBack">
  <div class="col300in">
    <h1 class="col300Title">Welcome back</h1>
    <div class="col300Cont">
      <div class="welBackCont">
        Join the largest worldwide activities after your classroom. <br/>Create your account for FREE and get started in minutes.
      </div>
      <div class="welBackLink"><a href="<%= user_forgot_password_url %>">Forget your password ? Click here</a></div>
    </div>
  </div>
</div>
