<div id="send_comment">
  <div id="send_comment_alert" style="display:none">You sended an comment.</div>
  <div id="send_comment_wraper">
    <textarea id="comment"></textarea>
    <input type="hidden" id="user_id_friend" value="" />
    <!-- post  button -->
    <a href="javascript:sendComment()" title="Send" class="btfr link_bt" style="margin: 4px 20px 0px 0px;">
      <span class="ltred_l"></span>
      <span class="ltred_c btf">Send</span>
      <span class="ltred_r"></span>
    </a>
    <!-- end post button -->
  </div>
</div>