<div id="photo_detail">
	<%= render :partial => "widget_photo" %>
</div>
<<<<<<< HEAD
=======
<script>
  $(document).ready(function() {
    $('div#TB_title').filter(':gt(0)').remove();
    $('div#TB_ajaxContent').filter(':gt(0)').remove();
    $('#comment').css({width:'98.5%'});
    $('div#TB_title').css({
      'height':'20px'
    });
    $('div#TB_window').css({
      'margin-top':'-230px'
    });
    $('#TB_ajaxContent p').css({
      'padding':'0px 0'
    });
  });
</script>
>>>>>>> 214604cdffbddf0cd83a5080589376ec3af0000c
