<%= text_field_tag 'country_name', "#{country_name}", :class => "required tb_arrow", :readonly => "readonly" %>
<div id="country_div" class="menu_select" style="display:none;">
  <ul>
    <% for country in countries %>
      <li>
        <%= radio_button "state", "country_id", country.id, :onClick => "getCountry('#{country.printable_name}')" %>
        <label onClick="getCountry(this.innerHTML)" for="state_country_id_<%= country.id %>"><%= country.printable_name %></label>
      </li>
    <% end %>
  </ul>
</div>
<script language="javascript">
  function getCountry(country_select){
    $('country_name').value = country_select;
  }
  new Tip('country_name', $('country_div'), {
    width: 'auto',
    title: 'Select Country',
    showOn: 'click',
    hideOthers: true,
    hideOn: { element: 'closeButton', event: 'click'},
    hook: { target: 'bottomLeft', tip: 'topLeft' },
    offset: {x:0, y:0} });
</script>