<div class="right">
  <div id="posting-section">
    <%= form_for :state, @state, :html => {:id => "form", :method => :get} do |f| %>
      <div class="reqLa"><strong>Country</strong></div>
      <div>
        <%= select_tag "state[country_id]", options_from_collection_for_select(@countries, "id", "name"), :style => "width: 198px" %>
      </div>
      <div class="reqLa"><strong>State Name</strong></div>
      <div class="inp-formS">
        <%= f.text_field :name %> <br/>
      </div>
      <div class="reqLa">
        <div class="form-buttom">
          <!-- post  button -->
          <a href="javascript:submit()" title="Post" class="link_bt">
            <span class="ltred_l"></span>
            <span class="ltred_c btf">Search</span>
            <span class="ltred_r"></span>
          </a>
          <!-- end post button -->
        </div>
      </div>
      <div id="elements_store"></div>
    <% end %>
  </div>
</div>
