<div style="color: #0A81C4;  margin-left: 37px;  padding: 10px 10px 0;">
  Verify users have been tagged 
  <a id="show_or_hide" href="javascript:;" style="margin-left: 8px; color: #0A81C4;">(Show)</a>
  <a id="sel_desel_all" href="javascript:;" style="margin-left: 311px; color: #0A81C4;">Select all</a>
</div>
<% form_tag url_for(:controller => "videos", :action => "tag_decision"), :id => "form_tag_decision", :method => :post, :remote => false do %>
  <%= hidden_field_tag "decision_id" %>
  <%= hidden_field_tag "video_id", @video.id %>
  <div id="approve_panel" style="border: 1px solid #CECECE;display: block;margin-left: 48px;margin-top: 10px;overflow: hidden;width: 552px;">
    <% @verify_users.each do |user| %>
      <%= render :partial => "item_user", :locals => {:user => user} %>
    <% end %>
  </div>
  <div class="stoDbtm" style="display:none;" id="btn_pannel">
    <div class="AsDContBtm" style="float:right; margin-right: 39px;">
      <span class="btmComment"><a href="javascript:;" id="accept_btn">Accept</a></span>
      <span class="btmComment"><a href="javascript:;" id="refuse_btn">Refuse</a></span>
    </div>
  </div>

<% end %><!-- end form -->
<script type="text/javascript">
  $(document).ready(function(){
    $('#show_or_hide').click(function(){
      if ( $(this).html() == '(Show)' ){
        $(this).html('(Hide)');
      }else {
        $(this).html('(Show)');
      }
      $('#approve_panel').toggle();
    })
  });
  //BEGIN: select all
  $(document).ready(function(){
    $('#sel_desel_all').click(function(){
      if ( $(this).html() == 'Select all' ){
        overallCount = $('#approve_panel').find('*[id*=checkbox_]').length;
        $(this).html('Deselect');
        $('#btn_pannel').show('slow');
        $('#approve_panel').find('*[id*=checkbox_]').each(function(){
          $(this).attr('checked','checked');
        });
      }else {
        overallCount = 0;
        $(this).html('Select all');
        $('#btn_pannel').hide('slow');
        $('#approve_panel').find('*[id*=checkbox_]').each(function(){
          $(this).attr('checked','');
        });
      }      
    });
  });
  //END: select all  
</script>