<% form_tag url_for(:controller => "videos", :action => "add_tag"), :id => "form_tag_user", :style => "display: none;", :method => :post, :remote => true do %>
  <%= hidden_field_tag "video_id", @video.id %>

  <div class="form_friends" style="margin-left: 50px">
    <%= text_field_tag "share_to", "", :style => "width:360px;height:23px" %>
  </div>
  <div class="submit" style="float: left;margin-left: 410px;margin-top: -26px;" id="send_btn">
    <a onmouseover="this.style.cursor='pointer';">Send</a>
     <div class="submit_loader"></div>
  </div>
<% end %>
<style>
  .textboxlist-autocomplete-result div{
    background: url("/images/bgi-col300.png") no-repeat scroll 0 0 transparent;
    padding: 3px;
    height: 51px;
  }
</style>
<script>
  $(document).ready(function(){
    $(".submit").click(function(){
      $('.submit').append('<div id="loader_id_submit">');
      $('.submit_loader').append('<%= show_ajax_loader("loader_submit","display: block; position: absolute; float: right; height: 19px; margin-top: -22px; margin-left: 55px;") %>');
      $("#loader_id_submit")
      .height(25)
      .css({
        'opacity' : 0.4,
        'display': 'block',
        'position': 'absolute',
        'margin-top': '-25px',
        'background-color': 'white',
        'width':'80px'
      });
    });
  });
</script>
