<div class="slsItem">
  <div class="photoImg"><%= link_to display_image_video(video), user_video_url(current_user, video) %></div>
  <div class="photoNamePho"><span style="text-indent: 22px;"><%= link_to video.title, user_video_url(current_user, video) %></span></div>
</div>