<div class="onThisL" style="margin-bottom: 8px;margin-left: 14px;margin-right: -1px;margin-top: 8px;">
  <div class="AsDcomImg"><a href="/users/11/show_lounge"><div><img title="Mary" src="/system/avatars/11/thumb/Firefox_wallpaper.png?1315365668" class="vtip avatar_11" alt="Firefox_wallpaper"></div></a></div>
  <input style="margin-left: 1px;" type="checkbox" value="checkbox" name="checkbox" id="checkbox"/>
</div>
