<li>
  <div class="onThisL">
    <div class="AsDcomImg"><%= show_image_user_post(u) %></div>
    <input style="margin-left: 1px; display: none;" type="checkbox" value="<%= u.id %>" name="tag_checkbox[]" id="tagbox_<%= u.id %>"/>
  </div>
</li>
