<div class="onThisL" style="margin-bottom: 8px;margin-left: 14px;margin-right: -1px;margin-top: 8px;">
  <div class="AsDcomImg"><%= show_image_user_post(user) %></div>
  <input style="margin-left: 1px;" type="checkbox" value="checkbox" name="checkbox" id="checkbox_<%= user.id %>"/>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var current_box = $('#checkbox_<%= user.id %>');
    
    $(current_box).click(function(){
      if (  $(current_box).is(":checked") == true  ){
        overallCount = overallCount + 1;
      }
      else{
        overallCount = overallCount - 1;
      }
      
      if (overallCount <= 0){
        $('#btn_pannel').hide('slow');
      }else {
        $('#btn_pannel').show('slow');
      }
    });
  });
</script>