<div class="col300 slStory">
  <div class="col300in">
    <h1 class="col300Title">
      On this video
      <% if current_user == @video.user %>
        <input type="button" value="Manage Tagged Users" id="manage_btn" style="margin-left: 70px;"/>
      <% end %>
    </h1> 
    <div class="onThis">
      <div class="navigation-container">
        <div id="thumbs" class="navigation">
          <ul class="thumbs noscript">
            <% if @tagged_users.size > 0 %>
              <% @tagged_users.each do |u| %>
                <li>
                  <div class="onThisL">
                    <div class="AsDcomImg"><%= show_image_user_post(u) %></div>
                    <input style="margin-left: 1px; display: none;" type="checkbox" value="<%= u.id %>" name="tag_checkbox[]" id="tagbox_<%= u.id %>"/>
                  </div>
                </li>
              <% end %>
            <% else %>
              There is no tagged user.
            <% end %>
          </ul>
          <div class="onThisBtm">
            <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
            <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  
  $(document).ready(function(){
    $('#manage_btn').click(function(){
      $('input[id*=tagbox_]').each(function() {
        $(this).toggle('slow');
      });
    });
  });
  
  jQuery(document).ready(function($) {
    $('div.navigation').css({'width' : '300px', 'float' : 'left'});
    var onMouseOutOpacity = 3.67;
    $('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
      mouseOutOpacity:   onMouseOutOpacity,
      mouseOverOpacity:  1.0,
      fadeSpeed:         'fast',
      exemptionSelector: '.selected'
    });
    var gallery = $('#thumbs').galleriffic({
      delay:                     2500,
      numThumbs:                 12,
      preloadAhead:              0,
      enableTopPager:            false,
      enableBottomPager:         false,
      imageContainerSel:         '#slideshow',
      captionContainerSel:       '#caption',
      defaultTransitionDuration: 900,
      onPageTransitionOut:       function(callback) {
        this.fadeTo('fast', 1.0, callback);
      },
      onPageTransitionIn:        function() {
        var prevPageLink = this.find('a.prev').css('visibility', 'hidden');
        var nextPageLink = this.find('a.next').css('visibility', 'hidden');
        if (this.displayedPage > 0)
          prevPageLink.css('visibility', 'visible');
        var lastPage = this.getNumPages() - 1;
        if (this.displayedPage < lastPage)
          nextPageLink.css('visibility', 'visible');
        this.fadeTo('fast', 1.0);
      }
    });
    gallery.find('a.prev').click(function(e) {
      gallery.previousPage();
      e.preventDefault();
    });
    gallery.find('a.next').click(function(e) {
      gallery.nextPage();
      e.preventDefault();
    });
  });

</script>