<div class="col300 slStory">
  <div class="col300in">
    <h1 class="col300Title">
      On this video
      <% if current_user == @video.user && @tagged_users.size > 0 %>
        <a href="javascript:;" style="margin-left: 70px; color: #0A81C4;" id="manage_btn">Manage Tagged Users</a>
      <% end %>
      <% if current_user != @video.user %>
        <% tagged_user_ids = @tagged_users.map(&:id) %>
        <% if tagged_user_ids.include?(current_user.id) == true%>


          <%= link_to "UnTag", {:controller => "videos", :action => "self_untag", :video_id => @video.id}, :remote => true, :id => "self_remove",:title => "Untag me from this Video", :style => "color: #0A81C4; float: right;" %>
        <% end %>
      <% end %>
    </h1> 
    <% form_tag url_for(:controller => "videos", :action => "remove_tagged"), :id => "form_remove", :method => :post, :remote => false do %>
      <%= hidden_field_tag "video_id", @video.id %>
      <div class="onThis">
        <div class="navigation-container">
          <div id="thumbs" class="navigation">
            <ul class="thumbs noscript" style="">
              <% if @tagged_users.size > 0 %>
                <% @tagged_users.each do |u| %>
                  <%= render :partial => "item_tagged", :locals => {:u => u} %>
                <% end %> <!-- end .each -->
              <% else %>
                There is no tagged user.
              <% end %><!-- end if -->
            </ul>
          </div>
            <div class="onThisBtm" style="margin-right: 144px;">
              <a id="remove_btn" href="javascript:;" style="margin-left: 2px; display: none; padding-top: 6px; text-align: center; height: 26px; width: 71px; color: #FFFFFF; background: url('/images/btm71.png') no-repeat scroll 0 0 transparent;  float: right;  margin-right: 0px;">Remove</a>
              <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page">
                <img title="Next" src="/images/btmPagePre.png"/>
              </a>
              <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page">
                <img title="Next" src="/images/btmPageNext.png"/>
              </a>
            </div>
          
          
          
          
        </div>
      </div>
    <% end %> <!-- end form -->       
  </div>
</div>
<script type="text/javascript">
  
  var noOfRemove = 0;//this variable is used to show/hide Remove button
  
  $(document).ready(function(){
    $('#manage_btn').click(function(){
      $('input[id*=tagbox_]').each(function() {
        $(this).toggle('slow');
      });
    });
    
    $('#remove_btn').click(function(){
      $('form#form_remove').submit();
    });
    
  });
  
  jQuery(document).ready(function($) {
    $('div.navigation').css({'width' : '300px', 'float' : 'left'});
    var onMouseOutOpacity = 3.67;
    $('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
      mouseOutOpacity:   onMouseOutOpacity,
      mouseOverOpacity:  1.0,
      fadeSpeed:         'fast',
      exemptionSelector: '.selected'
    });
    var gallery = $('#thumbs').galleriffic({
      delay:                     2500,
      numThumbs:                 12,
      preloadAhead:              0,
      enableTopPager:            false,
      enableBottomPager:         false,
      imageContainerSel:         '#slideshow',
      captionContainerSel:       '#caption',
      defaultTransitionDuration: 900,
      onPageTransitionOut:       function(callback) {
        this.fadeTo('fast', 1.0, callback);
      },
      onPageTransitionIn:        function() {
        //var prevPageLink = this.find('a.prev').css('visibility', 'hidden');
        //var nextPageLink = this.find('a.next').css('visibility', 'hidden');
        var prevPageLink = $('.onThisBtm').find('a.prev').css('visibility', 'hidden');
        var nextPageLink = $('.onThisBtm').find('a.next').css('visibility', 'hidden');
        if (this.displayedPage > 0)
          prevPageLink.css('visibility', 'visible');
        var lastPage = this.getNumPages() - 1;
        if (this.displayedPage < lastPage)
          nextPageLink.css('visibility', 'visible');
        this.fadeTo('fast', 1.0);
      }
    });
    $('.onThisBtm').find('a.prev').click(function(e) {
      gallery.previousPage();
      e.preventDefault();
    });
    $('.onThisBtm').find('a.next').click(function(e) {
      gallery.nextPage();
      e.preventDefault();
    });
  });

</script>
