<% if @tagged_users.size > 0 %>

<div class="col300 slStory">
  <div class="col300in" id="on_this_videos">
    <%= render :partial => "widget_on_this_video" %> 
  </div>
</div>
<% end %><!-- end if -->
