<div id="action_video">
  <div class="musicNode">
    <div class="NodeCont">
      <p>
        <span style="font-weight:bold">Category: </span><%= raw(Youtube.video_categories[Youtube.video_categories.map {|a,b| b}.index(@video.category)][0]) %>
      </p>
      <p class="AfterDes">
        <span style="font-weight:bold">Description:</span> <%= raw(@video.description) %>
      </p>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('.AfterDes').jTruncate({
      });
    });
  </script>
