<script type="text/javascript" src="/javascripts/jquery.jcarousel.js"></script>

<a 
  href="<%= get_video_path(@video.video_file.video_attach.url) %>" 
  style="display:block;width:530px;height:360px;margin-left: 15px;" 
  id="player">
</a>


<div id="mycarousel" class="jcarousel-skin-tango" style="float: right">

  <ul>
    <%
    videos = @video.user.videos_same_category(@video)
    videos = [@video] + videos
  %>
    <% videos.each do |v| %>
      <li>
        <a href="<%= get_video_path(v.video_file.video_attach.url) %>">
          <%= truncate(v.title, :length=>12, :omission=>"...") %>
          <%= display_image_video(v) %>
        </a> 
      </li>
    <% end %>
  </ul>

</div>
<!-- let rest of the page float normally -->
<br clear="all" />

<script>
  //  install Flowplayer inside a#player
  $f("player", 
  {src: "/swfs/flowplayer.commercial-3.2.7.swf", wmode:"opaque"}, 
  {		
    clip: {
      // use first frame of the clip as a splash screen
      autoPlay: true,
      autoBuffering: true
    }, 
    logo: {
      url: '/images/logo.png',
      fullscreenOnly: false,
      opacity: 0,
      top: '85%',
      left: '20%'
    },
    // gradually show on mouseover
    onMouseOver: function() {
      this.getPlugin("logo").fadeTo(0.5, 1000);
    },
    // gradually hide on mouseout
    onMouseOut: function() {
      this.getPlugin("logo").fadeTo(0, 1000);
    }
  });
  // get all links that are inside div#clips
  var links = document.getElementById("mycarousel").getElementsByTagName("a");

  // loop those links and alter their click behaviour
  for (var i = 0; i < links.length; i++) {
    links[i].onclick = function() {
		
      // play the clip specified in href- attribute with Flowplayer
      $f().play(this.getAttribute("href", 2));
		
      // by returning false normal link behaviour is skipped
      return false;
    }
  }
  // Ride the carousel...
  jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel();

  });
</script>
