<% if flash[:notice] %>
  <div class="postErr" id="notice">
    <div class="postErrNote"><%= flash[:notice] %></div>
    <div class="postErrClo"><a href="#"> </a></div>
  </div>
<% end %>

<% if flash[:warning] %>
  <div class="postErr" id="warning">
    <div class="postErrNote"><%= flash[:warning] %></div>
    <div class="postErrClo"><a href="#"> </a></div>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="postErr" id="error">
    <div class="postErrNote"><%= flash[:error] %></div>
    <div class="postErrClo"><a href="#"> </a></div>
  </div>
<% end %>