<div id="mapblock">
  <div id="mapframe" style="margin-left: 55px;">
    <div id="mapwindow">
    </div>
  </div>
  <script type="text/javascript">
        
    $(document).ready(function(){
 
      var options = {
        map_frame_id: "mapframe",
        map_window_id: "mapwindow",
        lat_id: "filter_lat",
        lng_id: "filter_lng",
        addr_id: "filter_address",
        lat: "37.7749295",
        lng: "-122.4194155",
        map_zoom: 13
      }
                
      $('#<%= id_addres_field %>').autogeocomplete(options);   
    });
    $("input#post_event_address").keyup(function(e) {
      if (e.keyCode == 17 || e.keyCode == 61 || e.keyCode == 109) 
      {      
        $('.ui-autocomplete').hide();
        return false;
      }
      else
      {
        $('.ui-autocomplete, #mapblock').show();
      }
    });  
    $(document).ready(function(){
      $(window).mousewheel(function() {
        $('.ui-autocomplete').hide();
      });
    });
    
    jQuery(function($) {
      $("ul.ui-autocomplete:last").addClass("auto_gmap")
    });
      
  </script>
</div>
<script type="text/javascript" src="/javascripts/jquery.mousewheel.js"></script> 
<style>
  .auto_gmap{
    position: relative;
    margin-left: 51.1%;
  }
</style>

