<% if get_chat_id(user_post, "yahoo") != "" %>
  <a href="ymsgr:SendIM?<%=  get_chat_id(user_post, "yahoo")%>">
    <img border="0" style="height: 12px; width: 12px; float: left;" src="http://opi.yahoo.com/online?u=<%=  get_chat_id(user_post, "yahoo")%>&amp;m=g&amp;t=0">
  </a>
  <span style="margin-left: 13px;margin-top: 5px;">Yahoo</span>
<% end %>
<% if get_chat_id(user_post, "skype") != "" %>
  <a href="skype:<%=  get_chat_id(user_post, "skype")%>?chat">
    <img border="0" style="float: left; height: 16px; width: 16px;" src="http://mystatus.skype.com/smallicon/<%=  get_chat_id(user_post, "skype")%>">
  </a>
  <span style="margin-left: 9px;margin-top: 5px;">Skype</span>
<% end %>

