<div id="profile_cp"><!-- profile control panel -->
  <ul>
    <li>
      <span class="pr_theader">&nbsp;Information<span class="pr_edt_l"><%= link_to 'Edit', edit_information_user_url(@user) %></span></span>
      <ul>
        <li></li>
      </ul>
    </li>

    <li>
      <span class="pr_theader">&nbsp;Education<span class="pr_edt_l"><%= link_to 'Edit', edit_education_user_url(@user) %></span></span>
      <ul>
        <li></li>
      </ul>
    </li>

    <li>
      <span class="pr_theader">&nbsp;Employment<span class="pr_edt_l"><%= link_to 'Edit', edit_employment_user_url(@user) %></span></span>
      <ul>
        <li></li>
      </ul>
    </li>

    <li>
      <span class="pr_theader">&nbsp;Friends<span class="pr_edt_l"><%= link_to 'Edit', list_friends_user_url(@user) %></span></span>
      <ul>
        <li></li>
      </ul>
    </li>

  </ul>
</div><!-- profile control panel -->
