<script>
  jQuery(document).ready(function() {
    chk = $.cookie("close_try_it_now_aa");
    if (chk == "yes"){
      
    }
    else{
      $( "#dialog" ).dialog({ height: 350,
                        width: 900,
                        modal: true,
                        position: 'center',
                        autoOpen:false,
                        title:'Hello World',
                        overlay: { opacity: 0.5, background: 'black'}
                        });
    }
    
    $(".ui-dialog-titlebar-close").click(function(){
      $.cookie("close_try_it_now_aa", "yes", { expires: 1 });
    });
  });
</script>

<div id="dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    <div class="contentBox" id="StudentEnrollBox" style="margin-right:0px">
      <form id="login-form-learn-tools" action="https://login.afterclassroom.com/login" method="post" style="display:none;">
        <input type="hidden" value="<%= @lt %>" name="lt" id="lt">
        <input type="hidden" value="<%= request.protocol + request.host_with_port %>/users/demotoyou/learn_tools" name="service" id="service">
        <input type="text" accesskey="u" tabindex="1" size="32" name="username" id="username" value="demotoyou@gmail.com">
        <input type="text" autocomplete="off" accesskey="p" tabindex="2" size="32" name="password" id="password" value="demo01">
      </form>
      <span style="color: #30424D;font-size: 15px;font-weight: bold;">Learning Tools</span>
      <a href="javascript:$('#login-form-learn-tools').submit();">
        <img src="/images/learning_tool.png" style="margin-top: 10px;border: 0 none;"/>
      </a>
    </div>
</div>
