<ul id="f-menu">

				<li>Your Account
					<ul class="f-submenu s1">
						<li><a href="#" title="Title">Inbox</li>	
						<li><a href="#" title="Title">Subscriptions</a></li>									
					</ul>
				</li>
				<li>Help & Info
					<ul class="f-submenu s2">
						<li><a href="#" title="Title">Help Resources</li>

						<li><a href="#" title="Title">Community Help Forums</a></li>								
						<li><a href="#" title="Title">After Classroom Handbook</a></li>
						<li><a href="#" title="Title">Advertising</a></li>														
					</ul>	
				</li>
				<li>After Classroom
					<ul class="f-submenu s3">
						<li><a href="#" title="Title">Company Info</a></li>
						<li><a href="#" title="Title">Privacy Policy</a></li>

						<li><a href="#" title="Title">Contact</a></li>
						<li><a href="#" title="Title">Blog</a></li>
						<li><a href="#" title="Title">Terms of Use</a></li>
						<li><a href="#" title="Title">Press</a></li>
						<li><a href="#" title="Title">Jobs</a></li>
					</ul>	
				</li>	
			</ul>	
		<div id="copyright">

			© AfterClassroom. 2009. - All rights reserved.<br />
			Please review our <a href="#" title="Privacy Policy">Privacy Policy</a>.
		</div>		
