<script type="text/javascript">
    $(document).ready(function(){
        //hide toolbar and make visible the 'show' button
        $("span.downarr a").click(function() {
            $("#toolbar").slideToggle("fast");
            $("#toolbarbut").fadeIn("slow");
        });
        //show toolbar and hide the 'show' button
        $("span.showbar a").click(function() {
            $("#toolbar").slideToggle("fast");
            $("#toolbarbut").fadeOut();
        });
        //show tooltip when the mouse is moved over a list element
        $("ul#social li").hover(function() {
            $(this).find("div").fadeIn("fast").show(); //add 'show()'' for IE
            $(this).mouseleave(function () { //hide tooltip when the mouse moves off of the element
                $(this).find("div").hide();
            });
        });
        //don't jump to #id link anchor
        $(".assignments, .projects, .past_tests, .past_exams, .rss, .qas, .tutors, .books, .jobs, .foods, .party, .myx, .student_awareness, .housing, .teamUp, span.downarr a, span.showbar a").click(function() {
            return false;
        });
    });
</script>

<div id="toolbarbut"> <!-- hide button -->
  <span class="showbar"><a href="#">show bar</a></span>
</div>
<div id="toolbar"> <!-- toolbar container -->
  <div class="leftside"> <!-- all things in floating left side -->
    <ul id="social">
      <li><a class="assignments" href="#"></a>
        <div id="tipassignments" class="tip">
          <ul>
            <li><a href="#">Assignments</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="projects" href="#"></a>
        <div id="tipprojects" class="tip">
          <ul>
            <li><a href="#">Projects</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="past_tests" href="#"></a>
        <div id="tippast_tests" class="tip">
          <ul>
            <li><a href="#">Past Tests</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="past_exams" href="#"></a>
        <div id="tippast_exams" class="tip">
          <ul>
            <li><a href="#">Past Exams</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="qas" href="#"></a>
        <div id="tipqas" class="tip">
          <ul>
            <li><a href="#">Q.As</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>

      <li><a class="tutors" href="#"></a>
        <div id="tiptutors" class="tip">
          <ul>
            <li><a href="#">Tutors</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="books" href="#"></a>
        <div id="tipbooks" class="tip">
          <ul>
            <li><a href="#">Books</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="jobs" href="#"></a>
        <div id="tipjobs" class="tip">
          <ul>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="foods" href="#"></a>
        <div id="tipfoods" class="tip">
          <ul>
            <li><a href="#">Foods</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="party" href="#"></a>
        <div id="tipparty" class="tip">
          <ul>
            <li><a href="#">Party</a></li>

            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="myx" href="#"></a>
        <div id="tipmyx" class="tip">
          <ul>
            <li><a href="#">MyX</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="student_awareness" href="#"></a>
        <div id="tipstudent_awareness" class="tip">
          <ul>
            <li><a href="#">Student Awareness</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="housing" href="#"></a>
        <div id="tiphousing" class="tip">
          <ul>
            <li><a href="#">Housing</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
      <li><a class="teamUp" href="#"></a>
        <div id="tipteamUp" class="tip">
          <ul>
            <li><a href="#">TeamUp</a></li>
            <li><a href="#">| Post</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="rightside"> <!-- all things in floating left side -->
    <span class="downarr"> <!-- hide button -->
      <a href="#"></a>
    </span>
  </div>
</div>
