<div class="footer">
<div class="footer1">
	<table cellspacing="0" cellpadding="0">
		<tr>
			<td class="account">
				<h2 class="footTitle">Your Account</h2>
				<div class="footItem"><a href="#">Inbox</a></div>
				<div class="footItem"><a href="#">Contact</a></div>
				<div class="footItem"><a href="#">Blog</a></div>
				<div class="footItem"><a href="#">Subscriptions</a></div>
				<div class="footItem"><a href="#">Jobs</a></div>
			</td>
			<td class="help">
				<h2 class="footTitle">Help & Information</h2>
				<div class="footItem"><a href="#">Help Resources</a></div>
				<div class="footItem"><a href="#">Community Help Forum</a></div>
				<div class="footItem"><a href="#">AfterClassroom Handbook</a></div>
				<div class="footItem"><a href="#">Advertising</a></div>
			</td>
			<td class="after">
				<h2 class="footTitle">After Classroom</h2>
				<div class="footItem"><a href="#">Company Information</a></div>
				<div class="footItem"><a href="#">Terms of use</a></div>
				<div class="footItem"><a href="#">Privacy Policy</a></div>
				<div class="footItem"><a href="#">Press</a></div>
			</td>
		</tr>
	</table>
	<div class="flogo">
		<div class="flogoimg"><img alt="classroom" src="/images/logo.png" /></div>
		<div class="flogoinf">&copy; 2009 AfterClassroom. All rights reserved. - Content created and posted by AfterClassroom users is dedicated to the public domain.</div>
	</div>
</div>
</div>