<div class="feedback-panel">
  <a class="feedback-tab"></a>
  <div class="contMainR" style="float:left">
				<div class="feed_close"><img src="/images/bg-search-for-people-a.png" width="192px" height="29px"/></div>
        <!--Find people-->
    			<%= render :partial => "friends/find_people" %>
				<!--Find people-->
  </div>
</div>
<script>
  $('document').ready(function(){
    $('a.feedback-tab').click(function(){
      $('.feedback-panel').animate({right:'0'},  300)
      $('a.feedback-tab').hide();
    });
    $('.feed_close').click(function(){
      $('.feedback-panel').animate({right:'-301'}, 300)
      $('a.feedback-tab').show(300);
    });
  });

</script>
