<div class="feedback-panel" style="top:36%">
  <a class="feedback-tab" style="display: none"></a>
  <div class="contMainR" style="float:left">
    <div class="feed_close" style="position: absolute;margin-top: -25px;margin-left: 110px"><img src="/images/bg-find-for-friendsN.png" width="192px" height="29px"/></div>
    <!--Find people-->
    <%= render :partial => "friends/find_people_for" %>
    <!--Find people-->
  </div>
</div>
<script>
  $('document').ready(function(){
    $('a.feedback-tab').hide();
    $('.feed_close,a#feedback_close_fr').click(function(){
      $('.feedback-panel').animate({right:'-331'}, 300);
      $('a.feedback-tab').show(300);
    });
    $('a.feedback-tab').click(function(){
      $('.feedback-panel').animate({right:'-30'},  300);
      $('a.feedback-tab').hide();
    });    
  });
</script>
