<div id="feedback_youtube">
  <a class="yotu" href="<%= Setting.get(:video_tutorial) %>;autoplay=1" style="display:block;position:fixed;top:15%;left:-2px;margin: 0;">
    <img src="/images/how-it-work1.png" style="border: 0 none"/>
  </a>
</div>
<script>
  $(document).ready(function(){
    $(".yotu").click(function() {
      $.fancybox({
        'padding'             : 0,
        'autoScale'   : false,
        'transitionIn'        : 'none',
        'transitionOut'       : 'none',
        'title'               : this.title,
        'width'               : 680,
        'height'              : 495,
        'href'                : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
        'type'                : 'swf',    // <--add a comma here
        'swf'                 : {'allowfullscreen':'true','wmode':'opaque'} // <-- flashvars here
      });
      return false;

    }); 
  });
</script>

