<div class="login">
  <div class="signin">
    <ul>
      <li class="signinSelect"><%= link_to raw("<span>Welcome #{current_user.full_name}</span>"), user_profiles_path(current_user), :class => "signinFrist", :onfocus => "this.value = '';", :onblur => "this.value = this.value || this.defaultValue;" %></li>
      <li><%= link_to raw("<span>Sign out</span>"), logout_url, :method => :delete %></li>
      <li><a href="#"><span>Help</span></a></li>
      <li><a href="#"><span>Suggest improvement</span></a></li>
    </ul>
  </div>
</div>