<div class="menuMain">
  <ul>
    <li class="select"><a href="#" class="menuFirst"><span>Student Lounge</span></a></li>
    <li><a href="#"><span>Inbox</span></a></li>
    <li><a href="#"><span>Friends</span></a></li>
    <li><a href="#"><span>Profile</span></a></li>
    <li><a href="#"><span>Setting</span></a></li>
    <li class="menuSpace1"> </li>
    <li><a href="#"><span>Phone Apps</span></a></li>
    <li><a href="#"><span>Play Games</span></a></li>
    <li><a href="#"><span>Shopping</span></a></li>
    <li class="menuSpace2"> </li>
    <li><a href="#"><span>Learning Tools</span></a></li>
  </ul>
</div>