<div class="menuMain">
  <ul>    
    <li class="<%= "menuSelectDe" if action_name == "index" %>"><%= link_to raw("<span>My App</span>"),:controller=>'oauth_clients' %></li>
    <li class="<%= "menuSelectDe" if action_name == "new" %>"><%= link_to raw("<span>Register App</span>"), :controller=>'oauth_clients', :action=>'new' %></li>
    
 
    <li class="menuSpace1">&nbsp;</li>
    <li class="menuSpace2">&nbsp;</li>
    <li class="menuSpace2">&nbsp;</li>
  </ul>
</div>