<span class="RmenuRtext">
  <%= render :partial => "shared/select_school" %>
</span>
<span class="RmenuRbtm1"><%= show_student_lounge %></span>
<span class="RmenuRbtm2"><%= button_to "Post", new_post_path %></span>
