<span class="RmenuRtext">
  <%= render :partial => "shared/select_school" %>
</span>
<span class="RmenuRbtm1"><%= link_to "Student lounges", "/student_lounges" %></span>
<span class="RmenuRbtm2"><%= link_to "Post", new_post_path %></span>
