<span class="RmenuRtext">
  <%= select_your_school("user", "shared/select_school", {"target" => "bottomLeft", "tip" => "topLeft"}) %>
</span>
<span class="RmenuRbtm1"><%= link_to "Student lounges", "/student_lounges" %></span>
<span class="RmenuRbtm2"><%= link_to "Post", new_post_path %></span>
