<div class="abLink">
	<div class="abLinkL">You are here: <a href="#">Home</a><a href="#" class="abLink-detail">Assignments</a></div>
	<div class="menuRR">
		<span class="RmenuRtext"><a href="#">Click here</a>to choose your school</span>
		<span class="RmenuRbtm1"><a href="#">Student lounges</a></span>
		<span class="RmenuRbtm2"><a href="#">Post</a></span>
	</div>
</div>