<div class="col300 requestStu">
  <div class="col300in">
    <h1 class="col300Title">Recent activities on your account</h1>
    <div class="col300Cont">
      <div class="reStuItem">
        <div class="reStuEmail">You got new email from<a href="#">Huy Quach</a></div>
        <div class="reStuDate">9:00 EST, Nov 4 2009</div>
      </div>
      <div class="reStuItem">
        <div class="reStuEmail">You got new email from<a href="#">Huy Quach</a></div>
        <div class="reStuDate">9:00 EST, Nov 4 2009</div>
      </div>
      <div class="reStuItem">
        <div class="reStuCom">You got new comment from<a href="#">Huy Quach</a></div>
        <div class="reStuIn">in<a href="#">What field in math would provide the most satisfaction?</a></div>
        <div class="reStuDate">9:00 EST, Nov 4 2009</div>
      </div>
      <div class="reStuItem">
        <div class="reStuCom">You got new reply from<a href="#">Huy Quach</a></div>
        <div class="reStuIn">in<a href="#">How much math is involved in a marketing major?</a></div>
        <div class="reStuDate">9:00 EST, Nov 4 2009</div>
      </div>
    </div>
  </div>
</div>
