<form id="search_indetail_query" name="search" action="<%= url_search %>" method="get">
  <div class="AsDST"><input type="text"  name="search[query]" value="<%= @query %>" /></div>
  <div class="AsDSB"><a href="javascript:;" onclick="$('#search_indetail_query').submit();"><img src="/images/AsD-iconS.png"/></a></div>
</form>