<div class="AsDST"><input type="text" id="search_indetail_query" name="search_indetail[query]" value="<%= @query %>"/></div>
<div class="AsDSB"><a href="javascript:;" onclick="document.location.href='<%= url_search %>?search[query]=' + $('#search_indetail_query').val();"><img src="/images/AsD-iconS.png"/></a></div>