<div class="search">
			<div class="textS"><input name="Text1" type="text" /></div>
			<div class="selectS"><select name="Select1"><option>Assignments</option></select></div>
			<div class="btmS"><a href=""><img src="images/icon-search.png" /></a></div>
		</div>