<!--Select School-->
<div id="target_select_school">
  <% if session[:your_school]
      school = School.find(session[:your_school])
  %>
    Your are at <%= school.name %> - <%= link_to("Click here", "javascript:;", :id => "show_select_school") %> to choose another school.
  <% else %>
    <%= link_to("Click here", "javascript:;", :id => "show_select_school") %> to choose your school without login.
  <% end %>
</div>
<!--Select School-->
<script language="javascript">
  var select_school_path = "/users_select_school/show";

  Dialogs.load();
  new Dialog({
    handle:'#show_select_school',
    title:'Select School',
    ajax:{
      url:select_school_path,
      options:{
        method:'get'
      }
    }
  });
</script>