<!--Select School-->
<div id="target_select_school">
  <% if session[:your_school]
      school = School.find(session[:your_school])
  %>
    Your are at <%= school.name %> - <%= link_to("Click here", "javascript:;", :id => "show_select_school") %> to choose another school.
  <% else %>
    <%= link_to("Click here", "javascript:;", :id => "show_select_school") %> to choose your school without login.
  <% end %>
</div>
<!--Select School-->