<!--Select School-->
<div id="target_select_school">
  <% if session[:your_school]
      school = School.find(session[:your_school])
  %>
    Your are at <strong><%= school.name %></strong> - <%= link_to("Click here", "/users_select_school/show?height=170", :class => "thickbox", :title => "Select Schoools") %> to choose another school.
  <% else %>
     <%= link_to("Click here", "/users_select_school/show?height=170", :class => "thickbox", :title => "Select Schoools") %> to choose your school.
  <% end %>
</div>
<!--Select School-->
