<!--Select School-->
<div id="target_select_school">
  <% if session[:your_school]
      school = School.find(session[:your_school])
  %>
    Your are at <%= school.name %> - <%= link_to("Click here", "javascript:;", :id => "show_select_school") %> to choose another school.
  <% else %>
    <%= link_to("Click here", "javascript:;", :id => "show_select_school") %> to choose your school without login.
  <% end %>
</div>
<!--Select School-->
<script language="javascript">
  var select_school_path = "/users_select_school/show";
  var state_path = "/users_select_school/state_or_city";
  var city_path = "/users_select_school/city";
  var school_path = "/users_select_school/school";

  Dialogs.load();
  new Dialog({
    handle:'#show_select_school',
    title:'Select School',
    ajax:{
      url:select_school_path,
      options:{
        method:'get'
      }
    }
  });

  function getState(country_id){
    div_update = "select_state_div";
    new Ajax.Updater(div_update, state_path,
    {asynchronous:true,
      evalScripts:true,
      method:'get',
      on500:function(request){alert('Sorry, there was an error.'.l); return false},
      parameters:{country_id:country_id, model:model_name},
      onSuccess: function(){
        $('select_state').update('Select your state');
        $('select_city').update('Select your city');
        $('select_city_div').update('');
      }
    }
  );
  }
</script>