<a id="btnShowModala" href="#"><span>Simple sign up</span></a>
<div id="overlaya" class="web_dialog_overlaya"></div>
<div id="dialoga" class="web_dialoga">
  <div class="web_dialog_titlea align_righta">
    <span href="#" id="btnClosea"></span>
  </div>
  <div class="AsDTop">
    <h1 class="titleH1">Sign Up</h1>
  </div>
  <div class="signUpCont" style="width: 620px">
    <%= display_flash_messages_with_raw %>
    <%= render :partial => "users/signup_form" %>
  </div>
</div>
<script>
  function submitt(){
    var result = $("#form_signup").validate({
      meta: "validate"
    });
    if (result) {
      $("#form_signup").submit();
    }
  }
</script>
<script type="text/javascript">
  $(document).ready(function ()
  {
    $("#btnShowModala").click(function (e)
    {
      open_signup(true);
      e.preventDefault();
    });
    $("#btnClosea").click(function (e)
    {
      HideDialoga();
      e.preventDefault();
    });
  });
  function open_signup(modala)
  {
    $("#overlaya").show();
    $("#dialoga").fadeIn(300);
    if (modala)
    {
      $("#overlaya").unbind("click");
    }
    else
    {
      $("#overlaya").click(function (e)
      {
        HideDialoga();
      });
    }
  }
  function HideDialoga()
  {
    $("#overlaya").hide();
    $("#dialoga").fadeOut(300);
  }    
</script>
<style type="text/css">
  .web_dialog_overlaya
  {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .7;
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    z-index: 101;
    display: none;
  }
  .web_dialoga
  {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -325px;
    margin-top: -180px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    padding: 0px;
    z-index: 102;
    width: 650px;
    padding-bottom: 10px;
  }
  .web_dialog_titlea span
  {
    background: url("/images/Photo/fancybox.png") repeat scroll -40px 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    z-index: 1103;
  }
  .align_righta
  {
    text-align: right;
  }
  .signincCheck a:hover
  {
    background: none;
    color: #DD0000;
    text-decoration: underline;
  }
  .signupNone a{
    background: none;
    color: #1C97DD;
    text-decoration: underline;
    float: right;
    padding-left: 5px;
  }
</style>
