<a id="btnShowModal" href="#"><span>Sign in pp</span></a>
<div id="overlay" class="web_dialog_overlay"></div>
<div id="dialog" class="web_dialog">
  <div class="AsDTop">
    <h1 class="titleH1">Sign In</h1>
  </div>
  <div class="web_dialog_title align_right">
    <span href="#" id="btnClose"></span>
  </div>
  <div>
    <div class="contDetL" style="background:none">
      <div class="contDetLin" style="background:none">
        <div class="signinCont" style="width:450px">
          <div class="postReq">*(asterisk) is required.</div>
          <%= render :partial => "sessions/login_form" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function ()
  {
    $("#btnShowModal").click(function (e)
    {
      open_signin(true);
      e.preventDefault();
    });
    $("#btnClose").click(function (e)
    {
      HideDialog();
      e.preventDefault();
    });
    $("#add_new_fr").click(function (e)
    {
      HideDialog();
      e.preventDefault();
    });
  });
  function open_signin(modal)
  {
    $("#overlay").show();
    $("#dialog").fadeIn(300);
    if (modal)
    {
      $("#overlay").unbind("click");
    }
    else
    {
      $("#overlay").click(function (e)
      {
        HideDialog();
      });
    }
  }
  function HideDialog()
  {
    $("#overlay").hide();
    $("#dialog").fadeOut(300);
  }    
</script>
<style type="text/css">
  .web_dialog_overlay
  {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: .7;
    filter: alpha(opacity=70);
    -moz-opacity: .7;
    z-index: 101;
    display: none;
  }
  .web_dialog
  {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -150px;
    background-color: #ffffff;
    border-radius: 4px 4px 4px 4px;
    padding: 0px;
    z-index: 102;
    width: 500px;
  }
  .web_dialog_title span
  {
    background: url("/images/Photo/fancybox.png") repeat scroll -40px 0 transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    z-index: 1103;
  }
  .align_right
  {
    text-align: right;
  }
  .forgotPass a:hover
  {
    background: none;
  }
</style>



