<div class="facebookSignIn" style="float: left;padding-right: 10px;padding-top: 10px;">
  <form class="connect-button" name="login-facebook" method="post" action="/auth/facebook">
    <input type="image" onclick="this.form.submit();" src="/images/Facebook.png"/>
  </form>
</div>
<div class="twitterSignIn" style="float: right;padding-top: 11px;">
  <form class="connect-button" name="login-twitter" method="post" action="/auth/twitter">
    <input type="image" onclick="this.form.submit();" src="/images/sign-in-with-twitter-l.png"/>
  </form>
</div>
