<div class="asslinkdownSt">
    <div class="making wall_page">
        <a title="Match making for" class="thickbox" id="myaclick">Match making</a>
    </div>
    <div class="like wall_page">
        <a title="I like you" class="thickbox" id="myaclick">I like you</a>
    </div>
    <div class="love wall_page">
        <a title="I love you" class="thickbox" id="myaclick">I love you</a>
    </div>
    <div class="hate wall_page">
        <a title="I hate you" class="thickbox" id="myaclick">I hate you</a>
    </div>
</div>
