<div class="AsDContImg"><%= link_to "<div>#{image_tag(user.avatar.url(:thumb))}</div>", {:controller => "profile", :action => "show_profile", :id => user.id} %></div>
<div class="AsDContR">
  <div class="fan"><a href="#">Become a Fan</a></div>
  <div class="friend"><a href="#">Invite Friend</a></div>
  <div class="chat"><a href="#">Invite Chat</a></div>
  <div class="mail"><a href="#">Send Mail</a></div>
</div>