<div class="selectView">
  <a id="click_view" class="fristView">
    <span>09</span>
  </a>
</div>


<div id="view_wrap" class="view_user">
  <div class="flistRclose">
    <a id="flistRclose" class="vtip" title="Close"></a>
  </div>
  <div style="width: 278px;" class="contMainL">
    <div class="col451s">
      <div class="col451ins">
        <div class="col451Cont">
          <div style="min-height: 50px;" id="search_friend_list">		<div class="flistItem">
              <div class="assPic">
                <a href="/users/michael/show_lounge"><div><img title="Michael" src="/system/avatars/4/thumb/130630_920.jpg?1302747759" class="vtip avatar_4" alt="130630_920"></div></a>
              </div>
              <div style="width: 195px;" class="flistInf">
                <div class="flistN">
                  <a href="/users/michael/show_lounge">Michael</a>
                </div><br>
                <div class="flistS">
                  <span>at</span>
                  Georgetown University
                </div>
              </div>
            </div>

            <div class="flistItem">
              <div class="assPic">
                <a href="/users/5/show_lounge"><div><img title="William" src="/system/avatars/5/thumb/profile.jpg?1302747771" class="vtip avatar_5" alt="Profile"></div></a>
              </div>
              <div style="width: 195px;" class="flistInf">
                <div class="flistN">
                  <a href="/users/5/show_lounge">William</a>
                </div><br>
                <div class="flistS">
                  <span>at</span>
                  Harvard University
                </div>
              </div>
            </div>

            <div class="flistItem">
              <div class="assPic">
                <a href="/users/10/show_lounge"><div><img title="Thomas" src="/system/avatars/10/thumb/147212_300.jpg?1302747835" class="vtip avatar_10" alt="147212_300"></div></a>
              </div>
              <div style="width: 195px;" class="flistInf">
                <div class="flistN">
                  <a href="/users/10/show_lounge">Thomas</a>
                </div><br>
                <div class="flistS">
                  <span>at</span>
                  McMaster University
                </div>
              </div>
            </div>

            <div class="flistItem">
              <div class="assPic">
                <a href="/users/11/show_lounge"><div><img title="Mary" src="/system/avatars/11/thumb/128285_300.jpg?1302747847" class="vtip avatar_11" alt="128285_300"></div></a>
              </div>
              <div style="width: 195px;" class="flistInf">
                <div class="flistN">
                  <a href="/users/11/show_lounge">Mary</a>
                </div><br>
                <div class="flistS">
                  <span>at</span>
                  McMaster University
                </div>
              </div>
            </div>

            <div class="flistItem">
              <div class="assPic">
                <a href="/users/17/show_lounge"><div><img title="Maria" src="/system/avatars/17/thumb/207551_300.jpg?1302747928" class="vtip avatar_17" alt="207551_300"></div></a>
              </div>
              <div style="width: 195px;" class="flistInf">
                <div class="flistN">
                  <a href="/users/17/show_lounge">Maria</a>
                </div><br>
                <div class="flistS">
                  <span>at</span>
                  McMaster University
                </div>
              </div>
            </div>

            <div class="assPage">
              <span class="numPage"><b><a href="javascript:$('#friend_search').submit();">View more</a></b></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#click_view').click(function(){
      $('#view_wrap').show();
    })
    $('#flistRclose').click(function(){
      $('#view_wrap').hide();
    })
  });
</script>