<div class="right">
  <% form_for :department, @department, :html => {:id => "form", :method => :get} do |f| %>
    <%= f.text_field :name, :class => "inp-form" %>
    <div class="clear"></div>
    <%= submit_tag "Search", :class => "form-submit" %>
  <% end %>
</div>