<% if logged_in? %>
<div class="col195 clubBar">
    <div class="col195in">
        <h1 class="col195Title">My party list</h1>
        <div class="col195Cont">
            <%
            partys_lists = current_user.partys_lists.order("created_at DESC").limit(LIMIT) %>
            <% if partys_lists.size > 0 %>
            <%
						count = 0
            partys_lists.each do |pl| %>
            <% if pl.post_party %>
            <div class="dueDItem">
                <div class="dueDTitle">
                    <%= link_to truncate_words(pl.post_party.post.title, 4), post_party_path(pl.post_party) %>
                </div>
            </div>
						<% count = count + 1%>
						<% end %>
            <% end %>
            <% if count == LIMIT %>
            <div class="dueDbutton">
                <%= link_to "View more my party list", "#{my_party_list_post_parties_path}?height=400&width=470", :class => "thickbox" %>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>
</div>
<% end %>