<div class="AsDContBtm">
  <span class="btmReply"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Reply</a></span>
  <span class="btmPre"><%= link_to("<span>Prefer to experts</span>", "#{prefer_post_parties_path}?height=320&width=490", :class => "thickbox", :title => "Prefer to experts") %></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmFoodList"><a href="#"><span>Party list</span></a></span>
</div>