<div id="rate_<%= post.id %>">
          <%
          check = PostParty.find_rated_by(current_user).include?(post.post_party) if logged_in?
          check ||= false %>
          <div class="qashdU">
            <%= show_rating(post.id, post.post_party.total_good, get_controler_name_from_class_name(post.post_party.class.name), check, 2) %>
          </div>
          <div class="cheap">
            <%= show_rating(post.id, "It's Ok(#{post.post_party.total_ok})", get_controler_name_from_class_name(post.post_party.class.name), check, 1) %>
          </div>
          <div class="qashdD">
            <%= show_rating(post.id, post.post_party.total_bad, get_controler_name_from_class_name(post.post_party.class.name), check, 0) %>
          </div>
        </div>
