<div class="col300 Recent">
  <div class="col300in">
    <h1 class="col300Title">Recent Party Requested</h1>
    <div class="col300Cont">
      <%
      parties_recent = PostParty.with_school(@school).recent.with_limit
    %>
      <% if parties_recent.size > 0 %>
        <%
        parties_recent.each do |party|
        %>
          <div class="recentItem">
            <div class="recentImg"><div><%= link_to image_tag(party.post.user.avatar.url(:thumb)), {:controller => "profile", :action => "show_profile", :id => party.post.user.id} %></div></div>
            <div class="recentInf">
              <div class="recentName"><%= link_to party.post.user.full_name, {:controller => "profile", :action => "show_profile", :id => party.post.user.id} %></div>
              <div class="recentUni"><span>at</span><%= link_to party.post.school.name, :controller => "post_assignments", :action => "index", :from_school => party.post.school %></div>
              <div class="recentDes"><%= link_to party.post.title, post_party_path(party.post) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="recentBottom">&nbsp;</div>
    </div>
  </div>
</div>
