<div class="posterItem">
  <div class="posterL"><a href="#"><div><img src="pictures/pic5.png" /></div></a></div>
  <div class="posterC"><a href="#"><div><img src="pictures/pic2.png" /></div></a></div>
  <div class="posterR"><a href="#"><div><img src="pictures/pic3.png" /></div></a></div>
</div>
<div class="posterItem">
  <div class="posterL"><a href="#"><div><img src="pictures/pic4.png" /></div></a></div>
  <div class="posterC"><a href="#"><div><img src="pictures/noimg.png" /></div></a></div>
  <div class="posterR"><a href="#"><div><img src="pictures/pic1.png" /></div></a></div>
</div>
<div class="posterItem">
  <div class="posterL"><a href="#"><div><img src="pictures/noimg.png" /></div></a></div>
  <div class="posterC"><a href="#"><div><img src="pictures/pic5.png" /></div></a></div>
  <div class="posterR"><a href="#"><div><img src="pictures/pic2.png" /></div></a></div>
</div>
