<div class="dueDItem">
  <div class="dueDTitle"><a href="#">Lorem ipsum dolor sit amet.</a></div>
</div>
<div class="dueDItem">
  <div class="dueDTitle"><a href="#">Pellentesque et tincidunt.</a></div>
</div>
<div class="dueDItem">
  <div class="dueDTitle"><a href="#">Fusce sed sem ipsum.</a></div>
</div>
