<div class='QAsDet'>Good <strong style="margin-left: 8px;">(<%= @post_p.total_good %>)</strong></div>
<div class='QAsDet'>It's Ok <strong style="margin-left: 8px;">(<%= @post_p.total_ok %>)</strong></div>
<div class='QAsDet'>Bad <strong style="margin-left: 8px;">(<%= @post_p.total_bad %>)</strong></div>