<div id="detail_window" style="background: #f1f1f1;">
  <div class="dw_title">
    
  </div>

  <div class="dw_location">
   
  </div>

  <div class="dw_datetime">
  
  </div>
  <div class="detail-info"><!-- detail-info-->
    <div id="rsvp_alert" style="display:none">
      You sended RSVP.
    </div>
    <div id="rsvp_wraper">
      <div id="posting-section">
        <form id="form_rsvp" name="form_rsvp">
          <ul>
            <li>
              <label>Where:</label>
              <div class="user_ri"></div>
            </li>
            <li>
              <label>When:</label>
              <div class="user_ri"></div>
            </li>
            <li>
              <label>First Name*:</label>
              <div class="user_ri"></div>
            </li>
            <li>
              <label>Last Name*:</label>
              <div class="user_ri"></div>
            </li>
            <li>
              <label>Email*:</label>
              <div class="user_ri"></div>
            </li>
            <li>
              <label>Tel*:</label>
              <div class="user_ri"></div>
            </li>
            <li>
              <label>Message:</label>
              <div class="user_ri"></div>
            </li>
            <li>
              <div class="post_cbt">
                <!-- post  button -->
                <a href="javascript:submit_rsvp" title="Post" class="link_bt">
                  <span class="ltred_l"></span>
                  <span class="ltred_c btf">RSVP</span>
                  <span class="ltred_r"></span>
                </a>
                <!-- end post button -->
              </div>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div><!-- end detail-info-->
  <div class="info-link-box"><!--info-link-box-->
    <div class="download-link">
        <a href="javascript:downloadFile" class="downarrow">Download</a>
     
        <span>Download</span>
      
      | <a href="#" title="">More like this</a>
    </div>
  </div><!--end info-link-box-->
</div>
