<div class="topLearning">
  <div class="learnImgT">
    <div>
      <%= image_tag(@pa.photo.url(:medium), :alt => '') %>
    </div>
  </div>
  <div class="learnFav">
    <div class="AftBe">
      <div class="txtsignup1"><%=h @pa.name %></div>
      <div class="btmBe"><a href="#">Become a Fan</a></div>
    </div>
    <div class="postdiv">
      <span class="RmenuRbtm2"><a href="#">Post</a></span>
    </div>
    <div class="menuRL">
      <div class="menuRItem">
        <%= link_to content_tag(:span, ''+content_tag(:span, 'My Phone Lounge', :class => 'span2'), :class => 'span1'), :controller => 'phoneapps', :action => 'phonelounge', :id => @pa.id %>
      </div>
      <div class="menuRItem">
        <%= link_to content_tag(:span, ''+content_tag(:span, 'Info', :class => 'span2'), :class => 'span1'), :controller => 'phoneapps', :action => 'info', :id => @pa.id %>
      </div>
      <div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">My Favorite</span></span></a></div>
      <div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Download this Apps</span></span></a></div>
      <div class="menuRItemP"><a href="#">&nbsp;</a></div>
    </div>
  </div>
</div>
<div class="contMain">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="learnLeft">
        <div class="learnFavT">
          <div class="learnFavTL">Displaying review 1-10 out of 4289</div>
          <div class="learnFavTC"><a href="#">See All</a></div>
          <div class="learnFavTR"><a href="#"><span>Write a Review</span></a></div>
        </div>
        <div class="learnNItem">
          <div class="assPic"><a href="#"><div><img src="pictures/pic10.png"></div></a></div>
          <div class="learnFavtitle"><a href="#">ThienanHo</a>
            <span class="learnFavS">
              <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
            </span>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnDetDate">January 03, 2010 at 4:02 PM <a href="#">Report Spam</a></div>
        </div>
        <div class="learnNItem">
          <div class="assPic"><a href="#"><div><img src="pictures/pic1.png"></div></a></div>
          <div class="learnFavtitle"><a href="#">ThienanHo</a>
            <span class="learnFavS">
              <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
            </span>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnDetDate">January 03, 2010 at 4:02 PM <a href="#">Report Spam</a></div>
        </div>
        <div class="learnNItem">
          <div class="assPic"><a href="#"><div><img src="pictures/pic2.png"></div></a></div>
          <div class="learnFavtitle"><a href="#">ThienanHo</a>
            <span class="learnFavS">
              <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
            </span>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnDetDate">January 03, 2010 at 4:02 PM <a href="#">Report Spam</a></div>
        </div>
        <div class="learnNItem">
          <div class="assPic"><a href="#"><div><img src="pictures/pic3.png"></div></a></div>
          <div class="learnFavtitle"><a href="#">ThienanHo</a>
            <span class="learnFavS">
              <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
            </span>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnDetDate">January 03, 2010 at 4:02 PM <a href="#">Report Spam</a></div>
        </div>
        <div class="learnNItem">
          <div class="assPic"><a href="#"><div><img src="pictures/noimg.png"></div></a></div>
          <div class="learnFavtitle"><a href="#">ThienanHo</a>
            <span class="learnFavS">
              <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
            </span>
          </div>
          <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
          <div class="learnDetDate">January 03, 2010 at 4:02 PM <a href="#">Report Spam</a></div>
        </div>
        <div class="assPage">
          <span class="numPage">Page 1 of 22</span>
          <span class="firstPage"><a href="#">First Page</a></span>
          <span class="prevPage"><a href="#">Prev</a></span>
          <span class="currentPage">
            <a class="selected" href="#"><span>6</span></a>
            <a href="#"><span>7</span></a>
            <a href="#"><span>8</span></a>
            <a href="#"><span>9</span></a>
            <a href="#"><span>10</span></a>
          </span>
          <span class="nextPage"><a href="#">Next</a></span>
          <span class="lastPage"><a href="#">Last Page</a></span>
        </div>
        <div class="goTop"><a href="#">Top</a></div>
      </div>
    </div>
  </div>
  <div class="contMainR">
    <div class="creAdv"><a href="#">Create an Ad</a></div>
    <div class="advert">
      <div class="advertTitle">Advertisement</div>
      <div class="Dani">DaniWeb - IT Discussion Community</div>
      <div class="advertImg"><img src="pictures/pic6.png"></div>
      <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani">DaniWeb - IT Discussion Community</div>
      <div class="advertImg"><img src="pictures/adv.png"></div>
      <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani">MTV - New Music Videos, Reality TV Shows...</div>
      <div class="advertImg"><img src="pictures/adv1.png"></div>
      <div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
  </div>
</div>