<div id="iphonedata" class="learnTrow">
  <% count = 1 %>
  <% @iphonedata.each do |iap| %>

    <%  if (count < 5) %>
      <div class="learnTitem">
        <div class="learnTtitle">
          <%= link_to iap.name, :controller => 'phoneapps', :action => 'phonelounge', :id => iap.id %>
           <span>$0.99</span>
        </div>
        <div class="learnTimg">
          <%= link_to content_tag(:div, ''+image_tag("pictures/phone1.png", :alt => '')), :controller => 'phoneapps', :action => 'phonelounge', :id => iap.id %>
        </div>
        <div class="learnTst">
          <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
        </div>
      </div>
    <%else%>
      <div class="learnTitem learnLast">
        <div class="learnTtitle"><%= link_to iap.name, :controller => 'phoneapps', :action => 'phonelounge', :id => iap.id %> <span>$0.99</span></div>
        <div class="learnTimg">
          <%= link_to content_tag(:div, ''+image_tag("pictures/phone1.png", :alt => '')), :controller => 'phoneapps', :action => 'phonelounge', :id => iap.id %>
        </div>
        <div class="learnTst">
          <img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
        </div>
      </div>
    <% end %>
    <% count = count + 1 %>

  <% end %>

</div>

