TAO RA PATH O DAY DE LAM 1 SPIKE CHO VIEC LINK TOI TRANG DETAIL CUA PHONE-APP

<div class="topLearning">
	<div class="menuRL">
		<div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Recommend App</span></span></a></div>
		<div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Submit App</span></span></a></div>
	</div>
	<div class="postdiv">
		<span class="RmenuRbtm2"><a href="#">Post</a></span>
	</div>
</div>
<div class="contMain">
<div class="contDetL">
<div class="contDetLin">
<div class="learnLeft">
	<div class="phoneTop">
		<div class="iphoneTitle">applications list</div>
		<div class="learnPage">
			<div class="learnPageL">Page 1 of 12</div>
			<div class="learnPageP"><a href="#">&nbsp;</a></div>
			<div class="learnPageN"><a href="#">&nbsp;</a></div>
		</div>
	</div>
	<div class="learnTools">
		<div class="learnTrow">
			<div class="learnTitem">
				<div class="learnTtitle"><a href="">Lorem dolor sit amet</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone1.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Curabitur vitae risus lorem</a> <span>$2.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone2.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Pellentesque ac aliquet diam</a> <span>$3.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone3.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Duis interdum tellus nisi</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone4.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem learnLast">
				<div class="learnTtitle"><a href="#">Vivamus eget felis vitae</a> <span>$5.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone5.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
		</div>
	</div>
	<div class="blackBTop">
		<div class="blackBTitle">applications list</div>
		<div class="learnPage">
			<div class="learnPageL">Page 1 of 12</div>
			<div class="learnPageP"><a href="#">&nbsp;</a></div>
			<div class="learnPageN"><a href="#">&nbsp;</a></div>
		</div>
	</div>
	<div class="learnTools">
	<div class="learnTrow">
			<div class="learnTitem">
				<div class="learnTtitle"><a href="">Lorem ipsum dolor amet</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone10.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Curabitur vitae risus lorem</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone9.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Pellentesque ac aliquet diam</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone8.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Duis interdum tellus nisi</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone7.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem learnLast">
				<div class="learnTtitle"><a href="#">Vivamus eget felis vitae</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone6.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
		</div>
	</div>
	<div class="googleTop">
		<div class="googleTitle">applications list</div>
		<div class="learnPage">
			<div class="learnPageL">Page 1 of 12</div>
			<div class="learnPageP"><a href="#">&nbsp;</a></div>
			<div class="learnPageN"><a href="#">&nbsp;</a></div>
		</div>
	</div>
	<div class="learnTools">
	<div class="learnTrow">
			<div class="learnTitem">
				<div class="learnTtitle"><a href="">Lorem dolor sit amet</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone4.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Curabitur vitae risus lorem</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone2.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Pellentesque ac aliquet diam</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone7.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem">
				<div class="learnTtitle"><a href="#">Duis interdum tellus nisi</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone10.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
			<div class="learnTitem learnLast">
				<div class="learnTtitle"><a href="#">Vivamus eget felis vitae</a> <span>$0.99</span></div>
				<div class="learnTimg"><a href="#"><div><img src="pictures/phone5.png"></div></a></div>
				<div class="learnTst">
						<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
		</div>
	</div>

	<div class="learnN">
		<div class="learnNM">
			<div class="learnNMtitle">Phone Apps</div>
			<div class="learnNMP">Popular</div>
			<div class="learnNML"><a href="#">Verified</a></div>
			<div class="learnNML"><a href="#">Recently Added</a></div>
			<div class="learnNMR"><a href="#">See All</a></div>
		</div>
	</div>
	<div class="learnNItem">
		<div class="learnNImg"><a href="#"><div><img src="pictures/phone2.png"></div></a></div>
		<div class="phoneLR">
			<div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
			<div class="phoneS">
				<div class="learnTst">
					<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
		</div>
		<div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
		<div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
	</div>
	<div class="learnNItem">
		<div class="learnNImg"><a href="#"><div><img src="pictures/phone7.png"></div></a></div>
		<div class="phoneLR">
			<div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
			<div class="phoneS">
				<div class="learnTst">
					<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
		</div>
		<div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
		<div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
	</div>
	<div class="learnNItem">
		<div class="learnNImg"><a href="#"><div><img src="pictures/phone10.png"></div></a></div>
		<div class="phoneLR">
			<div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
			<div class="phoneS">
				<div class="learnTst">
					<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
		</div>
		<div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
		<div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
	</div>
	<div class="learnNItem">
		<div class="learnNImg"><a href="#"><div><img src="pictures/phone1.png"></div></a></div>
		<div class="phoneLR">
			<div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
			<div class="phoneS">
				<div class="learnTst">
					<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
		</div>
		<div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
		<div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
	</div>
	<div class="learnNItem">
		<div class="learnNImg"><a href="#"><div><img src="pictures/phone9.png"></div></a></div>
		<div class="phoneLR">
			<div class="learnNtitle"><a href="#">Nullam condimentum mauris sit amet lacus</a> by Vestibulum <span>$2.99</span></div>
			<div class="phoneS">
				<div class="learnTst">
					<img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRed.png"><img src="images/starRW.png"><img src="images/starWhite.png">
				</div>
			</div>
		</div>
		<div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
		<div class="learnNinf">67,541, 274 monthly active users - 54 friends</div>
	</div>
	<div class="assPage">
		<span class="numPage">Page 1 of 22</span>
		<span class="firstPage"><a href="#">First Page</a></span>
		<span class="prevPage"><a href="#">Prev</a></span>
		<span class="currentPage">
			<a class="selected" href="#"><span>6</span></a>
			<a href="#"><span>7</span></a>
			<a href="#"><span>8</span></a>
			<a href="#"><span>9</span></a>
			<a href="#"><span>10</span></a>
		</span>
		<span class="nextPage"><a href="#">Next</a></span>
		<span class="lastPage"><a href="#">Last Page</a></span>
	</div>
	<div class="goTop"><a href="#">Top</a></div>
</div>
</div>
</div>

<div class="contMainR">
	<div class="creAdv"><a href="#">Create an Ad</a></div>
	<div class="advert">
		<div class="advertTitle">Advertisement</div>
		<div class="Dani">DaniWeb - IT Discussion Community</div>
		<div class="advertImg"><img src="pictures/pic6.png"></div>
		<div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
		<div class="advertInf">
			<div class="advertInfL">
				<a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
			</div>
			<div class="advertInfR">
				<span class="pre"><a href="#">&nbsp;</a></span>
				<span class="next"><a href="#">&nbsp;</a></span></div>
		</div>
	</div>
	<div class="advert">
		<div class="Dani">DaniWeb - IT Discussion Community</div>
		<div class="advertImg"><img src="pictures/adv.png"></div>
		<div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
		<div class="advertInf">
			<div class="advertInfL">
				<a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
			</div>
			<div class="advertInfR">
				<span class="pre"><a href="#">&nbsp;</a></span>
				<span class="next"><a href="#">&nbsp;</a></span></div>
		</div>
	</div>
	<div class="advert">
		<div class="Dani">MTV - New Music Videos, Reality TV Shows...</div>
		<div class="advertImg"><img src="pictures/adv1.png"></div>
		<div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
		<div class="advertInf">
			<div class="advertInfL">
				<a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
			</div>
			<div class="advertInfR">
				<span class="pre"><a href="#">&nbsp;</a></span>
				<span class="next"><a href="#">&nbsp;</a></span></div>
		</div>
	</div>
</div>
</div>