<%= form_for(@ufo_cmt, :remote => false,:url => url_for(:controller => "u_forums", :action => "save_cmt") , :html => {:multipart => true, :id => "form_cmt", :method => "post" }) do |f| %>
  <%= hidden_field_tag "ufo_id", @ufo.id %>


    <div style="background-color: white; padding-top: 10px;">
      <div class="AsDContImg" style="margin: 18px; margin-top: 1px;">
        <%= show_image_user_post(current_user) %>
      </div>

      <label style="text-align: left;">Leave your comment</label>

      <div style="overflow: hidden;">
        <%= f.text_area :content, :id => 'topic_content', :rows => '10', :cols => '75', :class => '{validate:{required:true}}'%>
      </div>

      <div style="padding-bottom: 20px;height: 60px; width: 545px; margin-top: 0px; margin-left: 86px;">
        <div class="postItemB" style="margin-left: 6px;margin-top: 10px;width: 552px;">
          <div id="divinputfile">
            <div class="postItemC">
              <input type="file" style="width: 550px; height: 24px; margin-top: 2px;" size="66" onchange="$('#fakefilepc').val(this.value);" name="ufo_cmt[ucmt_attach]" id="ufo_cmt_ucmt_attach" class=" filepc">
            </div>
            <div style="margin-top: -26px;" id="fakeinputfile">
              <input type="text" id="fakefilepc" name="fakefilepc" style="width: 478px;">
            </div>
          </div>
        </div>
        <div style="  float:right;margin-right: -13px;margin-top: 15px;" class="submit_add_comforum">
          <span>
            <input type="submit" value="Add this comment" name="commit" id="ufo_cmt_submit"/>
          </span>
        </div>
      </div>
    </div>
<% end %><!-- end form -->
