  <div id="list_of_users" style="float: left;">

    <% if @share_to != nil%>
      <% @share_to.each do |usr| %>
        <%= render :partial => "usr_item_show", :locals => {:usr => usr} %>
      <% end %><!-- end each list friend -->
    <% end %><!-- end if -->

  </div>



<script type="text/javascript">
vtip();
</script>
