    <% @members.each do |member| %>
    <div class="AsDcomImg" style="margin-left: 9px;">
      <%= show_image_user_post(member.user) %>
      <% if current_user == @ufo.user %>
        <input type="checkbox" name="user_list[]" value="<%= member.user.id %>" />
      <% end %>
    </div>
    <% end %>
<span class="numPage"><%= page_entries_info @members %></span>
<%= will_paginate @members %>

