<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here: <a href="javascript:;"><%= @ufo_author == current_user ? "Your " : "#{@ufo_author.name}'s" %> Forums</a>
  </div>
</div>

