<div style="padding-bottom: 10px;" class="abLink postLink">



  <div class="abLinkL">You are here: <a href="<%= user_u_forums_path(@ufo_author) %>"><%= @ufo_author == current_user ? "Your " : "#{@ufo_author.name}'s" %> Forums</a>
  <a class="abLink-detail" href="javascript:;"><%= controller.action_name %></a>
  </div>





</div>

