<div id="rate_<%= ufo.id %>_<%= ufo.class.name %>">


<% Ufo.find_rated_by(current_user) %>
<%
check = Ufo.find_rated_by(current_user).include?(ufo) if logged_in?
check ||= false %>
<div class="qashdU">
  <%= show_rating(ufo.id, ufo.total_good, controller_name, check, 1) %>
</div>
<div class="qashdD">
  <%= show_rating(ufo.id, ufo.total_bad, controller_name, check, 0) %>
</div>
</div>
