<div class="searchPInput">
  <div style="height:27px;width:226px" class="searchFri">
    <div style="background-image: none;" class="textS">
      <input type="text" style="height: 14px;margin-top: 3px;width: 222px;padding-top: 2px;" class="" value="" name="" id="" >
    </div>
    <div style="float: right;padding-left: 0px;padding-top: 4px" class="btmS">
      <a onclick="$('#action_people_search').submit();" href="javascript:;" id="btnFrie_submit">
        <img style="width:24px;float: right;margin-right: -22px;margin-top: -32px;" src="/images/AsD-iconS.png">
      </a>
    </div>
  </div>
</div>



this is the search pad<br/>
this is the search pad<br/>
this is the search pad<br/>
this is the search pad<br/>
this is the search pad<br/>

