<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">

      <div class="overall">
        <%= form_for(@ufo, :url => url_for(:controller => "u_forums", :action => "update") , :html => {:multipart => true, :id => "form_new" }) do |f| %>
          <div style="padding: 10px">
            <div style="border-right: 1px solid #cecece;border-bottom: 1px solid #CECECE;">
              <div class="inner2">
                <div id="first_banner" class="bodderTop"></div>
                <div id="first_banner" class="inboxCeTop"> 
                  <label style="text-align: left; margin-left: 10px; color: #969696;">Title</label>
                </div>
                <div style="padding:8px 8px 8px 0px">
                  <%= f.text_field :title, :class => '', :style => "width: 625px; height: 20px;background-color: transparent;border: 1px solid #CECECE;" %>
                </div>
              </div>

              <div class="inner2">
                <div id="first_banner" class="bodderTop"></div>
                <div id="first_banner" class="inboxCeTop">
                  <label style="text-align: left; margin-left: 10px; color: #969696;">Content</label>
                </div>       
                <div style="padding:8px 8px 8px 0px">
                  <%= f.text_area :content, :id => 'topic_content', :rows => '19', :cols => '84', :class => ''%>
                </div>
              </div>
              <div class="inner2">
                <div id="first_banner" class="bodderTop"></div>
                <div id="first_banner" class="inboxCeTop">
                  <label style="text-align: left; margin-left: 10px; color: #969696;">Choose file</label>
                </div>
                
                <div>Current file</div>
                
            <div style="background: url('/images/ufo_attach.jpg') no-repeat; width: 24px; height: 24px;">
              <span class="btmDownfo"><a href="javascript:downloadFile('<%= @ufo.ufo_attach.url %>')" class="downarrow" style="margin-left: 20px;padding-bottom: 14px;padding-left: 90px;">
                <span class="forums_dow" style="margin-left: -55px;margin-top: 6px;position: absolute;">Download</span> 
                </a>
                          
              </span>
            </div>
                
                
                <div class="postItemB" style="background:url(/images/upload_file.png) no-repeat scroll 98% 0 transparent;margin-top: 7px; margin-bottom: 12px;">
                  <div id="divinputfile">
                    <div class="postItemC">
                      <input type="file" style="width: 617px; height: 24px; margin-top: 2px;" size="76" onchange="$('#fakefilepc').val(this.value);" name="ufo[ufo_attach]" id="ufo_ufo_attach" class="filepc">

                    </div>
                    <div style="margin-top: -26px;" id="fakeinputfile">
                      <input type="text" id="fakefilepc" name="fakefilepc" style="width:545px">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="bottomline"></div>
          <div class="AsDContBtm" style="border-bottom: 0px; float: right; margin-top: 5px;">
            <span class="btmComment"><a href="javascript:;" id="btn_submit">Submit</a></span>
            <span class="btmComment"><a href="javascript:;">Cancel</a></span>
          </div>
        <% end %><!-- end form_for -->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('document').ready(function(){
    $('.wysiwyg').css({
      'width':'614px'
    })
    $('#topic_contentIFrame').css({
      'width':'614px'
    })
  });
  function SubmitTopic(){
    $("form#form_new").submit();
  }
  $(document).ready(function(){
    $('#btn_submit').click(function(){
      SubmitTopic();
    });
  });
  //BEGIN: wysiwyg textarea editor
  (function($){
    $('#topic_content').wysiwyg({
      controls: {
        createLink: {
          visible: true
        },
                
        insertImage: {
          visible: true
        },
                
        separator05: {
          visible: false
        },
                
        separator06: {
          visible: false
        },
                
        h1: {
          visible: false
        },
        h2: {
          visible: false
        },
        h3: {
          visible: false
        },
                
        removeFormat: {
          visible: true
        }
      }
    });
  })(jQuery);
  //END: wysiwyg textarea editor
</script>
