<%#= render :partial => "shared/submenu" %>

<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>
<div class="contDetL">
  <div class="contDetLin">
    <div class="inboxLeft">
      <div class="inboxFoTop">
        <div class="markFo" style="border-left: 1px solid #E3E3E3;"><a href="#" onclick="">All Topics</a></div>
        <div class="markFo"><a href="#" onclick="">User's Topics</a></div>
        <div class="markFo"><a href="#" onclick="">Friend Invited Topics </a></div>
      </div>
      <div class="inboxFoNew"><a href="#" onclick=""><span class="span1">Post a new topic</span></a></div>
    </div>
    <div class="inboxCenter" style="padding:10px;margin-top: -10px">
      <div class="markFoCe">

        <div class="assItemFo">
 
              <div class="assItemL">
                <div class="bodderTop"></div>
                <div class="inboxCeTop">

                  <div class="inboxFoSe"><a href="#" onclick=""><span class="span1">Setting</span></a></div></div>
                <div class="assForum">
                  <div class="assPic">
                    <a href="/users/137"><div><img alt="20060321104423383121_thumb" class="vtip avatar_137" src="https://s3.amazonaws.com/afterclassroom_avatar/avatars/137/20060321104423383121_thumb.jpg?1314766092" title="Danny Elle"></div></a>
                  </div>
                  <div style="float: left; width: 500px;" class="assPicFo"><a>Message title is here</a></div>
                  <div class="assContFo">
                    <div class="assInfT">
                      <div class="assInfL">
                        <div>
                          <span>Posted by:</span>
                          <a href="/users/137">Danny Elle</a>
                          <span>
                            3 days ago.
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="assDes">
                      Many of the academic programs at SDSU are in very high demand and are designated as "impacted" programs. If you apply to an impacted major, you will first be admitted as a "pre-major." You must meet a specific set of requirements before you can be...
                    </div>
                    <div class="assItbodderTopemB">
                      <div class="assInfT">
                        <div class="assInfB">

                          <div id="rate_1144">
                            <div style="background: none repeat scroll 0% 0% transparent;" class="qashdU">
                              <a href="">0</a>
                            </div>
                            <div class="qashdD">
                              <a href="">0</a>
                            </div>
                          </div>
                          <div style="background: url(&quot;/images/bor-ad.png&quot;) no-repeat scroll left top transparent; padding: 0pt 2px;">
                            <div class="com">
                              <a href="">Comments (<span id="post_1144_comments">0</span>)</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            <div class="assItemL">
              <div class="inboxCeTop">
                <div class="inboxFoSe"><a href="#" onclick=""><span class="span1">Setting</span></a></div></div>
              <div class="assForum">
                <div class="assPic">
                  <a href="/users/137"><div><img alt="20060321104423383121_thumb" class="vtip avatar_137" src="https://s3.amazonaws.com/afterclassroom_avatar/avatars/137/20060321104423383121_thumb.jpg?1314766092" title="Danny Elle"></div></a>
                </div>
                <div style="float: left; width: 500px;" class="assPicFo"><a>Message title is here</a></div>
                <div class="assContFo">
                  <div class="assInfT">
                    <div class="assInfL">
                      <div>
                        <span>Posted by:</span>
                        <a href="/users/137">Danny Elle</a>
                        <span>
                          3 days ago.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="assDes">
                    Many of the academic programs at SDSU are in very high demand and are designated as "impacted" programs. If you apply to an impacted major, you will first be admitted as a "pre-major." You must meet a specific set of requirements before you can be...
                  </div>
                  <div class="assItemB">
                    <div class="assInfT">
                      <div class="assInfB">

                        <div id="rate_1144">
                          <div style=bodderTop"background: none repeat scroll 0% 0% transparent;" class="qashdU">
                            <a href="">0</a>
                          </div>
                          <div class="qashdD">
                            <a href="">0</a>
                          </div>
                        </div>
                        <div style="background: url(&quot;/images/bor-ad.png&quot;) no-repeat scroll left top transparent; padding: 0pt 2px;">
                          <div class="com">
                            <a href="">Comments (<span id="post_1144_comments">0</span>)</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

       

            <div class="assItemL">
              <div class="inboxCeTop">
                <div class="inboxFoSe"><a href="#" onclick=""><span class="span1">Setting</span></a></div></div>
              <div class="assForum">
                <div class="assPic">
                  <a href="/users/137"><div><img alt="20060321104423383121_thumb" class="vtip avatar_137" src="https://s3.amazonaws.com/afterclassroom_avatar/avatars/137/20060321104423383121_thumb.jpg?1314766092" title="Danny Elle"></div></a>
                </div>
                <div style="float: left; width: 500px;" class="assPicFo"><a>Message title is here</a></div>
                <div class="assContFo">
                  <div class="assInfT">
                    <div class="assInfL">
                      <div>
                        <span>Posted by:</span>
                        <a href="/users/137">Danny Elle</a>
                        <span>
                          3 days ago.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="assDes">
                    Many of the academic programs at SDSU are in very high demand and are designated as "impacted" programs. If you apply to an impacted major, you will first be admitted as a "pre-major." You must meet a specific set of requirements before you can be...
                  </div>
                  <div class="assItemB">
                    <div class="assInfT">
                      <div class="assInfB">

                        <div id="rate_1144">
                          <div style="background: none repeat scroll 0% 0% transparent;" class="qashdU">
                            <a href="">0</a>
                          </div>
                          <div class="qashdD">
                            <a href="">0</a>
                          </div>
                        </div>
                        <div style="background: url(&quot;/images/bor-ad.png&quot;) no-repeat scroll left top transparent; padding: 0pt 2px;">
                          <div class="com">
                            <a href="">Comments (<span id="post_1144_comments">0</span>)</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>

      </div>
    </div>
    <div class="assPage" style="padding-top:0px">
      <span style="margin-left: 0pt;" class="numPage">Displaying messages <b>1&nbsp;-&nbsp;10</b> of <b>16</b> in total</span>
      <div class="pagination"><span class="previous_page disabled">Previous</span> <em>1</em> <a href="/users/robert/messages?page=2" rel="next">2</a> <a href="/users/robert/messages?page=2" rel="next" class="next_page">Next</a></div>
    </div>


  </div>
</div>

<style>
  .bodderTop{
    bodder-top:1px solid #cecece;
  }
  .inboxFoSe{
    background: url("/images/btmWrite.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 25px;
    width: 105px;

  }
  .inboxFoSe a{
    color: #797979;
    cursor: pointer;
    line-height: 25px;
    margin-left: 18px;
    text-decoration: none;
  }
  .assPicFo a{
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
  }
  .assPicFo{
    background: url("/images/start_1.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    margin-top: -6px;
    padding-left: 20px;
  }
  .assForum{
    margin-left: 15px;
    margin-top: -19px;
  }
  .assContFo{
    float: left;
    width: 530px;
    word-wrap: break-word;
    border: 1px solid #E3E3E3;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 5px;
  }
  .assItemFo{
    clear: both;
    overflow: hidden;
  }
  .inboxCeTop{
    background: #F6F7F7;
    font-weight: bold;
    height: 30px;
    line-height: 28px;
    overflow: hidden;
    background: url("/images/u_forum_U.png") no-repeat scroll 0 0 #F6F7F7;
  }
  .markFo {
    background-color: #F6F7F7;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    float: left;
    padding: 0 10px;
  }
  .inboxFoTop {
    font-weight: bold;
    line-height: 28px;
    overflow: hidden;
    border-bottom: 1px solid #E3E3E3;
  }
  .inboxFoTop a, .inboxFoTop a:link, .inboxFoTop a:visited {
    color: #0A81C4;
    text-decoration: none;
  }
  .inboxFoTop a:hover {
    color: #DD0000;
    text-decoration: none;
  }

  .inboxFoNew{
    background: url("/images/btmWrite.png") no-repeat scroll 0 0 transparent;
    float: right;
    margin-top: -28px;
    height: 25px;
    width: 105px;
  }
  .inboxFoNew a{
    color: #797979;
    cursor: pointer;
    text-decoration: none;
    line-height: 25px;
    margin-left: 18px;
  }
  .inboxFoNew:hover{
    background: url("/images/btmWriteH.png") no-repeat scroll 0 0 transparent;
  }
  .inboxFoNew a:hover{
    color: #DD0000;
  }
  .markFoCe{
    border-bottom: 1px solid #E3E3E3;
  }
</style>

