<%= render :partial => "shared/submenu" %>

<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="overall" style="height: 950px;">



	  <div class="inner1" style="border-right: 1px solid #CDCCCC; margin-right: 10px; margin-top: 10px;">
	    <div class="inner2" style="padding: 10px; padding-top: 0px; min-height: 100px;">
	      <span id="first_banner" style="background: url('/images/t_corner.png') no-repeat; padding-bottom: 16px; padding-left: 2px;"></span>
	      <span id="first_banner" style="background: url('/images/t_main.png') repeat; padding-bottom: 16px; padding-left: 631px;">

<label style="margin-top: -4px; text-align: left; margin-left: 10px; color: #969696;">Title</label>
</span>
	    </div>


	    <div class="inner2" style="padding: 10px; padding-top: 0px; min-height: 100px;">
	      <span id="first_banner" style="background: url('/images/t_corner.png') no-repeat; padding-bottom: 16px; padding-left: 2px;"></span>
	      <span id="first_banner" style="background: url('/images/t_main.png') repeat; padding-bottom: 16px; padding-left: 631px;">

<label style="margin-top: -4px; text-align: left; margin-left: 10px; color: #969696;">Content</label>
</span>
	    </div>



	    <div class="inner2" style="padding: 10px; padding-top: 0px; min-height: 100px;">
	      <span id="first_banner" style="background: url('/images/t_corner.png') no-repeat; padding-bottom: 16px; padding-left: 2px;"></span>
	      <span id="first_banner" style="background: url('/images/t_main.png') repeat; padding-bottom: 16px; padding-left: 631px;">

<label style="margin-top: -4px; text-align: left; margin-left: 10px; color: #969696;">Choose file</label>
</span>
	    </div>



	    <div class="inner2" style="padding: 10px; padding-top: 0px; min-height: 100px;">
	      <span id="first_banner" style="background: url('/images/t_corner.png') no-repeat; padding-bottom: 16px; padding-left: 2px;"></span>
	      <span id="first_banner" style="background: url('/images/t_main.png') repeat; padding-bottom: 16px; padding-left: 631px;">

<label style="margin-top: -4px; text-align: left; margin-left: 10px; color: #969696;">Settings</label>
</span>
	    </div>


	    <div class="inner2" style="padding: 10px; padding-top: 0px; min-height: 100px;">
	      <span id="first_banner" style="background: url('/images/t_corner.png') no-repeat; padding-bottom: 16px; padding-left: 2px;"></span>
	      <span id="first_banner" style="background: url('/images/t_main.png') repeat; padding-bottom: 16px; padding-left: 631px;">

<label style="margin-top: -4px; text-align: left; margin-left: 10px; color: #969696;">Notify Friends via email</label>
</span>
	    </div>





























	  </div>


	  <div class="AsDContBtm" style="border-bottom: 0px; float: right;">
	    <span class="btmComment"><a href="javascript:;">Submit</a></span>
	    <span class="btmComment"><a href="javascript:;">Cancel</a></span>
	  </div>




















	</div>


















      </div>

    </div>
  </div>
</div>
</div>
</div>

