<%= render :partial => "shared/submenu" %>

<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>
<div class="contDetL">
  <div class="contDetLin">
    <div class="inboxLeft">
      <div class="inboxFoTop">
        <div class="markFo" style="border-left: 1px solid #E3E3E3;"><a href="#" onclick="">All Topics</a></div>
        <div class="markFo"><a href="#" onclick="">User's Topics</a></div>
        <div class="markFo"><a href="#" onclick="">Friend Invited Topics </a></div>
        <div class="inboxDelete"><a href="#" onclick="">Post a new topic</a></div>
      </div>

    </div>
  </div>
hello
</div>
<style>
  .markFo {
    background-color: #F6F7F7;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    float: left;
    padding: 0 10px;
  }
  .inboxFoTop {
    font-weight: bold;
    line-height: 28px;
    overflow: hidden;
  }
  .inboxFoTop a, .inboxFoTop a:link, .inboxFoTop a:visited {
    color: #0A81C4;
    text-decoration: none;
  }
  .inboxFoTop a:hover {
    color: #DD0000;
    text-decoration: none;
  }
</style>
