<div style="padding-bottom: 10px;" class="abLink postLink">
  <div class="abLinkL">You are here:<a href="#"> User's Forums</a>
  </div>
</div>

<div class="slStoryL">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="inboxLeft">
        <div class="overall" style="height: 885;">
          <div style="margin-left: 10px; margin-top: 10px; padding-top: 5px; height: 50px; border-bottom: solid 2px #ebebeb; padding-bottom: 10px;">
            <div style="background: url('/images/ufo_gstar.png') no-repeat; width: 18px; height: 18px; margin-top: 2px;"></div>
            <div style="border: 0px solid green; height: 30px; width: 512px; margin-left: 24px; margin-top: -27px;">
              <label style="float: left; font-size: 250%;color: #969696;">Live analysis</label>
            </div>
            <div style="float: left; border: 0px solid black; margin-left: -160px; width: 200px; margin-top: 3px;">
              <label style="text-align: left;color: #969696;">From: David</label>
              <label style="text-align: left;color: #969696;">Date : Monday, Oct 10th, 2011</label>
              
            </div>
            <div class="AsDContImg" style="float: right; margin-right: 9px; margin-top: -30px;">
              <a href="/users/5/show_lounge"><div style="height: 52px;"><img title="William" src="/system/avatars/5/thumb/wily_avatar.jpg?1315449632" class="vtip avatar_5" alt="Wily_avatar"></div></a>
            </div>  


          </div>
          
          <div style="border: 0px solid black; margin-left: 10px; margin-top: 10px; padding-top: 5px; height: 50px;">
            setting section goes here
          </div>



        </div>
      </div>
    </div>
  </div>