<div class="postCont" id="div_send_report">
  <form id="editeMail" action="<%= save_email_user_settings_path(current_user) %>">
    <div class="postItem">
      <p>Please enter a new email address<br/>
        <input type="text" style="width:230px;" value="" id="changedValue" name="changedValue" />
      </p>
    </div>

    <div class="submit"><a href="javascript:;" onclick="sendChange()">Send</a></div>
  </form>
</div>
<script language="javascript">
  function sendChange(){
    $("form:first").submit();
  }
</script>
