<script language="javascript">
  $("#editName").validate({
    rules: {
      changedValue: "required"
    }
  });
</script>

<div class="postCont" id="div_send_report">
  <form id="editName" action="<%=  savename_settings_path %>">
    <div class="postItem">
      <p>Please enter a new name<br/>
      <div class="postInp"><input type="text" style="width:230px;" value="" id="changedValue" name="changedValue" /></div>
      </p>
    </div>

    <div class="submit"><a href="javascript:;" onclick="sendChange()">Send</a></div>
  </form>
</div>

<script language="javascript">
  function sendChange(){

    $("form:first").submit();
  }
</script>