<script language="javascript">
  $(document).ready(function(){
    var editType = $('#label_msg').html();
    //disable submit button, only enable if 2 passwords are the same
    var $submitButton = $('#target').find("input[type='submit']");
    $submitButton.attr("disabled", "true");
    
    //replace normal input with password-input tag
    if ( editType.indexOf("password", 0) > 0 ){
      //$('#target').find('input:eq(0)').replaceWith("<input id='passwd' value='' type='password' name='passwd' size='15'/>");
      $storage = $('#target').find('input:eq(0)').parent();
      $storage.replaceWith("<p><input id='passwd' value='' type='password' name='passwd' size='15'/></p><p>Please re-enter the password<br/><input type='password' id='reTypedPasswd' name='reTypedPasswd' size='15'/><br/></p>");
    }
    $('#target').find('input:eq(0)').keyup(function(){
      $submitButton.attr("disabled", "true");
      if ($('#passwd').val() == $('#reTypedPasswd').val()){
        $submitButton.attr("disabled", "");
        $('#errorMessage').html('_');
      }
      else
        $('#errorMessage').html('The 2 passwords must be the same');

    });
    $('#target').find('input:eq(1)').keyup(function(){
      $submitButton.attr("disabled", "true");
      if ($('#passwd').val() == $('#reTypedPasswd').val()){
        $submitButton.attr("disabled", "");
        $('#errorMessage').html('_');
      }else
        $('#errorMessage').html('The 2 passwords must be the same');
    });

    
      
  });

  $('#target').submit(function() {
    var editType = $('#label_msg').html();
    if ( editType.indexOf("email", 0) > 0 )
      editType = "email";
    else if ( editType.indexOf("name", 0) > 0 )
      editType = "name";
    else if ( editType.indexOf("password", 0) > 0 )
      editType = "psw";

    $('#target').find('input:eq(0)').append("<input type='text' value='"+editType+"' name='editType' />") ;

    return true;
  });

</script>
<div id="errorMessage">ERROR message to be displayed here</div>
<form id="target" action="<%=  savechange_settings_path %>">
  <div id="label_msg">
    <%= @label %>
  </div>
  <p>
    <input type="text" value="" name="changedValue" />
  </p>
  
    <input type="submit" value="Save"  />
  
</form>