<div class="postCont" id="div_send_report">
  <form id="editeUsername" action="<%= save_user_name_user_settings_path(current_user) %>">
    <div class="postItem" id="username_txt">
      <div class="postItem1" style="width: 205px">
        Please enter a new username *
      </div>
      <div class="postInp">
        <input type="text" style="width:270px;" value="" id="username" name="username" class="required noSpecialChars"/>
      </div>
      <div id="valid_div" style="display: none; background: url(/images/iconCheck.gif) no-repeat scroll left 2px transparent; margin-left: 10px; padding-left: 18px;">Username is available</div>
      <div id="invalid_div" style="display: none; background: url(/images/icon-ing.gif) no-repeat scroll left 2px transparent; margin-left: 10px; padding-left: 18px;">Username is not available</div>
    </div>
    <div class="submit" style="padding-left: 215px">
      <a href="javascript:;" onclick="sendChange()">Send</a>
    </div>
    <div class="error" style="padding: 10px">
    </div>
  </form>
</div>
<script>
$(document).ready(function(){
    $.validator.addMethod("noSpecialChars", function(value, element) {
      return this.optional(element) || /^[a-z0-9\_]+$/i.test(value);
  }, "Username must contain only letters, numbers, or underscore.");
});
</script>
<script language="javascript">
  function sendChange(){
    $("#editeUsername").submit();
  }
  var path = "<%= check_login_user_settings_url(current_user) %>";
  $().ready(function(){
    $("#editeUsername").validate();
    $('#username').autocomplete({
      source: function(request, response) {
        $.ajax({
          type: 'POST',
          url: path,
          data: {username: $('#username').val()},
          success: function(data) {
            if(data == "valid"){
              $('#valid_div').show();
              $('#invalid_div').hide();
            }else{
              $('#invalid_div').show();
              $('#valid_div').hide();
            }
          }
        });
      }
    });
  });
</script>
