<div class="postCont" id="div_send_report">
    <form id="editpsw" action="<%= save_psw_user_settings_path(current_user) %>">
        <div class="postItem">
            <div class="postItem1" style="width: 170px">
                Please enter the current password*
            </div>
            <div class="postInp">
                <input id='current_password' style="width:270px;" value='' type='password' name='current_password' size='15'/>
            </div>
        </div>
				<div class="postItem">
            <div class="postItem1" style="width: 170px">
                Please enter the password*
            </div>
            <div class="postInp">
                <input id='new_password' style="width:270px;" value='' type='password' name='new_password' size='15'/>
            </div>
        </div>
        <div class="postItem">
            <div class="postItem1" style="width: 170px">
                Please re-enter the password*
            </div>
            <div class="postInp">
                <input type='password' id='new_password_confirmation' style="width:270px;" name='new_password_confirmation' size='15'/>
            </div>
        </div>
        <div class="submit" style="padding-left: 180px;">
            <a href="javascript:;" onclick="sendChange()"><%= submit_tag 'Send' %></a>
        </div>
        <div class="error" style="padding: 10px;">
        </div>
    </form>
</div>
<script language="javascript">
    function sendChange(){
        $("#editpsw").submit();
    }
    
    $().ready(function(){
        $("#editpsw").validate({
            rules: {
								current_password: {
                    required: true,
                    minlength: 6
                },
                new_password: {
                    required: true,
                    minlength: 6
                },
                new_password_confirmation: {
                    required: true,
                    minlength: 6,
                    equalTo: "#new_password"
                }
            }
        });
    });
</script>
