<div class="settMenu">
  <ul>
    <li class="settselect"><a href="#"><span>Setting</span></a></li>
    <li><a href="#"><span>Networks</span></a></li>
    <li><a href="#"><span>Notifications</span></a></li>
    <li><a href="#"><span>Language</span></a></li>
    <li><a href="#"><span>Payments</span></a></li>
    <li><a href="#"><span>AfterClassroom Ads</span></a></li>
    You are here: 
    <%= link_to "Networks" , :controller => "settings", :action => "networks"%>
  </ul>
</div>

