<div class="settCont">
  <div class="settCont1">

    <div class="settMenu">
      <ul>
        <%= render :partial => "setting_menu" %>
      </ul>
    </div>
    <div class="settC">

      <div class="settNetL">You aren’t in any networks.</div>
      <div class="settNetR">
        <div class="NetRJoin">Join a Network</div>
        <div class="NetREn">Enter a workplace or school</div>
        <div class="NetRName">Network name:</div>
        <div class="NetRIn"><input type="text" name="Text2"></div>
        <div class="setRbtm">
          <div class="NetRBut"><a href="#">Join Network</a></div>
          <div class="NetRBut"><a href="#">Create Network</a></div>
        </div>
      </div>
    </div>
  </div>

</div>