<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="settCont">
  <div class="settCont1">

    <div class="settMenu">
      <ul>
        <%= render :partial => "setting_menu" %>
      </ul>
    </div>

    <div class="settC">
      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Credit Cards</div>
          <div class="settItemTR"><a href="#">manage</a></div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">For Gifts, Ads, etc.</div>
          <div class="settItemBR"></div>
        </div>
      </div>
      <div class="settItem">
        <div class="settItemT">
          <div class="settItemTL">Currency</div>
          <div class="settItemTR"><a href="#">change</a></div>
        </div>
        <div class="settItemB">
          <div class="settItemBL">Show prices and make purchases.</div>
          <div class="settItemBR">US Dollars</div>
        </div>
      </div>
    </div>
  </div>

</div>