<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="settCont">
  <div class="settCont1">
    <div class="settMenu">
      <ul>
        <%= render :partial => "setting_menu" %>
      </ul>
    </div>
    <div class="settNetLPaT"></div>
    <div class="settNetLPa">Control your sharing information</div>
    <div class="settC">
      <div class="flistItem">
        <div class="flistInf">
          <div class="flistNPa"><span>My story</span></div>
          <div class="flistS"></div>
        </div>
        <div class="flistRPa">
          <div class="flistRAddPa">
            <a href="#"><span class="flistAPa">Add to list</span></a>
            <ul>
              <li><label><input type="checkbox" id="Family members"><a href="">Family members</a></label></li>
              <li><label><input type="checkbox" id="Friends from school"><a href="">Friends from school</a></label></li>
              <li><label><input type="checkbox" id="Friends from work"><a href="">Friends from work</a></label></li>
              <li><label><input type="checkbox" id="General Friends"><a href="">General Friends</a></label></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="settNetLPaT"></div>
    <div class="settNetLPa">My Profile</div>
    <div class="settC">
      <div class="flistItem">
        <div class="flistInf">
          <div class="flistNPa"><span>My Family</span></div>
          <div class="flistS"></div>
        </div>
        <div class="flistRPa">
          <div class="flistRAddPa">
            <a href="#"><span class="flistAPa">Add to list</span></a>
            <ul>
              <li><label><input type="checkbox" id="Family members"><a href="">Family members</a></label></li>
              <li><label><input type="checkbox" id="Friends from school"><a href="">Friends from school</a></label></li>
              <li><label><input type="checkbox" id="Friends from work"><a href="">Friends from work</a></label></li>
              <li><label><input type="checkbox" id="General Friends"><a href="">General Friends</a></label></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flistItem">
        <div class="flistInf">
          <div class="flistNPa"><span>Web Page</span></div>
          <div class="flistS"></div>
        </div>
        <div class="flistRPa">
          <div class="flistRAddPa">
            <a href="#"><span class="flistAPa">Add to list</span></a>
            <ul>
              <li><label><input type="checkbox" id="Family members"><a href="">Family members</a></label></li>
              <li><label><input type="checkbox" id="Friends from school"><a href="">Friends from school</a></label></li>
              <li><label><input type="checkbox" id="Friends from work"><a href="">Friends from work</a></label></li>
              <li><label><input type="checkbox" id="General Friends"><a href="">General Friends</a></label></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="settNetLPaT"></div>
    <div class="settNetLPa">Box</div>
    <div class="settC">
      <div class="flistItem">
        <div class="flistInf">
          <div class="flistNPa"><span>My Assignment</span></div>
          <div class="flistS"></div>
        </div>
        <div class="flistRPa">
          <div class="flistRAddPa">
            <a href="#"><span class="flistAPa">Add to list</span></a>
            <ul>
              <li><label><input type="checkbox" id="Family members"><a href="">Family members</a></label></li>
              <li><label><input type="checkbox" id="Friends from school"><a href="">Friends from school</a></label></li>
              <li><label><input type="checkbox" id="Friends from work"><a href="">Friends from work</a></label></li>
              <li><label><input type="checkbox" id="General Friends"><a href="">General Friends</a></label></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flistItem">
        <div class="flistInf">
          <div class="flistNPa"><span>My Project</span></div>
          <div class="flistS"></div>
        </div>
        <div class="flistRPa">
          <div class="flistRAddPa">
            <a href="#"><span class="flistAPa">Add to list</span></a>
            <ul>
              <li><label><input type="checkbox" id="Family members"><a href="">Family members</a></label></li>
              <li><label><input type="checkbox" id="Friends from school"><a href="">Friends from school</a></label></li>
              <li><label><input type="checkbox" id="Friends from work"><a href="">Friends from work</a></label></li>
              <li><label><input type="checkbox" id="General Friends"><a href="">General Friends</a></label></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
