<div class="photoItem">
  <div class="photoImg"><%= link_to raw("<div>#{image_tag photo.photo_attach.url(:thumb)}</div>"), user_photo_url(current_user, photo) %></div>
  <div class="photoNamePho"><%= check_box_tag "photo_id", photo.id %><span><%= photo.title %></span></div>
</div>
