<div class="photoItem">
  <div class="photoImg"><%= link_to raw("<div>#{image_tag photo.photo_attach.url(:thumb)}</div>"), user_photo_url(current_user, photo) %>
    <span style="margin-top: -5px; position: absolute; z-index: 5;">
      <%= check_box_tag "photo_id", photo.id %>
    </span>
  </div>
  <div class="photoNamePho">
    <span style="text-indent: 22px;">
      <%= truncate_words(photo.title, 5) %>
    </span>
  </div>
</div>
