<div class="photoItem">
  <div class="photoImg"><%= link_to get_first_photo(album), user_photo_album_url(current_user, album) %></div>
  <div class="photoInf" style="margin-top: -5px;"><%= pluralize(album.photos.size, "photo") %></div>
  <div class="photoNamePho" style="margin-top: -2px;"><%= check_box_tag "photo_album_id", album.id %><span><%= album.name %></span></div>
</div>