<div class="musicL">
  <div class="photoImg"><a href="#"><div><img src="pictures/music3.png"/></div></a></div>
  <div class="mostMSR">
    <div class="mostMStitle"><a href="#">Fast Lane Daily   /  2009 L.A. Auto Show Day 1 - 2011 Ford Fiesta</a></div>
    <div class="mostMStime">2 hours 10 minutes</div>
    <div class="mostMSA"><a href="#" class="mostMSPlay"> </a><a href="#" class="mostMSadd"> </a></div>
  </div>
</div>
