<div class="mainSignUpS">
  <div class="AsDContImg"><a href="#"><div><img src="/images/pic11.png"></div></a></div>
  <div class="txtsignup topHelp">
    <div class="AftBe">
      <div class="txtsignup1">AfterClassroom</div>
    </div>
    <div class="sponsorS">
      <div class="sponsorLink">
        <div class="menuRL">
          <div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Company Information</span></span></a></div>
          <div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Terms Of User</span></span></a></div>
          <div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Privacy Policy</span></span></a></div>
          <div class="menuRItem"><span class="span1"><span class="span2"><%= link_to 'Terms of use', :controller => 'statics', :action => 'terms'%></span></span></div>
          <div class="menuRItemB"><a href="#">&nbsp;</a></div>
        </div>
      </div>
    </div>
  </div>
</div>