<div class="mainSignUpS">
  <div class="AsDContImg"><a href="/"><div><img src="/images/pic11.png"></div></a></div>
  <div class="txtsignup topHelp">
    <div class="AftBe">
      <div class="txtsignup1">AfterClassroom</div>
    </div>
    <div class="sponsorS">
      <div class="sponsorLink">
        <div class="menuRL">
          <div class="menuRItem <%= "menuRselect" if (controller.action_name == "index" && controller.controller_name == "statics" ) %>"><a href="/statics/index"><span class="span1"><span class="span2">Company Information</span></span></a></div>
          <div class="menuRItem <%= "menuRselect" if (controller.action_name == "index" && controller.controller_name == "press_infos" ) %>"><a href="/press_infos"><span class="span1"><span class="span2">Press Release</span></span></a></div>
          <div class="menuRItem <%= "menuRselect" if (controller.action_name == "terms" && controller.controller_name == "statics" ) %>"><a href="/statics/terms"><span class="span1"><span class="span2">Terms Of Use</span></span></a></div>
          <div class="menuRItem <%= "menuRselect" if (controller.action_name == "privacy" && controller.controller_name == "statics" ) %>"><a href="/statics/privacy"><span class="span1"><span class="span2">Privacy Policy</span></span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>