<% content_for :you_are_here do -%>
  You are here: <a href="/">Help Information</a>
<% end -%>

<div class="mainSignUpS">
  <div class="AsDContImg"><a href="/"><div><img src="/images/pic11.png"></div></a></div>
  <div class="txtsignup topHelp">
    <div class="AftBe">
      <div class="txtsignup1">AfterClassroom</div>
    </div>
    <div class="sponsorS">
      <div class="sponsorLink">
        <div class="menuRL">
          <div class="menuRItem <%= "menuRselect" if controller.action_name == "help" %>"><a href="/statics/help"><span class="span1"><span class="span2">Community Help Forum</span></span></a></div>
         
        </div>
      </div>
    </div>
  </div>
</div>

<!--Content-->
<div class="contMainL">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div class="AsDTop">
          <h1 class="titleH1">Help Information</h1>
        </div>

        <div class="AsDTopA">
          
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
