<%= render :partial => "submenu" %>
<% content_for :you_are_here do -%>
  You are here: <a href="javascript:;">About Us</a>
<% end -%>
<!--Content-->
<div class="contMainL">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div class="AsDTop">
          <h1 class="titleH1">About Us</h1>
        </div>
        <div class="AsDTopA">
          <span style='float:left;height:0px'></span>
          <span style=' float: left; position: relative; z-index: 10; ;clear:left;margin-top:0px;'>
            <img src="/images/afterClassroom.png" style="margin-top: -5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;"/>
          </span>
          <div style="color: #6F6F63; text-align: left; display: block; ">
            After Classroom provides a new way for students worldwide from Grade 6 to College/University levels to learn something new every time from socializing rather than waste their time on it.
            <br /><br />Socializing is a big aspect of student life, but it's often difficult to stay in touch with your friends and colleagues when you have tons of assignments and exams overcrowding your schedule. After Classroom is an interactive website that allows you to incorporate both the social and academic aspects of being a student, offering the best of both worlds. Through an endless array of features and programs, not only would you be able to connect with tons of people from different Elementary Schools, High Schools and post-secondary institutions, but you would also be able to put several learning resources to use in the process. Imagine a social networking website where one can improve their learning skills at the same time as building social relationships. It’s probably every student’s dream.
            <br /><br />Your studying and socializing don’t have to be two separate things, and neither of them should become a burden on the other, not when there’s a comprehensive website like After Classroom to help you balance both sides of your school experience.</div>
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>

