<%= render :partial => "submenu" %>
<% content_for :you_are_here do -%>
  You are here: <a href="javascript:;">Company Information</a>
<% end -%>
<!--Content-->
<div class="contMainL">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div class="AsDTop">
          <h1 class="titleH1">Company Information</h1>
        </div>

        <div class="AsDTopA">
          <div class="assImg"><a href="/"><img src="/images/Logo_About_us.png" alt="classroom"/></a></div>
          <p class="assDes">Our aim is to provide students with many useful tools to enhance their learning experience as well as user-friendly tools to socialize with their friends either on or off campus.</p>
          <p class="assDes">Starting from today, only University and College students from selected countries can find their school, and we will try our best to add more Universities, Colleges as well as High Schools available to all people across the Globe who consider themselves as cool as students.</p>
          <p class="assDes">After Classroom’s mission is to help students succeed in learning, and we are always open to listen to your feedback to make After Classroom even more resourceful, from studying to endless fun and socializing.</p>
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
