<%= render :partial => "edit" %>
<% content_for :you_are_here do -%>
  You are here: <a href="/">Company Information</a>
<% end -%>
<!--Content-->
<div class="contMainL">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div class="AsDTop">
          <h1 class="titleH1">Company Information</h1>
        </div>

        <div class="AsDTopA">
          <div class="assImg"><a href="/"><img src="/images/Logo_About_us.png" alt="classroom"/></a></div>
          <li class="assDes">Our aim is to provide students with many useful tools to enhance their learning experience as well as user-friendly tools to socialize with their friends either on or off campus.</li>
          <li class="assDes">Currently, we are beginning to provide service to a few select universities/colleges in Canada and the United States. By mid-2011, we plan for all the universities and colleges across North America to have complete access.</li>
          <li class="assDes">After Classroom’s mission is to help students succeed in learning.  As a result, we strongly encourage every student out there to feel free and provide us feedback so that we can better serve YOU.  We wish you a wonderful and successful school year!</li>
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>
