<%= render :partial => "submenu" %>
<% content_for :you_are_here do -%>
  You are here: <a href="/">Privacy Policy</a>
<% end -%>
<!--Content-->
<div class="contMainL">
  <div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">
        <div class="AsDTop">
          <h1 class="titleH1">Privacy Policy</h1>
        </div>
        <div class="AsDTopA">
          <div class="assImg"></div>
          <p class="assDes">
            We are committed to safeguarding the privacy of our website visitors; this policy sets out
            how we will treat your personal information.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (1) What information do we collect?
          </p>
          <p class="assDes">
            We may collect, store and use the following kinds of personal information:
          </p>
          <p class="assDes">
            (a) information about your computer and about your visits to and use of this website
            including your IP address, geographical location, browser type and version,
            operating system, referral source, length of visit, page views, website navigation.
          </p>
          <p class="assDes">
            (b) information relating to any transactions carried out between you and us on or in
            relation to this website, including information relating to any purchases you make
            of our goods or services.
          </p>
          <p class="assDes">
            (c) information that you provide to us for the purpose of registering with us.
          </p>
          <p class="assDes">
            (d) information that you provide to us for the purpose of subscribing to our website
            services, email notifications and/or newsletters.
          </p>
          <p class="assDes">
            (e) any other information that you choose to send to us.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (2) Cookies
          </p>
          <p class="assDes">
            A cookie consists of information sent by a web server to a web browser, and stored by
            the browser. The information is then sent back to the server each time the browser
            requests a page from the server. This enables the web server to identify and track the
            web browser.
          </p>
          <p class="assDes">
            We may use both “session” cookies and “persistent” cookies on the website. We will use
            the session cookies to: keep track of you whilst you navigate the website. We will use
            the persistent cookies to: enable our website to recognise you when you visit.
          </p>
          <p class="assDes">
            Session cookies will be deleted from your computer when you close your browser.
          </p>
          <p class="assDes">
            Persistent cookies will remain stored on your computer until deleted, or until they reach
            a specified expiry date.
          </p>
          <p class="assDes">
            We use Google Analytics to analyse the use of this website. Google Analytics generates
            statistical and other information about website use by means of cookies, which are
            stored on users' computers. The information generated relating to our website is used to
            create reports about the use of the website. Google will store this information. Google's
            privacy policy is available at: http://www.google.com/privacypolicy.html.
          </p>
          <p class="assDes">
            Our advertisers/payment services providers may also send you cookies.
          </p>
          <p class="assDes">
            We publish Google Adsense interest-based advertisements on our website. These are
            tailored by Google to reflect your interests. To determine your interests, Google will
            track your behaviour across the web using cookies. You can view, delete or add interest
            categories associated with your browser using Google's Ads Preference Manager,
            available at: http://www.google.com/ads/preferences/. You can opt-out of the Adsense
            partner network cookie at: http://www.google.com/privacy_ads.html. However, this
            opt-out mechanism uses a cookie, and if you clear the cookies from your browser your
            opt-out will not be maintained. To ensure that an opt-out is maintained in respect of a
            particular browser, you should use the Google browser plug-in available at: http://www.google.com/ads/preferences/plugin.
          </p>
          <p class="assDes">
            Most browsers allow you to reject all cookies, whilst some browsers allow you to reject
            just third party cookies. For example, in Internet Explorer you can refuse all cookies by
            clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the
            sliding selector. Blocking all cookies will, however, have a negative impact upon the
            usability of many websites including this one.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (3) Using your personal information
          </p>
          <p class="assDes">
            Personal information submitted to us via this website will be used for the purposes
            specified in this privacy policy or in relevant parts of the website.
          </p>
          <p class="assDes">
            We may use your personal information to:
          </p>
          <p class="assDes">
            (a) administer the website;
          </p>
          <p class="assDes">
            (b) improve your browsing experience by personalizing the website.
          </p>
          <p class="assDes">
            (c) enable your use of the services available on the website.
          </p>
          <p class="assDes">
            (d) send to you goods purchased via the website, and supply to you services
            purchased via the website.
          </p>
          <p class="assDes">
            (e) send statements and invoices to you, and collect payments from you.
          </p>
          <p class="assDes">
            (f) send you general (non-marketing) commercial communications.
          </p>
          <p class="assDes">
            (g) send you email notifications which you have specifically requested.
          </p>
          <p class="assDes">
            (h) send to you our newsletter and other marketing communications relating to our
            business or the businesses of carefully-selected third parties which we think may
            be of interest to you by post or, where you have specifically agreed to this, by
            email or similar technology. You can inform us at any time if you no longer
            require marketing communications.
          </p>
          <p class="assDes">
            (i) provide third parties with statistical information about our users – but this
            information will not be used to identify any individual user.
          </p>
          <p class="assDes">
            (j) deal with enquiries and complaints made by or about you relating to the website.
            Where you submit personal information for publication on our website, we will publish
            and otherwise use that information in accordance with the license you grant to us.
            We will not, without your express consent, provide your personal information to any third
            parties for the purpose of direct marketing.
          </p>
          <p class="assDes">
            All our website financial transactions are handled through our payment services provider,
            PayPal. You can review the PayPal privacy policy at www.paypal.com. We will share
            information with PayPal only to the extent necessary for the purposes of processing
            payments you make via our website and dealing with complaints and queries relating to
            such payments.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (4) Disclosures
          </p>
          <p class="assDes">
            We may disclose information about you to any of our employees, officers, agents,
            suppliers or subcontractors insofar as reasonably necessary for the purposes as set out
            in this privacy policy.
          </p>
          <p class="assDes">
            In addition, we may disclose your personal information:
          </p>
          <p class="assDes">
            (a) to the extent that we are required to do so by law;
          </p>
          <p class="assDes">
            (b) in connection with any legal proceedings or prospective legal proceedings;
          </p>
          <p class="assDes">
            (c) in order to establish, exercise or defend our legal rights (including providing
            information to others for the purposes of fraud prevention and reducing credit
            risk.
          </p>
          <p class="assDes">
            (d) to the purchaser, or prospective purchaser, of any business or asset which we are
            or are contemplating selling.
          </p>
          <p class="assDes">
            (e) to any person who we reasonably believe may apply to a court or other
            competent authority for disclosure of that personal information where, in our
            reasonable opinion, such court or authority would be reasonably likely to order
            disclosure of that personal information.
          </p>
          <p class="assDes">
            Except as provided in this privacy policy, we will not provide your information to third
            parties.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (5) International data transfers
          </p>
          <p class="assDes">
            Information that we collect may be stored and processed in and transferred between any
            of the countries in which we operate in order to enable us to use the information in
            accordance with this privacy policy.
          </p>
          <p class="assDes">
            Information which you provide may be transferred to countries including the United
            States and Japan which do not have data protection laws equivalent to those in force in
            the European Economic Area.
          </p>
          <p class="assDes">
            In addition, personal information that you submit for publication on the website will be
            published on the internet and may be available, via the internet, around the world. We
            cannot prevent the use or misuse of such information by others.
          </p>
          <p class="assDes">
            You expressly agree to such transfers of personal information.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (6) Security of your personal information
          </p>
          <p class="assDes">
            We will take reasonable technical and organisational precautions to prevent the loss,
            misuse or alteration of your personal information.
          </p>
          <p class="assDes">
            We will store all the personal information you provide on our secure (password- and
            firewall- protected) servers. All electronic transactions you make to or receive from us
            will be encrypted.
          </p>
          <p class="assDes">
            Of course, data transmission over the internet is inherently insecure, and we cannot
            guarantee the security of data sent over the internet. You are responsible for keeping
            your password and user details confidential. We will not ask you for your password
            except when you log in to the website.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (7) Policy amendments
          </p>
          <p class="assDes">
            We may update this privacy policy from time-to-time by posting a new version on our
            website. You should check this page occasionally to ensure you are happy with any
            changes.
          </p>
          <p class="assDes">
            We may also notify you of changes to our privacy policy by email.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (8) Your rights
          </p>
          <p class="assDes">
            You may instruct us to provide you with any personal information we hold about you.
            Provision of such information will be subject to:
          </p>
          <p class="assDes">
            (a) the payment of a fee (currently fixed at $25.00 CDN.); and
          </p>
          <p class="assDes">
            (b) the supply of appropriate evidence of your identity. For this purpose, we will
            usually accept a photocopy of your passport certified by a solicitor or bank plus
            an original copy of a utility bill showing your current address.
          </p>
          <p class="assDes">
            We may withhold such personal information to the extent permitted by law.
          </p>
          <p class="assDes">
            You may instruct us not to process your personal information for marketing purposes by
            email at any time. In practice, you will usually either expressly agree in advance to our
            use of your personal information for marketing purposes, or we will provide you with an
            opportunity to opt-out of the use of your personal information for marketing purposes.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (9) Third party websites
          </p>
          <p class="assDes">
            The website contains links to other websites. We are not responsible for the privacy
            policies or practices of third party websites.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (10) Updating information
          </p>
          <p class="assDes">
            Please let us know if the personal information which we hold about you needs to be
            corrected or updated.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (11) Contact
          </p>
          <p class="assDes">
            If you have any questions about this privacy policy or our treatment of your personal
            information, please write to us by email to legal@afterclassroom.com or by post to Suite
            1445 – 25 King Street West, Toronto, ON M5L 1A1.
          </p>
          <p class="assDes" style="font-weight: bold; color: #1c1919">
            (12) Data controller
          </p>
          <p class="assDes">
            The data controller responsible in respect of the information collected on this website is
            Amazon.
          </p>
        </div>
        <div class="goTop"><a href="javascript:;" onclick="goToByScroll('top_page')">Top</a></div>
      </div>
    </div>
  </div>
</div>

