<div class="learnNewTL">
  <div class="learnNewTLtitle"><a href="#">Lorem ipsum dolor sit amet</a></div>
  <div class="learnNewTLdes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae risus lorem. Pellentesque ac aliquet diam. Vivamus eget felis vitae libero lobortis fringilla...</div>
  <div class="learnNewTLimg"><a href="#"><div><img src="pictures/game1.png"></div></a></div>
</div>
<div class="learnNewTR">
  <div class="learnNewTLtitle"><a href="#">Lorem ipsum dolor sit amet</a></div>
  <div class="learnNewTLdes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae risus lorem. Pellentesque ac aliquet diam. Vivamus eget felis vitae libero lobortis fringilla...</div>
  <div class="learnNewTLimg"><a href="#"><div><img src="pictures/game2.png"></div></a></div>
</div>
