<div class="col195 student195">
  <div class="col195in">
    <h1 class="col195Title">TeamUp for Start-up</h1>
    <div class="col195Cont">

      <%
      teamStartup = PostTeamup.team_startup
      %>
      <% if teamStartup.size > 0 %>
        <%
        teamStartup.each do |ts|
        %>
            <div class="studentItem">
              <div class="studentImg"><a href="#"><div><img src="pictures/pic7.png" /></div></a></div>
              <div class="studentInf"><a href="#"><%= ts.post.title   %></a></div>
            </div>

        <%
        end
      %>
        <div class="dueDbutton"><%= link_to "View more TeamUp for Start-up", more_startup_post_teamups_path %></div>
      <%
      end
    %>

    </div>
  </div>
</div>