<div class="col195 student195">
  <div class="col195in">
    <h1 class="col195Title">TeamUp for Start-up</h1>
    <div class="col195Cont">
      <%
      team_s = TeamupCategory.find_by_label("teamup_for_start_up")
      team_startups = PostTeamup.with_school(@school).with_category(team_s.id).recent.with_limit
    %>
      <% if team_startups.size > 0 %>
        <%
        team_startups.each do |ts|
        %>
          <div class="studentItem">
            <div class="studentImg"><%= show_image_user_post(ts.post.user) %></div>
            <div class="studentInf"><%= link_to truncate_words(ts.post.title, 4), post_teamup_path(ts) %></div>
          </div>
        <%
        end
      end
    %>
    </div>
    <div class="dueDbutton">
      <a href="<%= "#{post_teamups_path}?teamup_category_id=4" %>">View more Teamup for Start-up</a>
    </div>
  </div>
</div>
