<div class="studentItem">
  <div class="studentImg"><a href="#"><div><img src="pictures/pic7.png" /></div></a></div>
  <div class="studentInf"><a href="#">Lorem ipsum dolor</a></div>
</div>
<div class="studentItem">
  <div class="studentImg"><a href="#"><div><img src="pictures/noimg1.png" /></div></a></div>
  <div class="studentInf"><a href="#">Pellentesque et tincidunt</a></div>
</div>
<div class="studentItem">
  <div class="studentImg"><a href="#"><div><img src="pictures/pic9.png" /></div></a></div>
  <div class="studentInf"><a href="#">Quisque odio mi</a></div>
</div>
<div class="studentItem">
  <div class="studentImg"><a href="#"><div><img src="pictures/pic7.png" /></div></a></div>
  <div class="studentInf"><a href="#">Suspendisse orci erat</a></div>
</div>
