<% TeamupCategory.find(:all).each do |tt| %>
<div class="menuRItem <%= "menuRselect" if @teamup_category_id && @teamup_category_id.to_i == tt.id %>"><a href="<%= "#{post_teamups_path}?teamup_category_id=#{tt.id}" %>"><span class="span1"><span class="span2"><%= tt.name %></span></span></a></div>
<% end %>
