<div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Team Just Startup</span></span></a></div>
<div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Teamup for Sports</span></span></a></div>
<div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Teamup for Student Clubs</span></span></a></div>