<div id="actionsBox" class="actionsBox">
    <div id="actionsBoxMenu" class="menu">
        <span id="cntBoxMenu">0</span>
        <a id="acBox" class="button box_action" style="visibility: visible;">Edit</a>
        <a class="button box_action" id="act_delete">Delete</a>
        <a id="toggleBoxMenu" class="open"></a>
        <a id="closeBoxMenu" class="button">X</a>
    </div>
    <div class="submenu" sytle="width:160px; margin-left:60px">
        <%= link_to "Draf", draft_user_stories_url(current_user) %>
    </div>
</div>

<!--Alert-->
<div id="delete-story-dialog-message" title="Confirm delete" style="display:none;">
  <p>
    Are you sure?
  </p>
</div>
<!--Alert-->

<script>
    $('#acBox').click(function(){
        var $this = $('#mytable input:checked').first();
        var path = "/users/<%= current_user.id %>/stories/" + $this.val() + "/edit";
        document.location.href = path;
    });

    $('#act_delete').click(function(){
        $("#delete-story-dialog-message").dialog({
            modal: true,
            buttons: {
                Ok: function(){
                    var ids = '';
                    $('#mytable input:checked').each(function(e, i){
                        var $this = $(this);
                        ids += $this.val() + ", ";
                    });
                    document.location.href = "<%= delete_all_user_stories_url(current_user) %>?list_ids=" + ids;
                },
                Cancel: function(){
                    $("#delete-story-dialog-message").dialog('close');
                }
            }
        });
    });
</script>
