<% form_tag url_for(:controller => "stories", :action => "add_tag"), :id => "form_tag_user", :style => "display:none;", :method => :post, :remote => true do %>
  <%= hidden_field_tag "id", @story.id %>

  <div class="form_friends" style="margin-left:48px; margin-top: 10px; width: 440px;">
    <%= text_field_tag "share_to", "", :style => "width:360px;height:23px" %>
  </div>
  <div class="submit" style="float: right; margin-top: -25px; margin-right: 100px;" id="send_btn">
    <a onmouseover="this.style.cursor='pointer';">Send</a>
  </div>
<% end %>
<style>
  .textboxlist-autocomplete-result div{
    background: url("/images/bgi-col300.png") no-repeat scroll 0 0 transparent;
    padding: 3px;
    height: 51px;
  }
</style>
