<div class="slsItem">
  <div class="slsItemL">
    <div class="slsItemLN"><%= story.count_view %></div>
    <div class="slsItemLV">viewed</div>
  </div>
  <div class="assImg"><a href="#"><div><img src="/images/pictures/slsNoimg.png"/></div></a></div>
  <div class="slsItemR">
    <div class="slsItemTitle"><%= link_to story.title, user_story_path(current_user, story) %></div>
    <div class="slsItemTime"><%= distance_of_time_in_words_to_now(story.created_at, false) + " ago." %></div>
    <div class="slsItemDes">
      <%= truncate_words(story.content) %>
    </div>
  </div>
</div>