<table id="mytable">
  <tr>
    <td>
      <div class="slsItem">
        <div class="slsItemL">
          <div class="slsItemLN"><%= story.count_view %></div>
          <div class="slsItemLV">viewed</div>
        </div>
        <div class="assImg"><a href="#"><div><img src="/images/pictures/slsNoimg.png"/></div></a></div>
        <div class="slsItemRr">
          <div class="slsItemTitle"><%= link_to story.title, user_story_path(current_user, story) %></div>
          <div class="slsItemTime"><%= distance_of_time_in_words_to_now(story.created_at, false) + " ago." %></div>
          <div class="slsItemDes">
            <%= truncate_words(story.content) %>
          </div>
        </div>
      </div>
    </td>
    <td class="check">
      <input id="check_1" name="check_1" type="checkbox" value="1" />
    </td>
  </tr>
</table>
<div id="actionsBox" class="actionsBox">
  <div id="actionsBoxMenu" class="menu">
    <span id="cntBoxMenu">0</span>
    <a class="button box_action">Archive</a>
    <a class="button box_action">Delete</a>
    <a id="toggleBoxMenu" class="open"></a>
    <a id="closeBoxMenu" class="button">X</a>
  </div>
  <div class="submenu">
    <a class="first box_action">Move...</a>
    <a class="box_action">Mark as read</a>
    <a class="box_action">Mark as unread</a>
    <a class="last box_action">Spam</a>
  </div>
</div>