<% if @tagged_users.size > 0 %>

<div class="col300 slStory">
  <div class="col300in" id="on_this_story">
    <%= render :partial => "stories/widget_lets_read"%>    
  </div>
</div>
<% end %><!-- end if -->
