<div class="slsShare">
  <div class="slsShareL">Share a Story</div>
  <div class="slsShareR">
    <a href="#" class="slsShareW">Write it</a>
    <a href="#" class="slsShareS">Say it</a>
    <a href="#" class="slsShareF">Film it</a>
  </div>
</div>