<%
most_viewed_stories = current_user.stories.where(:state => "share").with_limit.most_view
%>
<div class="col300 slStory">
  <div class="col300in">
    <h1 class="col300Title">Most viewed stories</h1>
    <% most_viewed_stories.each do |s| %>
      <div class="stuLFriChat">
        <div class="stuLFdes"><%= link_to s.title, user_story_path(current_user, s) %><br/><span style="color: #6F6F6E"><%= truncate_words(s.content, 15) %></span></div>
      </div>
    <% end %>
  </div>
</div>
