<%
arr_user_id = []
arr_user_id << current_user.id
if current_user.user_friends
  current_user.user_friends.each do |friend|
    arr_user_id << friend.id
  end
end
u = arr_user_id.join(", ")
most_viewed_stories = Story.with_users(u).with_limit.most_view
%>
<div class="col300 slStory">
  <div class="col300in">
    <h1 class="col300Title">Most viewed stories</h1>
    <% most_viewed_stories.each do |s| %>
      <div class="stuLFriChat">
        <div class="stuLFdes"><%= link_to s.title, user_story_path(current_user, s) %><br/><%= truncate_words(s.content, 15) %></div>
      </div>
    <% end %>
  </div>
</div>