<div class="col300 slStory">
  <div class="col300in">
    <h1 class="col300Title">Most viewed stories</h1>
    <div class="stuLFriChat">
      <div class="stuLFdes"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat accumsan est id congue. Pellentesque sollicitudin dolor sed dolor pretium et porttitor leo sodales...</a></div>
    </div>
    <div class="stuLFriChat">
      <div class="stuLFdes"><a href="#">Nulla nunc mi, auctor eget tincidunt vel, mollis id neque. Vestibulum malesuada vehicula viverra. Suspendisse in sem urna...</a></div>
    </div>
    <div class="stuLFriChat">
      <div class="stuLFdes"><a href="#">Suspendisse in risus purus, nec ultrices tellus. Suspendisse at egestas velit. Donec pulvinar porttitor metus ac bibendum...</a></div>
    </div>
    <div class="stuLFriChat">
      <div class="stuLFdes"><a href="#">Ut pellentesque euismod eros sit amet vulputate. Duis volutpat consectetur est, quis facilisis orci tristique ut...</a></div>
    </div>
    <div class="stuLFriChat">
      <div class="stuLFdes"><a href="#">Sed sem tellus, facilisis eget blandit gravida, consectetur ac risus. Morbi rhoncus ligula eget tortor fringilla ornare viverra sed ante..</a></div>
    </div>
    <div class="stuLfriBL"><a href="#">View more Most viewed stories</a></div>
  </div>
</div>