<div class="col300 slStory">
  <div class="col300in">
    <h1 class="col300Title">On this story</h1>
    <div class="onThis">
      <div class="navigation-container">
        <div id="thumbs" class="navigation">


          <ul class="thumbs noscript">
            <li>


              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/aac.png" alt="viet"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>


            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/ac3.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/ace.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/ade.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/ai.png" alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/aiff.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/aspx.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/avi.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/bat.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/bin.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/bmp.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/cab.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/cat.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/chm.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/cmd.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/css.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/csv.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/cue.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/dat.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/default.png" alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/der.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/dic.png"alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

            <li>
              <div class="onThisL">
                <div class="AsDcomImg"><a href="#"><div><img src="/images/icons/file_type/divx.png" alt="99347_920"></div></a></div>
                <div class="onThisN"><a href="#">John</a></div>
              </div>
            </li>

          </ul>
          <div class="onThisBtm1">
            <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
            <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        // We only want these styles applied when javascript is enabled
        $('div.navigation').css({'width' : '300px', 'float' : 'left'});
        $('div.content').css('display', 'block');

        // Initially set opacity on thumbs and add
        // additional styling for hover effect on thumbs
        var onMouseOutOpacity = 3.67;
        $('#thumbs ul.thumbs li, div.navigation a.pageLink').opacityrollover({
            mouseOutOpacity:   onMouseOutOpacity,
            mouseOverOpacity:  1.0,
            fadeSpeed:         'fast',
            exemptionSelector: '.selected'
        });

        // Initialize Advanced Galleriffic Gallery
        var gallery = $('#thumbs').galleriffic({
            delay:                     2500,
            numThumbs:                 6,
            preloadAhead:              10,
            enableTopPager:            false,
            enableBottomPager:         false,
            imageContainerSel:         '#slideshow',
            captionContainerSel:       '#caption',
            
           
            defaultTransitionDuration: 900,
            onSlideChange:             function(prevIndex, nextIndex)



            {
                // 'this' refers to the gallery, which is an extension of $('#thumbs')
             

                // Update the photo index display
                this.$captionContainer.find('div.photo-index')
                .html('Photo '+ (nextIndex+1) +' of '+ this.data.length);
            },
            onPageTransitionOut:       function(callback) {
                this.fadeTo('fast', 1.0, callback);
            },
            onPageTransitionIn:        function() {
                var prevPageLink = this.find('a.prev').css('visibility', '');
                var nextPageLink = this.find('a.next').css('visibility', '');

                // Show appropriate next / prev page links
                
            }
        });

        /**************** Event handlers for custom next / prev page links **********************/

        gallery.find('a.prev').click(function(e) {
            gallery.previousPage();
            e.preventDefault();
        });

        gallery.find('a.next').click(function(e) {
            gallery.nextPage();
            e.preventDefault();
        });

        /****************************************************************************************/


        /****************************************************************************************/
    });
</script>
<style>
  .onThisBtm1{
    margin-left:200px;
  }
  

  

  div.navigation a.pageLink {
    height: 20px;
    line-height: 20px;
  }

  

  div.navigation-container {
    float: left;
    position: relative;
    left: 50%;
  }
  div.navigation {
    float: left;
    position: relative;
    left: -50%;
  }
  div.navigation a.pageLink {
    display: block;
    position: relative;
    float: left;
    margin: 2px;
    width: 20px;
    background-position:center center;
    background-repeat:no-repeat;
  }


  ul.thumbs {
    position: relative;
    float: left;
    margin-left: 20px;
    padding: 0;
    height:170px;
  }
  ul.thumbs li {
    float: left;
    padding: 0;
    margin: 2px;
    list-style: none;
  }


  div.navigation a.prev {
    background-image: url("/images/btmPagePre.png");
  }
  div.navigation a.next {
    background-image:url("/images/btmPageNext.png");
  }
 

</style>