<div class="col300 slStory">
  <div class="col300in">
    <h1 class="col300Title">On this story</h1>
    <div class="onThis">
      <div class="onThisL">
        <div class="AsDcomImg"><a href="#"><div><img src="pictures/pic1.png"/></div></a></div>
        <div class="onThisN"><a href="#">Dang Nguyen</a></div>
      </div>
      <div class="onThisR">
        <div class="AsDcomImg"><a href="#"><div><img src="pictures/pic2.png"/></div></a></div>
        <div class="onThisN"><a href="#">Dungqta</a></div>
      </div>
    </div>
    <div class="onThis">
      <div class="onThisL">
        <div class="AsDcomImg"><a href="#"><div><img src="pictures/pic3.png"/></div></a></div>
        <div class="onThisN"><a href="#">Vu Nguyen</a></div>
      </div>
      <div class="onThisR">
        <div class="AsDcomImg"><a href="#"><div><img src="pictures/noimg.png"/></div></a></div>
        <div class="onThisN"><a href="#">ThienanHo</a></div>
      </div>
    </div>
    <div class="onThis">
      <div class="onThisL">
        <div class="AsDcomImg"><a href="#"><div><img src="pictures/noimg.png"/></div></a></div>
        <div class="onThisN"><a href="#">Cindy MA</a></div>
      </div>
      <div class="onThisR">
        <div class="AsDcomImg"><a href="#"><div><img src="pictures/pic1.png"/></div></a></div>
        <div class="onThisN"><a href="#">Dang Nguyen</a></div>
      </div>
    </div>
    <div class="onThisBtm">
      <div class="stoPre"><a href="#"> </a></div>
      <div class="stoNext"><a href="#"> </a></div>
    </div>
  </div>
</div>