<div class="AsDContBtm">
  <span class="btmComment"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Comment</a></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmAbuse"><%= link_to("<span>Report Abuse</span>", "#{report_abuse_posts_path}?reported_id=#{@story.id}&reported_type=Story&height=320&width=490", :class => "thickbox", :title => "Report Abuse") %></span>
</div>