<div class="stuLtop">
  <div class="menuRL">
    <div class="menuRItem mnChat"><%= link_to '<span class="span1"><span class="span2">Chat</span></span>', user_student_lounges_path(current_user) %></div>
    <div class="menuRItem mnShare"><a class="menuRselect" href="#"><span class="span1"><span class="span2">Share a Story</span></span></a></div>
    <div class="menuRItem mnPho"><%= link_to '<span class="span1"><span class="span2">Photos</span></span>', user_photos_path(current_user) %></div>
    <div class="menuRItem mnMus"><%= link_to '<span class="span1"><span class="span2">Musics</span></span>', user_musics_path(current_user) %></div>
    <div class="menuRItem mnVi"><%= link_to '<span class="span1"><span class="span2">Videos</span></span>', user_videos_path(current_user) %></div>
  </div>
  <div class="postdiv">
    <span class="RmenuRbtm2"><a href="#">Post</a></span>
  </div>
</div>