<% content_for :search do -%>
  <%= render :partial => 'shared/search_inbox', :locals => {:search_name => @search_name, :type_name => "Stories", :action_path => "#{stories_path}"} %>
<% end -%>

<% content_for :tabs_inbox do -%>
  <%= render :partial => 'shared/tabs_inbox' %>
<% end -%>

<div class="user_status_listing"><!--user_status_listing-->
<!-- user-post-story -->
  <div id="user-post-story">
    <div id="share-story-text">
      <h3>Write your story here...</h3>
      <% form_for(@story) do |f| %>
        <%= f.text_area :content, :rows => 8, :cols => 20 %>
        <div id="pss-bt">
          <input type="button" value="Cancel" class="grayround-bt cancel" onclick="document.location.href='<%= stories_path %>'">
          <input type="submit" value="Update" class="grayround-bt update">
        </div>
      <% end %>
    </div>
  </div>
  <!-- #user-post-story	 -->

</div> <!--user_status_listing-->

<div class="app_add_on">
</div>