<% SCHEDULE_TYPE.each do |name, value| %>
<div class="menuRItem <%= "menuRselect" if value == @type_schedule %>"><a href="<%= "#{post_exam_schedules_path}?type=#{value}" %>"><span class="span1"><span class="span2"><%= name %></span></span></a></div>
<% end %>
