<div class="col195 Bookdont">
  <div class="col195in">
    <h1 class="col195Title">Don’t buy</h1>
    <div class="col195Cont">
      <%
      dont_buy_books = PostBook.dont_buy(@school).with_limit
    %>
      <% if dont_buy_books.size > 0 %>
        <%
        dont_buy_books.each do |b|
        %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(b.post.title, 4), post_book_path(b) %></div>
            <div class="dueDTime"><%= b.post.user.full_name %></div>
          </div>
        <% end %>
		<% if dont_buy_books.size > LIMIT - 1 %>
        <div class="dueDbutton"><%= link_to "View more Don’t buy", dont_buy_post_books_path %></div>
		<% end %>
      <% end %>
    </div>
  </div>
</div>
