<div class="AsDcomItem">
  <div class="AsDcomImg"><a href="#"><div><img src="pictures/pic1.png"/></div></a></div>
  <div class="AsDcomItemR">
    <div class="AsDcomName">Comment by<a href="#">Huy Quach</a>- 35 minutes ago</div>
    <div class="AsDcomDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis. Proin ultricies dignissim ante vitae euismod. Aliquam vitae sem vel nisi posuere molestie eu venenatis urna.</div>
    <div class="AsDcomRe">
      <div class="AsDcomRe1"><a href="#">1</a></div>
      <div class="AsDcomRe2"><a href="#">200</a></div>
      <div class="AsDcomRe3"><a href="#">Report Abuse</a></div>
    </div>
  </div>
</div>