<div class="AsDContBtm">
  <span class="btmComment"><a href="javascript:void();" onclick="$('form_comment').show();">Comment</a></span>
  <span class="btmBuy"><a href="#">Buy now</a></span>
  <span class="btmMail"><a href="#"><span>Email</span></a></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmFav"><a href="#"><span>Favorite</span></a></span>
  <span class="btmhand"><span class="handU"><a href="#">253</a></span><span class="handD"><a href="#">4</a></span></span>
</div>