<div id="rate_<%= post.id %>_<%= post.class.name %>">
                    <%
                    check = PostBook.find_rated_by(current_user).include?(post.post_book) if logged_in?
                    check ||= false %>
                    <div class="qashdU">
                        <%= show_rating(post.id, post.post_book.total_good, controller_name, check, 1) %>
                    </div>
                    <div class="qashdD">
                        <%= show_rating(post.id, post.post_book.total_bad, controller_name, check, 0) %>
                    </div>
                </div>
