<% BookType.find(:all).each do |bt| %>
<div class="menuRItem <%= "menuRselect" if @book_type_id && @book_type_id.to_i == bt.id %>"><a href="<%= "#{post_books_path}?book_type_id=#{bt.id}" %>"><span class="span1"><span class="span2"><%= bt.name %></span></span></a></div>
<% end %>
