<div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">New books</span></span></a></div>
<div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Used books</span></span></a></div>
<div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Discounted books</span></span></a></div>