<div id="map" style="height:295px"></div>
<script type="text/javascript">
  var str_address = "<%= @address %>";
  var str_html = "<%= @html %>";
  $(document).ready(function(){
    $("#map").gMap({ markers: [{address: str_address, html: str_html}], zoom: 4});
  });
</script>
