<div id="map"></div>
<script type="text/javascript">
  var str_address = "<%= @address %>";
  var str_html = "<%= @html %>";
  $(function()
  {
    $("#map").gMap({ markers: [{address: str_address, html: str_html}], zoom: 10});
  });
</script>
