<div class="setting textfield" id="setting=<%= setting.id %>">
	<div>
		<strong><%= setting.label %></strong><br />
		<small><%= setting.description %></small>
	</div>
	<div class="genSet">
          <span class="inp-formM"><%= text_field_tag("settings[#{setting.id}]", setting.value.to_s) %></span>
	</div>
</div>
