<div class="musicL">
  <div class="photoImg"><%= link_to raw("<div>#{image_tag album.music_album_attach.url(:thumb)}</div>"), user_music_album_path(current_user, album) %></div>
  <div class="musicB">
    <div class="musicS" style="margin-top: -8px;margin-left: -4px"><%= check_box_tag "music_album_id", album.id %><span style="position: absolute;margin-top: 4px"><%= pluralize(album.musics.size, "song") %></span></div>
    <div class="musicNal" style="margin-top: -6px"><%= link_to album.name, user_music_album_path(current_user, album) %></div>
  </div>
</div>