<div class="musicL">
  <div class="musicB">
    <div class="musicN"><%= check_box_tag "music_id", music.id %><%= link_to (music.title == "" ? music.music_attach_file_name : music.title), user_music_path(current_user, music) %></div>
  </div>
</div>