<div id="div_send_report" class="postCont">
  <%= form_for [current_user, @music_album], :html => {:id => "album_form", :multipart => true} do |f| %>
    <div class="postItem">
      <div style="width: 100px;" class="postItem1">Album name*</div>
      <div class="postInp"><%= f.text_field :name, :class => '{validate:{required:true}}' %></div>
    </div>
    <div class="postItem">
      <div style="width: 100px;" class="postItem1">New album image</div>
      <div class="postInp"><%= f.file_field :music_album_attach, :style => "height: 25px;width:253px", :class => '{validate:{accept:true}}' %></div>
    </div>
    <div style="padding-left: 110px;" class="submit"><a onclick="$('#album_form').submit();" href="javascript:;">Update</a></div>
    <div style="padding: 10px;" class="error-innerr"></div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#album_form").validate({
      meta: "validate"
    })
    $('input#music_album_music_attach').attr('size','23');
  });
</script>