<div class="right">
  <div id="posting-section">
    <% form_for :school, @school, :html => {:id => "form", :method => :get} do |f| %>
      <legend><strong>Search</strong></legend>
      <ul>
        <%= render :partial => "select_city", :locals => {:countries => countries, :states => states, :cities => cities, :country_name => country_name, :state_name => state_name, :city_name => city_name, :action_name => "index"} %>
        <li><label>School name</label>
          <div class="user_ri">
            <%= f.text_field :name %>
          </div>
        </li>
        <li>
          <div class="post_cbt">
            <!-- post  button -->
            <a href="javascript:submit()" title="Post" class="link_bt">
              <span class="ltred_l"></span>
              <span class="ltred_c btf">Search</span>
              <span class="ltred_r"></span>
            </a>
            <!-- end post button -->
          </div>
        </li>
      </ul>
      <div id="elements_store"></div>
    <% end %>
  </div>
</div>

