<div class="right">
  <div id="posting-section">
    <%= form_for :school, @school, :html => {:id => "form", :method => :get} do |f| %>
      <ul>
        <div id="state_city">
          <%= render :partial => "search_select_city" %>
        </div>
        <div class="reqLa"><strong>School name</strong></div>
        <div class="inp-formS">
          <%= f.text_field :name %>
        </div>
        <div class="reqLa">
          <div class="form-buttom">
            <!-- post  button -->
            <a href="javascript:submit()" title="Post" class="link_bt">
              <span class="ltred_l"></span>
              <span class="ltred_c btf">Search</span>
              <span class="ltred_r"></span>
            </a>
            <!-- end post button -->
          </div>
        </div>

      </ul>
      <div id="elements_store"></div>
    <% end %>
  </div>
</div>
