<div class="col300 requestHous">
  <div class="col300in">
    <h1 class="col300Title">Requests House/Apt/Room</h1>
    <div class="col300Cont">
      <div class="reqTi"><input type="text" value="Your phone..." name="Text1"/></div>
      <div class="reqTi"><input type="text" value="Title..." name="Text1"/></div>
      <div class="reqEn"><textarea name="TextArea1">Enter your request...</textarea></div>
      <div class="reqKey">
        <div class="reqKeyImg"><img src="pictures/key.png"/></div>
        <div class="reqKeyText"><input type="text" name="Text2"/></div>
      </div>
      <div class="submit"><a href="#">Submit</a></div>
    </div>
  </div>
</div>