<div class="col300 Request">
  <div class="contDetLin post">
    <div class="AsDTop">
      <h1 class="titleH1">Posting to the world!</h1>
    </div>
    <div class="postCont">
      <div class="postErr">
        <div class="postErrNote">Note appropriate filling fields will appear once your choose Post Category</div>
        <div class="postErrClo"><a href="#">&nbsp;</a></div>
      </div>
      <div class="postReq">*(asterisk) is required.</div>
      <% form_for(@new_house, :html => {:id => "form", :name => "form", :multipart => true, :class => "postTit" }) do |f| %>
        <div class="postItem">
          <%= f.label :address %>
          <div class="postInp">
            <%= f.text_field :address %>
          </div>
        </div>
      <% end %>
      <div class="postItem">
        <div class="postTit">Post Category*</div>
        <div class="postInp"><select name="Select1"><option>Select a post category</option></select></div>
        <div class="postInf">Please, select one</div>
      </div>
      <div class="postItem">
        <div class="postTit">Title</div>
        <div class="postInp"><input type="text" name="Text1"></div>
      </div>
      <div class="postItem">
        <div class="postTit">Description*</div>
        <div class="postInput">
          <div class="postDesInf">900 characters max - Current: 0 character</div>
          <div class="postInp"><textarea name="TextArea1"></textarea></div>
        </div>
      </div>
      <div class="postItem">
        <div class="postTit">School</div>
        <div class="postInp"><select name="Select1"><option>Select a school</option></select></div>
      </div>
      <div class="postItem">
        <div class="postTit">Department</div>
        <div class="postInp"><select name="Select1"><option>Select a department</option></select></div>
      </div>
      <div class="postItem">
        <div class="postTit">Email</div>
        <div class="postRad">
          <div><input type="radio" name="Radio1">Use my login email instead</div>
          <div><input type="radio" name="Radio1">Reply to [post category] - xxxxxx@afterclassroom.com (AC anonymizes your ..)</div>
        </div>
      </div>
      <div class="postItem">
        <div class="postTit">Telephone</div>
        <div class="postInp"><input type="text" name="Text1"></div>
      </div>
      <div class="postItem">
        <div class="postTit">Add/Edit File</div>
        <div class="postInp"><input type="text" name="Text1"></div>
      </div>
      <div class="postShare"><span>Sharing Options:</span><a href="#">Allow Comment</a></div>

    </div>
    <div class="submit"><a href="#">Submit</a></div>
  </div>
</div>