<div class="col195 student195">
  <div class="col195in">
    <h1 class="col195Title">Good House/Apt</h1>
    <div class="col195Cont">
      <%
      good_housings = PostHousing.with_limit.good_housing(@school)
    %>
      <% if good_housings.size > 0 %>
        <%
        good_housings.each do |tt|
        %>
          <div class="dueDItem">
            <div class="studentImg"><%= link_to raw("<div>#{image_tag(tt.post.user.avatar.url(:thumb))}</div>"), {:controller => "profile", :action => "show_profile", :id => tt.post.user.id} %></div>
            <div class="dueDTitle"><%= link_to truncate_words(tt.post.title, 4), post_housing_path(tt) %></div>
          </div>
        <% end %>
		<% if good_housings.size > LIMIT - 1 %>
        	<div class="dueDbutton"><%= link_to "View more Good House/Apt", good_house_post_housings_path %></div>
		<% end %>
      <% end %>
    </div>
  </div>
</div>

