<div class="assItem">
  <div class="assItemL">
    <div class="assImg"><div><a href="#"><img src="pictures/pic4.png" /></a></div></div>
    <div class="assContT">
      <h2 class="titleH2"><a href="#">Lorem Ipsum dolor sit amet</a></h2>
      <div class="assCate"><span>Category:</span><a href="#">Housing Category</a></div>
      <div class="assCate"><span>From:</span><a href="#">University of California</a></div>
    </div>
    <div class="assDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
  </div>
  <div class="asslinkdown">
    <div class="Star">
      <img src="images/starRed.png" /><img src="images/starRed.png" /><img src="images/starRed.png" /><img src="images/starRW.png" /><img src="images/starWhite.png" />
    </div>
    <div class="moreTutor">4305 Locust St Philadelphia, PA 19176 (415) 751-9987</div>
    <div class="mySco"><a href="#">View map</a></div>
  </div>
  <div class="assItemB">
    <div class="assPic"><a href="#"><div><img src="pictures/pic2.png" /></div></a></div>
    <div class="assInfT">
      <div class="assInfT">
        <div class="assInfL">
          <div><span>Posted by:</span><a href="#">Vu Nguyen - 1 hour 32 minutes ago</a></div>
          <div><span>Comments:</span><a href="#">23 Comments</a></div>
        </div>
        <div class="assInfR"><a href="#">more</a></div>
      </div>
      <div class="assInfB">
        <div class="qashdU"><a href="#">20</a></div>
        <div class="qashdD"><a href="#">4</a></div>
        <div class="fav"><a href="#">Favorite list (10)</a></div>
        <div class="com"><a href="#">Comments (10)</a></div>
        <div class="share"><a href="#">Share</a></div>
      </div>
    </div>
  </div>
</div>