<div class="AsDContBtm">
  <span class="btmComment"><a href="javascript:void();" onclick="$('form_comment').show();">Reply</a></span>
  <span class="btmMail"><a href="#"><span>Email</span></a></span>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmFav"><a href="#"><span>Favorite</span></a></span>
  <span class="btmMore"><%= link_to "<span>More like this</span>", :controller => "post_assignments", :action => "index", :more_like_this_id => post %></span>
  <span class="btmAbuse"><a href="#"><span>Report Abuse</span></a></span>
</div>