<div class="col300 stuL300">
  <div class="col300in">
    <h1 class="col300Title">Friends are chatting</h1>
    <div class="col300Cont">
      <% for friend_in_chat in @friends_in_chat %>
        <div class="stuLFri">
          <div class="stuLFriT">
            <div class="studentImg"><%= link_to "<div>#{image_tag(friend_in_chat.avatar.url(:thumb))}</div>", "javascript:;" %></div>
            <div class="stuLFname"><%= link_to friend_in_chat.full_name, "javascript:;" %></div>
          </div>
          <div class="assInfB">
            <div class="addmein"><a href="#">Add me in</a></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>