<div class="contMainR210">
  <div class="col210 stuL210">
    <div class="col210in">
      <div class="stuItem shopp">
        <!--<div class="stuItemL"><%= link_to "Wheretolist", "https://wheretolist.com" %></div>-->
      </div>
    </div>
  </div>
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
