<div class="contMainR210">
  <div class="col210 stuL210">
    <div class="col210in">
      <div class="stuItem shopp">
        <div class="stuItemL"><%= link_to "Shopping", "http://shopping.afterclassroom.com#{"?ticket=" + session[:ticket] if session[:ticket]}" %></div>
      </div>
    </div>
  </div>
  <!--Ads-->
  <%= render :partial => "ads/show_vertical_ads" %>
  <!--Ads-->
</div>
