<div class="stuLtop">
  <div class="menuRL">
    <div class="menuRItem mnChat"><a class="menuRselect" href="#"><span class="span1"><span class="span2">Chat</span></span></a></div>
    <div class="menuRItem mnShare"><a href="#"><span class="span1"><span class="span2">Share a Story</span></span></a></div>
    <div class="menuRItem mnPho"><a href="#"><span class="span1"><span class="span2">Photos</span></span></a></div>
    <div class="menuRItem mnMus"><a href="#"><span class="span1"><span class="span2">Musics</span></span></a></div>
    <div class="menuRItem mnVi"><a href="#"><span class="span1"><span class="span2">Videos</span></span></a></div>
  </div>
  <div class="postdiv">
    <span class="RmenuRbtm2"><a href="#">Post</a></span>
  </div>
</div>