<div id="friends_online">
    <% for friend in @friends_online %>
		    <div class="stuLFri">
		        <div class="stuLFriT">
		            <div class="studentImg">
		                <%= link_to raw("<div>#{image_tag(friend.avatar.url(:thumb))}</div>"), "javascript:;" %>
		            </div>
		            <div class="stuLFname">
		                <%= link_to friend.full_name, "javascript:;" %>
		            </div>
		        </div>
		        <div class="assInfB">
		            <div class="addmein" id="friend_online_<%= friend.id %>">
		                <%= show_invite_chat_from_chat_page(friend) %>
		            </div>
		        </div>
		    </div>
    <% end %>
</div>
