<% content_for :menu_top_student_lounge do -%>
  <%= render :partial => 'submenu' %>
<% end -%>

<div class="contMainC">
  <div class="col195 stuLLeft">
    <div class="col195in">
      <h1 class="col300Title">Friends have changed their status</h1>
      <div class="stuLFri">
        <div class="stuLFriT">
          <div class="studentImg"><a href="#"><div><img src="pictures/pic8.png"/></div></a></div>
          <div class="stuLFname"><a href="#">JeanCharles</a></div>
          <div class="stuLFtime">2 hours 5 minutes ago</div>
        </div>
        <div class="stuLFdes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis..."</div>
        <div class="assInfB">
          <div class="com"><a href="#">Comments</a></div>
          <div class="stuLchat"><a href="#">Invite Chat</a></div>
        </div>
      </div>
      <div class="stuLFri">
        <div class="stuLFriT">
          <div class="studentImg"><a href="#"><div><img src="pictures/pic7.png"/></div></a></div>
          <div class="stuLFname"><a href="#">ThienanHo</a></div>
          <div class="stuLFtime">2 hours 5 minutes ago</div>
        </div>
        <div class="stuLFdes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis..."</div>
        <div class="assInfB">
          <div class="com"><a href="#">Comments</a></div>
          <div class="stuLchat"><a href="#">Invite Chat</a></div>
        </div>
      </div>
      <div class="stuLFri">
        <div class="stuLFriT">
          <div class="studentImg"><a href="#"><div><img src="pictures/pic9.png"/></div></a></div>
          <div class="stuLFname"><a href="#">Dungqta</a></div>
          <div class="stuLFtime">2 hours 5 minutes ago</div>
        </div>
        <div class="stuLFdes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis..."</div>
        <div class="assInfB">
          <div class="com"><a href="#">Comments</a></div>
          <div class="stuLchat"><a href="#">Invite Chat</a></div>
        </div>
      </div>
      <div class="stuLFri">
        <div class="stuLFriT">
          <div class="studentImg"><a href="#"><div><img src="pictures/pic8.png"/></div></a></div>
          <div class="stuLFname"><a href="#">JeanCharles</a></div>
          <div class="stuLFtime">2 hours 5 minutes ago</div>
        </div>
        <div class="stuLFdes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis..."</div>
        <div class="assInfB">
          <div class="com"><a href="#">Comments</a></div>
          <div class="stuLchat"><a href="#">Invite Chat</a></div>
        </div>
      </div>
      <div class="stuLFriB">
        <div class="stuLfriBL"><a href="#">View more</a></div>
        <div class="stuLfriBR"><a href="#"> </a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainL">
  <div class="col451 StuLou">
    <div class="col451in">
      <div class="sLyourmind">
        <div class="sLyourmindL"><input type="text" value="What’s on your mind ?" name="Text1"/></div>
        <div class="sLyourmindR"><a href="#"> </a></div>
      </div>
      <div class="col451Cont">
        <div class="assItem">
          <div class="assItemL">
            <div class="assImg"><div><a href="#"><img src="pictures/pic4.png"/></a></div></div>
            <div class="assContT">
              <h2 class="titleH2"><a href="#">Physics (Lorem Ipsum Dolor sitamet)</a></h2>
              <div class="assCate"><span>Category:</span><a href="#">Chat Category</a></div>
              <div class="assCate"><span>From:</span><a href="#">University of California</a></div>
            </div>
            <div class="assDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
          </div>
          <div class="asslinkdown">
            <div class="morelink"><a href="#">Invite Chat</a></div>
            <div class="down"><a href="#">Match Making</a></div>
            <div class="like"><a href="#">I like you</a></div>
            <div class="love"><a href="#">I love you</a></div>
            <div class="hate"><a href="#">I hate you</a></div>
          </div>
          <div class="assItemB">
            <div class="assPic"><a href="#"><div><img src="pictures/pic2.png"/></div></a></div>
            <div class="assInfT">
              <div class="assInfT">
                <div class="assInfL">
                  <div><span>Posted by:</span><a href="#">Vu Nguyen</a></div>
                  <div><span>Comments:</span><a href="#">23 Comments</a></div>
                </div>
                <div class="assInfR"><a href="#">more</a></div>
              </div>
              <div class="assInfB">
                <div class="qashdU"><a href="#">20</a></div>
                <div class="qashdD"><a href="#">4</a></div>
                <div class="vie"><a href="#">View (20)</a></div>
                <div class="share"><a href="#">Share</a></div>
                <div class="com"><a href="#">Comments (10)</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="assItem">
          <div class="assItemL">
            <div class="assImg"><div><a href="#"><img src="pictures/pic5.png"/></a></div></div>
            <div class="assContT">
              <h2 class="titleH2"><a href="#">Chemistry (Ut urna eros, commodo molestie vehicula vel)?</a></h2>
              <div class="assCate"><span>Category:</span><a href="#">Chat Category</a></div>
              <div class="assCate"><span>From:</span><a href="#">University of California</a></div>
            </div>
            <div class="assDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
          </div>
          <div class="asslinkdown">
            <div class="morelink"><a href="#">Invite Chat</a></div>
            <div class="down"><a href="#">Match Making</a></div>
            <div class="like"><a href="#">I like you</a></div>
            <div class="love"><a href="#">I love you</a></div>
            <div class="hate"><a href="#">I hate you</a></div>
          </div>
          <div class="assItemB">
            <div class="assPic"><a href="#"><div><img src="pictures/pic3.png"/></div></a></div>
            <div class="assInfT">
              <div class="assInfT">
                <div class="assInfL">
                  <div><span>Posted by:</span><a href="#">Vu Nguyen</a></div>
                  <div><span>Comments:</span><a href="#">23 Comments</a></div>
                </div>
                <div class="assInfR"><a href="#">more</a></div>
              </div>
              <div class="assInfB">
                <div class="qashdU"><a href="#">20</a></div>
                <div class="qashdD"><a href="#">4</a></div>
                <div class="vie"><a href="#">View (20)</a></div>
                <div class="share"><a href="#">Share</a></div>
                <div class="com"><a href="#">Comments (10)</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="assItem">
          <div class="assItemL">
            <div class="assImg"><div><a href="#"><img src="pictures/pic4.png"/></a></div></div>
            <div class="assContT">
              <h2 class="titleH2"><a href="#">Sociology (Nulla ac massa id)?</a></h2>
              <div class="assCate"><span>Category:</span><a href="#">Chat Category</a></div>
              <div class="assCate"><span>From:</span><a href="#">University of California</a></div>
            </div>
            <div class="assDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
          </div>
          <div class="asslinkdown">
            <div class="morelink"><a href="#">Invite Chat</a></div>
            <div class="down"><a href="#">Match Making</a></div>
            <div class="like"><a href="#">I like you</a></div>
            <div class="love"><a href="#">I love you</a></div>
            <div class="hate"><a href="#">I hate you</a></div>
          </div>
          <div class="assItemB">
            <div class="assPic"><a href="#"><div><img src="pictures/noimg.png"/></div></a></div>
            <div class="assInfT">
              <div class="assInfT">
                <div class="assInfL">
                  <div><span>Posted by:</span><a href="#">Vu Nguyen</a></div>
                  <div><span>Comments:</span><a href="#">23 Comments</a></div>
                </div>
                <div class="assInfR"><a href="#">more</a></div>
              </div>
              <div class="assInfB">
                <div class="qashdU"><a href="#">20</a></div>
                <div class="qashdD"><a href="#">4</a></div>
                <div class="vie"><a href="#">View (20)</a></div>
                <div class="share"><a href="#">Share</a></div>
                <div class="com"><a href="#">Comments (10)</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="assItem">
          <div class="assItemL">
            <div class="assImg"><div><a href="#"><img src="pictures/pic4.png"/></a></div></div>
            <div class="assContT">
              <h2 class="titleH2"><a href="#">Physics (Lorem Ipsum Dolor sitamet)</a></h2>
              <div class="assCate"><span>Category:</span><a href="#">Chat Category</a></div>
              <div class="assCate"><span>From:</span><a href="#">University of California</a></div>
            </div>
            <div class="assDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
          </div>
          <div class="asslinkdown">
            <div class="morelink"><a href="#">Invite Chat</a></div>
            <div class="down"><a href="#">Match Making</a></div>
            <div class="like"><a href="#">I like you</a></div>
            <div class="love"><a href="#">I love you</a></div>
            <div class="hate"><a href="#">I hate you</a></div>
          </div>
          <div class="assItemB">
            <div class="assPic"><a href="#"><div><img src="pictures/pic2.png"/></div></a></div>
            <div class="assInfT">
              <div class="assInfT">
                <div class="assInfL">
                  <div><span>Posted by:</span><a href="#">Vu Nguyen</a></div>
                  <div><span>Comments:</span><a href="#">23 Comments</a></div>
                </div>
                <div class="assInfR"><a href="#">more</a></div>
              </div>
              <div class="assInfB">
                <div class="qashdU"><a href="#">20</a></div>
                <div class="qashdD"><a href="#">4</a></div>
                <div class="vie"><a href="#">View (20)</a></div>
                <div class="share"><a href="#">Share</a></div>
                <div class="com"><a href="#">Comments (10)</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="assPage">
          <span class="numPage">Page 1 of 22</span>
          <span class="firstPage"><a href="#">First Page</a></span>
          <span class="prevPage"><a href="#">Prev</a></span>
          <span class="currentPage">
            <a class="selected" href="#"><span>6</span></a>
            <a href="#"><span>7</span></a>
            <a href="#"><span>8</span></a>
            <a href="#"><span>9</span></a>
            <a href="#"><span>10</span></a>
          </span>
          <span class="nextPage"><a href="#">Next</a></span>
          <span class="lastPage"><a href="#">Last Page</a></span>
        </div>
        <div class="goTop"><a href="#">Top</a></div>
      </div>
    </div>
  </div>
</div>
<div class="contMainR">
  <div class="col300 stuL300">
    <div class="col300in">
      <h1 class="col300Title">Friends are chatting</h1>
      <div class="col300Cont">
        <div class="stuLFri">
          <div class="stuLFriT">
            <div class="studentImg"><a href="#"><div><img src="pictures/pic8.png"/></div></a></div>
            <div class="stuLFname"><a href="#">JeanCharles</a></div>
            <div class="stuLFtime">2 hours 5 minutes ago</div>
          </div>
          <div class="stuLFdes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis..."</div>
          <div class="assInfB">
            <div class="com"><a href="#">Comments</a></div>
            <div class="addmein"><a href="#">Add me in</a></div>
          </div>
        </div>
        <div class="stuLFri">
          <div class="stuLFriT">
            <div class="studentImg"><a href="#"><div><img src="pictures/pic7.png"/></div></a></div>
            <div class="stuLFname"><a href="#">ThienanHo</a></div>
            <div class="stuLFtime">2 hours 5 minutes ago</div>
          </div>
          <div class="stuLFdes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis..."</div>
          <div class="assInfB">
            <div class="com"><a href="#">Comments</a></div>
            <div class="addmein"><a href="#">Add me in</a></div>
          </div>
        </div>
        <div class="stuLFri">
          <div class="stuLFriT">
            <div class="studentImg"><a href="#"><div><img src="pictures/pic9.png"/></div></a></div>
            <div class="stuLFname"><a href="#">Dungqta</a></div>
            <div class="stuLFtime">2 hours 5 minutes ago</div>
          </div>
          <div class="stuLFdes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis..."</div>
          <div class="assInfB">
            <div class="com"><a href="#">Comments</a></div>
            <div class="addmein"><a href="#">Add me in</a></div>
          </div>
        </div>
        <div class="stuLFri">
          <div class="stuLFriT">
            <div class="studentImg"><a href="#"><div><img src="pictures/pic8.png"/></div></a></div>
            <div class="stuLFname"><a href="#">JeanCharles</a></div>
            <div class="stuLFtime">2 hours 5 minutes ago</div>
          </div>
          <div class="stuLFdes">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ipsum turpis..."</div>
          <div class="assInfB">
            <div class="com"><a href="#">Comments</a></div>
            <div class="addmein"><a href="#">Add me in</a></div>
          </div>
        </div>
        <div class="stuLFriB">
          <div class="stuLfriBL"><a href="#">View more</a></div>
          <div class="stuLfriBR"><a href="#"> </a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="advert">
    <div class="advertTitle">Advertisement</div>
    <div class="Dani">DaniWeb - IT Discussion Community</div>
    <div class="advertImg"><img src="pictures/pic6.png"/></div>
    <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
    <div class="advertInf">
      <div class="advertInfL">
        <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
      </div>
      <div class="advertInfR">
        <span class="pre"><a href="#"> </a></span>
        <span class="next"><a href="#"> </a></span></div>
    </div>
  </div>
  <div class="col300 stuL300">
    <div class="col300in">
      <h1 class="col300Title">Recent Activities in your network</h1>
      <div class="col300Cont">
        <div class="recentItem">
          <div class="recentImg"><a href="#"><div><img src="pictures/pic1.png"/></div></a></div>
          <div class="recentInf">
            <div class="recentName"><a href="#">Vu Nguyen</a></div>
            <div class="recentUni"><span>at</span><a href="#">University of California</a></div>
            <div class="recentDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
        </div>
        <div class="recentItem">
          <div class="recentImg"><a href="#"><div><img src="pictures/noimg.png"/></div></a></div>
          <div class="recentInf">
            <div class="recentName"><a href="#">Dang Nguyen</a></div>
            <div class="recentUni"><span>at</span><a href="#">University of San Francisco</a></div>
            <div class="recentDes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin turpis velit, bibendum at varius non...</div>
          </div>
        </div>
        <div class="recentBottom"> </div>
      </div>
    </div>
  </div>
</div>