<div id="create_a_album" style="display:none">
  <% form_for :photo_album, :html => {:id => "form_album", :name => "form_album", :multipart => true } do |f| %>
    <div class="photoEx">
      <div class="stoExItem">
        <div class="stoExItemL">Photo album name*</div>
        <div class="stoExItemR"><%= f.text_field :name %></div>
      </div>
      <div class="stoExBtm">
        <div class="stoExCre"><span id="spanButtonPlaceHolder"></span></div>
        <div class="stoExCan"><a href="javascript:;" onclick="$('#create_a_album').toggle('slow');">Cancel</a></div>
      </div>
    </div>
    <div id="divFileProgressContainer" style="height: 35px;"></div>
    <div id="thumbnails"></div>
  <% end %>
</div>
<%= swfupload_load(:upload_url => create_album_user_photos_path(current_user), :form_id => "form_album", :file_type => "*.jpg;*.gif", :debug => false) %>