<div id="create_a_photo" style="display:none">
  <% form_for :photo_album, :url => create_album_user_photos_path(current_user), :html => {:id => "form_album", :name => "form_album", :multipart => true } do |f| %>
    <div class="photoEx">
      <div class="stoExItem">
        <div class="stoExItemL">Photo album name</div>
        <div class="stoExItemR"><%= f.text_field :name %></div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Location</div>
        <div class="stoExItemR">
          <div class="phoExIn"><input type="text" name="Text2"/></div>
          <div class="phoExBtm"><a href="#">Browse</a></div>
          <div class="phoExMul">Multi-attachs (<a href="#">click here</a>)</div>
        </div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Description</div>
        <div class="stoExItemR"><textarea rows="2" cols="20" name="TextArea1"></textarea></div>
      </div>
      <div class="stoExBtm">
        <div class="stoExCre"><a href="javascript:;" onclick="$('#form_album').submit();">Create photo album</a></div>
        <div class="stoExCan"><a href="javascript:;" onclick="$('#create_a_photo').toggle('slow');">Cancel</a></div>
      </div>
    </div>
  <% end %>
</div>