 <div class="photoEx">
			<%= form_tag create_album_user_photos_path(current_user), :remote => true, :id => "form_album", :name => "form_album" do %>
      <div class="stoExItem" id="photo_album_detail">
        <div class="stoExItemL">Photo album name*</div>
        <div class="stoExItemR" ><%= text_field_tag "photo_album[name]", "", :id => "album_name", :class => '{validate:{required:true}}' %></div>
      </div>
			<% end %>
			<div class="stoExItem" id="photo_album_detail">
        <div class="stoExItemL"></div>
        <div class="" ><%= render :partial => "select_photos" %></div>
      </div>
    </div>
