<div class="photoItem">
  <div class="photoImg"><%= link_to get_first_photo(photo_album), show_album_with_list_user_photos_path(photo_album.user, :photo_album_id => photo_album) %></div>
  <div class="photoInf" style="margin-top: -5px;"><%= pluralize(photo_album.photos.size, "photo") %></div>
  <div class="photoNamePhoto"><span><%= truncate(photo_album.name, :length => 40, :omission => '...') %></span></div>
</div>

