<div class="photoItem">
  <div class="photoImg"><a href="#"><div><img src="pictures/photo1.jpg"/></div></a></div>
  <div class="photoName">Elephant Calves</div>
  <div class="photoInf">25 photos</div>
</div>