<a href="javascript:;" onclick="$('#create_a_album').toggle('slow');" class="slsShareS">Photo Album</a>
<%= link_to "Create a Photo Album", create_form_user_photos_url(current_user), :remote => true %>
