<a href="javascript:;" onclick="$('#create_a_photo').hide();$('#take_a_picture').toggle('slow');" class="slsShareW">Take a picture</a>
<a href="javascript:;" onclick="$('#take_a_picture').hide();$('#create_a_photo').toggle('slow');" class="slsShareS">Create a Photo Album</a>