<a href="javascript:;" onclick="$('#create_a_album').toggle('slow');" class="slsShareS">Photo Album</a>
<a href="javascript:;" onclick="$('#create_a_album').toggle('slow');" class="slsShareS">Create a Photo Album</a>
