<div class="col300 slStory">
  <div class="col300in mostPho">
    <h1 class="col300Title">Most viewed photos</h1>
    <div class="photoRow">
      <div class="photoItem">
        <div class="photoImg"><a href="#"><div><span class="webdeveloper-display-image-dimensions" title="77x53">77x53</span><img src="pictures/photoR1.jpg"/></div></a></div>
      </div>
      <div class="photoItem photoCen">
        <div class="photoImg"><a href="#"><div><span class="webdeveloper-display-image-dimensions" title="77x53">77x53</span><img src="pictures/photoR2.jpg"/></div></a></div>
      </div>
      <div class="photoItem">
        <div class="photoImg"><a href="#"><div><span class="webdeveloper-display-image-dimensions" title="77x53">77x53</span><img src="pictures/photoR3.jpg"/></div></a></div>
      </div>
    </div>
    <div class="photoRow">
      <div class="photoItem">
        <div class="photoImg"><a href="#"><div><span class="webdeveloper-display-image-dimensions" title="77x53">77x53</span><img src="pictures/photoR1.jpg"/></div></a></div>
      </div>
      <div class="photoItem photoCen">
        <div class="photoImg"><a href="#"><div><span class="webdeveloper-display-image-dimensions" title="77x53">77x53</span><img src="pictures/photoR2.jpg"/></div></a></div>
      </div>
      <div class="photoItem">
        <div class="photoImg"><a href="#"><div><span class="webdeveloper-display-image-dimensions" title="77x53">77x53</span><img src="pictures/photoR3.jpg"/></div></a></div>
      </div>
    </div>
    <div class="stuLfriBL"><a href="#">View more Most viewed photos</a></div>
  </div>
</div>