<%
arr_user_id = []
arr_user_id << current_user.id
if current_user.user_friends
  current_user.user_friends.each do |friend|
    arr_user_id << friend.id if check_private_permission(current_user, friend, "my_photos")
  end
end
u = arr_user_id.join(", ")
most_viewed_photo_albums = PhotoAlbum.with_users(u).with_limit.most_view
%>
<div class="col300 slStory">
  <div class="col300in mostPho">
    <h1 class="col300Title">Most viewed photo albums</h1>
    <div class="photoRow">
      <% most_viewed_photo_albums.each do |pa| %>
        <div class="photoItem" style="margin-bottom: 16px;">
          <div class="photoImg"><%= link_to get_first_photo(pa), show_album_with_list_user_photos_path(pa.user, :photo_album_id => pa) %></div>
          <span style="margin-top: -16px; position: absolute; width: 85px; overflow: hidden; height: 30px;"><%= truncate(pa.name, :length => 20, :omission => '...') %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
