<%
most_viewed_photo_albums = current_user.photo_albums.with_limit.most_view
%>
<div class="col300 slStory">
  <div class="col300in mostPho">
    <h1 class="col300Title">Most viewed photo albums</h1>
    <div class="photoRow">
      <% most_viewed_photo_albums.each do |pa| %>
        <div class="photoItem">
          <div class="photoImg"><%= link_to get_first_photo(pa), user_photo_album_url(current_user, pa) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
