<%
arr_user_id = []
arr_user_id << current_user.id
if current_user.user_friends
  current_user.user_friends.each do |friend|
    arr_user_id << friend.id
  end
end
u = arr_user_id.join(", ")
most_viewed_photos = Photo.with_users(u).with_limit.most_view
%>
<div class="col300 slStory">
  <div class="col300in mostPho">
    <h1 class="col300Title">Most viewed photos</h1>
    <div class="photoRow">
      <% most_viewed_photos.each do |p| %>
        <div class="photoItemm">
          <div class="photoImge"><%= link_to "<div>#{image_tag p.photo_attach.url(:thumb)}</div>", user_photo_path(p.user, p) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>