<div class="stoDbtm" style="width: 370px">
  <div class="AsDContBtm">
    <span class="btmComment"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Comment</a></span>
    <span class="btmShare"><%= addthis_bookmark_button { raw("<span>Share</span>") } %></span>
    <span class="btmFav" id="item_favorite_<%= @photo.id %>"><%= show_favorite_in_detail("Photo", @photo) %></span>
    <span class="btmAbuse"><%= show_report_abuse(@photo) %></span>
    <span style="margin-left: 420px;margin-top: -25px;" class="done_tag">
      <a style="display:none;font-weight: bold; margin-left: 39px; position: relative;" id="stop_tag" href="javascript:;">Done</a>
    </span>
  </div>
</div>
