<div id="container">
  <% if @photo_album.photos.size > 0 %>
    <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
          <ul class="ad-thumb-list">
            <% @photo_album.photos.each do |p| %>
              <li>
                <%= link_to raw("#{image_tag(p.photo_attach.url(:thumb), :alt => p.title)}"), p.photo_attach.url %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% else %>
    <div style="text-align: center"><img src='/images/imagesNo.jpeg' /></div>
    <% end %>
</div>
<script type="text/javascript">
  $(function(){
    var galleries = $('.ad-gallery').adGallery();
     width: 540,
    $('#switch-effect').change(function(){
      galleries[0].settings.effect = $(this).val();
      return false;
    });
    $('#toggle-slideshow').click(function(){
      galleries[0].slideshow.toggle();
      return false;
    });
    $('#toggle-description').click(function(){
      if (!galleries[0].settings.description_wrapper) {
        galleries[0].settings.description_wrapper = $('#descriptions');
      }
      else {
        galleries[0].settings.description_wrapper = false;
      }
      return false;
    });
  });
</script>
