<div class="photoRow">
  <% @photos.each do |f_p| %>
    <%= render :partial => "item_friend_photo", :locals => {:photo => f_p}  %>
  <% end %>
</div>

<div class="slsTopR">
    <!--Pagination-->
    <div class="assPage friend_photos">
      <span class="numPage"><%= page_entries_info @friend_photos %></span>
      <%= will_paginate @friend_photos %>
    </div>
    <!--Pagination-->
  </div>
<script type="text/javascript" >
  formatLinkForPaginationURLFriendPhoto();
</script>
