<div class="learnTrow">
  <div class="learnTitem">
    <div class="learnTtitle"><a href="">Lorem ipsum dolor sit amet</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
  <div class="learnTitem">
    <div class="learnTtitle"><a href="#">Curabitur vitae risus lorem</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
  <div class="learnTitem">
    <div class="learnTtitle"><a href="#">Pellentesque ac aliquet diam</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
  <div class="learnTitem">
    <div class="learnTtitle"><a href="#">Duis interdum tellus nisi</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
  <div class="learnTitem learnLast">
    <div class="learnTtitle"><a href="#">Vivamus eget felis vitae</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
</div>
<div class="learnTrow">
  <div class="learnTitem">
    <div class="learnTtitle"><a href="">Lorem ipsum dolor sit amet</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
  <div class="learnTitem">
    <div class="learnTtitle"><a href="#">Curabitur vitae risus lorem</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
  <div class="learnTitem">
    <div class="learnTtitle"><a href="#">Pellentesque ac aliquet diam</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
  <div class="learnTitem">
    <div class="learnTtitle"><a href="#">Duis interdum tellus nisi</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
  <div class="learnTitem learnLast">
    <div class="learnTtitle"><a href="#">Vivamus eget felis vitae</a></div>
    <div class="learnTimg"><a href="#"><div><img src="/images/pictures/phone2.png"/></div></a></div>
    <div class="learnTst">
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRed.png"/>
      <img src="/images/starRW.png"/>
      <img src="/images/starWhite.png"/>
    </div>
  </div>
</div>
