<div class="postCont" id="div_send_report">
  <form name="form_send_report">
    <%= hidden_field_tag "reported_id", @reported_id %>
    <%= hidden_field_tag "reported_type", @reported_type %>
    <div class="postItem">
      <div class="postItem1" style="width: 100px">Type of Abuse *</div>
      <div class="postInp"><%= select  "abuse_type", "id", ReportAbuseCategory.all.collect{|ct| [ct.name, ct.id] }, {:include_blank => "Type of Abuse"}, {:style => "width:330px"} %></div>
    </div>
    <div class="postItem">
      <div class="postItem1" style="width: 100px">Content *</div>
      <div class="postInp"><textarea style="width:330px; height:200px" id="abuse_content" name="content" onfocus="this.value = '';" onblur="this.value = this.value || this.defaultValue;" > </textarea></div>
    </div>
    <div class="submit" style="padding-left: 110px"><a href="javascript:;" onclick="sendReportAbuse()">Send</a></div>
  </form>
</div>