<a class="close" href="#"></a>
<div id="faceboxTitle" style="color: #0A81C4;font-size: 12px;font-weight: bold;margin-bottom: 3px;">Report Abuse</div>
<div class="postCont" id="div_send_report" style="width: 470px">
  <%= form_tag create_report_abuse_posts_url(), :remote => true, :id => "form_send_report", :name => "form_send_report" do %>
    <%= hidden_field_tag "reported_id", @reported_id %>
    <%= hidden_field_tag "reported_type", @reported_type %>
    <div class="postItem" style="width: 470px">
      <div class="postItem1" style="width: 100px">
        Type of Abuse
      </div>
      <div class="postInp">
        <%= select  "abuse_type", "id", ReportAbuseCategory.all.collect{|ct| [ct.name, ct.id] }, {:include_blank => "Type of Abuse"}, {:style => "width:330px"} %>
      </div>
    </div>
    <div class="postItem" style="width: 470px">
      <div class="postItem1" style="width: 100px">
        Content*
      </div>
      <div class="postInp">
        <div id="abuse_content_counter">
          <span>0</span>
          characters (500 max)
        </div>
        <br/>
        <textarea style="width:330px; height:200px" id="abuse_content" name="content" class="{validate:{required:true}}"></textarea>
      </div>
    </div>
    <div class="submit" style="padding-left: 110px">
      <a href="javascript:;" onclick="sendReportAbuse()">Send</a>
    </div>
    <div class="error" style="padding: 10px 110px;">
    </div>
  <% end %>
</div>
<script type="text/javascript">
  //BEGIN fix bug 1210
  $(document).ready(function(){
    $('.close').click($.facebox.close);
    $('div#TB_title').filter(':gt(0)').remove();
    $('div#TB_ajaxContent').filter(':gt(0)').remove();
    $('div#div_send_report').filter(':gt(0)').remove();
    $('a.close').filter(':gt(0)').remove();
    $('div#faceboxTitle').filter(':gt(0)').remove();
  });
  //END fix bug 1210
</script>