<html>
  <body>
    <div id="detail_window">
      <div class="detail-info">
        <div id="">
          <div id="posting-section">
            <ul>
              <li>
                <h1>Tool Name: <%= @tool.name %></h1>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>