<html>
  <body>
    <div id="detail_window">
      <a href="<%= user_url(@author) %>"><%= @author.name %></a> has removed you from video <a href="<%= user_video_url(@video.user, @video) %>"><%= @video.title %>'s</a> tag list
    </div>  
  </body>
  
  
</html>