<div class="col300 Recent">
  <div class="col300in">
    <h1 class="col300Title">Recent Foods Requested</h1>
    <div class="col300Cont">
      <%
      foods_recent = PostFood.with_school(@school).recent.with_limit
    %>
      <% if foods_recent.size > 0 %>
        <%
        foods_recent.each do |food|
        %>
          <div class="recentItem">
            <div class="recentImg"><div><%= link_to image_tag(food.post.user.avatar.url(:thumb)), {:controller => "profile", :action => "show_profile", :id => food.post.user.id} %></div></div>
            <div class="recentInf">
              <div class="recentName"><%= link_to food.post.user.full_name, {:controller => "profile", :action => "show_profile", :id => food.post.user.id} %></div>
              <div class="recentUni"><span>at</span><%= link_to food.post.school.name, :controller => "post_assignments", :action => "index", :from_school => food.post.school %></div>
              <div class="recentDes"><%= link_to food.post.title, post_food_path(food) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="recentBottom">&nbsp;</div>
    </div>
  </div>
</div>
