<div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Grade 1 Quality</span></span></a></div>
<div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Cheap but Good</span></span></a></div>
<div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Don’t go There</span></span></a></div>