<%
  arr_rating_status = [["", "Just Posted"], ["Good", "Grade 1 Quality"], ["Cheap but Good", "Cheap but Good"], ["Bad", "Don't go There"]]
  arr_rating_status.each do |elm|
%>
<div class="menuRItem <%= "menuRselect" if @rating_status.to_s == elm.first %>"><a href="<%= "#{post_foods_path}?rating_status=#{elm.first}" %>"><span class="span1"><span class="span2"><%= elm.last %></span></span></a></div>
<% end %>

<% if logged_in? %>
<div style="margin-left:20px" class="menuRItem">
    <a href="<%= "#{user_post_managements_url(current_user)}?category=#{@class_name}"  %>"><span class="span1"><span class="span2">Post management</span></span></a>
</div>
<% end %>