<div class="col195 topFood">
  <div class="col195in">
    <h1 class="col195Title">Top food providers</h1>
    <div class="col195Cont">
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Lorem ipsum dolor sit amet.</a></div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Pellentesque et tincidunt.</a></div>
      </div>
      <div class="dueDItem">
        <div class="dueDTitle"><a href="#">Fusce sed sem ipsum.</a></div>
      </div>
      <div class="dueDbutton"><a href="#">View more food providers</a></div>
    </div>
  </div>
</div>