<div class="col195 topFood">
  <div class="col195in">
    <h1 class="col195Title">Top food providers</h1>
    <div class="col195Cont">
      <%
      top_foods = PostFood.with_limit.with_school(@school).with_status("Good")
    %>
      <% if top_foods.size > 0 %>
        <%
        top_foods.each do |tt|
        %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(tt.post.title, 4), post_food_path(tt) %></div>
          </div>
        <% end %>
        <% if top_foods.size > LIMIT - 1 %>
          <div class="dueDbutton"><%= link_to "View more food providers", "#{post_foods_path}?rating_status=Good" %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
