<div class='QAsDet'>Good <strong>(<%= @post_f.total_good %>)</strong></div>
<div class='QAsDet'>Cheap but Good <strong>(<%= @post_f.total_cheap_but_good %>)</strong></div>
<div class='QAsDet'>Bad <strong>(<%= @post_f.total_bad %>)</strong></div>