<div class="col195 dueDate">
  <div class="col195in">
    <div style="background: url(/images/icons_after/due_date.png) no-repeat scroll 0 0 transparent;line-height: 15px;height: 18px;border-bottom: 1px solid #DBDBDB;">
      <h1 class="col195Title" style="border-bottom:0 none;margin-left: 23px">Due date</h1>
    </div>
    <div class="col195Cont">
      <%
      assignments_due_date = PostAssignment.due_date.with_school(@school).with_limit
    %>
      <% if assignments_due_date.size > 0 %>
        <%
        assignments_due_date.each do |asg|
        %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(asg.post.title, 4), post_assignment_path(asg.post.post_assignment) %></div>
            <div class="dueDTime"><%= asg.due_date.getutc.strftime("%B %d, %Y")%></div>
          </div>
        <%
        end
      %>
        <% if assignments_due_date.size > LIMIT - 1 %>
          <div class="dueDbutton"><%= link_to "View more Due Date", due_date_post_assignments_path %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
