<div class="col195 dueDate">
  <div class="col195in">
    <h1 class="col195Title">Due date</h1>
    <div class="col195Cont">
      <%
      assignments_due_date = PostAssignment.with_school(@school).due_date.with_limit
    %>
      <% if assignments_due_date.size > 0 %>
        <%
        assignments_due_date.each do |asg|
        %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(asg.post.title, 4), post_assignment_path(asg.post.post_assignment) %></div>
            <div class="dueDTime"><%= asg.due_date.strftime("%B %d, %Y")%></div>
          </div>
        <%
        end
      %>
        <% if assignments_due_date.size > LIMIT - 1 %>
          <div class="dueDbutton"><%= link_to "View more Due Date", due_date_post_assignments_path %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
