<div class="col300 Request">
  <div class="col300in">
    <h1 class="col300Title">Requests Assignments</h1>
    <div class="col300Cont">
      <div class="reqTi"><input type="text" value="Title..." name="Text1"/></div>
      <div class="reqEn"><textarea name="TextArea1">Enter your request...</textarea></div>
      <div class="req60">
        <div class="reqLa"><label>Professor</label></div>
        <div class="reqTi"><input type="text" value="Title..." name="Text1" style="width:96%"/></div>
      </div>
      <div class="req40">
        <div class="reqLa"><label>Due date</label></div>
        <div class="reqTi"><input type="text" value="Title..." name="Text1"/></div>
      </div>
      <div class="reqKey">
      </div>
      <div class="submit"><a href="#">Submit</a></div>
    </div>
  </div>
</div>