<% cache "interesting_#{@class_name}_#{@school}" do %>
<div class="col195 intPro">
  <div class="col195in">
    <div style="background: url(/images/icons_after/interesting_quizzes.png) no-repeat scroll 0 0 transparent;line-height: 15px;height: 20px;border-bottom: 1px solid #DBDBDB;">
    <h1 class="col195Title" style="border-bottom:0 none;margin-left: 23px">Interesting Quizzes</h1>
    </div>
    <div class="col195Cont">
      <%# interesting_assignments = PostAssignment.with_school(@school).interesting.with_limit %>
      <% interesting_assignments = PostAssignment.recent_interesting(@school).first(LIMIT) %>
      <% if interesting_assignments.size > 0 %>
        <% interesting_assignments.each do |post| %>
          <div class="dueDItem">
            <div class="dueDTitle"><%= link_to truncate_words(post.title, 4), post_assignment_path(post.post_assignment) %></div>
            <div class="dueDTime"><%= post.created_at.strftime("%B %d, %Y")%></div>
          </div>
        <% end %>
        <% if interesting_assignments.size > LIMIT - 1 %>
          <div class="dueDbutton"><%= link_to "View more Interesting Quizzes", interesting_post_assignments_path %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<% end %>