<div class="col300 Recent">
  <div class="col300in">
    <h1 class="col300Title">Recent requested Assignments</h1>
    <div class="col300Cont">
      <%
      assignments_recent = PostAssignment.with_school(@school).recent.with_limit
    %>
      <% if assignments_recent.size > 0 %>
        <%
        assignments_recent.each do |asg|
        %>
          <div class="recentItem">
            <div class="recentImg"><%= show_image_user_post(asg.post.user) %></div>
            <div class="recentInf">
              <div class="recentName"><%= link_to asg.post.user.full_name, {:controller => "profile", :action => "show_profile", :id => asg.post.user.id} %></div>
              <div class="recentUni"><span>at</span><%= link_to asg.post.school.name, :controller => "post_assignments", :action => "index", :from_school => asg.post.school %></div>
              <div class="recentDes"><%= link_to asg.post.title, post_assignment_path(asg) %></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="recentBottom">&nbsp;</div>
    </div>
  </div>
</div>
