<div class="learnN">
  <div class="learnNM">
    <div class="learnNMtitle">Learning Tools</div>
    <div class="learnNMP">Popular</div>
    <div class="learnNML"><a href="#">Verified</a></div>
    <div class="learnNML"><a href="#">Recently Added</a></div>
    <div class="learnNMR"><a href="#">See All</a></div>
  </div>
</div>

<% 5.times do %>
  <%= render :partial => "bottom_item" %>
<% end %>
