<div class="learnNItem">
  <div class="learnNImg"><a href="#"><div><img src="/images/pictures/learnT5.png"></div></a></div>
  <div class="learnNtitle"><a href="#">==> <%= mit.name %></a> by Vestibulum</div>
  <div class="learnNdes">Vestibulum id lectus eget felis laoreet accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</div>
  <div class="learnNinf">Authorized (<span>deauthorize</span>) - 67,541, 274 monthly active users - 54 friends</div>
</div>
