<div style="border-bottom: 1px solid #DBDBDB; overflow: hidden;margin-bottom: 10px;" class="learnCoSe">

  <select style="width: 200px;">
    <option>option01</option>
    <option>option02</option>
    <option>option03</option>
    <option>option04</option>
    <option>option05</option>
    <option>option06</option>
    <option>option07</option>
    <option>option08</option>
    <option>option09</option>
    <option>option10</option>
  </select>



  <div style="margin-bottom: 10px; color: rgb(110, 110, 110); background: url(&quot;/images/bgSearchF.png&quot;) no-repeat scroll left top transparent; float: right; height: 24px; padding-right: 0pt; width: 194px;">
    <form accept-charset="UTF-8" action="/press_infos/searchpr" id="info_search" method="get"><div style="margin: 0pt; padding: 0pt; display: inline;"><input type="hidden" name="utf8" value="✓"></div>
      <div class="textS"><input type="text" id="search_content" name="search_content" style="height: 12px;" value=""></div>
      <div style="margin-top: -18px; margin-right: 3px; float: right;">
        <a href="javascript:;" onclick="searchPress();"><img src="/images/iconSF.png" style="border: 0px none;"></a>
      </div>
    </form>          
  </div>

</div>