<div class="contMainL">
  <div class="col571 proCen" id="user_wall">
    <div class="col571in">
      <h1 class="titleH1">My fans</h1>
      <div id="mytable">
        <%= display_flash_messages_with_raw %>
        <% @obj_fans.each do |fan_user| %>

          <%= render :partial => "item_fan", :locals => {:fan => fan_user} %>


        <% end %>

        <!--Pagination-->
        <div class="assPage">
          <span class="numPage"><%#= page_entries_info @fans %></span>
          <%#= will_paginate @fans %>
        </div>
        <!--Pagination-->
      </div>
    </div>
  </div>
</div>

