<div class="learnTop">
  <div class="inboxTitle">Featured by AfterClassroom</div>

  

  <div class="learnPage">
    <div class="learnPageL">Page 1 of 12</div>
    <div class="learnPageP"><a href="#">&nbsp;</a></div>
    <div class="learnPageN"><a href="#">&nbsp;</a></div>
    <%= will_paginate(@features) %>
  </div>
</div>


<div class="learnNewT">
  <div class="learnNewTL">
    <div class="learnNewTLtitle"><a href="#">Lorem ipsum dolor sit amet</a></div>
    <div class="learnNewTLdes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae risus lorem. Pellentesque ac aliquet diam. Vivamus eget felis vitae libero lobortis fringilla...</div>
    <div class="learnNewTLimg"><a href="#"><div><img src="pictures/learn1.png"></div></a></div>
  </div>
  <div class="learnNewTR">
    <div class="learnNewTLtitle"><a href="#">Lorem ipsum dolor sit amet</a></div>
    <div class="learnNewTLdes">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae risus lorem. Pellentesque ac aliquet diam. Vivamus eget felis vitae libero lobortis fringilla...</div>
    <div class="learnNewTLimg"><a href="#"><div><img src="pictures/learn2.png"></div></a></div>
  </div>
</div>