<% form_tag url_for(:controller => "learn_tools", :action => "submit_vid"), :id => "form_first_tab", :method => :post, :remote => true do %>
  hello world


  <div class="menuRR" id="btn_new_vid" style="position: absolute; left: 100px; bottom: 64px;">
    <span class="RmenuRbtm1">
      <a href="javascript:;" id="btn_submit_vid">Submit</a>
    </span>
  </div>

<% end %><!-- end form_tag -->
<script type="text/javascript">
  function SubmitFormVid(){
    $("form#form_first_tab").submit();
  } 
  $(document).ready(function(){
    $("#btn_submit_vid").click(function(){
      SubmitFormVid();
    });
  });


</script>