<div class="flistItem">
  <div class="assPic"><%= show_image_user_post(fan) %></div>
  <div class="flistInf">
    <div class="flistN"><%= show_user_post(fan) %></div>
    <div class="flistS"><span>at</span><%= fan.school.name %></div>
  </div>
  <% if current_user == @tool.user %>
    <div style="float:right">
      <%= check_box_tag "fan_id_#{fan.id}", fan.id %>
    </div>
  <% end %>
</div>