<div class="flistItem">
  <div class="assPic"><%= show_image_user_post(fan) %></div>
  <div class="flistInf">
    <div class="flistN"><%= show_user_post(fan) %></div>
    <div class="flistS"><span>at</span><%= fan.school.name %></div>
  </div>
  <div style="float:right">
   <%= check_box_tag "fan_id", fan.id %>
  </div>
</div>