<style>
  span.learnFavS img:hover{
    border: 1px solid #0A81C4;
    border-radius: 4px;
  }
</style>


<div class="contDetL">
  <div class="contDetLin">
    <div class="learnLeft">

      <div class="learnFavT">

        <div class="learnFavTL"><%= page_entries_info @my_tools %></div>
        <div class="learnFavTC"><a href="javascript:;">See All</a></div>
      </div>

      <% @my_tools.each do |mtool| %>
        <%= render :partial => "list_mytool_item", :locals => {:my_tool => mtool} %>
      <% end %>


      <div class="assPage" style="padding-left:0">
        <span class="numPage"><%= page_entries_info @my_tools %></span>
        <%= will_paginate @my_tools %> 
      </div>


      <div class="goTop"><a href="#">Top</a></div>
    </div>
  </div>
</div>
