        <div id="ltool_rate" style="margin-bottom: -9px; margin-top: -6px;">
          <%= render :partial => "/learn_tools/rating_star", :locals => {:tool => post, :nocheck => "no_check"} %>
        </div>
