<div class="learnTop learnTool">
  <div class="inboxTitle">Learning Tools You May Like</div>
  <div class="learnPage">
    <div class="learnPageL">Page 1 of 12</div>
    <div class="learnPageP"><a href="#">&nbsp;</a></div>
    <div class="learnPageN"><a href="#">&nbsp;</a></div>
  </div>
</div>
<div class="learnTools">
  <div class="learnTrow">
    <div class="learnTitem">
      <div class="learnTtitle"><a href="">Lorem ipsum dolor sit amet</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT1.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
    <div class="learnTitem">
      <div class="learnTtitle"><a href="#">Curabitur vitae risus lorem</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT2.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
    <div class="learnTitem">
      <div class="learnTtitle"><a href="#">Pellentesque ac aliquet diam</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT3.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
    <div class="learnTitem">
      <div class="learnTtitle"><a href="#">Duis interdum tellus nisi</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT4.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
    <div class="learnTitem learnLast">
      <div class="learnTtitle"><a href="#">Vivamus eget felis vitae</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT5.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
  </div>
  <div class="learnTrow">
    <div class="learnTitem">
      <div class="learnTtitle"><a href="">Lorem ipsum dolor sit amet</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT1.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
    <div class="learnTitem">
      <div class="learnTtitle"><a href="#">Curabitur vitae risus lorem</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT2.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
    <div class="learnTitem">
      <div class="learnTtitle"><a href="#">Pellentesque ac aliquet diam</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT3.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
    <div class="learnTitem">
      <div class="learnTtitle"><a href="#">Duis interdum tellus nisi</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT4.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
    <div class="learnTitem learnLast">
      <div class="learnTtitle"><a href="#">Vivamus eget felis vitae</a></div>
      <div class="learnTimg"><a href="#"><div><img src="/images/pictures/learnT5.png"></div></a></div>
      <div class="learnTst">
        <img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRed.png"><img src="/images/starRW.png"><img src="/images/starWhite.png">
      </div>
    </div>
  </div>
</div>