<div class="learnTop learnTool">
  <div class="inboxTitle">Learning Tools You May Like</div>
  <div class="learnPage">
    <div class="learnPageL">Page 1 of 12</div>
    <div class="learnPageP"><a href="#">&nbsp;</a></div>
    <div class="learnPageN"><a href="#">&nbsp;</a></div>
  </div>
</div>
<div class="learnTools">
  <% 2.times do %>
    <div class="learnTrow">
      <% 5.times do |index| %>
        <%= render :partial => "may_like_item", :locals => {:index => index} %>
      <% end %>
    </div>
  <% end %>
</div>