<div id="detail_window">
  <div class="detail-info">
    <div id="rsvp_wraper_<%= @tool.id %>">
      <div id="posting-section">
        <% form_tag url_for(:controller => "learn_tools", :action => "send_to_dev"), :remote => true, :id => "form_to_dev" do %>
          <%= hidden_field_tag "tool_id", @tool.id %>

          <ul>
            <li>
              <div class="postItem">
                <div style="width: 100px;color: #6F6F63;" class="postItem1">
                  Title*:
                </div>
                <div class="postInp">
                  <%= text_field_tag "tel_no", "", :class => '{validate:{required:true}}', :style => "margin-left:0px;width: 330px; border: 1px solid #CECECE; padding-top:5px;padding-bottom:5px;margin-bottom:0px"  %>
                </div>
              </div>
            </li>
            <li>
              <div class="postItem">
                <div style="width: 100px;color: #6F6F63;" class="postItem1">
                  Message*:
                </div>
                <div class="postInp">
                  <%= text_area_tag "message_str", nil, :rows => 5, :cols => 60, :class => '{validate:{required:true}}', :style => "margin-bottom: 0px;margin-top: 10px;  width: 330px; height: 200px; border: 1px solid #CECECE;"  %>
                </div>
              </div>
            </li>
            <li>
              <!-- post  button -->
              <div>
                <span class="submitRSVP"><a id="btn_submit_dev" href="javascript:;" style="margin-left:32px">
                    <input type="button" value="Send" name="foo" style="margin-top:10px"/>
                  </a></span>
                <span class="error" style="padding: 0px;"></span>
              </div>
              <!-- end post button -->
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <!-- end detail-info-->
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#btn_submit_dev').click(function(){
      SendToDev();
    });
    $('div#TB_title').filter(':gt(0)').remove();
    $('div#TB_ajaxContent').filter(':gt(0)').remove();

  });
  function SendToDev(){
    var result = $("#form_to_dev").validate({
      meta: "validate"
    });
    if (result) {
      $("#form_to_dev").submit();
    }
  }
</script>