<style>
  .previous_page{
    background: url("/images/btmPagePre.png") no-repeat scroll left center transparent;
    display: block;
    height: 19px;
    text-decoration: none;
    width: 19px;
    margin-right: 28px;
  }
  .next_page {
    background: url("/images/btmPageNext.png") no-repeat scroll left center transparent;
    display: block;
    height: 19px;
    text-decoration: none;
    width: 19px;
    float: right;
    margin-top: -19px;
  }
</style>

<div class="topLearning">
  <div class="menuRL">
    <div class="menuRItem menuRselect"><a href="#"><span class="span1"><span class="span2">Recommend Learning Tools</span></span></a></div>
    <div class="menuRItem"><a href="#"><span class="span1"><span class="span2">Submit Learning Tools</span></span></a></div>
  </div>
  <div class="postdiv">
    <span class="RmenuRbtm2"><a href="#">Post</a></span>
  </div>
</div>


<div class="contMain">
  <div class="contDetL">
    <div class="contDetLin">
      <div class="learnLeft">

        <%= render :partial => "components" %>
        
        <%= render :partial => "featured" %>

        <%= render :partial => "tool_like" %>

        <%= render :partial => "bottom_data" %>

        <div class="assPage">
          <span class="numPage">Page 1 of 22</span>
          <span class="firstPage"><a href="#">First Page</a></span>
          <span class="prevPage"><a href="#">Prev</a></span>
          <span class="currentPage">
            <a class="selected" href="#"><span>6</span></a>
            <a href="#"><span>7</span></a>
            <a href="#"><span>8</span></a>
            <a href="#"><span>9</span></a>
            <a href="#"><span>10</span></a>
          </span>
          <span class="nextPage"><a href="#">Next</a></span>
          <span class="lastPage"><a href="#">Last Page</a></span>
        </div>
        <div class="goTop"><a href="#">Top</a></div>
      </div>
    </div>
  </div>

  <div class="contMainR">
    <div class="creAdv"><a href="#">Create an Ad</a></div>
    <div class="advert">
      <div class="advertTitle">Advertisement</div>
      <div class="Dani">DaniWeb - IT Discussion Community</div>
      <div class="advertImg"><img src="/images/pictures/pic6.png"></div>
      <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani">DaniWeb - IT Discussion Community</div>
      <div class="advertImg"><img src="/images/pictures/adv.png"></div>
      <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani">MTV - New Music Videos, Reality TV Shows...</div>
      <div class="advertImg"><img src="/images/pictures/adv1.png"></div>
      <div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
  </div>
</div>