<div class="musicRow">
  <% @my_videos.each do |m_p| %>
    <%= render :partial => "videos/item_my_video", :locals => {:video => m_p}  %>
  <% end %>
</div>
<div class="slsTopR">
  <!--Pagination-->
  <div class="assPage my_videos">
    <span class="numPage"><%= page_entries_info @my_videos %></span>
    <%= will_paginate @my_videos %>
  </div>
  <!--Pagination-->
</div>