<%= form_for(@toolreview, :remote => true, :url => url_for(:controller => "learn_tools", :action => "submit_review") ) do |f| %>
  <%= hidden_field_tag "tool_id", @tool_id %>
  Title*
  <div>
    <%= f.text_field :title, :style => "width: 500px;", :class => "{validate:{required:true}}" %>
  </div>
  Content*
  <div>
    <%= f.text_area :content, :style => "width: 500px; height: 220px;", :class => "{validate:{required:true}}" %>
  </div>

  <div style="float: left; padding-left: 0px;" class="submit">
    <a id="tool_review_submit" href="javascript:;"><input type="button" value="Submit" name="foo"></a>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#tool_review_submit').click(function(){
      SubmitFormTool();
    });
  });
  function SubmitFormTool(){
    var result = $("#new_tool_review").validate({
      meta: "validate"
    });
    if (result) {
      $("#new_tool_review").submit();
    }
  }
</script>