<tr>
  <th valign="top">Country*</th>
  <td>
    <%= select_tag "city[country_id]", options_from_collection_for_select(@countries, "id", "name", @country), :id => "state_country_id", :style => "width: 198px" %>
  </td>
</tr>
<tr>
  <th class="reqLa"><strong>State*</strong></th>
  <td id="state_city">
    <%= select_tag "city[state_id]", options_from_collection_for_select(@states, "id", "name", @state), :style => "width: 198px" %>
  </td>
</tr>
<script>
    // Append the function to the "document ready" chain
    jQuery(function($) {
      // when the #search field changes
      $("#state_country_id").change(function() {
        // make a POST call and replace the content
        $.post(<%= "'#{state_cities_path}?country_id=' + escape($('#state_country_id').val()) + '&type=search'" %>, function(data) {
          $("#state_city").html(data);
        });
      });
    })
</script>