<div id="posting-section">
  <% form_for :city, @city, :html => {:id => "form", :method => :get} do |f| %>
    <fieldset>
      <legend><strong>Search</strong></legend>
      <ul>
        <%= render :partial => "country_state", :locals => {:countries => countries, :country_name => country_name, :state_name => state_name, :states => states, :action_name => "index"} %>
        <li><label>City name</label>
          <div class="user_ri">
            <%= f.text_field :name %>
          </div>
        </li>
        <li>
          <div class="post_cbt">
            <!-- post  button -->
            <a href="javascript:submit()" title="Post" class="link_bt">
              <span class="ltred_l"></span>
              <span class="ltred_c btf">Search</span>
              <span class="ltred_r"></span>
            </a>
            <!-- end post button -->
          </div>
        </li>
      </ul>
      <div id="elements_store"></div>
    </fieldset>
  <% end %>
</div>

<script type="text/javascript">
  var valid = new Validation('form', {immediate : true, onSubmit:false});
  function submit(){
    var result = valid.validate();
    if (result) {
      Tips.hideAll();
      $$('.prototip').each(function(element){
        $('elements_store').insert(element, { position: content });
      });
      $('form').submit();
    }
  }
</script>
