<% content_for :you_are_here do -%>
  You are here: <a href="javascript:;">Help Information</a>
<% end -%>
<div class="mainSignUpS">
  <div class="AsDContImg"><a href="/"><div><img src="/images/pic11.png"></img></div></a></div>
  <div class="txtsignup topHelp">
    <div class="AftBe">
      <div class="txtsignup1">AfterClassroom</div>
    </div>
    <div class="sponsorS">
      <div class="sponsorLink">
        <div class="menuRL">
          <div class="menuRItem">
            <a href="/forums">
              <span class="span1">
                <span class="span2">Community Help Forum</span>
              </span></a>
          </div>

          <div class="menuRItem menuRselect">
            <a href="/press_infos">
              <span class="span1">
                <span class="span2">PressRelease</span>
              </span></a>
          </div>








        </div>
      </div>
    </div>
  </div>
</div>
<!--Content-->



<div class="contMainLH">
<div class="col654 QAs">
    <div class="col654in">
      <div class="col654Cont">

        <div style="width: 632px;" class="helpCR">

          <div class="helpTitle">
            <a onmouseover="this.style.color = '#6F6F63'; this.style.cursor='default'" style="color: rgb(111, 111, 99); cursor: default;" href="javascript:;">Community Help Forum </a>
          </div>
            <div id="frm_44" style="border-bottom: 1px solid rgb(219, 219, 219);" class="helpItem">







              <div class="assPic" style="float: left;">
                <a href="#">
                  <div style="background-image: url('/images/prs_rls_icon.png'); height: 55px;">
                    <div style="background: transparent; color:#FFFFFF; font-size: 11px; margin-left: -6px; text-align: center; margin-top: -3px;">FEB</div>
                    <div style="background: transparent; color:#6F6F63;font-size: 20px; text-align: center; margin-left: -4px;">01</div>
                    <div style="background: transparent; color:#6F6F63;font-size: 11px; margin-top: -9px; margin-left: 10px;">2011</div>
                  </div>
                </a>
              </div>


              <div style="margin-left: 62px;" class="helpT">
                <a href="/users/2/show_lounge">John</a>
              </div>
              <div style="font-weight: bold; margin-left: 62px;" class="forumTit">
                <a onmouseover="this.style.color = '#6F6F63'; this.style.cursor='default'" style="color: rgb(111, 111, 99);" href="javascript:;">JKHJK</a>
              </div>
              <div style="margin-left: 62px; height: 100%;" class="helpD">KHJK</div>
            </div>

          
            <div style="padding-left: 0pt;" class="assPage">
              <span class="numPage">Displaying Press Release <b>1&nbsp;-&nbsp;10</b> of <b>39</b> in total</span>
              <div class="pagination"><span class="previous_page disabled">Previous</span> <em>1</em> <a href="/forums?page=2" rel="next">2</a> <a href="/forums?page=3">3</a> <a href="/forums?page=4">4</a> <a href="/forums?page=2" rel="next" class="next_page">Next</a></div>
            </div>
          <div style="padding: 0pt;" class="goTop"><a onclick="goToByScroll('top_page')" href="javascript:;">Top</a></div>
        </div>
      </div>
    </div>
  </div>
</div>






































<div class="contMainRH">
  <div class="popu">
    <div class="popuTop">
      <div class="popuTitle">   </div>
      <div class="popuAll">
        <a href="#">A Link</a>
      </div>
    </div>
      <div class="popuDes"><b>   </b>   </div>
  </div>
</div>