<div id="create_a_album" style="display:none">
</div>

<!--Alert-->
<div id="error_type" title="Error" style="display:none;">
  <p>Only images are allowed</p>
</div>

<div id="dialog-message" title="Alert" style="display:none;">
  <p>
    Please input music album name.
  </p>
</div>
<!--Alert-->