<div id="take_a_picture" style="display:none">
  <% form_for :music, :html => {:id => "form_music", :name => "form_music", :multipart => true } do |f| %>
    <div class="musicEx">
      <div class="stoExItem">
        <div class="stoExItemL">music album</div>
        <div class="stoExItemR" id="select_music_album">
          <%= f.select :music_album_id, @music_albums.collect {|p| [p.name, p.id]}, {}, {:style => "width:250px"} %>
        </div>
      </div>
      <div class="stoExItem">
        <div class="stoExItemL">Location</div>
        <div class="stoExItemR">
          <div class="phoExIn"><%= f.file_field :music_attach, :class => "required" %></div>
        </div>
      </div>
      <div class="stoExBtm">
        <div class="stoExCre"><a href="javascript:;" onclick="$('#form_music').submit();">Add picture</a></div>
        <div class="stoExCan"><a href="javascript:;" onclick="$('#take_a_picture').toggle('slow');">Cancel</a></div>
      </div>
    </div>

    <span id="spanButtonPlaceHolder"></span>
    <div class="fieldset flash" id="fsUploadProgress"></div>
    <span>Upload Queue</span>
    <div id="divStatus">0 Files Uploaded</div>
    <input id="btnCancel" type="button" value="Cancel All Uploads" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 29px;" />

  <% end %>
</div>
<%= swfupload_load({:upload_url => upload_music_block_user_musics_path(current_user), :form_id => "form_music"}) %>