<div id="create_album" style="display:none">
  <% form_for :music_album, :url => create_album_user_musics_path(current_user), :html => {:id => "form_album", :name => "form_album", :multipart => true } do |f| %>
    <div class="photoEx">
      <div class="stoExItem">
        <div class="stoExItemL">Music album name*</div>
        <div class="stoExItemR"><%= f.text_field :name, :class => "required" %></div>
        <div class="error" style="padding: 10px"></div>
      </div>
      <div class="stoExBtm">
        <div class="stoExCre"><span id="spanButtonPlaceHolder"></span></div>
        <div class="stoExCan"><a href="javascript:;" onclick="$('#create_album').toggle('slow');">Cancel</a></div>
      </div>
    </div>

    <div id="divFileProgressContainer"></div>
    <div id="thumbnails"></div>

  <% end %>
</div>
<%= swfupload_load(:upload_url => create_album_user_musics_path(current_user), :form_id => "form_album", :file_type => "*.mp3", :debug => false) %>
<script>
  $().ready(function() {
        $("#form_album").validate({
            errorLabelContainer: $("#form_album div.error")
        });
    });

  </script>