<div class="musicL">
  <div class="photoImg"><a href="#"><div><img src="pictures/music3.png"/></div></a></div>
  <div class="mostMSR">
    <div class="mostMStitle"><a href="#">Mariah Carey & Trey Lorenz - I'LL BE THERE</a></div>
    <div class="mostMStime">4 minutes 54 seconds </div>
    <div class="mostMSA"><a href="#" class="mostMSPlay"> </a><a href="#" class="mostMSadd"> </a></div>
  </div>
</div>