<div class="musicL">
  <div class="photoImg"><%= link_to "<div>#{image_tag music.music_album.music_album_attach.url(:thumb)}</div>", user_music_path(current_user, music) %></div>
  <div class="mostMSR">
    <div class="mostMStitle"><%= link_to music.title, user_music_path(current_user, music) %></div>
    <div class="mostMStime"><%= music.convert_seconds_to_time %></div>
    <div class="mostMSA"><%= link_to "", user_music_path(current_user, music), :class => "mostMSPlay" %><a href="#" class="mostMSadd"> </a></div>
  </div>
</div>