<% if @tagged_users.size > 0 %>
  <div class="col300 slStory">
    <div class="col300in" id="on_this_music">
      <%= render :partial => "musics/widget_lets_listen" %>
    </div>
  </div>
<% end %><!-- end if -->
