<a href="javascript:;" onclick="$('#create_album').toggle('slow');" class="slsShareS">Music Album</a>
<a href="javascript:;" onclick="$('#create_album').toggle('slow');" class="slsShareS">Create a Music Album</a>