<a href="javascript:;" onclick="$('#create_album').hide();$('#add_music').toggle('slow');" class="slsShareW">Add music</a>
<a href="javascript:;" onclick="$('#add_music').hide();$('#create_album').toggle('slow');" class="slsShareS">Create a Music Album</a>