<%
arr_user_id = []
arr_user_id << current_user.id
if current_user.user_friends
  current_user.user_friends.each do |friend|
    arr_user_id << friend.id
  end
end
u = arr_user_id.join(", ")
most_viewed_musics = Music.with_users(u).with_limit.most_view
%>

<div class="col300 slStory">
  <div class="col300in mostMS">
    <h1 class="col300Title">Most viewed musics</h1>
    <% most_viewed_musics.each do |m| %>
    <div class="msItem">
      <div class="photoImg"><a href="#"><div><img src="pictures/msmost1.jpg"/></div></a></div>
      <div class="mostMSR">
        <div class="mostMStitle"><a href="#">Mariah Carey & Trey Lorenz - I'LL BE THERE</a></div>
        <div class="mostMStime">4 minutes 54 seconds </div>
        <div class="mostMSA"><a href="#" class="mostMSPlay"> </a><a href="#" class="mostMSadd"> </a></div>
      </div>
    </div>
    <% end %>
  </div>
</div>