<%
arr_user_id = []
arr_user_id << current_user.id
if current_user.user_friends
  current_user.user_friends.each do |friend|
    arr_user_id << friend.id if check_private_permission(friend, "my_musics")
  end
end
u = arr_user_id.join(", ")
most_viewed_music_albums = MusicAlbum.with_users(u).with_limit.most_view
%>

<div class="col300 slStory">
  <div class="col300in mostMS">
    <h1 class="col300Title">Most viewed music albums</h1>
    <% most_viewed_music_albums.each do |music_album| %>
      <div class="photoImg" style="margin-bottom: 16px">     
          <%= link_to raw("<div>#{image_tag music_album.music_album_attach.url(:thumb)}</div>"), play_list_user_musics_url(current_user, :music_album_id => music_album) %>      
        <span style="height: 25px; width: 85px; overflow: hidden; margin-top: -17px; position: absolute;"><%= truncate(music_album.name,:length => 20, :omission => '...') %></span>
      </div>
    <% end %>
  </div>
</div>
