<% @music_album.musics.each do |m| %>
<div id="playlist_<%= m.id %>">
    <div href="<%= m.music_attach.url %>" style="width: 400px;" class="item">
        <div>
            <div class="fr duration">
                <%= m.length_in_seconds %>
            </div>
            <div class="btn play">
            </div>
            <div class="title">
                <b><%= m.music_attach_file_name %></b>
            </div>
        </div>
        <div class="player inactive">
        </div>
    </div>
</div>
<% end %>
<% if @music_album.musics.size > 0 %>
<div style="text-align: center;">
    <a href="javascript:void(0);" onClick="$('#playlist_list').playlist('prev');">Prev</a>
    <a href="javascript:void(0);" onClick="$('#playlist_list').playlist('next');">Next</a>
    <a href="javascript:void(0);" onClick="$('#playlist_list').playlist('pause');">Pause</a>
    <a href="javascript:void(0);" onClick="$('#playlist_list').playlist('play');">Play</a>
</div>
<% else %>
<div style="text-align: center;">
    No song
</div>
<% end %>
<script type="text/javascript">
    $(document).ready(function(){
        $("#playlist_list").playlist({
            playerurl: "/swfs/drplayer.swf"
        });
    });
</script>
