<div class="stoDbtm">
  <div class="AsDContBtm">
    <span class="btmComment"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Comment</a></span>
    <span class="btmFav" id="item_favorite_<%= @music.id %>"><%= show_favorite_in_detail("Music", @music) %></span>
    <span class="btmAbuse"><%= show_report_abuse(@music) %></span>
  </div>
</div>
