<%= form_for :music_album, :html => {:id => "form_album", :name => "form_album", :multipart => true } do |f| %>
  <%= f.hidden_field :id %>
  <div class="photoEx">
    <div class="stoExItem">
      <div class="stoExItemL">Music album name</div>
      <div class="stoExItemR"><%= @music_album.name %></div>
    </div>
    <div class="stoExBtm">
      <div class="stoExCre"><span id="spanButtonPlaceHolder"></span></div>
      <div class="stoExCan"><a href="javascript:;" onclick="$('#create_album').toggle('slow');">Cancel</a></div>
    </div>
  </div>

  <div id="divFileProgressContainer"></div>
  <div id="thumbnails"></div>

<% end %>

<%= swfupload_load(:upload_url => upload_user_musics_path(current_user), :form_id => "form_album", :file_type => "*.mp3", :debug => true) %>
