<div class="photoEx">
  <div class="stoExItem">
    <div class="stoExItemL">
      Music album name:
    </div>
    <div class="stoExItemR">
      <%= @music_album.name %>
    </div>
  </div>
  <div class="stoExItem">
    <div class="stoExItemL">
      Music album image:
    </div>
    <div class="stoExItemR">
      <div class="photoImg"><%= raw("<div>#{image_tag @music_album.music_album_attach.url(:thumb)}</div>") %></div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
		$('#music_music_album_id').val('<%= @music_album.id %>');
	});
</script>
