<div class="slsTop">
  <div class="slsTopL">
    <div class="slsTopLT">Friends shared photos</div>
  </div>
  <div class="slsTopR">
    <!--Pagination-->
    <div class="assPage friend_photos">
      <span class="numPage"><%= page_entries_info @musics %></span>
      <%= will_paginate @musics %>
    </div>
    <!--Pagination-->
  </div>
</div>
<div class="photoRow">
  <% @musics.each do |f_p| %>
    <%= render :partial => "item_friend_music", :locals => {:music => f_p}  %>
  <% end %>
</div>

<script type="text/javascript" >
  formatLinkForPaginationURLFriendPhoto();
</script>
