<% TutorType.find(:all).each do |tt| %>
<div class="menuRItem <%= "menuRselect" if @tutor_type_id && @tutor_type_id.to_i == tt.id %>"><a href="<%= "#{post_tutors_path}?tutor_type_id=#{tt.id}" %>"><span class="span1"><span class="span2"><%= tt.name %></span></span></a></div>
<% end %>