<div class='QAsDet'>Good<strong style="margin-left: 10px; margin-top: 0px;">(<%= @post_tt.total_good %>)</strong></div>
<div class='QAsDet'>Bad<strong style="margin-left: 19px; margin-top: 0px;">(<%= @post_tt.total_bad %>)</strong></div>