<div id="footer">
  <!--  start footer-left -->
  <div id="footer-left">
    © 2009 AfterClassroom. All rights reserved. - Content created and posted by AfterClassroom users is dedicated to the public domain.
  </div>
  <!--  end footer-left -->
  <div class="clear">&nbsp;</div>
</div>
