<div id="page-top-outer">
  <!-- Start: page-top -->
  <div id="page-top">
    <!-- start logo -->
<%= render :partial => 'shared/admin/logo' %>
        <!-- end logo -->
        <!--  start top-search -->
<%= render :partial => 'shared/admin/search' %>
        <!--  end top-search -->
    <div class="clear"></div>
  </div>
  <!-- End: page-top -->
</div>