<ul class="<%= @controller.controller_name == ctrl_name ? "current" : "select" %>">
  <li>
    <a href="<%= path %>"><b><%= name %></b><!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
    <div class="select_sub <%= @controller.controller_name == ctrl_name ? "show" : "" %>">
      <ul class="sub">
        <li><a href="#nogo">Dashboard Details 1</a></li>
        <li><a href="#nogo">Dashboard Details 2</a></li>
        <li><a href="#nogo">Dashboard Details 3</a></li>
      </ul>
    </div>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
  </li>
</ul>

<div class="nav-divider">&nbsp;</div>