<% content_for :header do -%>
  <%= link_to 'Functional experiences', functional_experiences_path %>
<% end -%>

<p>
  <b>Name:</b>
  <%=h @functional_experience.name %>
</p>


<%= link_to 'Edit', edit_functional_experience_path(@functional_experience) %> |
<%= link_to 'Back', functional_experiences_path %>
