<% @categories.each do |ct| %>
<h1><%= ct.name %></h1><br/><br/><br/><br/>
  <% ct.shopping_subcategories.each do |subct| %>
    <%= subct.name %><br/>
  <% end %>
<% end %>
<div class="shopTop">
  <div class="shopTopL">
    <div class="shopTopLT">
      <div class="shopTopLTtitle">Shopping Place</div>
      <div class="shopTopLTtab"><a href="#" class="home">Home</a><a href="#">My Listings</a></div>
    </div>
    <div class="shopTopLB">
      <span class="shopTloca">Location</span>
      <span class="shopTbtm"><a href="#">San Jose, CA (+60 miles)</a></span>
      <span class="shopTset"><a href="#">Settings</a></span>
    </div>
  </div>
  <div class="postdiv">
    <span class="RmenuRbtm2"><a href="#">Post</a></span>
  </div>
</div>
<div class="contMain">
  <div class="contMainC">
    <div class="col195 friLeft">
      <div class="col195in">
        <div class="search">
          <div class="textS"><input type="text" name="Text1"></div>
          <div class="btmS"><a href=""><img src="/images/iconSF.png"></a></div>
        </div>
        <div class="shopRitem">
          <div class="shopRitemT">
            <div class="shopRitemTLSale">Items For Sale</div>
            <div class="shopRitemTR"><a href="#">Post</a></div>
          </div>
          <div class="shopRlist"><a href="#">Musical Instruments</a></div>
          <div class="shopRlist"><a href="#">Tickets</a></div>
          <div class="shopRlist"><a href="#">Furniture</a></div>
          <div class="shopRlist"><a href="#">Clothers &amp; Accessories</a></div>
          <div class="shopRmore"><a href="#">More</a></div>
        </div>
        <div class="shopRitem">
          <div class="shopRitemT">
            <div class="shopRitemTLElec">Electonics</div>
            <div class="shopRitemTR"><a href="#">Post</a></div>
          </div>
          <div class="shopRlist"><a href="#">iPod &amp; MP3 Players</a></div>
          <div class="shopRlist"><a href="#">DVD &amp; Home Theater</a></div>
          <div class="shopRlist"><a href="#">Satellite Radio</a></div>
          <div class="shopRlist"><a href="#">Satellite &amp; Cable TV</a></div>
          <div class="shopRmore"><a href="#">More</a></div>
        </div>
        <div class="shopRitem">
          <div class="shopRitemT">
            <div class="shopRitemTLVerhi">Verhicles</div>
            <div class="shopRitemTR"><a href="#">Post</a></div>
          </div>
          <div class="shopRlist"><a href="#">Cars</a></div>
          <div class="shopRlist"><a href="#">Motocycles</a></div>
          <div class="shopRlist"><a href="#">Parts &amp; Accessories</a></div>
          <div class="shopRlist"><a href="#">Power Sports</a></div>
          <div class="shopRmore"><a href="#">More</a></div>
        </div>
        <div class="shopRitem">
          <div class="shopRitemT">
            <div class="shopRitemTLHeath">Health &amp; Beauty</div>
            <div class="shopRitemTR"><a href="#">Post</a></div>
          </div>
          <div class="shopRlist"><a href="#">General Health</a></div>
          <div class="shopRlist"><a href="#">Children's Health</a></div>
          <div class="shopRlist"><a href="#">Drugs and Medication</a></div>
          <div class="shopRlist"><a href="#">Natural Medicine</a></div>
          <div class="shopRmore"><a href="#">More</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="contMainL">
    <div class="col451 Shopping">
      <div class="col451in">
        <div class="col451Cont">
          <h3 class="titleH3">Friends Ad’s</h3>
          <div class="shopFriends">
            <div class="shopFriPre"><a href="#">&nbsp;</a>&nbsp;</div>
            <div class="shopFriList">
              <div class="shopFriItem">
                <div class="shopFriImg"><a href="#"><div><img src="/images/pictures/shop1.jpg"></div></a></div>
                <div class="shopFriDes"><a href="#">Suspendisse hendrerit nisi eget enim sodales aliquet</a></div>
                <div class="shopFriName"><a href="#">Vu Nguyen</a></div>
                <div class="shopFriSch">at University of California</div>
                <div class="shopFriIn">in <a href="#">Items For Sale</a></div>
              </div>
              <div class="shopFriItem">
                <div class="shopFriImg"><a href="#"><div><img src="/images/pictures/shop2.jpg"></div></a></div>
                <div class="shopFriDes"><a href="#">Fusce sed sem ipsum, ac dictum dolor</a></div>
                <div class="shopFriName"><a href="#">Vu Nguyen</a></div>
                <div class="shopFriSch">at University of California</div>
                <div class="shopFriIn">in <a href="#">Verhicles</a></div>
              </div>
              <div class="shopFriItem">
                <div class="shopFriImg"><a href="#"><div><img src="/images/pictures/shop3.jpg"></div></a></div>
                <div class="shopFriDes"><a href="#">Suspendisse hendrerit nisi eget enim sodales aliquet</a></div>
                <div class="shopFriName"><a href="#">Vu Nguyen</a></div>
                <div class="shopFriSch">at University of California</div>
                <div class="shopFriIn">in <a href="#">in Health &amp; Beauty</a></div>
              </div>
            </div>
            <div class="shopFriNext"><a href="#">&nbsp;</a></div>
          </div>
          <div class="shopMost">
            <div class="shopMostL">
              <div class="shopMostTitle">Most Recent Listings</div>
              <div class="shopMostPage">
                <div class="assPage">
                  <span class="firstPage"><a href="#">First</a></span>
                  <span class="prevPage"><a href="#">Prev</a></span>
                  <span class="currentPage">
                    <a class="selected" href="#"><span>6</span></a>
                    <a href="#"><span>7</span></a>
                    <a href="#"><span>8</span></a>
                    <a href="#"><span>9</span></a>
                    <a href="#"><span>10</span></a>
                  </span>
                  <span class="nextPage"><a href="#">Next</a></span>
                  <span class="lastPage"><a href="#">Last</a></span>
                </div>
              </div>
              <div class="shopMostItem">
                <div class="assPic"><a href="#"><div><img src="/images/pictures/pic1.png"></div></a></div>
                <div class="shoMostItemR">
                  <div class="shopMostItemTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>$75.85</span></a></div>
                  <div class="shopMostDes">In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
                  <div class="shopMostName"><a href="#">Vu Nguyen</a></div>
                  <div class="shopMostSch">at University of California</div>
                </div>
              </div>
              <div class="shopMostItem">
                <div class="assPic"><a href="#"><div><img src="/images/pictures/pic2.png"></div></a></div>
                <div class="shoMostItemR">
                  <div class="shopMostItemTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>$1150.45</span></a></div>
                  <div class="shopMostDes">In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
                  <div class="shopMostName"><a href="#">Dang Nguyen</a></div>
                  <div class="shopMostSch">at University of California</div>
                </div>
              </div>
              <div class="shopMostItem">
                <div class="assPic"><a href="#"><div><img src="/images/pictures/pic3.png"></div></a></div>
                <div class="shoMostItemR">
                  <div class="shopMostItemTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>$75.85</span></a></div>
                  <div class="shopMostDes">In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
                  <div class="shopMostName"><a href="#">Vu Nguyen</a></div>
                  <div class="shopMostSch">at University of California</div>
                </div>
              </div>
              <div class="shopMostItem">
                <div class="assPic"><a href="#"><div><img src="/images/pictures/pic1.png"></div></a></div>
                <div class="shoMostItemR">
                  <div class="shopMostItemTitle"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>$75.85</span></a></div>
                  <div class="shopMostDes">In hendrerit varius bibendum. Phasellus porta dapibus magna, eu posuere dolor sollicitudin quis...</div>
                  <div class="shopMostName"><a href="#">Vu Nguyen</a></div>
                  <div class="shopMostSch">at University of California</div>
                </div>
              </div>
              <div class="shopRmore"><a href="#">More</a></div>
            </div>
            <div class="shopMostR">
              <div class="shopMostTitle">Most Popular Searches</div>
              <div class="shopMostPage">
                <div class="assPage">
                  <span class="firstPage"><a href="#">First</a></span>
                  <span class="prevPage"><a href="#">Prev</a></span>
                  <span class="currentPage">
                    <a class="selected" href="#"><span>6</span></a>
                    <a href="#"><span>7</span></a>
                    <a href="#"><span>8</span></a>
                    <a href="#"><span>9</span></a>
                    <a href="#"><span>10</span></a>
                  </span>
                  <span class="nextPage"><a href="#">Next</a></span>
                  <span class="lastPage"><a href="#">Last</a></span>
                </div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle sale"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris commodo congue mauris at ultricies</a></div>
                <div class="shopMostRIn">in <a href="#">Items For Sale</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle elec"><a href="#">Onec sit amet erat vitae</a></div>
                <div class="shopMostRIn">in <a href="#">Electronics</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle elec"><a href="#">Sed auctor odio vitae magna imperdiet mollis</a></div>
                <div class="shopMostRIn">in <a href="#">Electronics</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle health"><a href="#">Integer egestas ultricies magna</a></div>
                <div class="shopMostRIn">in <a href="#">Health &amp; Beauty</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle verhi"><a href="#">Vestibulum odio leo, facilisis rutrum convallis quis, tempus nec mauris</a></div>
                <div class="shopMostRIn">in <a href="#">Verhices</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle sale"><a href="#">Uspendisse malesuada imperdiet dictum</a></div>
                <div class="shopMostRIn">in <a href="#">Items For Sale</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle sale"><a href="#">Nulla a suscipit purus</a></div>
                <div class="shopMostRIn">in <a href="#">Items For Sale</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle verhi"><a href="#">Pellentesque eu justo eu eros consectetur sodales id eget sapien</a></div>
                <div class="shopMostRIn">in <a href="#">Verhices</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle elec"><a href="#">Duis a purus sit amet lorem dapibus luctus vel ac leo</a></div>
                <div class="shopMostRIn">in <a href="#">Electronics</a></div>
              </div>
              <div class="shopMostRItem">
                <div class="shopMostRTitle health"><a href="#">Sed et mauris enim, at interdum felis</a></div>
                <div class="shopMostRIn">in <a href="#">Health &amp; Beauty</a></div>
              </div>
              <div class="shopRmore"><a href="#">More</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="contMainR">

    <div class="advert">
      <div class="creAdv"><a href="#">Create an Ad</a></div>
      <div class="advertTitle">Advertisement</div>
      <div class="Dani"><a href="#">DaniWeb - IT Discussion Community</a></div>
      <div class="advertImg"><img src="/images/pictures/pic6.png"/></div>
      <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani"><a href="#">MTV - New Music Videos, Reality TV Shows...</a></div>
      <div class="advertImg"><img src="/images/pictures/adv.png"/></div>
      <div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani"><a href="#">MTV - New Music Videos, Reality TV Shows...</a></div>
      <div class="advertImg"><img src="/images/pictures/adv1.png"/></div>
      <div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
  </div>
</div>