<div class="shopTop">
  <div class="shopTopL">
    <div class="shopTopLT">
      <div class="shopTopLTtitle">Shopping Place</div>
      <div class="shopTopLTtab">
        <a href="#" class="home">Home</a>
        <a href="#" class="shopTopLink">My Listings</a>
        <a href="#">Items For Sale</a>
      </div>
    </div>
    <div class="shopTopLB">
      <span class="shopTloca">Location</span>
      <span class="shopTbtm"><a href="#">San Jose, CA (+60 miles)</a></span>
      <span class="shopTset"><a href="#">Settings</a></span>
    </div>
  </div>
  <div class="postdiv">
    <span class="RmenuRbtm2"><a href="#">Post</a></span>
  </div>
</div>
<div class="contMain">
  <div class="contMainC">
    <div class="col195 shopDLeft">
      <div class="col195in">
        <div class="demo">
          <div class="proImg"><a href="#"><div><img src="/images/pictures/pro1.jpg"></div></a></div>
          <div class="proName"><a href="#">Huy Quach</a></div>
          <div class="proLocal">Current Location:</div>
          <div class="proLocalD">Sunny Vale, CA</div>
        </div>
      </div>
    </div>
    <div class="col195 shopDInf">
      <div class="col195in">
        <h1 class="col195Title">Marketplace Activity</h1>
        <div class="learnUser">Recent Listing:</div>
        <div class="learnFri"><a href="#">2 listings in the last month</a></div>
      </div>
    </div>
    <div class="col195 shopDInf">
      <div class="col195in">
        <div class="proTop">
          <h1 class="col195Title">Share this listing</h1>
          <div class="shopDshare"><a href="#">Share</a></div>
        </div>
        <div class="shopDSItem">
          <div class="shopDSOffer">Make an Offer</div>
          <div class="shopDSlist"><a href="">How low can you reduce?</a></div>
          <div class="shopDSlist">
            <div>I want to buy at</div>
            <div class="makeIn"><input type="text" name="Text2"></div>
            <div class="btmOffer"><a href="#">Offer</a></div>
          </div>
          <div class="shopDSlist"><a href="">Do you want to exchange?</a></div>
        </div>
        <div class="shopDSItem">
          <div class="shopDSRes">My Offered Results</div>
          <div class="shopDSlist"><a href="">Requested to reduce (20)</a></div>
          <div class="shopDSlist"><a href="">Placed a bid (10)</a></div>
          <div class="shopDSlist"><a href="">Requested to exchange (0)</a></div>
        </div>
        <div class="shopDSItem">
          <div class="shopDSAsk">Ask Your Friends </div>
          <div class="shopDSlist"><a href="">Is this a good deal?</a></div>
          <div class="shopDSlist"><a href="">Should I buy this?</a></div>
          <div class="shopDSlist"><a href="">Ask something else</a></div>
        </div>
        <div class="shopDSItem">
          <div class="shopDSGift">Send a Virtual Gift</div>
          <div class="shopDSlist"><a href="">Make someone’s day!</a></div>
        </div>
      </div>
    </div>
    <div class="staySafe">
      <div class="staySafein">
        <h1 class="staySafeTitle">Stay safe out there!</h1>
        <div class="staySafeItem"><a href="#">Always meet the seller in person</a></div>
        <div class="staySafeItem"><a href="#">Don’t wire or Western Union money to strangers.</a></div>
        <div class="staySafeItem"><a href="#">If it seems suspicious or too good to be true, </a><span><a href="#">report it</a></span></div>
      </div>
    </div>
  </div>
  <div class="contMainL">
    <div class="col451 Shopping">
      <div class="col451in">
        <div class="col451Cont">
          <div class="shopDT">
            <div class="shopDTL"><a href="#">Listing Details</a></div>
            <div class="shopDTC"><a href="#"><span>All Listings from Huy Quach</span></a></div>
            <div class="shopDTR"><a href="#"><span>Similar items near your location (20)</span></a></div>
          </div>
          <div class="shopContact">
            <div class="btmContact"><a href="#"><span>Contact Huy Quach</span></a></div>
            <div class="shopContactR">
              <a class="shopU" href="#">200</a>
              <a class="shopD" href="#">12</a>
              <a class="shopC" href="#">100 Comments</a>
              <a class="shopS" href="#"><span>Share</span></a>
            </div>
          </div>
          <div class="forSale">
            <div class="forSaleT">For sale:</div>
            <div class="forSaleD">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices
						sagittis ligula at volutpat... $4,250</div>
            <div class="forSaleI">
              <div class="forSaleL">Price:</div>
              <div class="forSaleR">$4,250</div>
            </div>
            <div class="forSaleI">
              <div class="forSaleL">Category:</div>
              <div class="forSaleR"><a class="itemFS" href="#">Items For Sale:</a> Everything Else</div>
            </div>
            <div class="forSaleI">
              <div class="forSaleL">Posted:</div>
              <div class="forSaleR">2 hours 30 minutes ago <span>in Sunny Vale, CA</span></div>
            </div>
            <div class="forSaleI">
              <div class="forSaleL">Description:</div>
              <div class="forSaleR">Morbi non purus libero. Ut vulputate, eros vitae semper
							consectetur, arcu leo fringilla felis, at convallis magna elit at erat.
							Duis pulvinar augue eget erat rhoncus sed tincidunt dui elementum.
							Nunc aliquet velit vitae mi fermentum tempor. Sed mollis
							vestibulum suscipit. Ut consectetur enim vitae justo imperdiet
							nec tempor felis adipiscing. Quisque malesuada fringilla magna,
							eu auctor justo egestas in. Integer gravida elit velit, ut consequat
							magna. Pellentesque habitant morbi tristique senectus et netus
							et malesuada fames ac turpis egestas. Donec rhoncus nibh
							euismod odio adipiscing imperdiet.</div>
            </div>
          </div>
          <div class="photo">
            <h3 class="titleH3">Photos</h3>
            <div class="photoBigImg"><img src="/images/pictures/carBig1.png"/></div>
            <div class="shopFriends">
              <div class="shopFriPre"><a href="#">&nbsp;</a>&nbsp;</div>
              <div class="shopFriList">
                <div class="shopFriItem">
                  <div class="shopFriImg"><a href="#"><img src="/images/pictures/car1.png"/></a></div>
                </div>
                <div class="shopFriItem">
                  <div class="shopFriImg"><a href="#"><img src="/images/pictures/car2.png"/></a></div>
                </div>
                <div class="shopFriItem">
                  <div class="shopFriImg"><a href="#"><img src="/images/pictures/car3.png"/></a></div>
                </div>
              </div>
              <div class="shopFriNext"><a href="#">&nbsp;</a></div>
            </div>
          </div>
          <div class="shopcom">
            <h3 class="titleH3">Comments</h3>
            <div class="shopcomText">
              <textarea rows="2" cols="20" name="TextArea1">Write your comment...</textarea>
            </div>
            <div class="btmComment"><a href="#">Comment</a></div>
            <div class="shopview">This listing has been viewed 25 times</div>
            <div class="shopReport"><a href="#">Report This Listing</a></div>
          </div>
          <div class="shopB">
            <div class="shopGot">Got question? Check out our <a href="#">Frequently Asked Questions</a></div>
            <div class="goTop"><a href="#">Top</a></div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="contMainR">

    <div class="advert">
      <div class="creAdv"><a href="#">Create an Ad</a></div>
      <div class="advertTitle">Advertisement</div>
      <div class="Dani"><a href="#">DaniWeb - IT Discussion Community</a></div>
      <div class="advertImg"><img src="/images/pictures/pic6.png"/></div>
      <div class="advertDes">Tech support, programming, web development, and internet marketing community.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani"><a href="#">MTV - New Music Videos, Reality TV Shows...</a></div>
      <div class="advertImg"><img src="/images/pictures/adv.png"/></div>
      <div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
    <div class="advert">
      <div class="Dani"><a href="#">MTV - New Music Videos, Reality TV Shows...</a></div>
      <div class="advertImg"><img src="/images/pictures/adv1.png"/></div>
      <div class="advertDes">Watch the latest Music Video from your favorite artists.</div>
      <div class="advertInf">
        <div class="advertInfL">
          <a class="adverta" href="#">482</a><a class="advertb" href="#">12</a><a class="advertc" href="#">10 Comments</a>
        </div>
        <div class="advertInfR">
          <span class="pre"><a href="#">&nbsp;</a></span>
          <span class="next"><a href="#">&nbsp;</a></span></div>
      </div>
    </div>
  </div>
</div>