<div class="AsDContBtm">
  <span class="btmComment"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Comment</a></span>
  <% if !logged_in? or (logged_in? and current_user != post.user ) %><span class="btmMail"><%= show_email(post) %></span><% end %>
  <span class="btmShare"><%= addthis_bookmark_button { "<span>Share</span>" } %></span>
  <span class="btmMap"><%= show_map(post.post_event.address, post.title) %></span>
</div>