<h1 class="titleH1"><a href="javascript:;" onclick="$('#form_comment').toggle('slow');">Answers (<%= @comments.size %>)</a></h1>
<% @comments.each do |c| %>
  <%= render :partial => "/post_qas/item_answer", :locals => {:comnt => c} %>
<% end %>
<script>
$(window).ready(function(){
    $('.AsDcomDes').imagefit();
});
</script>
