<div class="learnN">
  <div class="learnNM">

    <div id="tool_with_api" class="learnNMtitle" style=" height: 28px;font-weight: normal; border-left: 1px #DBDBDB solid; <%= @cur_tab == "first" ? "background-color: #F9F9F8" : ""  %>">
      <a href="javascript:;">Tools with API</a>
    </div>
    <div id="common_tool" class="learnNMtitle" style=" height: 28px;font-weight: normal;<%= @cur_tab == "second" ? "background-color: #F9F9F8" : ""  %>">
      <a href="javascript:;">Common Tools</a>
    </div>
  </div>
</div>
