<% content_for :you_are_here do -%>
  You are here: <%= link_to 'Developers', oauth_clients_path %>
<% end -%>

<% if @tools.empty? %>
  <p>
    Do you have an application you would like to register for use with us using the <a href="http://oauth.net">OAuth</a> standard?
  </p>
  <p>
    You must register your web application before it can make OAuth requests to this service
  </p>
<% else %> 
<% end %>

<div class="contMain">
  <%= render :partial => "central_page" %>
  <%= render :partial => "ads/show_vertical_ads" %>
</div>
