<% content_for :you_are_here do -%>
  You are here: <%= link_to 'Developers', oauth_clients_path %>
<% end -%>

<% if @tools.empty? %>
  <p>
    Do you have an application you would like to register for use with us using the <a href="http://oauth.net">OAuth</a> standard?
  </p>
  <p>
    You must register your web application before it can make OAuth requests to this service
  </p>
<% else %> 
<% end %>

<div class="contMain">
  <%= render :partial => "central_page" %>
  <%= render :partial => "ads/show_vertical_ads" %>
</div>
<script type="text/javascript">
  function ShowBottomOverlay(){
    $('.learnN').append('<div id="bottomoverlay"></div>');
    var position = $('.learnN').offset();
    $("#bottomoverlay")
    .height(460)
    .css({
      'opacity' : 0.4,
      'position': 'absolute',
      'top': position.top -10,
      'left': position.left - 10,
      'background':'url("/images/ajax-loader-a.gif") no-repeat center',
      'width': '654px',
      'z-index': 5000
    });
  }
</script>