<div class="popup2">
  <div class="popupItem">
    <div class="popupL">
      <div class="popupNumb">1</div>
      <div class="popupCoun">Country</div>
      <div class="popupSelect">
        <%= select_tag ("country", options_for_select(@countries.map {|country| [country.name,country.id]}), :onchange => "getState(this.value)") %>
      </div>
    </div>
    <div class="popupR">
      <div class="popupNumb">2</div>
      <div class="popupCoun">State</div>
      <div class="popupSelect"><select name="Select1"><option>Canada</option></select></div>
    </div>
  </div>
  <div class="popupItem">
    <div class="popupL">
      <div class="popupNumb">3</div>
      <div class="popupCoun">City</div>
      <div class="popupSelect"><select name="Select1"><option>Please, select one..</option></select></div>
    </div>
    <div class="popupR">
      <div class="popupNumb">4</div>
      <div class="popupCoun">School</div>
      <div class="popupSelect"><select name="Select1"><option>Canada</option></select></div>
    </div>
  </div>
  <div class="filter">Filter your school by alphabets</div>
  <div class="popupAl">
    <a href="#">A</a>
    <a href="#">B</a>
    <a class="selected" href="#">C</a>
    <a href="#">D</a>
    <a href="#">E</a>
    <a href="#">F</a>
    <a href="#">G</a>
    <a href="#">H</a>
    <a href="#">I</a>
    <a href="#">K</a>
    <a href="#">L</a>
    <a href="#">M</a>
    <a href="#">N</a>
    <a href="#">O</a>
    <a href="#">P</a>
    <a href="#">Q</a>
    <a href="#">R</a>
    <a href="#">S</a>
    <a href="#">T</a>
    <a href="#">U</a>
    <a href="#">V</a>
    <a href="#">W</a>
    <a href="#">Z</a>
    <a href="#">Y</a>
    <a href="#">Z</a>
  </div>
  <div class="popupBtm"><a href="#">Select</a></div>
</div>
