<a href="#" class="close"></a>
<div class="top_area">Select Schools</div>
<div class="popup2" id="select_school">
  <%= render :partial => "form", :locals => {:countries => @countries, :states => @states, :cities => @cities, :schools => @schools, :country => @country, :state => @state, :city => @city, :school => @school} %>
</div>
<script type="text/javascript">
  function ShowFeaturedOverlay(){
    $('#select_school').append('<div id="overlay"></div>');
    var position = $('#select_school').offset();
    $("#overlay")
    .height(143)
    .css({
      'display':'block',
      'opacity' : 0.4,
      'position': 'absolute',
      'top': 0,
      'left': 0,
      'background':'url("/images/ajax-loader-a.gif") no-repeat center',
      'background-color': 'black',
      'width': '630px',
      'height':'225px',
      'margin-left':'13px',
      'margin-top':'13px',
      'z-index': 5000
    });
  }
  $(document).ready(load_menus);
  $('.close').click($.facebox.close);
  
  function update_form(type_select, id){
		var alphabet = $('#list_alphabet a.selected').html();
		var alphabet_city = $('#list_alphabet_city a.selected').html();
		if (alphabet == "All"){
			alphabet = "";
		}
		if (alphabet_city == "All"){
			alphabet_city = "";
		}
    var school_type = $("input[name='school_type']:checked").val();
    ShowFeaturedOverlay();
    $.ajax({
      url: '/users_select_school/update_form',
      type: 'GET',
      cache: false,
      dataType: 'html',
      data: ({
        type : type_select,
        id : id,
				alphabet : alphabet,
        alphabet_city : alphabet_city,
        type_school: school_type
      }),
      success: function(data){
        $('#select_school').html(data);
        load_menus();
      }
    });
  }

  function select_country(){
    update_form("country", $('#country').val());
  }

  function select_state(){
    update_form("state", $('#state').val());
  }

  function select_city(){
    update_form("city", $('#city').val());
  }

  function select_type_school(){
    select_city();
  }

  function select_school(){
    var school_id = $('#school').val();
    if (school_id != ""){
      document.location.href = "/session/change_school?school_id=" + school_id;
    }
  }
	
  function select_alphabet(alphabet){
    var alphabet_city = $('#list_alphabet_city a.selected').html();
		if (alphabet_city == "All"){
			alphabet_city = "";
		}
    var city_id = $('#city').val();
    load("",city_id ,alphabet, alphabet_city);
  }

  function select_alphabet_city(alphabet_city){
    var alphabet = $('#list_alphabet a.selected').html();
		if (alphabet == "All"){
			alphabet = "";
		}
    var state_id = $('#state').val();
    load(state_id,"" ,alphabet, alphabet_city);
  }

  function load(state_id, city_id, alphabet, alphabet_city){
    var school_type = $("input[name='school_type']:checked").val();
    ShowFeaturedOverlay();
    $.ajax({
      url: '/users_select_school/list_school',
      type: 'GET',
      cache: false,
      dataType: 'html',
      data: ({
        state_id : state_id,
        city_id : city_id,
        alphabet : alphabet,
        alphabet_city : alphabet_city,
        type_school: school_type
      }),
      success: function(data){
        $('#select_school').html(data);
        load_menus();
      }
    });
  }

  function load_menus (){
    $("#country").mcDropdown("#country_menu", {
      width: 183,
      valueAttr: "rel_country",
      select: select_country 
    });
    $("#state").mcDropdown("#state_menu", {
      width: 183,
      valueAttr: "rel_state",
      select: select_state
    });
    $("#city").mcDropdown("#city_menu", {
      width: 183,
      showACOnEmptyFocus: true,
      valueAttr: "rel_city",
      select: select_city
    });
    $("#school").mcDropdown("#school_menu", {
      width: 183,
      valueAttr: "rel_school"
    });
  }
</script>

