<div id="like_area<%= post.id %>" style="width: 428px; min-height: 25px; border: 1px solid #CECECE; overflow: auto; padding-bottom: 5px; display: none;">
    <%= show_ajax_loader("wait_like#{post.id}", "background: white;  position: absolute;  width: 18px; margin-left: 5px; margin-top: 5px;") %>

<div id="like_inner<%= post.id %>" style="padding: 5px;">
</div>
</div>