<div style="margin: 0px; width: 405px; margin-top: 5px;" class="proList" id="">
	  <div class="proListPic">
	    <a href="#"><div><img alt="" class="vtip avatar_1" src="/system/avatars/1/thumb/Firefox_wallpaper.png?1314087505" title="James"></div></a>
	  </div>
	  <div class="proListR">
	    <div class="AfterClCom">
	      <a href="/users/1/show_lounge">James</a> -
	      <%= @cmt.content %>
	    </div>
	    <div class="proListCont">
	      about 6 hours ago.
	    </div>
	  </div>
	</div>
